<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="view">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="page-content no-padding">
        <div class="content-slide new-project" id="main-scroll-container">
            <div class="container">
                <div class="slide-main" id="slide1" data-ng-show="vm.selectCategory">
                    <div class="card col-md-10 col-md-offset-1">
                        <div class="card-header">
                            <h2 class="t-center">
                                Votre projet porte-t-il sur une activité en particulier ?
                            </h2>
                        </div>
                        <div class="row no-margin">
                            <div class="col-xs-3 no-margin no-padding type-project-box" data-ng-class="child.selected"
                                 data-ng-repeat="child in vm.newProject.childrenActivities"
                                 data-ng-click="vm.selectType(child, vm.newProject.childrenActivities)"
                                 title="{{'ACTIVITY_' + child.code | translate}}"
                                 data-ng-show="vm.wait && child.code != 'AUTO_MULTI'">
                                <div class="type-project-box-content">
                                    <div class="v-icon v-icon-{{child.code}} center">
                                    </div>
                                    <p class="type-project-title text-center">
                                        {{'ACTIVITY_' + child.code | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="card-header">
                                <h2 class="t-center">
                                    Ou sur plusieurs ?
                                </h2>
                            </div>

                            <div class="row no-margin p-b-20">
                                <div class="col-sm-3 no-margin no-padding type-project-box multiDomainChoiceIcon"
                                     data-ng-class="vm.multi"
                                     data-ng-click="vm.selectType('AUTO_MULTI')"
                                     title="{{'ACTIVITY_MULTI' | translate}}" data-ng-show="vm.wait">
                                    <div class="type-project-box-content center multiDomainChoiceIcon4Icons">
                                        <div class="row m-l-0 m-r-0">
                                            <div class="v-icon col-xs-6 v-icon-COU_9000 right"></div>
                                            <div class="v-icon col-xs-6 v-icon-ELE_1000 left"></div>
                                        </div>
                                        <div class="row m-l-0 m-r-0">
                                            <div class="v-icon col-xs-6 v-icon-PLU_2000"></div>
                                            <div class="v-icon col-xs-6 v-icon-PAI_6000"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 no-margin no-padding multiDomainChoiceDescription"
                                     title="{{'ACTIVITY_MULTI_100' | translate}}"
                                     data-ng-show="vm.wait">
                                    <div class="lv-small m-l-10">
                                        <p class="m-b-0">
                                            - Créer ou modifier une salle de bain, une cuisine, des toilettes, ...</p>

                                        <p class="m-b-0">
                                            - Construire une extension, une piscine, un garage,...</p>

                                        <p class="m-b-0">
                                            - Modifier ou aménager des combles, un sous-sol, un box, ...</p>

                                        <p class="m-b-0">
                                            - Tout autre projet nécessitant plusieurs corps de métier, ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col-md-10 col-md-offset-1 clearfix" id="subSlide{{$index}}"
                     data-ng-show="vm.questions[$index]"
                     data-ng-repeat="q in vm.questions" data-ng-if="q.childrenActivities">
                    <div class="card-header">
                        <h2 class="t-center">
                            {{'ACTIVITY_' + q.code | translate }}
                        </h2>
                    </div>
                    <ul class="questions-ul center clearfix">
                        <li class="col-xs-12 col-sm-8 question-li center" data-ng-class="child.selected"
                            data-ng-repeat="child in q.childrenActivities"
                            data-ng-click="vm.selectSubService(child, q.childrenActivities, $parent.$index)">
                            {{ 'ACTIVITY_' + child.code | translate }}
                        </li>
                    </ul>
                </div>

                <div class="card col-md-10 col-md-offset-1 clearfix p-b-20" id="slide3" data-ng-show="vm.service">
                    <div class="card-header">
                        <h2 class="t-center">
                            Fournissez-vous une partie du matériel ?
                        </h2>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-sm-offset-3">
                        <div id="materialYes" class="v-btn center" data-ng-click="vm.material = 'yes'"
                             data-ng-class="{activate: vm.material == 'yes'}">
                            OUI
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div id="materialNo" class="v-btn center" data-ng-click="vm.material = 'no'"
                             data-ng-class="{activate: vm.material == 'no'}">
                            NON
                        </div>
                    </div>
                    <p class="error center" data-ng-show="vm.error.material.flag">
                        {{vm.error.material.message}}
                    </p>

                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Décrivez votre projet
                        </h2>
                    </div>

                    <div class="col-xs-12">
                        <textarea class="form-control" data-auto-size=""
                                  rows="4"
                                  data-ng-model="vm.projectDescription"
                                  data-ng-blur="vm.verifDescription()"
                                  placeholder="Au moins 30 caractères - Quels travaux souhaitez-vous faire ? Décrivez votre projet et ses particularités (dimensions, état du lieu des travaux, le cas échéant le type de matériel fournit, etc.). Précisez également si vous avez des contraintes ou souhaits particuliers."
                                  data-autosize-on="true"></textarea>
                    </div>

                    <p class="col-xs-12 error center"
                       data-ng-show="vm.error.description.flag  && (vm.projectDescription.length < 30)">
                        {{vm.error.description.message}}
                    </p>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn btn-primary btn-lg waves-effect m-t-20"
                        data-ng-click="vm.continueProject()"
                        data-ng-disabled="!vm.material || vm.projectDescription.length < 30">
                        Continuer
                    </button>

                </div>
                <div class="card clearfix col-md-10 col-md-offset-1 p-b-20" id="slide4" data-ng-show="vm.continue">
                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Ajoutez des photos
                        </h2>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="galleryEditingItem col-md-2 col-sm-3 col-xs-4"
                             data-ng-repeat="image in photos">
                            <div class="lightbox-item p-item projectImageTooltip">
                                <img
                                    tooltip-placement="top"
                                    uib-tooltip="{{image.description}}"
                                    data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                    alt=""/>
                            </div>

                            <div class="dropdown pmop-message pmop-message-icon-left" uib-dropdown>
                                <button uib-dropdown-toggle class="btn bgm-lightblue btn-float floatingButtonImage ">
                                    <i class="zmdi zmdi-comment-text-alt"></i>
                                </button>

                                <div class="dropdown-menu stop-propagate">
                                                <textarea placeholder="Ajouter un commentaire"
                                                          data-ng-model="image.description"
                                                          data-ng-maxlength="140"
                                                          maxlength="140"
                                                          data-auto-size
                                                          data-ng-trim="false"
                                                          data-ng-change="vm.descriptionChanged(image)"></textarea>

                                    <div class="descriptionCounter">
                                        {{vm.getStringLength(image.description)}} / 140 caractères
                                    </div>

                                    <button class="btn bgm-lightblue btn-float"
                                            data-tl-action="save"
                                            data-ng-click="vm.saveComment();">
                                        <i class="zmdi zmdi-check"></i>
                                    </button>
                                </div>
                            </div>

                            <button class="floatingButtonImage floatingButtonImageDelete btn btn-danger btn-float"
                                    data-ng-click="vm.removeImage($index)">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-4 no-padding"
                             ngf-drop="vm.uploadFiles($files)"
                             ngf-drag-over-class="dragOverClass($event)"
                             data-ng-model="files"
                             data-ng-multiple="false">
                            <div class="galleryUpload lightbox-item p-item"
                                 ngf-select="vm.uploadFiles($files, $invalidFiles, 0)"
                                 ngf-accept="'image/*'" ngf-max-size="5MB">
                                <div class="content">
                                    <i class="zmdi zmdi-plus-circle-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn btn-primary btn-lg waves-effect m-t-20"
                        data-ng-click="vm.continueProjectImg()">
                        Continuer
                    </button>

                </div>
                <div class="card col-md-10 col-md-offset-1 clearfix p-b-20" id="slide5" data-ng-show="vm.continueImg">

                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Indiquez l'adresse des travaux
                            <small>
                                Choisissez une de vos adresses ou créez-en une nouvelle
                            </small>
                        </h2>
                    </div>

                    <p class="col-xs-12 text-center" data-ng-show="vm.newAddrFlag">
                        Indiquez un nom puis précisez votre adresse
                    </p>

                    <div class="col-xs-12 row no-margin w-900 center select-addr">
                        <div class="col-xs-5 no-padding" data-ng-if="vm.user.addresses.length>0">
                            <select class="form-control" data-ng-model="vm.myAddress" data-ng-change="vm.setAddress()">
                                <option value="new">- Nouvelle adresse -</option>
                                <option data-ng-repeat="a in vm.user.addresses" value="{{a.address}}"
                                        data-ng-selected="a.address.toString() == vm.myAddress.toString()">{{a.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 no-padding" data-ng-show="vm.newAddrFlag">
                            <input type="text" class="form-control" data-ng-model="vm.newAddr.name"
                                   data-ng-change="vm.verifNameAddr()"
                                   placeholder="Nom de l'adresse (Maison, Papa, ...)">
                        </div>
                    </div>
                    <div class="col-xs-12 row no-margin w-900 center addr">
                        <div class="no-padding mb-39" data-ng-class="col-xs-12">
                            <div class="col-xs-12 no-padding inner-addon right-addon">
                                <div class="disabled-addr" data-ng-show="vm.disabledAddr"></div>
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <input vs-google-autocomplete="options"
                                       vs-autocomplete-validator
                                       options="options"
                                       data-ng-model="address.name"
                                       vs-place="address.place"
                                       vs-place-id="address.components.placeId"
                                       vs-street-number="address.components.streetNumber"
                                       vs-street="address.components.street"
                                       vs-city="address.components.city"
                                       vs-state="address.components.state"
                                       vs-country-short="address.components.countryCode"
                                       vs-country="address.components.country"
                                       vs-post-code="address.components.postCode"
                                       vs-district="address.components.district"
                                       vs-latitude="address.components.location.lat"
                                       vs-longitude="address.components.location.long"
                                       type="text"
                                       name="address"
                                       id="address"
                                       placeholder="Indiquez votre adresse complète (vous seul décidez quand et par qui elle sera visible)"
                                       class="form-control">
                            </div>

                        </div>
                    </div>
                    <p class="error center" data-ng-show="vm.error.address.flag">
                        {{vm.error.address.message}}
                    </p>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn btn-primary btn-lg waves-effect m-t-20"
                        data-ng-click="vm.continueAddr()"
                        data-ng-disabled="!address.name">
                        Continuer
                    </button>

                </div>
                <div class="card col-md-10 col-md-offset-1 clearfix p-b-20" id="slide6" data-ng-show="vm.continueAddressFlag">
                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Quand souhaitez-vous que les travaux commencent ?
                        </h2>
                    </div>

                    <ul class="col-xs-12 no-padding questions-ul center">
                        <li class="col-xs-12 col-sm-8 question-li center" data-ng-class="vm.child3"
                            data-ng-click="vm.selectDateType('NONE'); vm.child0 = ''; vm.child1 = ''; vm.child2 = ''; vm.child3 = 'activate'">
                            Dès que possible
                        </li>
                        <li class="col-xs-12 col-sm-8 question-li center" data-ng-class="vm.child2"
                            data-ng-click="vm.selectDateType('WITHIN_A_MONTH'); vm.child0 = ''; vm.child1 = ''; vm.child2 = 'activate'; vm.child3 = ''">
                            Dans le mois
                        </li>
                        <li data-ng-show="vm.dateType == 'WITHIN_A_MONTH'"
                            class="col-xs-12 col-sm-8 custom-li-date question-li center date">
                            Avant le {{vm.desiredDateMonth | date:'dd MMMM'}}
                        </li>
                        <li class="col-xs-12 col-sm-8 question-li center" data-ng-class="vm.child0"
                            data-ng-click="vm.selectDateType('SPECIFIC'); vm.selectDate(); vm.child0 = 'activate'; vm.child1 = ''; vm.child2 = ''; vm.child3 = ''">
                            À partir d'une date
                        </li>
                        <li data-ng-show="vm.dateSelected" class="col-xs-12 col-sm-8 custom-li-date question-li center"
                            data-ng-click="vm.unSelectdate()">
                            {{vm.dt | date:'dd-MM-yyyy'}}
                        </li>
                        <li data-ng-show="vm.dateFlag" style="list-style: none;">
                            <div style="display:inline-block; min-height:290px;" class="center custom-picker">
                                <uib-datepicker data-ng-model="vm.dt" datepicker-options="vm.datepickerOptions"
                                                class="well well-sm custom-date"
                                                custom-class="getDayClass(date, mode)"></uib-datepicker>
                            </div>
                        </li>
                    </ul>
                    <p class="col-xs-12 error center" data-ng-show="vm.error.date.flag">
                        {{vm.error.date.message}}
                    </p>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn btn-primary btn-lg waves-effect m-t-20"
                        data-ng-click="vm.post()"
                        data-ng-disabled="!vm.dateType">
                        Publier
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>
