<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="dashboard"
                    title="Recommander un pro"
                    current-user="app.getUser()"></yaka-mobile-header>

<section id="main">

    <ol class="breadcrumb container hidden-xs">
        <li class="pointer" data-ui-sref="dashboard">
            Accueil
        </li>
        <li class="active">
            Recommander un pro
        </li>
    </ol>

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">

        <div class="container">

            <div class="col-sm-6">
                <div class="block-header">
                    <h2>À</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <yaka-avatar size="50" user="vm.project.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText">
                            <div class="yakaEllipsis f-s-16">
                                {{vm.project.user.firstName}} {{vm.project.user.lastName}}
                            </div>

                            <div class="yakaEllipsis" data-ng-if="vm.project.inContacts">
                                <span class="v-align-sub m-r-5">
                                    <i class="zmdi zmdi-hc-2x zmdi-accounts c-lightblue"></i>
                                </span>
                                <span data-ng-switch="vm.project.contactRelation">
                                    <span data-ng-switch-when="CLIENT">
                                        Client
                                    </span>
                                    <span data-ng-switch-when="FRIEND">
                                        Ami
                                    </span>
                                    <span data-ng-switch-when="FAMILY">
                                        Famille
                                    </span>
                                    <span data-ng-switch-when="COLLEAGUE">
                                        Collègue
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-header">
                    <h2>Pour</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <div class="proposalIconBackground lv-img v-icon-{{vm.project.mainActivity.code}}-white">
                        </div>

                        <div class="dashboardRecommendProjectText right">
                            <div class="yakaEllipsis f-s-16">
                                {{vm.project.title}}
                            </div>

                            <div class="yakaEllipsis" data-ng-if="vm.project.address.address">
                                {{vm.project.address.address}}
                            </div>
                            <div class="yakaEllipsis" data-ng-if="!vm.project.address.address">
                                {{vm.project.address.postalCode}} {{vm.project.address.locality}}
                            </div>

                            <div class="yakaEllipsis">
                                {{vm.getWhen()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" data-ng-if="vm.professionals">
                <div class="block-header">
                    <h2>Mes professionels</h2>
                </div>
                <div class="card">
                    <div class="card-header projectRecommendGrayHeader">
                        <h2>Recommandez un Pro
                            <small class="c-lightblue">
                                Sélectionnez un Pro dans votre liste ou ajoutez en un.
                            </small>
                        </h2>
                    </div>

                    <div class="proToRecommendList">
                        <div class="p-10 p-relative proToRecommend pointer"
                             data-ng-repeat="professional in vm.professionals"
                             data-ng-click="vm.selectedProfessional = professional"
                             data-ng-class="{'selected': vm.selectedProfessional && vm.selectedProfessional.user && vm.selectedProfessional.user.id == professional.user.id}">

                            <yaka-avatar class="m-l-20" size="40" user="professional.user"></yaka-avatar>

                            <cl-image
                                public-id="{{professional.mainPartner.cloudinaryPublicId}}"
                                class="proposalProMainPartnerImg proToRecommendPartner" format="png"
                                data-ng-if="professional.mainPartner.cloudinaryPublicId">
                                <cl-transformation height="25" width="25" crop="fill" radius="max"/>
                            </cl-image>

                            <div class="proToRecommendRight">

                                <div class="yakaEllipsis">
                                    <b>
                                        {{professional.user.firstName}} {{professional.user.firstName}}
                                    </b>
                                    <span class="c-gray m-l-5">
                                        ({{professional.company.address.postalCode}} {{professional.company.address.locality}})
                                    </span>
                                </div>

                                <div class="c-gray">
                                    {{professional.company.name}}
                                </div>

                                <div>
                                    <span class="v-align-sub m-r-5">
                                        <i class="zmdi zmdi-hc-2x zmdi-accounts c-lightblue"></i>
                                    </span>
                                    <span data-ng-switch="professional.contactRelation">
                                        <span data-ng-switch-when="CLIENT">
                                            Client
                                        </span>
                                        <span data-ng-switch-when="FRIEND">
                                            Ami
                                        </span>
                                        <span data-ng-switch-when="FAMILY">
                                            Famille
                                        </span>
                                        <span data-ng-switch-when="COLLEAGUE">
                                            Collègue
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projectRecommendGrayHeader">
                        <button class="btn btn-default waves-effect c-orange m-15">Ajouter un pro</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" data-ng-if="vm.professionals">
                <div class="block-header">
                    <h2>Recommendez ce Pro sur ce projet</h2>
                </div>

                <div class="recommendProSelected f-s-16 t-center p-t-30 p-b-30 p-relative"
                     data-ng-hide="vm.selectedProfessional">

                    <i class="zmdi zmdi-account-box-o zmdi-hc-4x c-gray"></i>

                    <div class="m-t-20">
                        Sélectionnez un pro et retrouvez ici
                    </div>
                    <div>
                        le résumé de son profil.
                    </div>
                    <i class="zmdi zmdi-chevron-left leftArrow"></i>
                </div>

                <div class="card selectedProDetails" data-ng-show="vm.selectedProfessional">

                    <div class="card-header clearfix">

                        <yaka-avatar size="50" user="vm.selectedProfessional.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText professional">
                            <div class="yakaEllipsis f-s-16">
                                {{vm.selectedProfessional.user.firstName}} {{vm.selectedProfessional.user.lastName}}
                            </div>

                            <div class="yakaEllipsis" data-ng-if="vm.project.inContacts">
                                Société {{vm.selectedProfessional.company.name}}
                                ({{vm.selectedProfessional.company.address.postalCode}}
                                {{vm.selectedProfessional.company.address.locality}})
                            </div>
                        </div>

                        <div class="proSelectedPartner t-center"
                             data-ng-if="vm.selectedProfessional.mainPartner.cloudinaryPublicId">

                            <div>
                                Partenaire
                            </div>

                            <cl-image
                                public-id="{{vm.selectedProfessional.mainPartner.cloudinaryPublicId}}"
                                class="m-t-10" format="png">
                                <cl-transformation height="40" width="40" crop="fill" radius="max"/>
                            </cl-image>

                        </div>

                        <div class="form-group m-t-20">
                            <div class="fg-line">
                                <textarea class="form-control" data-auto-size="" placeholder="Écrire un commentaire..."
                                          data-autosize-on="true"></textarea>
                            </div>
                        </div>

                        <button class="btn bgm-lightblue waves-effect proRecommendButton f-right">
                            Recommander ce Pro
                        </button>
                    </div>

                    <div class="card-body card-padding">
                        <div class="pmb-block">
                            <div class="pmbb-header">
                                <h2><i class="zmdi zmdi-star zmdi-hc-fw"></i> Expérience et qualités</h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    <dl class="dl-horizontal">
                                        <dt>Métier</dt>
                                        <dd>
                                            {{vm.getExperienceYearNumber()}} ans d'expérience
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.qualities && vm.selectedProfessional.qualities.length > 0">
                                        <dt>Qualités reconnues</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-repeat="quality in vm.selectedProfessional.qualities">
                                                    {{'CRITERION_' + quality.name | translate}}
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.yakaProjectNumber">
                                        <dt>Projets réalisés</dt>
                                        <dd>
                                        <span
                                            data-ng-if="vm.selectedProfessional.yakaProjectNumber > 1">
                                            <b>{{vm.selectedProfessional.yakaProjectNumber}} projets</b> réalisés sur YakaClub
                                        </span>
                                        <span
                                            data-ng-if="vm.selectedProfessional.yakaProjectNumber == 1">
                                            <b>1 projet</b> réalisé sur YakaClub
                                        </span>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal" data-ng-if="vm.selectedProfessional.likes">
                                        <dt>Recommandations</dt>
                                        <dd>
                                        <span
                                            data-ng-if="vm.selectedProfessional.likes > 1">
                                            <b>{{vm.selectedProfessional.likes}} membres</b> recommandent ce Pro
                                        </span>
                                        <span
                                            data-ng-if="vm.selectedProfessional.likes == 1">
                                            <b>1 membre</b> recommande ce Pro
                                        </span>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.partners && vm.selectedProfessional.partners.length > 0">
                                        <dt>Partenaire</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-repeat="partner in vm.selectedProfessional.partners">
                                                    {{partner.name}}
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.certifications && vm.selectedProfessional.certifications.length > 0">
                                        <dt>Certifications</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-repeat="certification in vm.selectedProfessional.certifications">
                                                    {{certification.name}}
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.businessRegistrationOk || vm.selectedProfessional.insuranceOk">
                                        <dt>Statut entreprise</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-if="vm.selectedProfessional.businessRegistrationOk">
                                                    Entreprise vérifiée
                                                </li>
                                                <li data-ng-if="vm.selectedProfessional.insuranceOk">
                                                    Assuré
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>


                        <div class="pmb-block">
                            <div class="pmbb-header">
                                <h2>
                                    <i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> Présentation
                                </h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    {{vm.selectedProfessional.aboutMe}}
                                    <div class="lightbox photos clearfix m-t-15"
                                         data-ng-if="vm.selectedProfessional.portfolio && vm.selectedProfessional.portfolio.length > 0">
                                        <div
                                            data-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl}}"
                                            class="lightboxItemAngular col-md-4 col-sm-4 col-xs-4"
                                            data-ng-repeat="image in vm.selectedProfessional.portfolio">
                                            <div class="lightbox-item p-item">
                                                <img
                                                    data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                                    alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
