<header id="header" data-current-skin='lightblue' ng-include="'/modules/core/views/header.html'"
></header>
<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <section id="content">
        <div class="container">
            <div ng-show="vm.projectsOnGoing.length <0" class="card">
                <div class="card-header">
                    <h2>VOUS N’AVEZ ENCORE DE PROJETS
                        <small>Comment fonctionne Yaka Club ?</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <ol>
                        <li>Créez votre projet</li>
                        <li>Recevez des offres et discutez avec nos professionnels</li>
                        <li>Sélectionnez celui qui vous convient</li>
                        <li>Clôturez le projet et partagez votre recommandation</li>
                    </ol>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-lg btn-primary" data-ui-sref="new-project">CREER UN PROJET</button>
                </div>
            </div>

            <div ng-show="vm.projectsOnGoing.length >0" class="block-header">
                <h2>PROJET EN COURS</h2>
            </div>
            <div ng-show="vm.projectsOnGoing.length >0" class="card card-hover" ng-repeat="p in vm.projectsOnGoing"
                 ng-click="vm.selectProject(p)">
                <div class="card-header">
                    <div class="media">
                        <div class="pull-left">
                            <div class="proposalIconBackground lv-img v-icon-{{p.mainActivity.code}}-white">
                            </div>
                        </div>
                        <div class="media-body projectTitleBar" title="{{p.translatedTitle}}">
                            <div class="media-heading row">
                                <div class="col-sm-7">{{p.title | yakaTranslateTitle}}</div>
                                <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                    <small class="c-gray">
                                        Dernière mise à jour <span am-time-ago="p.updated"></span>
                                    </small>
                                </div>
                            </div>
                            <small>
                                <div class="c-gray">
                                    <strong>{{p.address.name}}</strong> - {{p.address.locality}}
                                </div>
                                <div class="c-gray">
                                    Début souhaité {{vm.getDesiredPedriod(p)}}
                                </div>
                            </small>
                        </div>
                        <div class="pull-right">
                            <ul class="actions m-t-20">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-show="!p.proposals" class="card-body p-l-25 p-b-20">
                    <span>Réponses des Pro en attentes...</span>
                </div>
                <div ng-show="p.status == 'ONGOING_PROPOSITIONS_RECEIVED' && p.proposals.length > 0">
                    <div class="card-body p-l-25">
                        <span>Choisissez un professionnel pour votre projet.</span>
                        <span ng-show="p.proposals.length == 1">
                            <br>Vous avez reçu <b>1 proposition</b>
                        </span>
                        <span ng-show="p.proposals.length > 1">
                            <br>Vous avez reçu <b>{{p.proposals.length}} propositions</b>
                        </span>
                    </div>
                    <div class="card-body p-l-25 p-r-30 p-t-15 p-b-20">
                        <ul ng-show="p.proposals.length > 0" class="wall-attrs clearfix list-inline list-unstyled">
                            <li ng-show="!p.unreadMessages" class="wa-stats">
                                <span><i class="zmdi zmdi-comment-alt-text c-gray zmdi-hc-fw"></i></span>
                            </li>
                            <li ng-show="p.unreadMessages" class="wa-stats">
                                <span><i class="zmdi zmdi-comment-alt-text c-lightblue zmdi-hc-fw"></i></span>
                            </li>
                            <li class="wa-users m-r-20" data-ng-repeat="proposal in p.proposals"
                                ng-click="vm.selectProposal(proposal)">
                                <div class="p-relative"
                                     title="{{proposal.professional.user.firstName}} {{proposal.professional.user.lastName}}">
                                    <yaka-avatar class="yakaHeaderAvatar on-avatar" size="35"
                                                 user="proposal.professional.user"></yaka-avatar>
                                    <i ng-show="proposal.unreadMessages" class="porposalUnreadMessagesIndicator"></i>
                                    <!--<div class="yakaEllipsis vertical-middle f-10" style="width: 40px;">
                                        <span>{{proposal.professional.user.firstName}}
                                            {{proposal.professional.user.lastName}}
                                        </span>
                                    </div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-show="vm.projectsOnGoing.length <0" class="page-content">
                <div class="content-slide">
                    <h4 ng-show="vm.projectsOnGoing.length >0">PROJET EN COURS</h4>

                    <div ng-show="vm.projectsOnGoing.length >0" class="project" ng-repeat="p in vm.projectsOnGoing"
                         ng-click="vm.selectProject(p)" ng-ripple
                         ng-class="{'emergency-border': p.type == 'EMERGENCY' && (p.unreadMessages || p.status == 'ONGOING_PROPOSITIONS_RECEIVED' || p.status == 'ONGOING_RATE_PRO'), 'alert-border': p.unreadMessages || p.status == 'ONGOING_PROPOSITIONS_RECEIVED' || p.status == 'ONGOING_RATE_PRO'}">
                        <div class="project-icon no-margin no-padding">
                            <div class="v-icon v-icon-{{p.mainActivity.code}} center-middle">
                            </div>
                        </div>
                        <div class="project-info-middle no-margin no-padding" title="{{p.translatedTitle}}">
                            <div class="project-middle pl-20">
                                <div class="title-line">
                                    <label ng-show="p.type == 'EMERGENCY'">Emergency - </label>

                                    <p class="project-title"
                                       ng-class="{'draft': p.status == 'DRAFT'}">
                                        {{p.translatedTitle}}
                                    </p>
                                </div>

                                <div class="info-line">
                                    <p class="project-date" ng-class="{'draft': p.status == 'DRAFT'}">
                                        {{ vm.getDesiredPedriod(p)}} -
                                    </p>

                                    <p class="project-address" ng-class="{'draft': p.status == 'DRAFT'}">
                                        {{p.address.name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="project-message no-margin no-padding">
                            <img class="center-middle img-message" src="icons/mdpi/ic_message.png" alt=""
                                 ng-show="p.unreadMessages"/>

                            <p class="no-message" ng-hide="p.unreadMessages">
                                No message
                            </p>

                            <p class="post-message">
                                Posté depuis {{vm.dateDiff(p.updated, vm.now)}}
                            </p>
                        </div>
                        <div class=" project-proposals no-margin no-padding">
                            <div class="status-info"
                                 ng-show="p.status == 'ONGOING_PROPOSITIONS_RECEIVED' || p.status == 'ONGOING_WAITING_FOR_PROPOSITIONS' || p.status == 'DRAFT'">
                                <p ng-show="p.status == 'ONGOING_PROPOSITIONS_RECEIVED'">
                                    <i class="fa fa-circle  puce"></i> {{p.proposals.length}} propositions
                                </p>

                                <p ng-show="p.status == 'ONGOING_RATE_PRO'">
                                    <i class="fa fa-circle  puce-green" ng-class="[p.status]"></i>
                                </p>

                                <p ng-show="p.status == 'ONGOING_WAITING_FOR_PROPOSITIONS'" class="">
                                    <i class="fa fa-circle color-9b"></i> Waiting for proposals
                                </p>

                                <p ng-show="p.status == 'DRAFT'" class="color-9b draft">
                                    <i class="fa fa-circle  color-9b"></i> Draft
                                </p>

                                <div class="row avatar-display " ng-if="p.proposals.length > 0">
                                    <div class="col-xs-3">
                                        <cl-image ng-if="p.proposals[0].professional.user.avatar.cloudinaryPublicId"
                                                  public-id="{{p.proposals[0].professional.user.avatar.cloudinaryPublicId}}"
                                                  secure="true"
                                                  class="img-circle avatar-pro" format="png"
                                                  title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            <cl-transformation height="29" width="29" crop="fill"/>
                                        </cl-image>
                                        <div class="img-default-preview"
                                             ng-if="!p.proposals[0].professional.user.avatar.cloudinaryPublicId"
                                             title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            {{p.proposals[0].professional.user.firstName[0] | uppercase}}
                                            {{p.proposals[0].professional.user.lastName[0] | uppercase}}
                                        </div>
                                    </div>
                                    <div class="col-xs-3" ng-if="p.proposals.length > 1">
                                        <cl-image ng-if="p.proposals[1].professional.user.avatar.cloudinaryPublicId"
                                                  public-id="{{p.proposals[1].professional.user.avatar.cloudinaryPublicId}}"
                                                  secure="true"
                                                  class="img-circle avatar-pro" format="png"
                                                  title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            <cl-transformation height="29" width="29" crop="fill"/>
                                        </cl-image>
                                        <div class="img-default-preview"
                                             ng-if="!p.proposals[1].professional.user.avatar.cloudinaryPublicId"
                                             title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            {{p.proposals[1].professional.user.firstName[0] | uppercase}}
                                            {{p.proposals[1].professional.user.lastName[0] | uppercase}}
                                        </div>
                                    </div>
                                    <div class="col-xs-3" ng-if="p.proposals.length > 2">
                                        <cl-image ng-if="p.proposals[1].professional.user.avatar.cloudinaryPublicId"
                                                  public-id="{{p.proposals[2].professional.user.avatar.cloudinaryPublicId}}"
                                                  secure="true"
                                                  class="img-circle avatar-pro" format="png"
                                                  title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            <cl-transformation height="29" width="29" crop="fill"/>
                                        </cl-image>
                                        <div class="img-default-preview"
                                             ng-if="!p.proposals[2].professional.user.avatar.cloudinaryPublicId"
                                             title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            {{p.proposals[2].professional.user.firstName[0] | uppercase}}
                                            {{p.proposals[2].professional.user.lastName[0] | uppercase}}
                                        </div>
                                    </div>
                                    <div class="col-xs-3" ng-if="p.proposals.length > 3">
                                        <cl-image ng-if="p.proposals[1].professional.user.avatar.cloudinaryPublicId"
                                                  public-id="{{p.proposals[3].professional.user.avatar.cloudinaryPublicId}}"
                                                  secure="true"
                                                  class="img-circle avatar-pro" format="png"
                                                  title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            <cl-transformation height="29" width="29" crop="fill"/>
                                        </cl-image>
                                        <div class="img-default-preview"
                                             ng-if="!p.proposals[3].professional.user.avatar.cloudinaryPublicId"
                                             title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            {{p.proposals[3].professional.user.firstName[0] | uppercase}}
                                            {{p.proposals[3].professional.user.lastName[0] | uppercase}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="status-info" ng-show="p.status == 'ONGOING_PROJECT_ONGOING'">
                                <p>
                                    <i class="fa fa-circle puce-green" ng-class="[p.status]"></i>Pro selected
                                </p>

                                <div class="row avatar-display">
                                    <div class="col-xs-12">
                                        <cl-image ng-if="p.proposals[0].professional.user.avatar.cloudinaryPublicId"
                                                  public-id="{{p.professional.user.avatar.cloudinaryPublicId}}"
                                                  secure="true"
                                                  class="img-circle avatar-pro" format="png"
                                                  title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            <cl-transformation height="29" width="29" crop="fill"/>
                                        </cl-image>
                                        <div class="img-default-preview"
                                             ng-if="!p.proposals[0].professional.user.avatar.cloudinaryPublicId"
                                             title="{{p.proposals[0].professional.user.firstName}} {{p.proposals[0].professional.user.lastName}}">
                                            {{p.proposals[0].professional.user.firstName[0] | uppercase}}
                                            {{p.proposals[0].professional.user.lastName[0] | uppercase}}
                                        </div>
                                        {{p.professional.user.firstName}} {{p.professional.user.lastName}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h4 ng-show="vm.projectsCompleted.length >0">PROJET TERMINÉ</h4>

                    <div ng-show="vm.projectsCompleted.length >0" class="project" ng-repeat="p in vm.projectsCompleted">
                        <div class="row no-margin no-padding">
                            <div class="col-xs-2 no-margin no-padding">

                            </div>
                            <div class="col-xs-4 no-margin no-padding" title="{{p.translatedTitle}}">
                                <div class="project-middle pl-20">
                                    <div class="title-line">
                                        <label ng-show="p.type == 'EMERGENCY'">Emergency - </label>

                                        <p class="project-title">
                                            {{p.translatedTitle}}
                                        </p>
                                    </div>

                                    <div class="info-line">
                                        <p class="project-date">
                                            {{p.updated | date:'mediumDate'}} -
                                        </p>

                                        <p class="project-address">
                                            {{p.address.name}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 no-margin no-padding">
                                <div class="status-info"
                                     ng-show="p.status == 'ONGOING_PROPOSITIONS_RECEIVED' || p.status == 'ONGOING_WAITING_FOR_PROPOSITIONS'">
                                    <p ng-show="p.status == 'ONGOING_PROPOSITIONS_RECEIVED'">
                                        <i class="fa fa-circle  puce" ng-class="p.type"></i> {{p.proposals.length}}
                                        propositions
                                    </p>

                                    <p ng-show="p.status == 'ONGOING_WAITING_FOR_PROPOSITIONS'">
                                        <i class="fa fa-circle  puce" ng-class="[p.type, p.status]"></i> 0 propositions
                                    </p>

                                    <div class="row avatar-display" ng-show="p.proposals.length > 0">
                                        <div class="col-xs-3">
                                            <img class="img-circle avatar-pro fr"
                                                 ng-src="{{p.proposals[0].professional.user.avatarUrl}}" alt=""/>
                                        </div>
                                        <div class="col-xs-3" ng-show="p.proposals.length > 1">
                                            <img class="img-circle avatar-pro center"
                                                 ng-src="{{p.proposals[1].professional.user.avatarUrl}}" alt=""/>
                                        </div>
                                        <div class="col-xs-3" ng-show="p.proposals.length > 2">
                                            <img class="img-circle avatar-pro fl"
                                                 ng-src="{{p.proposals[2].professional.user.avatarUrl}}" alt=""/>
                                        </div>
                                        <div class="col-xs-3" ng-show="p.proposals.length > 3">
                                        <span
                                            class="glyphicon glyphicon-option-horizontal other-avatars img-circle"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="status-info" ng-show="p.status == 'ONGOING_PROS_PRESELECTED'">
                                    <p>
                                        Pro selected
                                    </p>

                                    <p>
                                        {{p.professional.companyName}}
                                    </p>
                                </div>
                                <div class="status-info" ng-show="p.status == 'DRAFT'">
                                    <p>
                                        {{p.status}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-2 no-margin no-padding">
                                <img class="center-middle" src="icons/mdpi/ic_message.png" alt=""
                                     ng-show="p.unreadMessages"/>
                                <img class="center-middle" src="icons/mdpi/ic_nomessage.png" alt=""
                                     ng-hide="p.unreadMessages"/>

                                <p class="post-message">
                                    Posté depuis
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
