<style type="text/css">
    #map_canvas {
        height: 120px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">
        <div class="container">
            <div class="card">
                <div class="row no-margin">
                    <div class="col-xs-12">
                        <div class="description-action-btn" data-ng-click="vm.edit()" data-ng-show="!vm.editFlag">
                            MODIFIER
                        </div>
                        <div class="description-action-btn" data-ng-show="!vm.editFlag"
                             data-ng-click="vm.openDeleteProjectPopup()">
                            SUPPRIMER
                        </div>
                        <div class="description-action-btn color-red" data-ng-show="vm.editFlag"
                             data-ng-click="vm.openSavePopup()">
                            ENREGISTER
                        </div>
                        <div class="description-action-btn" data-ng-show="vm.editFlag" data-ng-click="vm.cancel()">
                            ANNULER
                        </div>
                        <div class="description-date">
                            Mis à jour <span am-time-ago="vm.project.updated"></span>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 ">
                        <div id="map_canvas">
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="mapOptions"
                                                dragging="false">
                                <ui-gmap-marker idKey='1' coords='vm.markerCoords'></ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
                <div class="row no-margin" title="{{vm.projectTmp.address.address}}">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Où
                            <span class="icon-pen-blue" data-ng-show="vm.editFlag"
                                  data-ng-click="vm.editWhere()"></span>
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            {{vm.projectTmp.address.name}} - {{vm.projectTmp.address.streetNumber}}
                            {{vm.projectTmp.address.route}}, {{vm.projectTmp.address.postalCode}}
                        </div>

                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Quand
                            <span class="icon-pen-blue" data-ng-show="vm.editFlag" data-ng-click="vm.editWhen()"></span>
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            Début souhaité {{vm.getWhen()}}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Mots clés
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            {{vm.getTags() | yakaTranslateTags}}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Description
                        </div>
                        <div class="col-xs-12 description-sub-text">
                                <textarea msd-elastic class="custom-textarea" disabled
                                          data-ng-model="vm.projectTmp.description"
                                          data-ng-hide="vm.editFlag"></textarea>

                            <form class="descriptionFormProject" data-ng-show="vm.editFlag" name="descriptionForm">
                                <div class="form-group"
                                     data-ng-class="{'has-error': !vm.projectTmp.description}">
                                    <div class="fg-line">
                                    <textarea class="form-control" rows="2"
                                              name="description"
                                              data-ng-model="vm.projectTmp.description"
                                              required="required"
                                              data-ng-minlength="5"
                                              data-auto-size
                                              data-autosize-on="true"
                                              placeholder=""></textarea>
                                    </div>
                                    <div data-ng-messages="descriptionForm.description.$error">
                                        <small class="help-block" data-ng-message="required">Ce champ est requis</small>
                                        <small class="help-block" data-ng-message="minlength">La description est trop
                                            courte
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row no-margin"
                     data-ng-if="(vm.projectTmp.images && vm.projectTmp.images.length > 0) || vm.editFlag">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Photos
                        </div>

                        <div class="col-xs-12 description-sub-text row mb-15 m-t-15">

                            <!--Viewing mode-->

                            <div class="lightbox photos projectImageTooltip" data-ng-show="!vm.editFlag">
                                <div data-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl}}"
                                     data-sub-html="#caption{{$index}}"
                                     class="lightboxItemAngular col-md-3 col-md-2 col-sm-3 col-xs-4"
                                     tooltip-placement="top"
                                     uib-tooltip="{{image.description}}"
                                     data-ng-repeat="image in vm.projectTmp.images">
                                    <div class="lightbox-item p-item">
                                        <img data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                             alt=""/>
                                    </div>
                                    <div id="caption{{$index}}" style="display:none">
                                        <div class="galleryCaption">
                                            <p>{{image.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Editing mode-->

                            <div class="" data-ng-show="vm.editFlag" data-ng-show="vm.editFlag">
                                <div class="galleryEditingItem col-md-2 col-sm-3 col-xs-4"
                                     data-ng-repeat="image in vm.projectTmp.images">
                                    <div class="lightbox-item p-item projectImageTooltip">
                                        <img
                                            tooltip-placement="top"
                                            uib-tooltip="{{image.description}}"
                                            data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                            alt=""/>
                                    </div>

                                    <div class="dropdown pmop-message pmop-message-icon-left" uib-dropdown>
                                        <button uib-dropdown-toggle class="btn bgm-lightblue btn-float floatingButtonImage ">
                                            <i class="zmdi zmdi-comment-text-alt"></i>
                                        </button>

                                        <div class="dropdown-menu stop-propagate">
                                                <textarea placeholder="Ajouter un commentaire"
                                                          data-ng-model="image.description"
                                                          data-ng-maxlength="140"
                                                          maxlength="140"
                                                          data-auto-size
                                                          data-ng-trim="false"
                                                          data-ng-change="vm.descriptionChanged(image)"></textarea>

                                            <div class="descriptionCounter">
                                                {{vm.getStringLength(image.description)}} / 140 caractères
                                            </div>

                                            <button class="btn bgm-lightblue btn-float"
                                                    data-tl-action="save"
                                                    data-ng-click="vm.saveComment();">
                                                <i class="zmdi zmdi-check"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <button class="floatingButtonImage floatingButtonImageDelete btn btn-danger btn-float"
                                            data-ng-click="vm.removeImage($index)">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-3 col-xs-4 no-padding"
                                 ngf-drop="vm.uploadFiles($files)"
                                 ngf-drag-over-class="dragOverClass($event)"
                                 data-ng-model="files"
                                 data-ng-multiple="false" data-ng-show="vm.editFlag">
                                <div class="galleryUpload lightbox-item p-item"
                                     ngf-select="vm.uploadFiles($files, $invalidFiles, 0)"
                                     ngf-accept="'image/*'" ngf-max-size="5MB">
                                    <div class="content">
                                        <i class="zmdi zmdi-plus-circle-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="yakaPopup" data-ng-show="vm.whereFlag"
         data-ng-click="vm.whereFlag = false" data-ng-cloak>
        <div class="container">
            <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">

                <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                     data-ng-click="vm.whereFlag = false" alt=""/>

                <h4>Veuillez indiquer le lieu des travaux</h4>

                <div class="row no-margin w-900 center select-addr" data-ng-show="vm.user.addresses.length > 0">
                    <div class="col-xs-5 no-padding">
                        <select class="select-custom" data-ng-model="vm.myAddress" data-ng-change="vm.setAddress()">
                            <option value="new">Créer une nouvelle addresse</option>
                            <option data-ng-repeat="a in vm.user.addresses" value="{{a.address}}"
                                    data-ng-selected="{{a.address.toString() == vm.myAddress.toString()}}">{{a.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2 no-padding">
                        <input type="text" class="select-custom" data-ng-if="vm.newAddrFlag"
                               data-ng-model="vm.newAddr.name"
                               data-ng-change="vm.verifNameAddr()" placeholder="Nom de l'adresse (Maison, Papa, ...)">
                    </div>
                </div>
                <div class="row no-margin w-900 center addr">
                    <div class="no-padding mb-39"
                         data-ng-class="{'col-xs-12': !vm.newAddrFlag, 'col-xs-9': vm.newAddrFlag}">
                        <div class="inner-addon right-addon">
                            <div class="disabled-addr" data-ng-show="vm.disabledAddr"></div>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <input vs-google-autocomplete="options"
                                   options="options"
                                   data-ng-model="address.name"
                                   vs-place="address.place"
                                   vs-place-id="address.components.placeId"
                                   vs-street-number="address.components.streetNumber"
                                   vs-street="address.components.street"
                                   vs-city="address.components.city"
                                   vs-state="address.components.state"
                                   vs-country-short="address.components.countryCode"
                                   vs-country="address.components.country"
                                   vs-post-code="address.components.postCode"
                                   vs-district="address.components.district"
                                   vs-latitude="address.components.location.lat"
                                   vs-longitude="address.components.location.long"

                                   type="text"
                                   name="address"
                                   id="address"
                                   placeholder="Indiquer l'adresse" class="input-custom">
                        </div>
                    </div>
                </div>
                <div class="t-right">
                    <button class="btn btn-link waves-effect c-red" data-ng-click="vm.whereFlag = false">
                        ANNULER
                    </button>
                    <button class="btn btn-link waves-effect c-lightblue" data-ng-click="vm.changeWhere()">
                        CONFIRMER
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="yakaPopup" data-ng-show="vm.whenFlag"
         data-ng-click="vm.whenFlag = false" data-ng-cloak>
        <div class="container">
            <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">

                <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                     data-ng-click="vm.whenFlag = false" alt=""/>

                <h4>Quand voulez-vous que les travaux commencent ?</h4>

                <div class="dateEdit">
                    <ul class="questions-ul center no-padding">
                        <li class="question-li center" data-ng-class="vm.child3"
                            data-ng-click="vm.selectDateType('NONE'); vm.child0 = ''; vm.child1 = ''; vm.child2 = ''; vm.child3 = 'activate'">
                            Dès que possible
                        </li>
                        <li class="question-li center" data-ng-class="vm.child2"
                            data-ng-click="vm.selectDateType('WITHIN_A_MONTH'); vm.child0 = ''; vm.child1 = ''; vm.child2 = 'activate'; vm.child3 = ''">
                            Dans le mois
                        </li>
                        <li class="question-li center" data-ng-class="vm.child0"
                            data-ng-click="vm.selectDateType('SPECIFIC'); vm.selectDate(); vm.child0 = 'activate'; vm.child1 = ''; vm.child2 = ''; vm.child3 = ''">
                            À partir d'une date
                        </li>
                        <li data-ng-show="vm.dateSelected" class="custom-li-date question-li center"
                            data-ng-click="vm.unSelectdate()">
                            {{vm.dt | date:'dd-MM-yyyy'}}
                        </li>
                        <li data-ng-show="vm.dateFlag" class="list-style-none">
                            <div style="display:inline-block; min-height:290px;" class="center custom-picker">
                                <uib-datepicker data-ng-model="vm.dt" datepicker-options="vm.datepickerOptions"
                                                class="well well-sm custom-date"
                                                custom-class="getDayClass(date, mode)"></uib-datepicker>
                            </div>
                        </li>
                    </ul>
                    <p class="error center" data-ng-show="vm.error.date.flag">
                        {{vm.error.date.message}}
                    </p>
                </div>

                <div class="t-right">
                    <button class="btn btn-link waves-effect c-red" data-ng-click="vm.whenFlag = false">
                        ANNULER
                    </button>
                    <button class="btn btn-link waves-effect c-lightblue" data-ng-click="vm.changeWhen()">
                        CONFIRMER
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
