<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
        xmlns="http://www.w3.org/1999/html"></header>

<section id="view">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"
            data-ng-if="vm.user"></aside>

    <div id="content" class="page-content">
        <div class="content-slide new-project" id="main-scroll-container">
            <div class="container">
                <div class="slide-main" id="slide1" data-ng-show="vm.selectCategory">
                    <div class="card col-md-10 col-md-offset-1">
                        <div class="card-header">
                            <h2 class="t-center">
                                Quel type de travaux souhaitez vous réaliser ?
                            </h2>
                        </div>
                        <div class="row no-margin">
                            <div class="col-xs-3 no-margin no-padding type-project-box" data-ng-class="child.selected"
                                 data-ng-repeat="child in vm.newProject.childrenActivities"
                                 data-ng-click="vm.selectType(child, vm.newProject.childrenActivities)"
                                 title="{{'ACTIVITY_' + child.code | translate}}"
                                 data-ng-show="vm.wait">
                                <div class="type-project-box-content">
                                    <div class="v-icon v-icon-{{child.code}} center">
                                    </div>
                                    <p class="type-project-title text-center">
                                        {{'ACTIVITY_' + child.code | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col-md-10 col-md-offset-1 clearfix" id="subSlide{{$index}}"
                     data-ng-show="vm.questions[$index]"
                     data-ng-repeat="q in vm.questions" data-ng-if="q.childrenActivities">
                    <div class="card-header">
                        <h2 class="t-center" data-ng-show="$index == 0">
                            <p><em>{{'ACTIVITY_' + q.code | translate }}</em></p>
                            Indiquez l'objet des travaux
                        </h2>
                        <h2 class="t-center" data-ng-show="$index == 1">
                            <p></p><em>{{'ACTIVITY_' + q.code | translate }}</em></p>
                            Précisez votre besoin
                        </h2>
                        <h2 class="t-center" data-ng-show="$index > 1 ">
                            <p><em>{{'ACTIVITY_' + q.code | translate }}</em></p>
                            Précisez la nature des travaux
                        </h2>
                    </div>
                    <ul class="questions-ul center clearfix">
                        <li class="col-xs-12 col-sm-8 question-li center" data-ng-class="child.selected"
                            data-ng-repeat="child in q.childrenActivities"
                            data-ng-click="vm.selectSubService(child, q.childrenActivities, $parent.$index)">
                            {{ 'ACTIVITY_' + child.code | translate }}
                        </li>
                    </ul>
                </div>

                <div class="card col-md-10 col-md-offset-1 clearfix p-b-20" id="slide3" data-ng-show="vm.service">
                    <div data-ng-hide="vm.type.code == 'COU_13900'">
                        <div class="card-header">
                            <h2 class="t-center">
                                Quelle prestation souhaitez-vous ?
                            </h2>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2 text-center">
                            <div id="materialYes" class="v-btn" data-ng-click="vm.material = 'yes'"
                                 data-ng-class="{activate: vm.material == 'yes'}">
                                Travaux
                            </div>
                            <small>Je fournis certains matériaux, à préciser</small>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div id="materialNo" class="v-btn" data-ng-click="vm.material = 'no'"
                                 data-ng-class="{activate: vm.material == 'no'}">
                                Travaux + matériaux
                            </div>
                            <small>Le Pro doit fournir tous les matériaux</small>
                        </div>
                        <p class="error center" data-ng-show="vm.error.material.flag">
                            {{vm.error.material.message}}
                        </p>
                    </div>
                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Décrivez votre projet
                            <small
                                data-ng-class="vm.error.description.flag  && vm.projectDescription.length > 0 && vm.projectDescription.length < 50 ? 'c-red': ' subtitle-color-forced'">
                                Au moins 50 caractères
                            </small>
                        </h2>
                    </div>

                    <div class="col-xs-12">

                        <textarea class="form-control" data-auto-size=""
                                  rows="2"
                                  data-ng-model="vm.projectDescription"
                                  data-ng-blur="vm.verifDescription()"
                                  placeholder="Préciser mon projet ici ..."
                                  data-autosize-on="true"></textarea>

                    </div>

                    <p class="col-xs-12 error center m-b-0 p-0"
                       data-ng-show="vm.error.description.flag && (vm.projectDescription.length < 50)">
                        <small>{{vm.error.description.message}}</small>
                    </p>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn bgm-lightblue btn-lg waves-effect m-t-20"
                        data-ng-click="vm.continueProject()"
                        data-ng-disabled="(!vm.material && vm.type.code != 'COU_13900') || vm.projectDescription.length < 50">
                        Continuer
                    </button>

                </div>
                <div class="card clearfix col-md-10 col-md-offset-1 p-b-20" id="slide4" data-ng-show="vm.continue">
                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Ajoutez des photos
                        </h2>
                        <p class="t-center">
                            Joindre des photos et un commentaire améliore la compréhension de votre projet
                            <br>
                            (état général actuel, difficulté d'accès, matériel fourni le cas échéant, ...)
                        </p>
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="galleryEditingItem col-md-2 col-sm-3 col-xs-4"
                             data-ng-repeat="image in photos">
                            <div class="lightbox-item p-item projectImageTooltip">
                                <img
                                    tooltip-placement="top"
                                    uib-tooltip="{{image.description}}"
                                    data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                    alt=""/>
                            </div>

                            <div class="dropdown pmop-message pmop-message-icon-left" uib-dropdown>
                                <button uib-dropdown-toggle class="btn bgm-lightblue btn-float floatingButtonImage ">
                                    <i class="zmdi zmdi-comment-text-alt"></i>
                                </button>

                                <div class="dropdown-menu stop-propagate commentPhotoBoxAddProject">
                                                <textarea placeholder="Ajouter un commentaire"
                                                          data-ng-model="image.description"
                                                          data-ng-maxlength="140"
                                                          maxlength="140"
                                                          data-auto-size
                                                          data-ng-trim="false"
                                                          data-ng-change="vm.descriptionChanged(image)"></textarea>

                                    <div class="descriptionCounter">
                                        {{vm.getStringLength(image.description)}} / 140 caractères
                                    </div>

                                    <button class="btn bgm-lightblue btn-float"
                                            data-tl-action="save"
                                            data-ng-click="vm.saveComment();">
                                        <i class="zmdi zmdi-check"></i>
                                    </button>
                                </div>
                            </div>

                            <button class="floatingButtonImage floatingButtonImageDelete btn btn-danger btn-float"
                                    data-ng-click="vm.removeImage($index)">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-4 no-padding"
                             ngf-drop="vm.uploadFiles($files)"
                             ngf-drag-over-class="dragOverClass($event)"
                             data-ng-model="files"
                             data-ng-multiple="false">
                            <div class="galleryUpload lightbox-item p-item"
                                 ngf-select="vm.uploadFiles($files, $invalidFiles, 0)"
                                 ngf-accept="'image/*'" ngf-max-size="20MB">
                                <div class="content">
                                    <i class="zmdi zmdi-plus-circle-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn bgm-lightblue btn-lg waves-effect m-t-20"
                        data-ng-click="vm.continueProjectImg()">
                        Continuer
                    </button>

                </div>
                <div class="card col-md-10 col-md-offset-1 clearfix p-b-20" id="slide5" data-ng-show="vm.continueImg">

                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Indiquez l'adresse des travaux
                            <small>
                                Choisissez une de vos adresses ou créez-en une nouvelle
                            </small>
                        </h2>
                    </div>

                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 no-padding select m-b-20"
                         data-ng-if="vm.user.addresses.length>0">
                        <select class="form-control" data-ng-model="vm.myAddress" data-ng-change="vm.setAddress()">
                            <option value="new">- Nouvelle adresse -</option>
                            <option data-ng-repeat="a in vm.user.addresses" value="{{a.address}}"
                                    data-ng-selected="a.address.toString() == vm.myAddress.toString()">{{a.name}}
                            </option>
                        </select>
                    </div>

                    <p class="col-xs-12 text-center" data-ng-show="vm.newAddrFlag">
                        Indiquez votre adresse :
                    </p>

                    <div
                        class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 row no-padding no-margin w-900 center addr">
                        <div class="no-padding mb-39" data-ng-class="col-xs-12">
                            <div class="col-xs-12 no-padding inner-addon right-addon">
                                <div data-ng-show="vm.disabledAddr"></div>
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <input vs-google-autocomplete="options"
                                       vs-autocomplete-validator
                                       options="options"
                                       data-ng-model="address.name"
                                       vs-place="address.place"
                                       vs-place-id="address.components.placeId"
                                       vs-street-number="address.components.streetNumber"
                                       vs-street="address.components.street"
                                       vs-city="address.components.city"
                                       vs-state="address.components.state"
                                       vs-country-short="address.components.countryCode"
                                       vs-country="address.components.country"
                                       vs-post-code="address.components.postCode"
                                       vs-district="address.components.district"
                                       vs-latitude="address.components.location.lat"
                                       vs-longitude="address.components.location.long"
                                       type="text"
                                       name="address"
                                       id="address"
                                       placeholder="Indiquez votre adresse complète (vous seul décidez quand et par qui elle sera visible)"
                                       class="form-control"
                                       data-ng-disabled="vm.user.addresses.length > 0 && !vm.newAddrFlag">
                            </div>
                        </div>
                    </div>

                    <p class="col-xs-12 text-center m-t-30" data-ng-show="vm.newAddrFlag && address.name">
                        Saisir un nom pour cette adresse :
                    </p>

                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 row no-margin w-900 center select-addr">
                        <div data-ng-show="vm.newAddrFlag && address.name">
                            <input type="text" class="form-control" data-ng-model="vm.newAddr.name"
                                   placeholder="Nom de l'adresse (Maison, Papa, ...)">
                        </div>
                        <p class="error t-left m-t-0 f-s-13" data-ng-show="vm.error.address.flag">
                            {{vm.error.address.message}}
                        </p>
                    </div>

                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn bgm-lightblue btn-lg waves-effect m-t-20"
                        data-ng-click="vm.continueAddr()"
                        data-ng-disabled="!address.name">
                        Continuer
                    </button>

                    <small class="col-xs-12 t-center m-t-15">Indiquez l'adresse complète, seule la ville
                        sera visible par defaut
                    </small>
                </div>

                <div class="card col-md-10 col-md-offset-1 clearfix p-b-20" id="slide6"
                     data-ng-show="vm.continueAddressFlag">
                    <div class="col-xs-12 card-header">
                        <h2 class="t-center">
                            Quand souhaitez-vous que les travaux commencent ?
                        </h2>
                    </div>

                    <ul class="col-xs-12 no-padding questions-ul center">
                        <li id="selectDateType_NONE" class="col-xs-12 col-sm-8 question-li center"
                            data-ng-class="vm.child3"
                            data-ng-click="vm.selectDateType('NONE'); vm.child0 = ''; vm.child1 = ''; vm.child2 = ''; vm.child3 = 'activate'">
                            Dès que possible
                        </li>
                        <li id="selectDateType_WITHIN_A_MONTH" class="col-xs-12 col-sm-8 question-li center"
                            data-ng-class="vm.child2"
                            data-ng-click="vm.selectDateType('WITHIN_A_MONTH'); vm.child0 = ''; vm.child1 = ''; vm.child2 = 'activate'; vm.child3 = ''">
                            Dans le mois
                        </li>
                        <li data-ng-show="vm.dateType == 'WITHIN_A_MONTH'"
                            class="col-xs-12 col-sm-8 custom-li-date question-li center date">
                            Avant le {{vm.desiredDateMonth | date:'dd MMMM'}}
                        </li>
                        <li id="selectDateType_SPECIFIC" class="col-xs-12 col-sm-8 question-li center"
                            data-ng-class="vm.child0"
                            data-ng-click="vm.selectDateType('SPECIFIC'); vm.selectDate(); vm.child0 = 'activate'; vm.child1 = ''; vm.child2 = ''; vm.child3 = ''">
                            À partir d'une date
                        </li>
                        <li data-ng-show="vm.dateSelected" class="col-xs-12 col-sm-8 custom-li-date question-li center"
                            data-ng-click="vm.unSelectdate()">
                            {{vm.dt | date:'dd-MM-yyyy'}}
                        </li>
                        <li data-ng-show="vm.dateFlag" style="list-style: none;" class="col-xs-12 no-padding">
                            <div style="display:inline-block; min-height:290px;" class="center custom-picker">
                                <uib-datepicker data-ng-model="vm.dt" datepicker-options="vm.datepickerOptions"
                                                class="well well-sm custom-date"
                                                custom-class="getDayClass(date, mode)"></uib-datepicker>
                            </div>
                        </li>
                    </ul>
                    <p class="col-xs-12 error center" data-ng-show="vm.error.date.flag">
                        {{vm.error.date.message}}
                    </p>

                    <button id="publish"
                            class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 btn bgm-lightblue btn-lg waves-effect m-t-20"
                            data-ng-click="vm.publishProject()"
                            data-ng-disabled="!vm.dateType">
                        {{vm.sendButton}}
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showLoginPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()" alt=""/>

            <div data-ng-if="!vm.noSocialAccountMessage">
                <div class="loginPopupTabItem col-xs-6" data-ng-class="{loginPopupTabItemActive: vm.loginTab}"
                     data-ng-click="vm.loginTab = true">
                    CONNEXION
                </div>
                <div class="loginPopupTabItem col-xs-6" data-ng-class="{loginPopupTabItemActive: !vm.loginTab}"
                     data-ng-click="vm.loginTab = false">
                    INSCRIPTION
                </div>

                <div data-ng-show="vm.loginTab">
                    <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookLogin()">
                        Facebook
                    </div>
                    <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googleLogin()">
                        Google
                    </div>

                    <input class="form-control"
                           type="text"
                           name="username"
                           autocomplete="username"
                           placeholder="Email"
                           data-ng-model="vm.loginUser.email"
                           data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                    <input class="form-control"
                           type="password"
                           name="password"
                           autocomplete="current-password"
                           placeholder="Mot de passe"
                           data-ng-model="vm.loginUser.password"
                           data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                    <button
                        class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                        data-ng-click="vm.login()" data-ng-disabled="!vm.loginFormIsValid()"
                        id="signInPopupButton">SE CONNECTER
                    </button>

                    <div class="col-xs-12 passwordForgotten underline">
                        <span data-ng-click="vm.closePopup();
                         vm.forgottenPasswordUser.email = vm.loginUser.email;
                         vm.showForgottenPasswordPopup = true">J'ai oublié mon mot de passe</span>
                    </div>
                </div>

                <div data-ng-show="!vm.loginTab">

                    <div class="col-xs-12 registerFacebookGoogle p-l-0 p-r-0">
                        <span data-ng-if="!vm.isSocialRegister()">Inscription rapide via Facebook ou Google</span>

                        <div data-ng-if="vm.isSocialRegister()">
                            <div class="registerSocialConfirm p-l-0 p-r-0">
                                Inscription via {{vm.socialNetwork}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookPreRegister()"
                         data-ng-if="!vm.isSocialRegister()">
                        Facebook
                    </div>
                    <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                         data-ng-if="!vm.isSocialRegister()">
                        Google
                    </div>

                    <div class="col-xs-4 col-xs-offset-4 registerSeparator"/>

                    <div class="col-xs-12 registerMail">
                        <span class="registerWithEmailMessage pointer" data-ng-if="!vm.isSocialRegister()"
                              data-ng-click="vm.showRegisterFields = true">- <span class="underline">Ou inscription par email</span> -</span>
                        <span data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                    </div>
                    <form name="registerForm">
                        <div class="col-xs-12 showRegisterFields"
                             data-ng-class="{showRegisterFieldsVisible: vm.isSocialRegister() || vm.showRegisterFields}">

                            <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput"
                                 data-ng-class="{'has-error': !vm.newUser.firstName}">

                                <div class="fg-line">
                                    <input type="text"
                                           name="fname"
                                           autocomplete="given-name"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.firstName"
                                           required="required"
                                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                                    <label class="fg-label">Prénom</label>
                                </div>
                                <div data-ng-messages="registerForm.fname.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput halfInputRight"
                                 data-ng-class="{'has-error': !vm.newUser.lastName}">

                                <div class="fg-line">
                                    <input type="text"
                                           name="lname"
                                           autocomplete="family-name"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.lastName"
                                           required="required"
                                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                                    <label class="fg-label">Nom</label>
                                </div>
                                <div data-ng-messages="registerForm.lname.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.newUser.defaultAddress.address}">
                                <div class="fg-line">
                                    <input type="text"
                                           class="form-control fg-input input-sm"
                                           vs-google-autocomplete="vm.autocomplete.options"
                                           vs-autocomplete-validator
                                           data-ng-model="vm.newUser.defaultAddress.address"
                                           type="text"
                                           name="address"
                                           autocomplete="address-level2"
                                           required="required"
                                           placeholder=""
                                           id="address">
                                    <label class="fg-label">Ville</label>
                                </div>
                                <small class="help-block" data-ng-if="!vm.newUser.defaultAddress.address">
                                    Veuillez saisir la ville, puis la sélectionner dans la liste
                                </small>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.newUser.email}">
                                <div class="fg-line">
                                    <input type="text"
                                           name="username"
                                           autocomplete="username"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.email"
                                           required="required" yaka-input-email>
                                    <label class="fg-label">Email</label>
                                </div>
                                <div data-ng-messages="registerForm.username.$error">
                                    <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error':! vm.newUser.password}">
                                <div class="fg-line">
                                    <input type="password"
                                           name="password"
                                           autocomplete="new-password"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.password"
                                           data-ng-minlength="6">
                                    <label class="fg-label">Mot de passe</label>
                                </div>
                                <div data-ng-messages="registerForm.password.$error">
                                    <small class="help-block" data-ng-message="minlength">
                                        Le mot de passe doit faire au moins 6 caractères
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-15"
                                 data-ng-class="{'has-error': !vm.passwordConfirm || (vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm))}">
                                <div class="fg-line">
                                    <input type="password" class="form-control fg-input input-sm"
                                           data-ng-model="vm.passwordConfirm" data-ng-minlength="6">
                                    <label class="fg-label">Confirmation</label>
                                </div>
                                <small class="help-block"
                                       data-ng-show="vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm)">
                                    Les deux mots de passe ne correspondent pas
                                </small>
                            </div>

                            <div class="c-red center m-b-0 t-center">
                                Cochez la case ci-dessous
                            </div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-lg visible-md col-xs-12 m-t-0 center recaptcha"
                            ></div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-sm col-xs-12 m-t-0 center recaptcha mobile"
                                style="-moz-transform:scale(0.95); -ms-transform:scale(0.95); -o-transform:scale(0.95); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.95); transform:scale(0.95); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.95,M12=0,M21=0,M22=0.95,SizingMethod='auto expand');"
                            ></div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-xs col-xs-12 m-t-0 center recaptcha mobile"
                                style="-moz-transform:scale(0.9); -ms-transform:scale(0.9); -o-transform:scale(0.9); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.9); transform:scale(0.9); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9,M12=0,M21=0,M22=0.9,SizingMethod='auto expand');"
                            ></div>
                            <button
                                class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                                data-ng-disabled="!vm.registerFormIsValid()"
                                data-ng-click="vm.register()">S'INSCRIRE
                            </button>
                        </div>
                    </form>
                    <small class="col-xs-12 customerRegisterProLink" ui-sref="pro-home">
                        Vous êtes Pro ? <span class="underline">Cliquez ici pour vous inscrire</span>
                    </small>
                </div>
            </div>
            <div data-ng-if="vm.noSocialAccountMessage">
                <div class="noSocialAccountMessage">
                    Ce compte {{vm.socialNetwork}} nous est inconnu.<br/>
                    Essayez de vous connecter avec votre email et votre mot de passe ou de créer un compte en cliquant
                    sur <em>S'inscrire</em> puis <em>{{vm.socialNetwork}}</em>.
                </div>
                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect"
                    data-ng-click="vm.noSocialAccountMessage = false">OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showForgottenPasswordPopup"
     data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" alt=""/>

            <div data-ng-if="!vm.passwordForgottenMessageSent">

                <form name="recoverPassword">
                    <div class="form-group fg-float m-t-30"
                         data-ng-class="{'has-error': !vm.forgottenPasswordUser.email}">
                        <div class="fg-line">
                            <input type="text"
                                   name="username"
                                   autocomplete="username"
                                   data-ng-disabled="vm.isSocialRegister()"
                                   class="form-control fg-input input-sm"
                                   data-ng-model="vm.forgottenPasswordUser.email"
                                   required="required"
                                   yaka-input-email>
                            <label class="fg-label">Email</label>
                        </div>
                        <div data-ng-messages="recoverPassword.username.$error">
                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                valide
                            </small>
                        </div>
                    </div>
                </form>
                <button
                    class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton passwordForgottenButton waves-effect"
                    data-ng-disabled="!vm.forgottenPasswordUser.email"
                    data-ng-click="vm.forgottenPassword()">RÉINITIALISER MON MOT DE PASSE
                </button>
            </div>
            <div class="passwordForgottenMessageSent" data-ng-if="vm.passwordForgottenMessageSent">
                Nous venons de vous envoyer un email contenant un lien qui vous permettra de réinitialiser votre mot de
                passe.
            </div>
        </div>
    </div>
</div>
