<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="dashboard"
                    title="Recommander un pro"></yaka-mobile-header>

<section id="main">

    <div class="container p-l-25 p-r-25">
        <ol class="breadcrumb hidden-xs">
            <li class="pointer" data-ui-sref="dashboard">
                Accueil
            </li>
            <li class="active">
                Recommander un pro
            </li>
        </ol>
    </div>


    <aside id="sidebar" data-ng-include="'modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">
        <div class="container">
            <div class="col-sm-12 topViewProfile pointer" data-ng-if="vm.project.activityCorrespond"
                 ui-sref="pro-project-proposal-new({projectId: vm.project.id})">
                <div class="card bgm-lightblue c-white p-10">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-check  zmdi-hc-3x"></i>
                    </div>
                    <div class="topViewProfileContent">
                        <b>Cette offre correspond à vos compétences</b></br>
                        Vous pouvez la recommander à un collègue, ou y
                        <span class="c-white">
                            <b>
                                <u>
                                    répondre vous même
                                </u>
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 topViewProfile pointer" data-ng-if="!vm.project.activityCorrespond && vm.user.professional"
                 ui-sref="pro-profile">
                <div class="card bgm-gray c-white p-10">
                    <b>Cette offre ne correspond pas à vos compétences</b></br>
                    Vous pouvez la recommander à un collègue, ou
                    <span class="c-white">
                        <b><u>modifier votre profil</u></b>
                    </span>
                    pour pouvoir y répondre
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-header">
                    <h2>Recommander à</h2>
                </div>
                <div class="card projectRecommendTopCard p-l-20 p-t-20 p-b-5">
                    <div class="clearfix">

                        <yaka-avatar class="col-xs-3 no-padding" size="50" user="vm.project.user"></yaka-avatar>

                        <div class="col-xs-8 col-sm-9 p-r-0 p-l-0 m-l-15">
                            <div>
                                <casa-name-and-contact class="pull-left fw-bold l-h-24"
                                                       invite="true"
                                                       user="vm.project.user"></casa-name-and-contact>
                                <div class="col-xs-12 p-l-0">
                                    <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                        community="community"
                                                        ng-repeat="community in vm.project.user.communities">
                                    </casa-community-tag>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-header">
                    <h2>POUR SON PROJET</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <div class="proposalIconBackground pull-left lv-img v-icon-{{vm.project.mainActivity.code}}-white">
                        </div>

                        <div class="right p-l-60 p-b-10">
                            <div class="f-s-15">
                                {{vm.project.title}}
                            </div>

                            <div class="yakaEllipsis" data-ng-if="vm.project.address.address">
                                {{vm.project.address.address}}
                            </div>
                            <div class="yakaEllipsis" data-ng-if="!vm.project.address.address">
                                {{vm.project.address.postalCode}} {{vm.project.address.locality}}
                            </div>

                            <div class="yakaEllipsis">
                                {{vm.getWhen()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 clearBoth" data-ng-if="vm.professionals">
                <div class="block-header">
                    <h2>
                        Mes Pro
                    </h2>
                </div>
                <div class="card">
                    <div class="card-header projectRecommendGrayHeader">
                        <h2>Recommander un Pro
                            <small class="c-obsidian-gray">
                                Liste de vos Pros ayant la compétence demandée
                            </small>
                        </h2>
                    </div>

                    <div class="proToRecommendList" data-ng-if="vm.professionals && vm.professionals.length > 0">
                        <div class="p-10 p-relative clearfix pointer"
                             data-ng-repeat="professional in vm.professionals"
                             data-ng-click="vm.smoothScrollPro(); vm.selectedProfessional = professional; vm.recommendMsg.text = ''"
                             data-ng-class="{'selected': vm.selectedProfessional && vm.selectedProfessional.user && vm.selectedProfessional.user.id == professional.user.id}">

                            <yaka-avatar class="m-0 pull-left" size="45" user="professional.user"></yaka-avatar>

                            <cl-image
                                public-id="{{professional.mainPartner.cloudinaryPublicId}}"
                                class="proposalProMainPartnerImg proToRecommendPartner" format="png"
                                data-ng-if="professional.mainPartner.cloudinaryPublicId">
                                <cl-transformation height="25" width="25" crop="fill" radius="max"/>
                            </cl-image>

                            <div class="col-xs-9 col-sm-10 p-r-0 p-l-15 p-t-5">

                                <div class="col-xs-12 col-md-7 p-0">
                                    <div class="yakaEllipsis">
                                        <b>{{professional.user.firstName}} {{professional.user.lastName}}</b>
                                    </div>
                                    <div>
                                        <div class="yakaEllipsis">
                                            <em>{{professional.company.name}}</em>
                                            <span class="subtitle-color-forced yakaEllipsis"> - {{professional.company.address.administrativeAreaLevel2}}</span>
                                        </div>
                                    </div>
                                </div>


                                <div
                                    class="col-xs-12 col-md-5 yaka-chips m-t-5 no-padding">
                                    <casa-community-tag class="recommend-pro-community-tag reco-community-float reco-pro-tags"
                                                        community="community"
                                                        ng-repeat="community in professional.user.communities">
                                    </casa-community-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projectRecommendGrayHeader"
                         data-ng-if="vm.professionals && vm.professionals.length > 0">
                        <button class="btn btn-default waves-effect c-orange m-15"
                                data-ng-click="vm.openProPopup()">
                            Ajouter un Pro
                        </button>
                    </div>
                    <div class="f-s-16 t-center p-t-30 p-b-30 p-relative p-l-10 p-r-10"
                         data-ng-if="vm.professionals && vm.professionals.length == 0">

                        <i class="zmdi zmdi-accounts zmdi-hc-4x subtitle-color-forced"></i>

                        <div class="m-t-20">
                            Aucun de vos Pros ne semble correspondre.
                        </div>
                    </div>
                </div>
            </div>
            <div id="pro" class="col-sm-6" data-ng-if="vm.professionals">
                <div class="block-header">
                    <h2>
                        <span data-ng-if="vm.selectedProfessional">
                            RECOMMANDER
                        </span>
                        <span
                            data-ng-if="!vm.selectedProfessional && vm.professionals && vm.professionals.length > 0">
                            Aucun Pro sélectionné
                        </span>
                        <span
                            data-ng-if="!vm.selectedProfessional && vm.professionals && vm.professionals.length == 0">
                            Ajouter un Pro
                        </span>
                    </h2>
                </div>

                <div class="recommendProSelected f-s-16 t-center p-t-30 p-b-30 p-relative"
                     data-ng-if="!vm.selectedProfessional && vm.professionals && vm.professionals.length > 0">

                    <i class="zmdi zmdi-account-box-o zmdi-hc-4x subtitle-color-forced"></i>

                    <div class="m-t-20">
                        Sélectionnez un Pro et retrouvez ici
                    </div>
                    <div>
                        le résumé de son profil.
                    </div>
                    <i class="zmdi zmdi-chevron-left leftArrow"></i>
                </div>

                <div class="card selectedProDetails" data-ng-if="vm.selectedProfessional">

                    <div class="card-header clearfix">

                        <yaka-avatar size="50" user="vm.selectedProfessional.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText professional"
                             data-ng-if="vm.selectedProfessional.mainPartner.cloudinaryPublicId">
                            <div class="yakaEllipsis f-s-14">
                                <strong>{{vm.selectedProfessional.user.firstName}}
                                    {{vm.selectedProfessional.user.lastName}}</strong>
                            </div>
                            <div class="yakaEllipsis">
                                <b>{{vm.selectedProfessional.company.name}}</b>
                                - {{vm.selectedProfessional.company.address.administrativeAreaLevel2}}
                            </div>
                        </div>

                        <div class="dashboardRecommendProjectText propartner"
                             data-ng-if="!vm.selectedProfessional.mainPartner.cloudinaryPublicId">
                            <div class="yakaEllipsis f-s-14">
                                <strong>{{vm.selectedProfessional.user.firstName}}
                                    {{vm.selectedProfessional.user.lastName}}</strong>
                            </div>
                            <div class="yakaEllipsis">
                                <b>{{vm.selectedProfessional.company.name}}</b>
                                - {{vm.selectedProfessional.company.address.administrativeAreaLevel2}}
                            </div>
                            <div>
                                <casa-contact user="vm.selectedProfessional.user"></casa-contact>
                            </div>
                        </div>

                        <div class="proSelectedPartner"
                             data-ng-if="!vm.selectedProfessional.mainPartner.cloudinaryPublicId">

                            <cl-image
                                public-id="{{vm.selectedProfessional.mainPartner.cloudinaryPublicId}}" format="png">
                                <cl-transformation height="40" width="40" crop="fill" radius="max"/>
                            </cl-image>

                        </div>

                        <div class="form-group m-t-25">
                            <div class="fg-line">
                                <textarea class="form-control" data-ng-model="vm.recommendMsg.text" data-auto-size=""
                                          placeholder="Envoyer un message privé AU CLIENT {{vm.project.user.firstName}} {{vm.project.user.lastName}} (le Pro ne le verra pas)"
                                          data-autosize-on="true"></textarea>
                            </div>
                        </div>

                        <button class="btn bgm-lightblue waves-effect proRecommendButton f-right"
                                data-ng-click="vm.recommendPro(vm.selectedProfessional.id)">
                            Lui recommander ce chantier
                        </button>
                    </div>

                    <div class="card-body card-padding">
                        <div class="pmb-block clearfix" data-ng-if="vm.selectedProfessional.user.communities">
                            <div class="pmbb-header">
                                <h2><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Communautés</h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    <dl class="dl-horizontal">
                                        <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                            community="community"
                                                            ng-repeat="community in vm.selectedProfessional.user.communities">
                                        </casa-community-tag>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="pmb-block">
                            <div class="pmbb-header">
                                <h2><i class="zmdi zmdi-star zmdi-hc-fw"></i> Expérience et qualités</h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    <dl class="dl-horizontal">
                                        <dt>Métier</dt>
                                        <dd>
                                            {{vm.getExperienceYearNumber()}} ans d'expérience
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.qualities && vm.selectedProfessional.qualities.length > 0">
                                        <dt>Qualités reconnues</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-repeat="quality in vm.selectedProfessional.qualities">
                                                    {{'CRITERION_' + quality.name | translate}}
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.yakaProjectNumber">
                                        <dt>Chantiers réalisés</dt>
                                        <dd>
                                        <span
                                            data-ng-if="vm.selectedProfessional.yakaProjectNumber > 1">
                                            <b>{{vm.selectedProfessional.yakaProjectNumber}} chantiers</b> réalisés sur CasaVox
                                        </span>
                                            <span
                                                data-ng-if="vm.selectedProfessional.yakaProjectNumber == 1">
                                            <b>1 chantier</b> réalisé sur CasaVox
                                        </span>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal" data-ng-if="vm.selectedProfessional.likes">
                                        <dt>Recommandations</dt>
                                        <dd>
                                        <span
                                            data-ng-if="vm.selectedProfessional.likes > 1">
                                            <b>{{vm.selectedProfessional.likes}} membres</b> recommandent ce Pro
                                        </span>
                                            <span
                                                data-ng-if="vm.selectedProfessional.likes == 1">
                                            <b>1 membre</b> recommande ce Pro
                                        </span>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.partners && vm.selectedProfessional.partners.length > 0">
                                        <dt>Partenaire</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-repeat="partner in vm.selectedProfessional.partners">
                                                    {{partner.name}}
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.certifications && vm.selectedProfessional.certifications.length > 0">
                                        <dt>Certifications</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li data-ng-repeat="certification in vm.selectedProfessional.certifications">
                                                    {{certification.name}}
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal"
                                        data-ng-if="vm.selectedProfessional.status == 'VALIDATED' || vm.selectedProfessional.status == 'COMPLETED'">
                                        <dt>Statut entreprise</dt>
                                        <dd>
                                            <ul class="yaka-chips">
                                                <li>
                                                    Entreprise vérifiée
                                                </li>
                                                <li>
                                                    Assuré
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>


                        <div class="pmb-block">
                            <div class="pmbb-header">
                                <h2>
                                    <i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> Présentation
                                </h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    {{vm.selectedProfessional.aboutMe}}
                                    <div class="lightbox photos projectImageTooltip clearfix m-t-15"
                                         data-ng-if="vm.selectedProfessional.portfolio && vm.selectedProfessional.portfolio.length > 0">
                                        <div
                                            data-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl}}"
                                            data-sub-html="#caption{{$index}}"
                                            class="lightboxItemAngular galleryEditingItem col-md-4 col-sm-4 col-xs-4"
                                            data-ng-repeat="image in vm.selectedProfessional.portfolio">
                                            <div class="lightbox-item p-item"
                                                 tooltip-placement="top"
                                                 uib-tooltip="{{image.description}}">
                                                <img
                                                    data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                                    alt=""/>
                                                <div data-ng-if="image.description"
                                                     class="btn bgm-lightblue btn-float floatingButtonImage icon-comment">
                                                    <i class="zmdi zmdi-comment-text-alt"></i>
                                                </div>
                                            </div>
                                            <div id="caption{{$index}}" style="display:none">
                                                <div class="galleryCaption">
                                                    <p>{{image.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" data-ng-if="vm.professionals && vm.professionals.length == 0">

                    <div class="card-header">
                        <h2>
                            Invitez un professionnel
                            <small>
                                Il recevra votre recommandation par email
                            </small>
                        </h2>
                    </div>

                    <div class="card-body card-padding clearfix">
                        <form name="inviteForm">

                            <div class="col-xs-12 no-padding form-group fg-float m-b-20"
                                 data-ng-class="{'has-error': vm.formProRecoInvitError && !vm.invitPro.name}">
                                <div class="fg-line">
                                    <input type="text" name="name" class="form-control fg-input input-sm"
                                           data-ng-model="vm.invitPro.name"
                                           data-ng-disabled="vm.isSocialRegister()"
                                           yaka-input-name>
                                    <label class="fg-label">Nom</label>
                                </div>
                                <small class="help-block t-left"
                                       data-ng-show="vm.formProRecoInvitError && vm.invitPro.name.length < 1">
                                    Ce champ est requis
                                </small>
                                <div data-ng-messages="inviteForm.name.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-12 no-padding form-group fg-float m-b-20"
                                 data-ng-class="{'has-error': vm.formProRecoInvitError && !vm.invitPro.email}">
                                <div class="fg-line">
                                    <input type="text" name="username" data-ng-disabled="vm.isSocialRegister()"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.invitPro.email"
                                           yaka-input-email>
                                    <label class="fg-label">Email</label>
                                </div>
                                <small class="help-block t-left"
                                       data-ng-show="vm.formProRecoInvitError && vm.invitPro.email.length < 1">
                                    Ce champ est requis
                                </small>
                                <div data-ng-messages="inviteForm.username.$error">
                                    <small class="help-block" data-ng-message="invalidEmail">
                                        Cet email n'est pas valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-12 no-padding form-group fg-float m-b-20"
                                 data-ng-class="{'has-error': vm.formProRecoInvitError && !vm.invitPro.address.address}">
                                <div class="fg-line">
                                    <input type="text"
                                           class="form-control fg-input input-sm"
                                           name="address"
                                           id="address"
                                           data-ng-model="vm.invitPro.address.address"
                                           data-ng-maxlength="5"
                                           maxlength="5"
                                           placeholder=""
                                           uib-typeahead="address for address in getLocation($viewValue)"/>
                                    <label class="fg-label">
                                        Code postal</label>
                                </div>
                                <small class="help-block"
                                       data-ng-if="!vm.invitPro.address.address">
                                    Merci d'indiquer le code postal puis de sélectionner la commune
                                </small>
                            </div>


                            <div class="col-xs-12 no-padding form-group fg-float m-b-30">
                                <div class="fg-line">
                                    <input type="text" name="phoneNumber"
                                           class="form-control fg-input"
                                           data-ng-model="vm.invitPro.phone" yaka-input-phone>
                                    <label class="fg-label fg-label-phone">Téléphone (facultatif)</label>
                                </div>
                                <div data-ng-messages="inviteForm.phoneNumber.$error">
                                    <small class="help-block" data-ng-message="invalidPhone">
                                        Ce numéro de téléphone n'est pas valide
                                    </small>
                                </div>
                            </div>

                            <button class="btn bgm-orange btn-block btn-lg waves-effect"
                                    data-ng-click="vm.sendProInvit()">
                                Inviter
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showInvitProPopup" data-ng-click="vm.closeProPopup()" data-ng-cloak>
    <div class="container">
        <div class="CasaPopupWindow col-xs-12 no-padding" data-ng-click="$event.stopPropagation()">
            <div class="col-xs-12 invite-header bgm-orange">
                <div><i class="zmdi zmdi-email-open c-white f-s-20"></i></div>
                <div class="c-white m-l-15">INVITER UN PRO</div>
                <i class="zmdi zmdi-close c-white close-icon-invit-pro zmdi-hc-lg pointer"
                   data-ng-click="vm.closeProPopup()"></i>
            </div>
            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-20 p-r-0 pro-form-field">Nom</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           name="name"
                           class="form-control no-form-border"
                           data-ng-model="vm.invitPro.name"
                           placeholder="Entrez le le Nom et le Prénom"
                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                    <small class="c-red"
                           data-ng-if="vm.formProRecoInvitError && !vm.invitPro.name">Ce champs est requis</small>
                </div>
            </div>
            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-20 p-r-0 pro-form-field">Email</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           name="username"
                           placeholder="Entrez l'e-mail du destinataire"
                           data-ng-disabled="vm.isSocialRegister()"
                           class="form-control no-form-border"
                           data-ng-model="vm.invitPro.email">
                    <small class="c-red"
                           data-ng-if="vm.formProRecoInvitError && !vm.invitPro.email || vm.formProInvitEmailError">Ce champs est requis</small>

                </div>
            </div>

            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-5 p-r-0 pro-form-field-cp">Code Postal</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           class="form-control no-form-border"
                           data-ng-model="vm.invitPro.postalCode"
                           name="address"
                           data-ng-maxlength="5"
                           maxlength="5"
                           placeholder="Entrez le code postal du professionnel"
                           id="address">
                    <small class="c-red"
                           data-ng-if="vm.formProRecoInvitError && !vm.invitPro.postalCode">Ce champs est requis</small>
                </div>
            </div>

            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-20 p-r-15 pro-form-field-phone">Tél.</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           name="phoneNumber"
                           class="form-control no-form-border"
                           placeholder="Numéro de téléphone (facultatif)"
                           data-ng-model="vm.invitPro.phone" yaka-input-phone>
                </div>
            </div>

            <div class="destination m-b-0 bgm-gray-lighter">
                <div class="p-l-20 p-t-10 p-b-10 p-r-15 pro-form-field-from">De</div>
                <div class="p-t-10">
                    {{app.getUser().firstName}} {{app.getUser().lastName}} (via Casavox)
                </div>
            </div>
            <div class="form-group destination m-b-0 bgm-gray-lighter">
                <div class="fg-line form-object p-l-20 p-r-20">
                    {{app.getUser().firstName}} {{app.getUser().lastName}} vous invite à rejoindre son réseau d'entraide
                    Casavox
                </div>
            </div>
            <div class="destination-message m-b-0">
                <div class="invite-message p-t-20 p-r-20 p-l-20">
                    <textarea class="form-control no-form-border message-body"
                              data-auto-size=""
                              placeholder="Rédigez votre message ici (facultatif)"
                              data-autosize-on="true"
                              data-ng-model="vm.invitProMessage"
                              style="overflow: hidden; word-wrap: break-word; height: 37px;"></textarea>
                </div>
            </div>
            <div class="col-xs-12 no-padding send-button-line">
                <div class="btn bgm-lightblue c-white send-email-invitation"
                     data-ng-click="vm.sendProInvit()">ENVOYER
                </div>
            </div>
        </div>
    </div>
</div>

