<header id="header" data-current-skin='lightblue' data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <section id="content" class="content">
        <div class="container">
            <div data-ng-show="vm.projectsOnGoing && vm.projectsOnGoing.length == 0" class="card" data-ng-cloak>
                <div class="card-header">
                    <h2>VOUS N'AVEZ ENCORE DE PROJET
                        <small>Comment fonctionne CasaVox ?</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <ol>
                        <li>Trouver votre Pro en créant votre projet de travaux</li>
                        <li>Recevez des propositions et discutez avec nos professionnels</li>
                        <li>Sélectionnez celui qui vous convient</li>
                        <li>Clôturez le chantier et partagez votre recommandation</li>
                    </ol>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-lg btn-primary" data-ui-sref="new-project">TROUVER MON PRO.</button>
                </div>
            </div>

            <div data-ng-show="vm.projectsOnGoing && vm.projectsOnGoing.length > 0" data-ng-cloak>
                <div class="block-header">
                    <h2 data-ng-show="vm.projectsOnGoing.length == 1">PROJET EN COURS</h2>

                    <h2 data-ng-show="vm.projectsOnGoing.length > 1">PROJETS EN COURS</h2>
                </div>
                <div class="card card-hover pointer" data-ng-repeat="p in vm.projectsOnGoing"
                     data-ng-click="vm.selectProject(p)">
                    <div class="card-header p-b-15">
                        <div class="media">
                            <div class="pull-left">
                                <div class="proposalIconBackground lv-img v-icon-{{p.mainActivity.code}}-white">
                                </div>

                            </div>
                            <div class="media-body projectTitleBar" title="{{p.title}}">
                                <div class="media row">
                                    <div class="col-sm-7">{{p.title}}</div>
                                    <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                        <small class="c-gray">
                                            Mis à jour <span am-time-ago="p.updated"></span>
                                        </small>
                                    </div>
                                </div>
                                <div class="c-gray m-t-5">
                                    <strong>{{p.address.name}}</strong> - {{p.address.locality}}
                                </div>
                                <div class="c-gray">
                                    Début souhaité {{vm.getDesiredPedriod(p)}}
                                </div>
                            </div>
                            <div class="pull-right">
                                <ul class="actions m-t-20">
                                    <li class="dropdown" uib-dropdown>
                                        <a href="" uib-dropdown-toggle>
                                            <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix p-r-0 m-l-65"
                         data-ng-if="p.unreadMessages || p.unreadMessagesSupport">
                        <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                            <div class="no-padding">
                                <b>Nouveau<span
                                    data-ng-if="p.unreadMessages && p.unreadMessagesSupport">x</span>
                                    Message<span data-ng-if="p.unreadMessages && p.unreadMessagesSupport">s</span></b>
                                <button class="btn btn-xs bgm-orange c-white" data-ng-if="p.unreadMessages">
                                    Pro
                                </button>
                                <button class="btn btn-xs bgm-lightblue c-white" data-ng-if="p.unreadMessagesSupport">
                                    CasaVox
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="p-b-20 clearfix m-l-65"
                         data-ng-hide="p.status == 'ONGOING_PROJECT_ONGOING' && p.proposal">
                        <div class="col-xs-12 col-sm-6"
                             data-ng-class="{'c-gray': !p.proposals.length || p.proposals.length == 0}">
                            <span class="f-20">
                                {{p.proposals.length || 0}}
                            </span>
                            offre<span data-ng-if="p.proposals.length && p.proposals.length > 1">s</span>
                            en attente
                        </div>
                        <div class="col-xs-12 col-sm-6"
                             data-ng-class="{'c-gray': !p.recoProposals.length || p.recoProposals.length == 0}">
                            <span class="f-20">
                                {{p.recoProposals.length || 0}}
                            </span>
                            recommandation<span
                            data-ng-if="p.recoProposals.length && p.recoProposals.length > 1">s</span>
                            de Pros
                        </div>
                    </div>
                    <div data-ng-show="p.status == 'ONGOING_PROJECT_ONGOING' && p.proposal"
                         class="card-body p-l-25 p-b-20"
                         data-ui-sref="proposal({'proposalId': p.proposal.id})">
                        <div class="media">
                            <div class="pull-left">
                                <div class="btn-dpday pull-left on-avatar">
                                    <div class="p-relative"
                                         title="{{p.proposal.professional.user.firstName}} {{p.proposal.professional.user.lastName}}">
                                        <yaka-avatar class="on-avatar" size="42"
                                                     user="p.proposal.professional.user"></yaka-avatar>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix p-r-0 m-l-65"
                                 data-ng-if="p.proposal.unreadMessages || p.proposal.unreadMessagesSupport">
                                <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                                    <div class="no-padding">
                                        <b>Nouveau<span
                                            data-ng-if="p.proposal.unreadMessages && p.proposal.unreadMessagesSupport">x</span>
                                            Message<span data-ng-if="p.proposal.unreadMessages && p.proposal.unreadMessagesSupport">s</span></b>
                                        <button class="btn btn-xs bgm-orange c-white" data-ng-if="p.proposal.unreadMessages">
                                            Pro
                                        </button>
                                        <button class="btn btn-xs bgm-lightblue c-white" data-ng-if="p.proposal.unreadMessagesSupport">
                                            CasaVox
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body pull-left" title="{{p.title}}">
                                <div class="media-heading m-b-5">
                                    <div class="c-gray">Votre Pro. pour ce chantier</div>
                                    <strong>{{p.proposal.professional.user.firstName}}
                                        {{p.proposal.professional.user.lastName}}</strong>
                                </div>
                                <ul class="pull-left wall-attrs clearfix list-inline list-unstyled">
                                    <li class="wa-stats center">
                                    <span class="bgm-white">
                                        <i class="zmdi zmdi-calendar"></i>
                                        <span data-ng-show="p.proposal.startDate">{{p.proposal.startDate | date:'dd/MM/yy'}}</span>
                                        <span data-ng-show="!p.proposal.startDate">- - -</span>
                                    </span>
                                        <span class="active bgm-white c-lightblue">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                        <span data-ng-show="p.proposal.price">{{p.proposal.price}} €</span>
                                        <span data-ng-show="!p.proposal.price">- - - €</span>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="p.status == 'ONGOING_RATE_PRO' && p.proposal" class="card-body p-l-25 p-b-20"
                         data-ui-sref="proposal({'proposalId': p.proposal.id})">
                        <div class="media">
                            <div class="pull-left">
                                <div class="btn-dpday pull-left on-avatar">
                                    <div class="p-relative"
                                         title="{{p.proposal.professional.user.firstName}} {{p.proposal.professional.user.lastName}}">
                                        <yaka-avatar class="on-avatar" size="42"
                                                     user="p.proposal.professional.user"></yaka-avatar>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix p-r-0 m-l-65"
                                 data-ng-if="p.proposal.unreadMessages || p.proposal.unreadMessagesSupport">
                                <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                                    <div class="no-padding">
                                        <b>Nouveau<span
                                            data-ng-if="p.proposal.unreadMessages && p.proposal.unreadMessagesSupport">x</span>
                                            Message<span data-ng-if="p.proposal.unreadMessages && p.proposal.unreadMessagesSupport">s</span></b>
                                        <button class="btn btn-xs bgm-orange c-white" data-ng-if="p.proposal.unreadMessages">
                                            Pro
                                        </button>
                                        <button class="btn btn-xs bgm-lightblue c-white" data-ng-if="p.proposal.unreadMessagesSupport">
                                            CasaVox
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="media-body pull-left" title="{{p.title}}">
                                <div class="media-heading m-b-5">
                                    <div class="c-red"><strong>Notez votre Pro. pour ce chantier</strong></div>
                                    <strong>{{p.proposal.professional.user.firstName}}
                                        {{p.proposal.professional.user.lastName}}</strong>
                                </div>
                                <ul class="pull-left wall-attrs clearfix list-inline list-unstyled">
                                    <li class="wa-stats center">
                                    <span class="bgm-white">
                                        <i class="zmdi zmdi-calendar"></i>
                                        <span data-ng-show="p.proposal.startDate">{{p.proposal.startDate | date:'dd/MM/yy'}}</span>
                                        <span data-ng-show="!p.proposal.startDate">- - -</span>
                                    </span>
                                        <span class="active bgm-white c-lightblue">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                        <span data-ng-show="p.proposal.price">{{p.proposal.price}} €</span>
                                        <span data-ng-show="!p.proposal.price">- - - €</span>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="vm.projectsCompleted && vm.projectsCompleted.length > 0" data-ng-cloak>
                <div class="block-header">
                    <h2 data-ng-show="vm.projectsCompleted.length == 1">PROJET TERMINÉ</h2>

                    <h2 data-ng-show="vm.projectsCompleted.length > 1">PROJETS TERMINÉS</h2>
                </div>
                <div class="card card-hover pointer" data-ng-repeat="pc in vm.projectsCompleted"
                     data-ui-sref="proposal({'proposalId': pc.proposal.id})">
                    <div class="card-header p-b-15">
                        <div class="media">
                            <div class="pull-left">
                                <div class="proposalIconBackgroundOff lv-img v-icon-{{pc.mainActivity.code}}-white">
                                </div>
                            </div>
                            <div class="media-body projectTitleBar">
                                <div class="media row">
                                    <div class="col-sm-7">{{pc.title}}</div>
                                    <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                        <div>
                                            <small class="c-gray">
                                                Cloturé le {{pc.updated | date:'d MMMM y'}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="media m-t-5">
                                    <div class="c-gray">
                                        <strong>{{pc.address.name}}</strong> -
                                        <small>{{pc.address.locality}}</small>
                                    </div>
                                    <div class="c-gray">
                                        <small>Début souhaité {{vm.getDesiredPedriod(pc)}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <ul class="actions m-t-20">
                                    <li class="dropdown" uib-dropdown>
                                        <a href="" uib-dropdown-toggle>
                                            <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="pc.status == 'COMPLETED' && pc.proposal" class="card-body p-l-25 p-b-20"
                         data-ui-sref="proposal({'proposalId': pc.proposal.id})">
                        <div class="media">
                            <div class="pull-left">
                                <div class="btn-dpday pull-left on-avatar">
                                    <div class="p-relative"
                                         title="{{pc.proposal.professional.user.firstName}} {{pc.proposal.professional.user.lastName}}">
                                        <yaka-avatar class="on-avatar" size="42"
                                                     user="pc.proposal.professional.user"></yaka-avatar>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix p-r-0 m-l-65"
                                 data-ng-if="pc.proposal.unreadMessages || pc.proposal.unreadMessagesSupport">
                                <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                                    <div class="no-padding">
                                        <b>Nouveau<span
                                            data-ng-if="pc.proposal.unreadMessages && pc.proposal.unreadMessagesSupport">x</span>
                                            Message<span data-ng-if="pc.proposal.unreadMessages && pc.proposal.unreadMessagesSupport">s</span></b>
                                        <button class="btn btn-xs bgm-orange c-white" data-ng-if="pc.proposal.unreadMessages">
                                            Pro
                                        </button>
                                        <button class="btn btn-xs bgm-lightblue c-white" data-ng-if="pc.proposal.unreadMessagesSupport">
                                            CasaVox
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="media-body pull-left" title="{{pc.title}}"
                                 data-ui-sref="proposal({'proposalId': pc.proposal.id})">
                                <div class="media-heading m-b-5">
                                    <div class="c-gray">Votre Pro. pour ce chantier</div>
                                    <strong>{{pc.proposal.professional.user.firstName}}
                                        {{pc.proposal.professional.user.lastName}}</strong>
                                </div>
                                <ul class="pull-left wall-attrs clearfix list-inline list-unstyled">
                                    <li class="wa-stats center">
                                    <span class="bgm-white">
                                        <i class="zmdi zmdi-calendar c-gray"></i>
                                        <span data-ng-show="pc.proposal.startDate">{{pc.proposal.startDate | date:'dd/MM/yy'}}</span>
                                        <span data-ng-show="!pc.proposal.startDate">- - -</span>
                                    </span>
                                        <span class="active bgm-white c-gray">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                        <span data-ng-show="pc.proposal.price">{{pc.proposals[0].price}} €</span>
                                        <span data-ng-show="!pc.proposal.price">- - - €</span>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="vm.projectsCanceled && vm.projectsCanceled.length > 0" data-ng-cloak>
                <div class="block-header">
                    <h2 data-ng-show="vm.projectsCanceledlength == 1">PROJET ANNULÉ</h2>

                    <h2 data-ng-show="vm.projectsCanceled.length > 1">PROJETS ANNULÉS</h2>
                </div>
                <div class="card card-hover pointer" data-ng-repeat="p in vm.projectsCanceled"
                     data-ng-click="vm.selectProject(p)">
                    <div class="card-header p-b-15">
                        <div class="media">
                            <div class="pull-left">
                                <div class="proposalIconBackgroundOff lv-img v-icon-{{p.mainActivity.code}}-white">
                                </div>
                            </div>
                            <div class="media-body projectTitleBar">
                                <div class="media row">
                                    <div class="col-sm-7">{{p.title}}</div>
                                    <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                        <div>
                                            <small class="c-gray">
                                                Cloturé le {{p.updated | date:'d MMMM y'}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="media m-t-5">
                                    <div class="c-gray">
                                        <strong>{{p.address.name}}</strong> -
                                        <small>{{p.address.locality}}</small>
                                    </div>
                                    <div class="c-gray">
                                        <small>Début souhaité {{vm.getDesiredPedriod(p)}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <ul class="actions m-t-20">
                                    <li class="dropdown" uib-dropdown>
                                        <a href="" uib-dropdown-toggle>
                                            <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="p.status == 'CANCELED' && p.proposal" class="card-body p-l-25 p-b-20"
                         data-ui-sref="proposal({'proposalId': p.proposal.id})">
                        <div class="media">
                            <div class="pull-left">
                                <div class="btn-dpday pull-left on-avatar">
                                    <div class="p-relative"
                                         title="{{p.proposal.professional.user.firstName}} {{p.proposal.professional.user.lastName}}">
                                        <yaka-avatar class="on-avatar" size="42"
                                                     user="p.proposal.professional.user"></yaka-avatar>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix p-r-0 m-l-65"
                                 data-ng-if="p.proposal.unreadMessages || p.proposal.unreadMessagesSupport">
                                <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                                    <div class="no-padding">
                                        <b>Nouveau<span
                                            data-ng-if="p.proposal.unreadMessages && p.proposal.unreadMessagesSupport">x</span>
                                            Message<span data-ng-if="p.proposal.unreadMessages && p.proposal.unreadMessagesSupport">s</span></b>
                                        <button class="btn btn-xs bgm-orange c-white" data-ng-if="p.proposal.unreadMessages">
                                            Pro
                                        </button>
                                        <button class="btn btn-xs bgm-lightblue c-white" data-ng-if="p.proposal.unreadMessagesSupport">
                                            CasaVox
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="media-body pull-left" title="{{p.title}}"
                                 data-ui-sref="proposal({'proposalId': p.proposal.id})">
                                <div class="media-heading m-b-5">
                                    <div class="c-gray">Votre Pro. pour ce chantier</div>
                                    <strong>{{p.proposal.professional.user.firstName}}
                                        {{p.proposal.professional.user.lastName}}</strong>
                                </div>
                                <ul class="pull-left wall-attrs clearfix list-inline list-unstyled">
                                    <li class="wa-stats center">
                                    <span class="bgm-white">
                                        <i class="zmdi zmdi-calendar c-gray"></i>
                                        <span data-ng-show="p.proposal.startDate">{{p.proposal.startDate | date:'dd/MM/yy'}}</span>
                                        <span data-ng-show="!p.proposal.startDate">- - -</span>
                                    </span>
                                        <span class="active bgm-white c-gray">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                        <span data-ng-show="p.proposal.price">{{p.proposals[0].price}} €</span>
                                        <span data-ng-show="!p.proposal.price">- - - €</span>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
