/* MONTSERRAT */

@font-face {
    font-family: 'montserrat_black';
    src: url('../fonts/Montserrat/montserrat_black-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_black-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_black-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_black-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_black-webfont.svg#montserrat_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_bold';
    src: url('../fonts/Montserrat/montserrat_bold-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_bold-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_bold-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_bold-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_bold-webfont.svg#montserrat_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_extra_bold';
    src: url('../fonts/Montserrat/montserrat_extrabold-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_extrabold-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_extrabold-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_extrabold-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_extrabold-webfont.svg#montserrat_extra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_hairline';
    src: url('../fonts/Montserrat/montserrat_hairline-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_hairline-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_hairline-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_hairline-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_hairline-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_hairline-webfont.svg#montserrat_hairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_light';
    src: url('../fonts/Montserrat/montserrat_light-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_light-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_light-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_light-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_light-webfont.svg#montserrat_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_regular';
    src: url('../fonts/Montserrat/montserrat_regular-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_regular-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_regular-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_regular-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_regular-webfont.svg#montserrat_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_semi_bold';
    src: url('../fonts/Montserrat/montserrat_semibold-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_semibold-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_semibold-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_semibold-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_semibold-webfont.svg#montserrat_semi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_ultra_light';
    src: url('../fonts/Montserrat/montserrat_ultralight-webfont.eot');
    src: url('../fonts/Montserrat/montserrat_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/montserrat_ultralight-webfont.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat_ultralight-webfont.woff') format('woff'),
    url('../fonts/Montserrat/montserrat_ultralight-webfont.ttf') format('truetype'),
    url('../fonts/Montserrat/montserrat_ultralight-webfont.svg#montserrat_ultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* RALEWAY */

@font-face {
    font-family: 'raleway_black';
    src: url('../fonts/Raleway/raleway_black-webfont.eot');
    src: url('../fonts/Raleway/raleway_black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_black-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_black-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_black-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_black-webfont.svg#raleway_black') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_bold';
    src: url('../fonts/Raleway/raleway_bold-webfont.eot');
    src: url('../fonts/Raleway/raleway_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_bold-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_bold-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_bold-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_bold-webfont.svg#raleway_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_extra_bold';
    src: url('../fonts/Raleway/raleway_extrabold-webfont.eot');
    src: url('../fonts/Raleway/raleway_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_extrabold-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_extrabold-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_extrabold-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_extrabold-webfont.svg#raleway_extra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_extra_light';
    src: url('../fonts/Raleway/raleway_extralight-webfont.eot');
    src: url('../fonts/Raleway/raleway_extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_extralight-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_extralight-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_extralight-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_extralight-webfont.svg#raleway_extra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_light';
    src: url('../fonts/Raleway/raleway_light-webfont.eot');
    src: url('../fonts/Raleway/raleway_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_light-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_light-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_light-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_light-webfont.svg#raleway_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_medium';
    src: url('../fonts/Raleway/raleway_medium-webfont.eot');
    src: url('../fonts/Raleway/raleway_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_medium-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_medium-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_medium-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_medium-webfont.svg#raleway_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_regular';
    src: url('../fonts/Raleway/raleway_regular-webfont.eot');
    src: url('../fonts/Raleway/raleway_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_regular-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_regular-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_regular-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_regular-webfont.svg#raleway_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_semi_bold';
    src: url('../fonts/Raleway/raleway_semibold-webfont.eot');
    src: url('../fonts/Raleway/raleway_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_semibold-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_semibold-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_semibold-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_semibold-webfont.svg#raleway_semi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_thin';
    src: url('../fonts/Raleway/raleway_thin-webfont.eot');
    src: url('../fonts/Raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_thin-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_thin-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_thin-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_thin-webfont.svg#raleway_thin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_black_italic';
    src: url('../fonts/Raleway/raleway_blackitalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_blackitalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_blackitalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_blackitalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_blackitalic-webfont.svg#raleway_black_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_bold_italic';
    src: url('../fonts/Raleway/raleway_bolditalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_bolditalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_bolditalic-webfont.svg#raleway_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_extra_bold_italic';
    src: url('../fonts/Raleway/raleway_extrabolditalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_extrabolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_extrabolditalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_extrabolditalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_extrabolditalic-webfont.svg#raleway_extra_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_extra_light_italic';
    src: url('../fonts/Raleway/raleway_extralightitalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_extralightitalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_extralightitalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_extralightitalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_extralightitalic-webfont.svg#raleway_extra_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_italic';
    src: url('../fonts/Raleway/raleway_italic-webfont.eot');
    src: url('../fonts/Raleway/raleway_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_italic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_italic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_italic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_italic-webfont.svg#raleway_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_light_italic';
    src: url('../fonts/Raleway/raleway_lightitalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_lightitalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_lightitalic-webfont.svg#raleway_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_medium_italic';
    src: url('../fonts/Raleway/raleway_mediumitalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_mediumitalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_mediumitalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_mediumitalic-webfont.svg#raleway_medium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_semi_bold_italic';
    src: url('../fonts/Raleway/raleway_semibolditalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_semibolditalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_semibolditalic-webfont.svg#raleway_semi_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_thin_italic';
    src: url('../fonts/Raleway/raleway_thinitalic-webfont.eot');
    src: url('../fonts/Raleway/raleway_thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/raleway_thinitalic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway_thinitalic-webfont.woff') format('woff'),
    url('../fonts/Raleway/raleway_thinitalic-webfont.ttf') format('truetype'),
    url('../fonts/Raleway/raleway_thinitalic-webfont.svg#raleway_thin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
