.proHomeSection {
}

.proHomeSection1 {
    height: 700px;
    background: linear-gradient(rgba(4, 28, 36, 0.49), rgba(4, 28, 36, 0.49)), url('../img/homeBackground.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

.proHomeSection1Container {
    background-image: url('../img/contractor.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
}

.proHomeSection1Header {
    margin-top: 30px;
    height: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1YakaClub {
    font-size: 24px;
    float: left;
    line-height: 40px;
    cursor: pointer;
}

.proHomeSection1Yaka {
    font-family: 'raleway_black', Arial, sans-serif;
}

.proHomeSection1Club {
    font-family: 'raleway_regular', Arial, sans-serif;
}

.proHomeSection1Register {
    float: right;
    font-family: 'raleway_semi_bold', Arial, sans-serif;
    font-size: 15px;
    margin-right: 27px;
    line-height: 40px;
    cursor: pointer;
}

.proHomeSection1Login {
    float: right;
    font-family: 'raleway_semi_bold', Arial, sans-serif;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
}

.proHomeSection1CustomerLink {
    float: right;
    height: 40px;
    font-family: 'raleway_semi_bold', Arial, sans-serif;
    font-size: 13px;
    border: solid white 1px;
    border-radius: 4px;
    padding-top: 11px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.proHomeSection1CustomerLink:hover {
    background: rgba(255, 255, 255, 0.24);
}

.proHomeSection1CustomerLink:active {
    background: rgba(255, 255, 255, 0.16);
}

.proHomeSection1Title {
    margin-top: 140px;
    font-family: 'raleway_light', Arial, sans-serif;
    font-size: 43px;
    line-height: 1.2;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1SubTitle {
    margin-top: 45px;
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1Buttons {
    margin-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1AboutButton {
    margin-left: 20px;
}

.proHomeSection2 {
    height: 1435px;
    color: black;
    background-color: white;
    text-align: center;
}

.proHomeSection2Title {
    font-family: 'montserrat_light', Arial, sans-serif;
    font-size: 24px;
    margin-top: 40px;
    color: #332C3E;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2SubTitle {
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 24px;
    color: #332C3E;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2Quote {
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 18px;
    color: #626262;
    margin-top: 12px;
}

.proHomeSection2Items {
    margin-top: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2SecondRow {
    margin-top: 60px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2ItemTitle {
    font-family: 'montserrat_regular', Arial, sans-serif;
    margin-top: 20px;
    font-size: 14px;
}

.proHomeSection2ItemDescription {
    margin-top: 7px;
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 14px;
    color: #9B9B9B;
}

.proHomeSection2Separator {
    background: #E6E6E6;
    height: 1px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.proHomeSection2RegisterTitle {
    font-family: 'raleway_light', Arial, sans-serif;
    font-size: 32px;
}

.proHomeSection2RegisterExplain {
    text-align: left;
    margin-top: 25px;
}

.proHomeSection2RegisterExplainTitle {
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.proHomeSection2RegisterExplainDesc {
    font-family: 'raleway_medium', Arial, sans-serif;
    font-size: 14px;
    color: #9B9B9B;
    margin-top: 12px;
}

.proHomeSection2RegisterForm {
    margin-top: 40px;
}

.proHomeSection2RegisterFormTitle {
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 25px;
}

.proHomeSection2RegisterSeparator {
    font-family: 'raleway_medium', Arial, sans-serif;
    font-size: 12px;
    margin-top: 14px;
}

.proHomeSection2RegisterSocialConfirm {
    margin-bottom: 6px;
    font-size: 15px;
}

.proHomeSection2RegisterFacebook {
    margin-top: 8px;
    background: #6076ba;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
    margin-right: 2%;
    width: 48% !important;
    cursor: pointer;
    font-family: 'raleway_medium', Arial, sans-serif;
}

.proHomeSection2RegisterGoogle {
    margin-top: 8px;
    background: #d24922;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
    margin-left: 2%;
    width: 48% !important;
    cursor: pointer;
    font-family: 'raleway_medium', Arial, sans-serif;
}

.proHomeSection2RegisterSeparator {
    height: 1px;
    background: #E6E6E6;
    margin-top: 12px;
    margin-bottom: 12px;
}

.proHomeSection2RegisterMail {
    font-family: 'raleway_medium', Arial, sans-serif;
    font-size: 12px;
}

.proHomeSection2RegisterImg {
    margin-top: 17px;
}

.proHomeSection2ActivitiesInput {
    width: 100%;
    margin-top: 10px !important;
    height: 40px !important;
    float: left;
}

.proHomeSection2InputError .dropdown-multiselect {
    width: 100%;
    height: 40px !important;
}

.proHomeSection2ActivitiesInput .dropdown-menu {
    width: 100%;
}

.proHomeSection2ActivitiesInput .dropdown-multiselect .dropdown-toggle {
    width: 100%;
    text-align: left;
    height: 40px !important;
}

.proHomeSection2Button {
    margin-top: 15px;
}

.proHomeSection2InputError {
    color: #FDAF00;
    float: left;
    text-align: left;
    width: 100%;
}

.proHomeSection3 {
    height: 613px;
    background: #FDFDFD;
    color: black;
    text-align: center;
}

.proHomeSection3a {
    height: 372px;
}

.proHomeSection3b {
    height: 240px;
    background: #F4F7F8;
}

.proHomeSection3aTitle {
    font-family: 'raleway_light', Arial, sans-serif;
    font-size: 32px;
    line-height: 58px;
    margin-top: 35px;
}

.proHomeSection3aSubTitle {
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 20px;
}

.proHomeSection3aSubSubTitle {
    color: #8D8D8D;
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 19px;
}

.proHomeSection3aFree {
    height: 204px;
    border-top: solid 1px #CFD2D7;
    border-left: solid 1px #CFD2D7;
    border-right: solid 1px #CFD2D7;
}

.proHomeSection3aPaid {
    height: 175px;
    margin-top: 29px;
    background: #EBF0F1;
}

.proHomeSection3aFreeTitle {
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 34px;
    margin-top: 49px;
}

.proHomeSection3aFreeDesc {
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 16px;
    color: #626262;
    margin-top: 34px;
}

.proHomeSection3aPaidTitle {
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 34px;
    margin-top: 20px;
}

.proHomeSection3aPaidSubTitle {
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 14px;
    color: #9B9B9B;
}

.proHomeSection3aPaidDesc {
    font-family: 'raleway_regular', Arial, sans-serif;
    font-size: 16px;
    color: #626262;
    margin-top: 15px;
}

.proHomeSection3bTitle {
    font-family: 'raleway_light', Arial, sans-serif;
    font-size: 32px;
    line-height: 58px;
    margin-top: 35px;
    margin-bottom: 21px;
}

.proHomeSection3bSmallText {
    font-family: 'raleway_medium', Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    margin-top: 40px;
}

.proHomeSection4 {
    height: 170px;
    background: #1E2E40;
    color: white;
    text-align: center;
}

.proHomeSection4Title {
    margin-top: 23px;
    line-height: 53px;
    font-family: 'raleway_semi_bold', Arial, sans-serif;
    font-size: 20px;
}

.proHomeSection4Item {
    cursor: pointer;
}

.proHomeSection5 {
    height: 80px;
    background: #1A2939;
    color: white;
}

.proHomeSection5FooterLeft {
    float: left;
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 13px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.proHomeSection5FooterRegister {
    margin-top: 20px;
    margin-right: 30px;
    line-height: 40px;
    float: right;
    cursor: pointer;
}

.proHomeSection5FooterLogin {
    margin-top: 20px;
    line-height: 40px;
    float: right;
    cursor: pointer;
}

.proHomeSection5FooterGotop {
    margin-top: 20px;
    line-height: 40px;
    float: right;
    cursor: pointer;
}

.halfInput {
    width: 48% !important;
    float: left !important;
}

.halfInput.halfInputRight {
    float: right !important;
}

.form-control {
    margin-top: 15px !important;
    height: 40px !important;
    float: left;
}

.intl-tel-input {
    margin-top: 15px !important;
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
    padding-left: 30px !important;
}

.flag-container {
    top: 20px !important;
    left: 0 !important;
    cursor: pointer;
}

.intl-tel-input .country-list {
    right: 0;
    width: 362px;
    max-height: 285px !important;
    top: 23px;
}
