.view{
  background-color: #f2f4f9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.header{
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.logo{
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 22px;
}

.logo-white{
  float: left;
  margin: 0;
  padding: 0;
}
.Flogo{
  font-weight: bold;
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
  line-height: 80px;
}
.Slogo{
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
  line-height: 80px;
}

.Flogo-white{
  font-weight: bold;
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
  line-height: 80px;
  color: white;
}
.Slogo-white{
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
  line-height: 80px;
  color: white;
}

.page-content{
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
}

/*--------------------------------------- LOGIN -----------------------------*/

.login-content{
  width: 370px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.login-title{
  font-size: 35px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 20px;
}

.facebook-login{
  height: 64px;
  background-color: #6076ba;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.facebook-login > i{
  color: white;
  font-size: 25px;
  margin-left: 22px;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}

.facebook-login > p{
  margin: 0;
  display: inline-block;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 64px;
  vertical-align: middle;
  margin-left: 56px;
}

.google-login{
  height: 64px;
  background-color: #d24922;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.google-login > i{
  color: white;
  font-size: 25px;
  margin-left: 22px;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}

.google-login > p{
  margin: 0;
  display: inline-block;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 64px;
  vertical-align: middle;
  margin-left: 56px;
}

.or{
  position: relative;
  height: 56px;
}

.or > hr {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  border-top: 1px solid #cacaca;
}

.or > p{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  height: 56px;
  line-height: 56px;
  width: 60px;
  background-color: #f2f4f9;
  text-align: center;
  color: #a3a7ab;
}

.login-input{
  height: 90px;
  width: 100%;
  background-color: white;
  border: 1px solid #d4d4d4;
}

.login-input > label{
  color: #697791;
  font-size: 15px;
  margin-top: 23px;
  margin-left: 26px;
}

.login-input > input{
  display: block;
  border: none;
  width: 100%;
  height: 39px;
  padding-left: 26px;
}

.login-input > input {
    outline: none;
}

.remember{
  height: 74px;
}

.remember > label{
  color:#3e474f;
  line-height: 74px;
  vertical-align: middle;
}

.addon-custom{
  border: none!important;
  background: transparent!important;
}

.middle{
  position: relative;
  top: 50%;
  transform:translate(0, -50%);
}

.login-button{
  border: none;
  width: 100%;
  height: 64px;
  background-color: #00aded;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.login-sign{
  height: 56px;
}
.login-sign > p{
  text-align: center;
  color: #b0b0b0;
}
.login-sign a{
  color: #00aded;
}
/*---------------------------------------------------------------------------*/

/*----------------------------------- REGISTER ------------------------------*/
.terms{
  text-align: center;
}
.space-bottom{
  margin-bottom: 50px;
}

.border-green{
  border: 1px solid #9bec9d!important;
}
.border-red{
  border: 1px solid #d0021b!important;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------MENU -------------------------------------*/

.menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #2f313a;
  z-index: 1;
}
.content-slide{
  top: 80px;
  position: fixed;
  left:300px;
  height: calc(100% - 80px);
  width: calc(100% - 300px);
  background-color: #edeff5;
}

.header-menu{
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 300px;
}

.center{
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.menu-content{
  position: absolute;;
  top: 80px;
  height: calc(100% - 80px);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.menu-content > li{
  list-style: none;
  height: 80px;
  line-height: 80px;
  color: #8f94a3;
  vertical-align: middle;
  width: 100%;
  padding-left: 15px;
}

.menu-content > li > i{
  color: #8f94a3;
  font-size: 15px;
  margin-right: 15px;
}

.menu-content > li:hover{
  background-color: #222328;
  color: white;
  border-left: 2px solid #3ecbe2;
  padding-left: 13px;
}

.menu-content > li:hover > i{
  color: white;
}

.active-menu{
  background-color: #222328;
  color: white!important;
  border-left: 2px solid #3ecbe2;
  padding-left: 13px!important;
}

.active-menu > i{
  color: white!important;
}

/*----------------------------------------------------------------------------*/

/*--------------------------------- CONTENT ----------------------------------*/

@font-face {
    font-family: "Gotham Pro Medium";
    src: url('/fonts/GothaProMed.otf');
}

@font-face {
    font-family: "Gotham Pro Regular";
    src: url('/fonts/GothaProReg.otf');
}

.title{
  /*font-family: 'Gotham Pro Medium';*/
  font-size: 25px;
  line-height: 80px;
  vertical-align: middle;
  margin-left: 20px;
}

.box{
  float: left;
  width: 50%;
  height: 50%;
  min-width: 300px;
  min-height: 300px;
  padding: 40px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  position: relative;
}
.box:nth-child(1){
  padding-bottom: 20px;
  padding-right: 20px;
}
.box:nth-child(2){
  padding-bottom: 20px;
  padding-left: 20px;
}
.box:nth-child(3){
  padding-top: 20px;
  padding-right: 20px;
}
.box:nth-child(4){
  padding-top: 20px;
  padding-left: 20px;
}

.box-content{
  background-color: white;
  height: 100%;
  width: 100%;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  position: relative;
}

.no-margin{
  margin:0!important;
}

.header-box{
  padding-left: 20px;
  height: 60px;
  border-bottom: 1px solid #eef0f6;
  line-height: 60px;
  vertical-align: middle;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;

}
.header-box > p{
  font-size: 15px;
}

.is-empty{
  position: relative;;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.is-empty > p{
  text-align: center;
  font-size: 25px;
  height: 60px;
  margin-bottom: 20px;
}
.box-body{
  position: relative;
  height: calc(100% - 61px);
}

.post-job-button{
  border: none;
  width: 50%;
  height: 64px;
  background-color: #00aded;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}
