<section class="view">
    <div class="header-menu">
        <div class="title">
            Dashboard2
        </div>
        <a ui-sref="Login">
            <div class="logout">
                Log Out
            </div>
        </a>
    </div>
    <div class="page-content">
        <div class="menu">
            <div class="logo-white center">
                <div class="Flogo-white">
                    Yaka
                </div>
                <div class="Slogo-white">
                    Club
                </div>
            </div>
            <ul class="menu-content">
                <a ui-sref="Dashboard">
                    <li><i class="fa fa-tachometer"></i>OVERVIEW</li>
                </a>
                <a ui-sref="Inbox">
                    <li><i class="fa fa-inbox"></i>INBOX</li>
                </a>
                <a ui-sref="My-Projects">
                    <li class="active-menu"><i class="fa fa-archive"></i>MY PROJECTS</li>
                </a>
                <a ui-sref="My-Places">
                    <li><i class="fa fa-map-marker"></i>MY PLACES</li>
                </a>
                <a ui-sref="My-Pros">
                    <li><i class="fa fa-users"></i>MY PROS</li>
                </a>
            </ul>
        </div>
        <div class="content-slide">
            <div ng-controller="DashboardMapController" class="col-sm-8 dashboardMap">
                <ng-include src="'partials/dashboardMap.html'"></ng-include>
            </div>
            <div ng-controller="DashboardListController" class="col-sm-4 hidden-xs">
                <ng-include src="'partials/dashboardList.html'"></ng-include>
            </div>
        </div>
    </div>
</section>
