<section class="view">
    <div class="header-menu">
        <ng-include src="'partials/menuHamburger.html'"></ng-include>
        <div class="title">
            Dashboard Pro
        </div>
        <a ui-sref="login">
            <div class="logout">
                Log Out
            </div>
        </a>
    </div>
    <div class="page-content">
        <ng-include src="'partials/menu.html'"></ng-include>
        <div class="content-slide">
            <div ng-controller="DashboardMapController" class="col-sm-8 dashboardMap">
                <ng-include src="'partials/dashboardMap.html'"></ng-include>
            </div>
            <div ng-controller="DashboardListController" class="col-sm-4 hidden-xs">
                <ng-include src="'partials/dashboardList.html'"></ng-include>
            </div>
        </div>
    </div>
</section>
