<section class="view">
  <div class="header-menu">
    <div class="title">
      MY DASHBOARD
    </div>
  </div>
  <div class="page-content">
    <div class="menu">
      <div class="logo-white center">
        <div class="Flogo-white">
          Yaka
        </div>
        <div class="Slogo-white">
          Club
        </div>
      </div>
      <ul class="menu-content">
        <li><i class="fa fa-tachometer"></i>OVERVIEW</li>
        <li><i class="fa fa-inbox"></i>INBOX</li>
        <li><i class="fa fa-archive"></i>MY PROJECTS</li>
        <li><i class="fa fa-map-marker"></i>MY PLACES</li>
        <li><i class="fa fa-users"></i>MY PROS</li>
      </ul>
    </div>
    <div class="content-slide">
      <div class="box">
        <div class="box-content">
          <div class="header-box">
            <p>
              INBOX
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <div class="header-box">
            <p>
              PROJECTS
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <div class="header-box">
            <p>
              MY PLACES
            </p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-content">
          <div class="header-box">
            <p>
              FAVORITES PRO
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
