
<style type="text/css">
  html, body, #map_canvas {
    height: 70px;
    width: 100%;
    margin: 0px;
  }

  #map_canvas {
    position: relative;
  }

  .angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
</style>
<section class="view">
  <div class="header-menu">
    <ng-include src="'partials/menuHamburger.html'"></ng-include>
    <div class="title">
      MY PROJECTS
    </div>
    <a ui-sref="new-project"><button type="button" class="post-job-projects btn">Post a job</button></a>
    <a ui-sref="login"><div class="logout">
      Log Out
    </div>
  </a>
</div>
<div class="page-content">
  <ng-include src="'partials/menu.html'"></ng-include>
  <div class="content-slide">
    <div class="nav-header no-margin">
      <div class="in-line min-w-44">
        <img src="icons/mdpi/arrow-left.png" alt="" ng-click="vm.prev()"/>
      </div>
      <div class="in-line ml-20">
        <h2 class="no-margin">SELECT YOUR PRO</h2>
        <p>
          {{vm.project.title}}
        </p>
      </div>
    </div>
    <div class="nav-tab">
      <div class="tab" ng-class="{'tab-active': vm.pro}" ng-click="vm.pro = true">
        Proposals
      </div>
      <div class="tab" ng-class="{'tab-active': !vm.pro}" ng-click="vm.pro = false">
        Project
      </div>
    </div>
    <div ng-show="vm.pro">
      <div class="detail-pro-title">
        <div class="in-line">
          ORDERS
        </div>
        <hr>
      </div>
      <div class="detail-pro-message-box" ng-show="!vm.project.proposals || vm.project.proposals.length == 0">
        <p>
          Find all offers made by professionnals interested about your project
        </p>
      </div>
      <div class="detail-pro-title">
        <div class="in-line">
          SUGGESTIONS
        </div>
        <hr class="w-555">
      </div>
      <div class="detail-pro-message-box" ng-show="!vm.project.proposals || vm.project.proposals.length == 0">
        <p>
          Suggested pro that fit your queries
          You can contact them and ask for a quote
        </p>
      </div>
    </div>
    <div class="project-description" ng-show="!vm.pro">
      <div class="row no-margin">
        <div class="col-xs-12">
          <div class="description-action-btn" ng-click="vm.edit()">
            MODIFY
          </div>
          <div class="description-action-btn">
            DELETE
          </div>
          <div class="description-action-btn">
            UNPUBLISH
          </div>
          <div class="description-date">
            Post {{vm.project.published | date:'dd MMMM yyyy'}}
          </div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 ">
          <div id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
          </div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 row no-margin">
          <div class="col-xs-12 description-sub-title">
            Where
            <span class="icon-pen-red" ng-show="vm.editFlag" ng-click="vm.editWhere()"></span>
          </div>
          <div class="col-xs-12 description-sub-text">
            {{vm.project.address.name}}
          </div>

        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 row no-margin">
          <div class="col-xs-12 description-sub-title">
            When
            <span class="icon-pen-red" ng-show="vm.editFlag" ng-click="vm.editWhen()"></span>
          </div>
          <div class="col-xs-12 description-sub-text">
            {{vm.getWhen()}}
          </div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 row no-margin">
          <div class="col-xs-12 description-sub-title">
            Tags
          </div>
          <div class="col-xs-12 description-sub-text">
            {{vm.getTags()}}
          </div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 row no-margin">
          <div class="col-xs-12 description-sub-title">
            Description
            <span class="icon-pen-red" ng-show="vm.editFlag" ng-click="vm.editDescription()"></span>
          </div>
          <div class="col-xs-12 description-sub-text">
            <textarea msd-elastic class="custom-textarea" disabled ng-model="vm.project.description"></textarea>
          </div>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 row no-margin">
          <div class="col-xs-12 description-sub-title">
            Photos / Videos
          </div>
          <div class="col-xs-12 description-sub-text row mb-15">
            <div class="col-xs-3" ng-repeat="media in vm.project.images">
              <span class=" center-middle img-comment" ng-click="media.commentFlag = !media.commentFlag " ng-init="media.commentFlag = false" ng-show="media.description"></span>
              <cl-image public-id="{{media.cloudinaryPublicId}}" format="png" class="center">
                <cl-transformation height="92" width="92" crop="fill"/>
              </cl-image>
              <textarea msd-elastic class="custom-textarea w-100p" disabled ng-model="media.description" ng-show="media.commentFlag"></textarea>
            </div>
            <div class="col-md-3 no-padding"
            ngf-drop="vm.uploadFiles($files)"
            ngf-drag-over-class="dragOverClass($event)"
            ng-model="files"
            ng-multiple="false" >
            <div class="add-img center" ngf-select="uploadFiles($files, $invalidFiles, 0)"
            ngf-accept="'image/*'" ngf-max-size="5MB">
            <img class="center-middle" src="icons/mdpi/ic_new_request.png" alt=""/>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="popUp" ng-show="vm.trashFlag">
  <div class="popUp-container center-middle">
    <div class="popUp-content">
      <h4>Are you sure ? </h4>
      <p>
        It’s generally better to update or to draft a published project.
      </p>
    </div>
    <div class="popUp-footer">
      <div class="row no-margin">
        <div class="col-xs-9 fr" ng-click="vm.deleteProject()">
          Confirm
        </div>
        <div class="col-xs-3 text-center" ng-click="vm.trashFlag = false">
        Cancel
      </div>
    </div>
  </div>
</div>
</div>

<div class="popUp" ng-show="vm.draftFlag">
  <div class="popUp-container center-middle">
    <div class="popUp-content">
      <h4>Are you sure ? </h4>
      <p>
        Your project will be visible only for you, you will not receive anymore proposal (those already received will be invalided).
      </p>
    </div>
    <div class="popUp-footer">
      <div class="row no-margin">
        <div class="col-xs-9 fr" ng-click="vm.transformToDraft()">
          Confirm draft
        </div>
        <div class="col-xs-3 text-center" ng-click="vm.draftFlag = false">
        Keep posted
      </div>
    </div>
  </div>
</div>
</div>
</section>
