<div class="view end">
  <h2 class="text-center">It’s done !</h2>
  <p>
    Thank you - Your enquiry has been sent.
  </p>
  <p>
    Download the app to be notified in real time on new proposal :
  </p>
  <div class="row no-margin w-500 center mb-39">
    <div class="col-xs-6">
      <img class="center" src="icons/mdpi/android.png" alt="GooglePlayStore" />
    </div>
    <div class="col-xs-6">
      <img class="center" src="icons/mdpi/apple.png" alt="AppleStore" />
    </div>
  </div>
  <p>
    Or check your email in the next hours.
  </p>
  <p>
    You will be redirect in :
  </p>
  <div class="center" id="auto-start-false-timer">
    <p class="timer text-center">
      {{vm.countdown}}
    </p>
  </div>
</div>
