<section class="view">
    <div class="homeSection homeSection1">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span>
                </div>
                <div class="homeSection1ProLink" angular-ripple ui-sref="pro-home">
                    ACCES ARTISAN
                </div>
                <div class="homeSection1Login yakaLinkWhite" ui-sref="login">
                    Se connecter
                </div>
                <div class="homeSection1Register yakaLinkWhite" ui-sref="login">
                    S'inscrire
                </div>
            </div>
            <div class="col-xs-12 homeSection1Title">
                Vous cherchez un bon artisan pour vos travaux ?
            </div>
            <div class="col-xs-12 homeSection1SubTitle">
                Découvrez les artisans recommandés par votre entourage et contactez les.
            </div>
            <div class="col-xs-12 homeSection1SubSubTitle">
                Inscrivez-vous dès aujourd’hui et invitez vos amis et artisans à vous rejoindre pour être les premiers à
                utiliser YakaClub dès son lancement, courant Mai.
            </div>
        </div>
    </div>
    <div class="homeSection homeSection2">
        <div class="container">
            <div class="col-xs-12 homeSection2Title">
                Avec YakaClub, partagez et recommandez vos artisans.
            </div>
            <div class="col-xs-12 homeSection2SubTitle">
                Parce que le bouche à oreille reste le meilleur moyen de trouver de bons artisans.
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeTrust.png" alt=""/>

                    <div class="homeSection2ItemTitle">
                        CONFIANCE
                    </div>
                    <div class="homeSection2ItemDescription">
                        Réalisez vos travaux en toute sérénité grâce aux artisans recommandés par votre entourage
                        (voisins, amis, collégues...).
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeConfidentiality.png" alt=""/>

                    <div class="homeSection2ItemTitle">
                        CONFIDENTIALITE
                    </div>
                    <div class="homeSection2ItemDescription">
                        Votre tranquilité est préséervée. Les échanges se font via un chat. Vous décidez quand et quel
                        artisan peut vous contacter.
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeCooption.png" alt=""/>

                    <div class="homeSection2ItemTitle">
                        COOPTATION
                    </div>
                    <div class="homeSection2ItemDescription">
                        L’entraide est récompensée. Grâce à vos recommandations vous aider vos artisans à trouver de
                        nouveaux clients.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection3">
        <div class="container">
            <div class="col-xs-12 homeSection3Items">
                <div class="col-xs-6">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Vous êtes un professionnel ?
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Trouvez de nouveaux clients et passez moins de temps à prospecter.
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemButton yakaButton yakaOrange" angular-ripple>
                        DECOUVREZ NOS SERVICES
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Faites découvrir YakaClub à vos amis
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Augmentez vos chances de trouver de bons artisans et aidez vos amis.
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemButton yakaButton yakaBlue" angular-ripple>
                        INVITEZ VOS AMIS ET VOS ARTISANS
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <span class="homeSection4Item">
                    <img src="icons/mdpi/ic_homeFacebook.png" alt=""/>
                </span>
                <span class="homeSection4Item">
                    <img src="icons/mdpi/ic_homeLinkedin.png" alt=""/>
                </span>
                <span class="homeSection4Item">
                    <img src="icons/mdpi/ic_homeTwitter.png" alt=""/>
                </span>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; YAKACLUB {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterGotop">
                Haut de la page
                <img src="icons/mdpi/ic_homeGoToTop.png" alt=""/>
            </div>
            <div class="homeSection5FooterLogin yakaLinkWhite" ui-sref="login">
                Se connecter
            </div>
            <div class="homeSection5FooterRegister yakaLinkWhite" ui-sref="login">
                S'inscrire
            </div>
        </div>
    </div>
</section>
