<section class="view">
    <div class="homeSection homeSection1">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span>
                </div>
                <div class="homeSection1ProLink" angular-ripple ui-sref="pro-home">
                    ACCES ARTISAN
                </div>
                <div class="homeSection1Register yakaLinkWhite"
                     ng-click="vm.openPopup(false)">
                    S'inscrire
                </div>
                <div class="homeSection1Login yakaLinkWhite"
                     ng-click="vm.openPopup(true)">
                    Se connecter
                </div>
            </div>
            <div class="col-xs-12 homeSection1Title">
                Vous cherchez un bon artisan pour vos travaux ?
            </div>
            <div class="col-xs-12 homeSection1SubTitle">
                Découvrez et contactez les artisans recommandés par votre entourage.
            </div>
            <div class="col-xs-12 homeSection1SubSubTitle">
                Inscrivez-vous dès aujourd’hui et invitez vos amis et artisans à vous rejoindre pour être les premiers à
                utiliser YakaClub dès son lancement, courant Mai.
            </div>
        </div>
    </div>
    <div class="homeSection homeSection2">
        <div class="container">
            <div class="col-xs-12 homeSection2Title">
                Avec YakaClub, partagez et recommandez vos artisans.
            </div>
            <div class="col-xs-12 homeSection2SubTitle">
                Parce que le bouche à oreille reste le meilleur moyen de trouver de bons artisans.
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeTrust.png" alt=""/>

                    <div class="homeSection2ItemTitle">
                        CONFIANCE
                    </div>
                    <div class="homeSection2ItemDescription">
                        Réalisez vos travaux en toute sérénité grâce aux artisans recommandés par votre entourage
                        (voisins, amis, collégues...).
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeConfidentiality.png" alt=""/>

                    <div class="homeSection2ItemTitle">
                        CONFIDENTIALITE
                    </div>
                    <div class="homeSection2ItemDescription">
                        Votre tranquilité est préséervée. Les échanges se font via un chat. Vous décidez quand et quel
                        artisan peut vous contacter.
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeCooption.png" alt=""/>

                    <div class="homeSection2ItemTitle">
                        COOPTATION
                    </div>
                    <div class="homeSection2ItemDescription">
                        L’entraide est récompensée. Grâce à vos recommandations vous aider vos artisans à trouver de
                        nouveaux clients.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection3">
        <div class="container">
            <div class="col-xs-12 homeSection3Items">
                <div class="col-xs-6">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Vous êtes un professionnel ?
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Trouvez de nouveaux clients et passez moins de temps à prospecter.
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemButton yakaButton yakaOrange"
                         ui-sref="pro-home" angular-ripple>
                        DECOUVREZ NOS SERVICES
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Faites découvrir YakaClub à vos amis
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Augmentez vos chances de trouver de bons artisans et aidez vos amis.
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemButton yakaButton yakaBlue"
                         ng-click="vm.openPopup(true)"
                         angular-ripple>
                        INVITEZ VOS AMIS ET VOS ARTISANS
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <span class="homeSection4Item">
                    <img src="icons/mdpi/ic_homeFacebook.png" alt=""/>
                </span>
                <span class="homeSection4Item">
                    <img src="icons/mdpi/ic_homeLinkedin.png" alt=""/>
                </span>
                <span class="homeSection4Item">
                    <img src="icons/mdpi/ic_homeTwitter.png" alt=""/>
                </span>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; YAKACLUB {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterRegister yakaLinkWhite"
                 ng-click="vm.openPopup(false)">
                S'inscrire
            </div>
            <div class="homeSection5FooterLogin yakaLinkWhite"
                 ng-click="vm.openPopup(true)">
                Se connecter
            </div>
        </div>
    </div>
</section>

<div class="yakaPopup" ng-show="vm.showLoginPopup">
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12"
             click-outside="vm.closePopup()">
            <div class="loginPopupTabItem col-xs-6" ng-class="{loginPopupTabItemActive: vm.loginTab}"
                 ng-click="vm.loginTab = true">
                CONNEXION
            </div>
            <div class="loginPopupTabItem col-xs-6" ng-class="{loginPopupTabItemActive: !vm.loginTab}"
                 ng-click="vm.loginTab = false">
                INSCRIPTION
            </div>

            <div ng-if="vm.loginTab">
                <div class="col-xs-6 loginPopupFacebook" ng-click="vm.facebookLogin()"
                     ng-if="!vm.isSocialRegister()" angular-ripple>
                    Facebook
                </div>
                <div class="col-xs-6 loginPopupGoogle" ng-click="vm.googleLogin()"
                     ng-if="!vm.isSocialRegister()" angular-ripple>
                    Google
                </div>

                <input class="form-control" type="text" placeholder="Email" ng-model="vm.loginUser.profile.email"/>

                <input class="form-control" type="password" placeholder="Mot de passe"
                       ng-model="vm.loginUser.password"/>

                <div class="col-xs-12 yakaButton yakaOrange loginPopupButton"
                     ng-class="{yakaDisabled: !vm.loginFormIsValid()}" ng-click="vm.login()"
                     angular-ripple>
                    SE CONNECTER
                </div>
            </div>

            <div ng-if="!vm.loginTab">
                <div class="col-xs-6 loginPopupFacebook" ng-click="vm.facebookPreRegister()"
                     ng-if="!vm.isSocialRegister()" angular-ripple>
                    Facebook
                </div>
                <div class="col-xs-6 loginPopupGoogle" ng-click="vm.googlePreRegister()"
                     ng-if="!vm.isSocialRegister()" angular-ripple>
                    Google
                </div>

                <input class="form-control halfInput" placeholder="Prénom"
                       ng-model="vm.user.profile.firstName"
                       ng-disabled="vm.isSocialRegister()"/>

                <input class="form-control halfInput halfInputRight" placeholder="Nom"
                       ng-model="vm.user.profile.lastName"
                       ng-disabled="vm.isSocialRegister()"/>

                <div class="loginPopupInputError"
                     ng-hide="vm.user.profile.firstName == '' || vm.isNameValid(vm.user.profile.firstName)">
                    Ce prénom n'est pas valide
                </div>

                <div class="loginPopupInputError"
                     ng-hide="vm.user.profile.lastName == '' || vm.isNameValid(vm.user.profile.lastName)">
                    Ce nom n'est pas valide
                </div>

                <input class="form-control" type="email" placeholder="Email" ng-model="vm.user.profile.email"
                       ng-disabled="vm.needToHideEmail()"/>

                <div class="loginPopupInputError"
                     ng-hide="vm.user.profile.email == '' || vm.isEmailValid(vm.user.profile.email)">
                    Cet email n'est pas valide
                </div>

                <input class="form-control" type="password" placeholder="Mot de passe" ng-model="vm.user.password"/>

                <div class="loginPopupInputError"
                     ng-hide="vm.user.password.length == '' ||vm.user.password.length >= 6">
                    Trop court : 6 caractères minimum
                </div>

                <input class="form-control" type="password" placeholder="Confirmation de mot de passe"
                       ng-model="vm.passwordConfirm"/>

                <div class="loginPopupInputError"
                     ng-hide="vm.passwordConfirm == '' || vm.user.password == vm.passwordConfirm">
                    Les mots de passe ne correspondent pas
                </div>

                <div class="col-xs-12 yakaButton yakaOrange loginPopupButton"
                     ng-class="{yakaDisabled: !vm.registerFormIsValid()}" ng-click="vm.loginUser()"
                     angular-ripple>
                    S'INSCRIRE
                </div>
            </div>
        </div>
    </div>
</div>
