<section class="view">
    <div class="col_12 homeSection homeSection1">
        <div class="container">
            <div class="col_12 homeSection1Header">
                <div class="homeSection1YakaClub">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span>
                </div>
                <div class="homeSection1ProLink">
                    ACCES ARTISAN
                </div>
                <div class="homeSection1Login">
                    Se connecter
                </div>
                <div class="homeSection1Register">
                    S'inscrire
                </div>
            </div>
            <div class="col_12 homeSection1Title">
                Vous cherchez un bon artisan pour vos travaux ?
            </div>
            <div class="col_12 homeSection1SubTitle">
                Découvrez les artisans recommandés par votre entourage et contactez les.
            </div>
            <div class="col_12 homeSection1SubSubTitle">
                Inscrivez-vous dès aujourd’hui et invitez vos amis et artisans à vous rejoindre pour être les premiers à
                utiliser YakaClub dès son lancement, courant Mai.
            </div>
        </div>
    </div>
    <div class="col_12 homeSection homeSection2">
        <div class="container">
            <div class="col_12 homeSection2Title">
                Avec YakaClub, partagez et recommandez vos artisans.
            </div>
            <div class="col_12 homeSection2SubTitle">
                Parce que le bouche à oreille reste le meilleur moyen de trouver de bons artisans.
            </div>
            <div class="row">
                <div class="col_4">
                    Coucou1
                </div>
                <div class="col_4">
                    Coucou2
                </div>
                <div class="col_4">
                    Coucou3
                </div>
            </div>
        </div>
    </div>
    <div class="col_12 homeSection homeSection3">
        <div class="container">

        </div>
    </div>
    <div class="col_12 homeSection homeSection4">
        <div class="container">

        </div>
    </div>
    <div class="col_12 homeSection homeSection5">
        <div class="container">

        </div>
    </div>
</section>
