<section class="view">
  <div class="header">
    <div class="logo">
      <div class="Flogo">
        Yaka
      </div>
      <div class="Slogo">
        Club
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="login-content">
      <p class="login-title">
        Log in
      </p>
      <div class="facebook-login" ng-click="FLogin()">
        <i class="fa fa-facebook"></i>
        <p>
          Log in with Facebook
        </p>
      </div>
      <div class="google-login" ng-click="authenticate('google')">
        <i class="fa fa-google-plus"></i>
        <p>
          Log in with Google
        </p>
      </div>
      <div class="or">
        <hr>
        <p>
          OR
        </p>
      </div>
      <div class="login-input" ng-class="{'login-error': error.email.flag}">
        <label>Email</label>
        <input type="text" name="login" placeholder="Your email address" ng-model="email" ng-keyup="pressEnter($event)">
      </div>
      <p class="error center" ng-show="error.email.flag">
        {{error.email.message}}
      </p>
      <div class="login-input" ng-class="{'login-error': error.password.flag}">
        <label>Password</label>
        <input type="password" name="login" placeholder="Your password" ng-model="password" ng-keyup="pressEnter($event)">
      </div>
      <p class="error center" ng-show="error.password.flag">
        {{error.password.message}}
      </p>
      <button type="button" name="login" class="login-button" ng-click="login()">Log in</button>
      <div class="or">
        <hr>
      </div>
      <div class="login-sign">
        <p>
          Forgot password? <a >Recover password</a>
        </p>
        <p>
          Don't have an account yet? <a ui-sref="register">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</section>
