<section class="view">
    <div class="proHomeSection proHomeSection1">
        <div class="container proHomeSection1Container">
            <div class="col-xs-12 proHomeSection1Header">
                <div class="proHomeSection1YakaClub" ui-sref="pro-Home">
                    <span class="proHomeSection1Yaka">YAKA</span><span class="proHomeSection1Club">CLUB</span>
                </div>
                <div class="proHomeSection1CustomerLink" angular-ripple ui-sref="home">
                    ACCES PARTICULIER
                </div>
                <div class="proHomeSection1Login yakaLinkWhite" ui-sref="login">
                    Se connecter
                </div>
                <div class="proHomeSection1Register yakaLinkWhite" ui-sref="login">
                    S'inscrire
                </div>
            </div>
            <div class="col-xs-8 proHomeSection1Title">
                Developpez votre réseau, trouvez de nouveaux clients.
            </div>
            <div class="col-xs-8 proHomeSection1SubTitle">
                80% des clients utilisent le mobile et internet pour préparer leurs futurs chantiers, mais ils préfèrent
                toujours faire confiance
                à un artisan qui leur est recommandé.
            </div>
            <div class="col-xs-12 proHomeSection1Buttons">
                <div class="col-xs-3 proHomeSection1RegisterButton yakaButton yakaOrange" angular-ripple>
                    S'INSCRIRE
                </div>
                <div class="col-xs-3 proHomeSection1AboutButton yakaButton yakaBorderWhite" angular-ripple>
                    EN SAVOIR PLUS
                </div>
            </div>
        </div>
    </div>
    <div class="proHomeSection proHomeSection2">
        <div class="container">
            <div class="col-xs-offset-1 col-xs-10 proHomeSection2Title">
                De nombreux sites vous promettent des chantiers en vous vendant des contacts…
            </div>
            <div class="col-xs-12 proHomeSection2SubTitle">
                En quoi sommes nous différents ?
            </div>
            <div class="col-xs-12 proHomeSection2Quote">
                «Le bouche à oreille reste le meilleur moyen pour trouver de nouveaux chantiers»
            </div>
            <div class="col-xs-12 proHomeSection2Items">
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeTrust.png" alt=""/>

                    <div class="proHomeSection2ItemTitle">
                        RESEAU DE CONFIANCE
                    </div>
                    <div class="proHomeSection2ItemDescription">
                        A la fin de chaque chantier, votre client vous recommande auprès de son réseau (amis, famille,
                        collègues)
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeOpportunities.png" alt=""/>

                    <div class="proHomeSection2ItemTitle">
                        RESEAU D’OPPORTUNITES
                    </div>
                    <div class="proHomeSection2ItemDescription">
                        Vos anciens clients ou leurs amis ont des travaux à réaliser, vous en êtes le premier informé.
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="icons/mdpi/ic_homeAmbassadors.png" alt=""/>

                    <div class="proHomeSection2ItemTitle">
                        RESEAU D’AMBASSADEURS
                    </div>
                    <div class="proHomeSection2ItemDescription">
                        Intégrer la cooptation et les réseaux sociaux dans votre démarche commerciale. Vos clients sont
                        votre meilleure publicité.
                    </div>
                </div>
                <div class="col-xs-12 proHomeSection2SecondRow">
                    <div class="col-xs-4">
                        <img src="icons/mdpi/ic_homeMoney.png" alt=""/>

                        <div class="proHomeSection2ItemTitle">
                            BOOSTEZ VOS REVENUS
                        </div>
                        <div class="proHomeSection2ItemDescription">
                            En 1 click, recevez les offres de dépannage à proximité et générez facilement des rentrées
                            de
                            cash complémentaires.
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <img src="icons/mdpi/ic_homeEarth.png" alt=""/>

                        <div class="proHomeSection2ItemTitle">
                            ASSISTANT PERSONNEL 24/24
                        </div>
                        <div class="proHomeSection2ItemDescription">
                            Sur un chantier ou à domicile, vous avez toujours accès à vos informations (chantiers,
                            clients…).Vous restez toujours informé des nouveaux chantiers dans votre secteur.
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <img src="icons/mdpi/ic_homeCards.png" alt=""/>

                        <div class="proHomeSection2ItemTitle">
                            MAITRISEZ VOS FRAIS
                        </div>
                        <div class="proHomeSection2ItemDescription">
                            Notre système de paiement vous permet de garantir le réglement de vos chantiers mais aussi
                            de
                            proposer une solution simple et rapide à vos clients.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 proHomeSection2Separator">
            </div>

            <div class="col-xs-12 proHomeSection2RegisterTitle">
                Comment ça marche ?
            </div>
            <div class="col-xs-6 proHomeSection2RegisterExplain">
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeOne.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Inscrivez-vous en 5 minutes
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Complétez votre profil, dites nous qui vous êtes, ce que vous faites et le secteur où vous cherchez
                    des chantiers. Vous allez rapidement pouvoir recevoir des offres et développer votre réseau.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeTwo.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Consultez les offres de chantiers et les demandes de dépannages
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Parcourez les offres et répondez aux chantiers qui vous intéressent. Recevez des alertes quand une
                    demande de dépannage ou un chantier de vos contacts nécessite vos compétences.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeThree.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Discutez, proposez un devis et remportez le chantier
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Des questions sur un chantier ? Discutez facilement avec vos clients via notre chat et transmettez
                    votre devis. A vous de jouer pour remporter le contrat.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeFour.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Développez votre réseau et obtenez de nouveaux chantiers
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    De la qualité de votre travail dépendra le développement de votre réseau. Chaque client satisfait
                    vous recommande à ses amis pour leurs futurs travaux
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-1 proHomeSection2RegisterForm">

                <div class="col-xs-12 proHomeSection2RegisterFormTitle">
                    Inscription gratuite
                </div>

                <div class="col-xs-12 proHomeSection2RegisterFacebookGoogle">
                    <span ng-if="!vm.isSocialRegister()">Inscription via Facebook ou Google</span>

                    <div ng-if="vm.isSocialRegister()">
                        <div class="proHomeSection2RegisterSocialConfirm">
                            Votre compte {{vm.getSocialServiceName()}} sera associé
                        </div>
                        {{vm.newUser.profile.email}}
                    </div>
                </div>

                <div class="col-xs-6 proHomeSection2RegisterFacebook" ng-click="vm.facebookPreRegister()"
                     ng-if="!vm.isSocialRegister()" angular-ripple>
                    Facebook
                </div>
                <div class="col-xs-6 proHomeSection2RegisterGoogle" ng-click="vm.googlePreRegister()"
                     ng-if="!vm.isSocialRegister()" angular-ripple>
                    Google
                </div>

                <div class="col-xs-4 col-xs-offset-4 proHomeSection2RegisterSeparator"/>

                <div class="col-xs-12 proHomeSection2RegisterMail">
                    <span ng-if="!vm.isSocialRegister()">Inscription par email</span>
                    <span
                        ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                </div>

                <input class="form-control halfInput" placeholder="Prénom"
                       ng-model="vm.newUser.professional.firstName"
                       ng-hide="vm.isSocialRegister()"/>

                <input class="form-control halfInput halfInputRight" placeholder="Nom"
                       ng-model="vm.newUser.professional.lastName"
                       ng-hide="vm.isSocialRegister()"/>

                <div class="proHomeSection2InputError"
                     ng-hide="vm.newUser.professional.firstName == '' || vm.isNameValid(vm.newUser.professional.firstName)">
                    Ce prénom n'est pas valide
                </div>

                <div class="proHomeSection2InputError"
                     ng-hide="vm.newUser.professional.lastName == '' || vm.isNameValid(vm.newUser.professional.lastName)">
                    Ce nom n'est pas valide
                </div>

                <input id="proRegisterPhone" class="form-control" placeholder="Mobile"
                       ng-model="vm.phoneNumber"/>

                <div class="proHomeSection2InputError"
                     ng-hide="vm.phoneNumber == '' || vm.isPhoneNumberValid">
                    Cet numéro de téléphone n'est pas valide
                </div>

                <input class="form-control" type="email" placeholder="Email" ng-model="vm.newUser.profile.email"
                       ng-hide="vm.needToHideEmail()"/>

                <div class="proHomeSection2InputError"
                     ng-hide="vm.newUser.profile.email == '' || vm.isEmailValid(vm.newUser.profile.email)">
                    Cet email n'est pas valide ({{vm.newUser.profile.email}})
                </div>

                <input class="form-control" type="password" placeholder="Mot de passe" ng-model="vm.newUser.password"/>

                <div class="proHomeSection2InputError"
                     ng-hide="vm.newUser.password.length == '' ||vm.newUser.password.length >= 6">
                    Trop court : 6 caractères minimum
                </div>

                <input class="form-control" type="password" placeholder="Confirmation de mot de passe"
                       ng-model="vm.passwordConfirm"/>

                <div class="proHomeSection2InputError"
                     ng-hide="vm.passwordConfirm == '' || vm.newUser.password == vm.passwordConfirm">
                    Les mots de passe ne correspondent pas
                </div>

                <div class="proHomeSection2ActivitiesInput" ng-dropdown-multiselect=""
                     options="vm.multiChoiceInput.options"
                     selected-model="vm.multiChoiceInput.selected"
                     extra-settings="vm.multiChoiceInput.settings"
                     translation-texts="vm.multiChoiceInput.translation"
                     checkboxes="true"></div>

                <input
                    vs-google-autocomplete="vm.autocomplete.options"
                    vs-autocomplete-validator class="form-control"
                    placeholder="Ville"
                    ng-model="vm.newUser.professional.company.address.address"/>

                <div class="col-xs-12 yakaButton yakaOrange proHomeSection2Button"
                     ng-class="{yakaDisabled: !vm.formIsValid()}" ng-click="vm.registerUser()"
                     angular-ripple>
                    S'INSCRIRE
                </div>
            </div>
        </div>
    </div>
    <div class="proHomeSection proHomeSection3">
        <div class="proHomeSection3a">
            <div class="container">
                <div class="col-xs-12 proHomeSection3aTitle">
                    SERVICES ET TARIFS
                </div>
                <div class="col-xs-12 proHomeSection3aSubTitle">
                    Testez notre service, c’est gratuit !
                </div>
                <div class="col-xs-12 proHomeSection3aSubSubTitle">
                    Dans quelques mois, nous vous proposerons un abonnement simple et sans engagement !
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-6 proHomeSection3aFree">
                        <div class="col-xs-12 proHomeSection3aFreeTitle">
                            GRATUIT
                        </div>
                        <div class="col-xs-12 proHomeSection3aFreeDesc">
                            Pendant toute la durée de la beta
                        </div>
                    </div>
                    <div class="col-xs-6 proHomeSection3aPaid">
                        <div class="col-xs-12 proHomeSection3aPaidTitle">
                            49€
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidSubTitle">
                            HT/mois
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidDesc">
                            Accès à tous les services
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proHomeSection3b">
            <div class="container">
                <div class="col-xs-12 proHomeSection3bTitle">
                    Vite ! Inscrivez-vous maintenant et essayez YakaClub
                </div>
                <div class="col-xs-6 col-xs-offset-3 yakaButton yakaOrange" angular-ripple>
                    S’INSCRIRE GRATUITEMENT
                </div>
                <div class="col-xs-12 proHomeSection3bSmallText">
                    Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données
                    qui vous concernent (art. 34 de la loi "Informatique et Libertés").
                    Pour l'exercer, veuillez nous contacter via notre formulaire de contact. Vos informations sont
                    protégées par certificat SSL 128-bit.
                </div>
            </div>
        </div>
    </div>
    <div class="proHomeSection proHomeSection4">
        <div class="container">
            <div class="proHomeSection4Title">
                Suivez-nous !
            </div>
            <div class="proHomeSection4Items">
                <span class="proHomeSection4Item">
                    <img src="icons/mdpi/ic_homeFacebook.png" alt=""/>
                </span>
                <span class="proHomeSection4Item">
                    <img src="icons/mdpi/ic_homeLinkedin.png" alt=""/>
                </span>
                <span class="proHomeSection4Item">
                    <img src="icons/mdpi/ic_homeTwitter.png" alt=""/>
                </span>
            </div>
        </div>
    </div>
    <div class="proHomeSection proHomeSection5">
        <div class="container proHomeSection5Footer">
            <div class="proHomeSection5FooterLeft">
                <div class="proHomeSection5FooterLeftCopyright">
                    &copy; YAKACLUB {{vm.currentYear}}
                </div>
                <div class="proHomeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="proHomeSection5FooterGotop">
                Haut de la page
                <img src="icons/mdpi/ic_homeGoToTop.png" alt=""/>
            </div>
            <div class="proHomeSection5FooterLogin yakaLinkWhite" ui-sref="login">
                Se connecter
            </div>
            <div class="proHomeSection5FooterRegister yakaLinkWhite" ui-sref="login">
                S'inscrire
            </div>
        </div>
    </div>
</section>
