<section class="view">
    <div class="header-menu">
        <ng-include src="'partials/menuHamburger.html'"></ng-include>
        <div class="title">
            Dashboard Pro
        </div>
        <a ui-sref="login">
            <div class="logout">
                Log Out
            </div>
        </a>
    </div>
    <div class="page-content">
        <ng-include src="'partials/menu.html'"></ng-include>
        <div class="content-slide">
            <div ng-controller="ProDashboardMapController as vm" class="col-sm-8 proDashboardMap">
                <ng-include src="'partials/proDashboardMap.html'"></ng-include>
            </div>
            <div ng-controller="ProDashboardListController as vm" class="col-sm-4 hidden-xs proDashboardList">
                <ng-include src="'partials/proDashboardList.html'"></ng-include>
            </div>
        </div>
    </div>
</section>
