<section class="view">
    <div class="header-menu">
        <ng-include src="'partials/menuHamburger.html'"></ng-include>
        <div class="title">
            Dashboard Pro
        </div>
        <div class="filters visible-xs" ng-click="vm.showFilters = !vm.showFilters" angular-ripple>
            Filter
        </div>
        <a class="hidden-xs" ui-sref="login">
            <div class="logout">
                Log Out
            </div>
        </a>
    </div>
    <div class="page-content">
        <ng-include src="'partials/menu.html'"></ng-include>
        <div class="content-slide proDashboard">

            <div class="col-xs-6 col-xs-offset-6 col-sm-12 col-sm-offset-0 proDashboardFilters"
                 ng-class="{'proDashboardFiltersVisible':vm.showFilters}">
                <div class="proDashboardFilterHeader visible-xs">
                    <div class="line"></div>
                    <span class="text">Project Type</span>
                </div>

                <div class="proDashboardFilterChoice visible-xs" ng-class="{'selected': vm.type == 'all'}" ng-click="vm.changedType('all')" angular-ripple>
                    All
                </div>
                <div class="proDashboardFilterChoice visible-xs" ng-class="{'selected': vm.type == 'emergency'}" ng-click="vm.changedType('emergency')" angular-ripple>
                    Emergencies
                </div>
                <div class="proDashboardFilterChoice visible-xs" ng-class="{'selected': vm.type == 'small'}" ng-click="vm.changedType('small')" angular-ripple>
                    Jobs
                </div>
            </div>

            <div class="proDashboardOverlay visible-xs" ng-click="vm.showFilters = false"
                 ng-class="vm.showFilters ? 'overlayVisible' : 'overlayInvisible'"></div>

            <div ng-controller="ProDashboardMapController as vm" class="col-xs-12 col-sm-8 proDashboardMap"
                 ng-class="{'proDashboardMapWithTopView':$parent.vm.showTopView}"
                 ng-show="!showList">
                <ng-include src="'partials/proDashboardMap.html'"></ng-include>
            </div>
            <div ng-controller="ProDashboardListController as vm" class="col-xs-12 col-sm-4 proDashboardList"
                 ng-class="{'proDashboardListWithTopView':$parent.vm.showTopView}"
                 ng-show="showList">
                <ng-include src="'partials/proDashboardList.html'"></ng-include>
            </div>
            <div class="col-xs-12 proDashboardBottomButton visible-xs" ng-click="showList = !showList" angular-ripple>
                {{ showList ? "Show Map" : "Show List" }}
            </div>
        </div>
    </div>
</section>
