<!-- Custom map controls -->

<script type="text/ng-template" id="homeControl.tpl.html">
    <div class="mapHomeControl" ng-show="vm.showHomeControl" showHomeControl ng-click="vm.homeControlClicked()">Home
    </div>
</script>

<!-- End Custom map controls -->

<div class="mapWorkArea" ng-class="{'mapWorkAreaVisible':vm.showWorkArea}">
    Work Area : {{ vm.showWorkArea }}
</div>

<ui-gmap-google-map center='vm.map.center' pan='true' zoom='vm.map.zoom' options="vm.mapOptions" bounds="vm.map.bounds"
                    events="vm.map.events">
    <ui-gmap-map-control template="homeControl.tpl.html" position="left-top"
                         controller="ProDashboardMapHomeControlController as vm"
                         index="-1"></ui-gmap-map-control>
    <ui-gmap-markers models="vm.leads" coords="'address'" icon="'icon'" click="vm.onMarkerClicked"></ui-gmap-markers>
</ui-gmap-google-map>

<div class="mapFooter col-xs-12 transformableBottomView"
     ng-class="{'mapFooterVisible':vm.showSlider}">
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-controls rn-carousel-index="vm.carrouselSelectedItem.index" rn-carousel-buffered>
            <li ng-repeat="lead in vm.leads track by lead.id" ng-class="'id-' + lead.id">
                <div class="proDashboardMapItem" angular-ripple>
                    <div class="proDashboardMapItemLogo">
                        LOGO
                    </div>
                    <div class="proDashboardMapItemTitle">
                        {{lead.title}}
                    </div>
                    <div class="proDashboardMapItemAddress">
                        {{lead.address.name}}
                    </div>
                    <div class="proDashboardMapItemDistanceLogo">
                        logo
                    </div>
                    <div class="proDashboardMapItemDistance">
                        5 km
                    </div>
                    <div class="proDashboardMapItemChrono">
                        23hrs
                    </div>
                    <div class="proDashboardMapItemLeadType">
                        Contact
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
