<div class="proDashboardListItem" ng-repeat="lead in vm.leads track by lead.id" angular-ripple>
    <div class="proDashboardListItemLogo">
        LOGO
    </div>
    <div class="proDashboardListItemTitle">
        {{lead.title}}
    </div>
    <div class="proDashboardListItemAddress">
        {{lead.address.name}}
    </div>
    <div class="proDashboardListItemDistanceLogo">
        logo
    </div>
    <div class="proDashboardListItemDistance">
        5 km
    </div>
    <div class="proDashboardListItemChrono">
        23hrs
    </div>
    <div class="proDashboardListItemLeadType">
        Contact
    </div>
</div>