<style type="text/css">
    #map_canvas {
        height: 70px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>
<section class="view" ng-cloak>
    <div class="header-menu">
        <ng-include src="'partials/menuHamburger.html'"></ng-include>
        <div class="in-line min-w-44 arrow-nav" ui-sref="my-projects">
            <img src="icons/mdpi/arrow-left.png" class="center-middle"/>
        </div>
        <div class="title no-line">
            {{vm.project.title}}
            <p class="sub-title-proposal">
                Proposals
            </p>
        </div>
        <a ui-sref="login">
            <div class="logout">
                Log Out
            </div>
        </a>
    </div>

    <div class="page-content">
        <div class="content-slide">
            <div>

                <div>
                    <div class="detail-pro-title">
                        <div class="in-line">
                            OFFERS
                        </div>
                        <hr>
                    </div>
                    <div class="proposal" ng-repeat="p in vm.project.proposals" ng-click="vm.selectProposal(p)">
                        <div class="row no-margin no-padding">
                            <div class="col-xs-12 row">
                                <div class="proposals-profile-pict">
                                    <cl-image public-id="{{p.professional.avatar.cloudinaryPublicId}}"
                                              secure="true"
                                              class="img-circle" format="png">
                                        <cl-transformation height="70" width="70" crop="fill"/>
                                    </cl-image>
                                    <div class="img-default" ng-if="!p.professional.avatar.cloudinaryPublicId">
                                        {{p.professional.firstName[0] | uppercase}} {{p.professional.lastName[0] |
                                        uppercase}}
                                    </div>
                                </div>
                                <div class="proposals-info">
                                    <div class="proposals-name">
                                        <span ng-if="p.status == 'START'">{{p.professional.firstName}} {{p.professional.lastName}}</span><span
                                        ng-if="p.status == 'SELECTED'">{{p.professional.company.name}}</span>
                                    </div>
                                    <div class="proposals-qualities"><span ng-repeat="q in p.professional.qualities">{{ q.name }} <span
                                        ng-if="!$last"> - </span></span></div>
                                    <div class="pro-title-icon">
                                        <img src="icons/mdpi/ic_like_empty.png" class="icon-like"/>

                                        <div class="likes">
                                            {{p.professional.likes}} <span
                                            ng-if="!p.professional.likes || p.professional.likes == 0"> - </span>
                                        </div>
                                        <img src="icons/mdpi/ic_background_checked.png" class="icon-verification"
                                             ng-if="vm.indexOfObject('BACKGROUND_CHECK', 'name', p.professional.verifications).length > 0"/>
                                        <img src="icons/mdpi/suggestion.png" class="icon-suggestion"/>
                                    </div>
                                </div>
                                <div class="proposals-message-price">
                                    <img src="icons/mdpi/ic_message.png" class="proposals-unread"
                                         ng-if="p.unreadMessages"/>

                                    <div class="proposals-price" ng-if="p.price">
                                        {{p.price}} €
                                    </div>
                                    <div class="proposals-price-type" ng-if="p.price">
                                        {{p.priceType}}
                                    </div>
                                    <div ng-if="!p.price" class="proposals-more-info">
                                        Need more info
                                    </div>
                                </div>


                                <!--<div class="col-xs-2 no-margin no-padding">-->
                                <!--<img src="icons/mdpi/ic_message.png" class="icon-message"-->
                                <!--ng-show="p.unreadMessages"/>-->
                                <!--</div>-->
                                <!--<div class="col-xs-3 no-margin no-padding">-->
                                <!--<div class="pro-price" ng-show="p.price">-->
                                <!--{{p.price}} €-->
                                <!--</div>-->
                                <!--<p class="pro-price-desc" ng-show="p.price">-->
                                <!--{{p.priceType}}-->
                                <!--</p>-->

                                <!--<p class="pro-price-none" ng-show="!p.price || p.price == 0">-->
                                <!--Need more info-->
                                <!--</p>-->
                                <!--</div>-->
                            </div>

                        </div>
                    </div>
                    <div class="detail-pro-message-box"
                         ng-show="!vm.project.proposals || vm.project.proposals.length == 0">
                        <p>
                            Find all offers made by professionnals interested about your project
                        </p>
                    </div>
                    <div class="detail-pro-title">
                        <div class="in-line">
                            SUGGESTIONS
                        </div>
                        <hr class="w-555">
                    </div>
                    <div class="detail-pro-message-box"
                         ng-show="!vm.project.suggestions || vm.project.suggetions.length == 0">
                        <p>
                            Suggested pro that fit your queries
                            You can contact them and ask for a quote
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-r" ng-class="{'top-120': vm.project.proposal || !vm.pro}"
             ng-if="vm.proposal.status != 'SELECTED'">
            <div>
                <div>
                    <div>
                        <h4 class="menu-r-title">My Project</h4>

                        <p class="menu-r-text">
                            {{vm.project.address.name}} - {{vm.project.address.administrativeAreaLevel2 }}
                        </p>

                        <p class="menu-r-text">
                            Echéance : {{vm.getWhen()}}
                        </p>
                        <button type="button" class="button btn btn-menu-sel center" ng-click="vm.projectDetails()">
                            PROJECT DETAILS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
