<section class="view">
  <div class="header">
    <div class="logo">
      <div class="Flogo">
        Yaka
      </div>
      <div class="Slogo">
        Club
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="login-content">
      <p class="login-title">
        Sign up
      </p>
      <div class="facebook-login">
        <i class="fa fa-facebook"></i>
        <p>
          Sign up with Facebook
        </p>
      </div>
      <div class="google-login">
        <i class="fa fa-google-plus"></i>
        <p>
          Sign up with Google
        </p>
      </div>
      <div class="or">
        <hr>
        <p>
          OR
        </p>
      </div>
      <div class="login-input" ng-class="{'login-error': error.first.flag}">
        <label>First name</label>
        <input type="text" name="login" placeholder="Your first name" ng-model="firstName">
      </div>
      <p class="error center" ng-show="error.first.flag">
        {{error.first.message}}
      </p>
      <div class="login-input" ng-class="{'login-error': error.last.flag}">
        <label>Last name</label>
        <input type="text" name="login" placeholder="Your last name" ng-model="lastName">
      </div>
      <p class="error center" ng-show="error.last.flag">
        {{error.last.message}}
      </p>
      <div class="login-input" ng-class="{'login-error': error.birth.flag}">
        <label>Birthday</label>
        <input type="date" name="birthday" ng-model="date">
      </div>
      <p class="error center" ng-show="error.birth.flag">
        {{error.birth.message}}
      </p>
      <div class="login-input" ng-class="{'login-error': error.email.flag}">
        <label>Email</label>
        <input type="text" name="login" placeholder="Your email address" ng-model="email">
      </div>
      <p class="error center" ng-show="error.email.flag">
        {{error.email.message}}
      </p>
      <div class="login-input" ng-class="{'login-error': error.password.flag}">
        <label>Password</label>
        <input type="password" name="login" placeholder="Your password" ng-model="password">
      </div>
      <p class="error center" ng-show="error.password.flag">
        {{error.password.message}}
      </p>
      <div class="login-input" ng-class="{'login-error': error.password2.flag}">
        <label>Password verification</label>
        <input type="password" name="login" placeholder="Password verification" ng-model="password2" ng-class="verification" ng-change="passwordVerification()">
      </div>
      <p class="error center" ng-show="error.password2.flag">
        {{error.password2.message}}
      </p>
      <div class="remember terms">
        <div class="input-group middle">
          <span class="input-group-addon addon-custom">
            <input type="checkbox" aria-label="...">
          </span>
          <label>By clicking Sign up, I agree to the <a >Terms of Use</a>. <a>Privacy and security</a></label>
        </div>
      </div>
      <button type="button" name="login" class="login-button" ng-click="register()">Sign up</button>
      <div class="or">
        <hr>
      </div>
      <div class="login-sign space-bottom">
        <p>
          Are you a home professional? <a >Sign up as Pro</a>
        </p>
        <p>
          Do you already have an account? <a ui-sref="login">Log in</a>
        </p>
      </div>
    </div>
  </div>
</section>
