.homeSection1RecoverPassword {
    padding-bottom: 28px;
}

.chooseNewPasswordTitle {
    font-size: 17px;
    text-align: center;
    margin-top: 18px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (max-width: 549px) {
    .homeSection1RecoverPassword {
        padding-bottom: 0;
    }

    .chooseNewPasswordTitle {
        font-size: 14px;
    }
}

@media (max-width: 549px) {

    .chooseNewPasswordTitle {
        margin-bottom: 7px;
    }
}
