<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Yaka</title>

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/ui_kit.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">

    <link href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css"/>
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome-4.5.0/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="bower_components/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/angular-carousel.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script src="bower_components/sockjs/sockjs.min.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="bower_components/jquery-bridget/jquery-bridget.js"></script>
    <script src="bower_components/ev-emitter/ev-emitter.js"></script>
    <script src="bower_components/desandro-matches-selector/matches-selector.js"></script>
    <script src="bower_components/fizzy-ui-utils/utils.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/intl-tel-input/src/js/intlTelInput.js"></script>

    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script src="bower_components/ng-stomp/dist/ng-stomp.min.js"></script>
    <script src="bower_components/intl-tel-input/src/js/data.js"></script>
    <script src="bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"></script>
    <script src="bower_components/international-phone-number/releases/international-phone-number.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
    <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>


    <!-- We use client cookies to save the user credentials -->
    <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>

    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-8.2.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"></script>

    <!-- Smartsupp Live Chat script START -->
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = 'a1d543cb8d25d242881a7392bb96f16066127f3c';
        window.smartsupp || (function (d) {
            var s, c, o = smartsupp = function () {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = '//www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
    </script>
    <!-- Smartsupp Live Chat script END -->
    <!-- Google Analytics START -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75365130-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Google Analytics END -->
</head>
<body ng-app="Yaka" ng-controller="AppController as app">

<div ng-include src="'partials/menu.html'" ng-if="!menu" ng-controller="AppController"></div>

<div ui-view></div>

<div class="transparentLeftSwipe" ng-swipe-right="app.menu.openMenu()" visible-xs></div>
<div class="alert alert-coord alert-message dark" ng-class="alertMsgStyle" ng-show="alertMsgFlag == true" ng-cloak><span
    class="glyphicon btn-circle" ng-class="alertMsgStylIcon" aria-hidden="true"></span><a class="close"
                                                                                          data-dismiss="alert"
                                                                                          aria-label="close"
                                                                                          ng-click="alertMsgFlag = false">&times;</a>{{alertMessage}}
</div>

<div class="popUp" ng-show="projectFlag" ng-cloak>
    <div class="popUp-container center-middle">
        <div class="popUp-content">
            <h4>Rate your pro </h4>

            <p class="rate-message-thx">
                Merci d'avoir choisi YakaClub pour vos travaux
            </p>

            <div class="rate-box">
                <p class="rate-project-title text-center">
                    {{project.title}}
                </p>

                <p class="rate-link text-center">
                    <a ng-click="viewProposal()" class="cursor-pointer">View details</a>
                </p>
                <cl-image public-id="{{project.professional.avatar.cloudinaryPublicId}}" class="img-circle center"
                          format="png" ng-if="project.professional.avatar.cloudinaryPublicId">
                    <cl-transformation height="80" width="80" crop="fill"/>
                </cl-image>
                <!-- <img class="img-circle avatar-pro" ng-src="{{p.proposals[3].professional.avatarUrl}}" ng-show="p.proposals[3].professional.avatarUrl"/> -->
                <div class="img-default-preview center h-80 w-80"
                     ng-if="!project.professional.avatar.cloudinaryPublicId">
                    {{project.professional.firstName[0] | uppercase}} {{project.professional.lastName[0] | uppercase}}
                </div>
                <p class="rate-info">
                    Would you recommend <b>{{project.professional.firstName}}</b> to your friends ?
                </p>

                <div class="rate-btn center">
                    <div class=" img-circle f-l cursor-pointer" ng-class="{'select-pos': rating.positive == 'true'}"
                         ng-click="rating.positive = 'true'">
                        <img src="icons/mdpi/ic_thumb_up_defult.png" class="rate-like"/>
                    </div>
                    <div class="img-circle f-r cursor-pointer" ng-class="{'select-neg': rating.positive == 'false'}"
                         ng-click="rating.positive = 'false'">
                        <img src="icons/mdpi/ic_thumb_down_defult.png" class="rate-dislike "/>
                    </div>
                </div>
            </div>
            <p class="rate-cat-info">
                Selectionnez 3 crtières qui définissent cet artisan
            </p>

            <div class="row">
                <div class="col-md-6" ng-repeat="c in criteria">
                    <div class="criteria"
                         ng-class="{'criteria-selected-pos': indexOfObject(c, 'name', rating.criteria).length > 0 && rating.positive == 'true', 'criteria-selected-neg': indexOfObject(c, 'name', rating.criteria).length > 0 && rating.positive == 'false'}"
                         ng-click="selectCriteria($index)">
                        {{c}}
                    </div>
                </div>
            </div>
            <p class="error center my-price-error" ng-show="error.criteria.flag">
                {{error.criteria.message}}
            </p>
            <textarea class="textarea-rating" placeholder="Ajouter un commentaire" ng-model="rating.comment"></textarea>
            <button type="button" class="button btn btn-popUp" ng-click="send()" ng-disabled="disable">SEND</button>
        </div>
    </div>
</div>


<!--  -->
<!-- Dependencies -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtq1oFK_ku6rSm9OHM8Q0MlHeOYzOWgr8&libraries=places"></script>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src='scripts/lodash.js'></script>
<script type="text/javascript" src="scripts/jquery.cloudinary.js"></script>
<script type="text/javascript" src="scripts/angular.cloudinary.js"></script>
<script type="text/javascript" src="scripts/angular-route.js"></script>
<script type="text/javascript" src="scripts/angular-storage.js"></script>
<script type="text/javascript" src="scripts/angular-ui-router.js"></script>
<script type="text/javascript" src="scripts/bootstrap.js"></script>
<script type="text/javascript" src="scripts/angular-translate.js"></script>
<script type="text/javascript" src="scripts/angular-sanitize.js"></script>
<script type="text/javascript" src="scripts/angular-animate.js"></script>
<script type="text/javascript" src="scripts/angular-touch.js"></script>
<script type="text/javascript" src="scripts/angular-smooth-scroll.js"></script>
<script type="text/javascript" src="scripts/angular-ap-lateral-slide-menu.js"></script>
<script type="text/javascript" src="scripts/g-autocomplete.js"></script>
<script type="text/javascript" src="scripts/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload-shim.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload.js"></script>
<script type="text/javascript" src='scripts/angular-simple-logger.min.js'></script>
<script type="text/javascript" src='scripts/angular-google-maps.min.js'></script>
<script type="text/javascript" src="scripts/angular-carousel.js"></script>
<script type="text/javascript" src="scripts/angular-ripple.js"></script>
<script type="text/javascript" src="scripts/satellizer.js"></script>
<script type="text/javascript" src="scripts/elastic.js"></script>
<script type="text/javascript" src="scripts/masonry-angular.js"></script>
<script type="text/javascript" src="scripts/moment-with-locales.js"></script>
<script type="text/javascript" src="scripts/angular-moment.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>

<!--  -->
<!-- Controller - Service - ... -->
<script type="text/javascript" src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/animations.js"></script>
<script type="text/javascript" src="js/controllers/appController.js"></script>
<script type="text/javascript" src="js/controllers/homeController.js"></script>
<script type="text/javascript" src="js/controllers/loginController.js"></script>
<script type="text/javascript" src="js/controllers/registerController.js"></script>
<script type="text/javascript" src="js/controllers/dashboardController.js"></script>
<script type="text/javascript" src="js/controllers/myProjectsController.js"></script>
<script type="text/javascript" src="js/controllers/newProjectController.js"></script>
<script type="text/javascript" src="js/controllers/endController.js"></script>
<script type="text/javascript" src="js/controllers/proDashboardController.js"></script>
<script type="text/javascript" src="js/controllers/projectController.js"></script>
<script type="text/javascript" src="js/controllers/proProjectController.js"></script>
<script type="text/javascript" src="js/controllers/projectController.js"></script>
<script type="text/javascript" src="js/controllers/proposalController.js"></script>
<script type="text/javascript" src="js/controllers/proposalsController.js"></script>
<script type="text/javascript" src="js/controllers/proProposalController.js"></script>
<script type="text/javascript" src="js/controllers/profileController.js"></script>
<script type="text/javascript" src="js/controllers/inboxController.js"></script>
<script type="text/javascript" src="js/filters/unique.js"></script>

<script type="text/javascript" src="js/services/serviceAlertMsg.js"></script>
<script type="text/javascript" src="js/services/networkService.js"></script>
<script type="text/javascript" src="js/services/socialNetwork.js"></script>

<script type="text/javascript" src="js/directives/siret.js"></script>

<script type="text/javascript" src="js/controllers/directives/directiveDecimalPlace.js"></script>

</body>
</html>
