<div class="home-footer clearfix">
    <div class="container-fluid homepage-background-color p-0">
        <div class="container">
            <div class="col-xs-12 p-t-30">
                <div class="footer-activity-text">
                    Travaux les plus recherchés
                </div>
                <div class="col-xs-12 no-padding f-s-11 m-t-5">
                    <div class="col-xs-6 col-sm-push-3 col-sm-3 p-0 footer-activity-column">
                        <div class="col-md-6 col-md-offset-3 no-padding">
                            <div>
                                <span class="footer-activity-link pointer"
                                      data-ui-sref="help-activities({activity: 'peinture'})">
                                    Peinture
                                </span>
                            </div>
                            <div>
                                <span class="footer-activity-link pointer"
                                      data-ui-sref="help-activities({activity: 'salle_de_bain'})">
                                    Salle de Bain
                                </span>
                            </div>
                            <div>
                                <span class="footer-activity-link pointer"
                                      data-ui-sref="help-activities({activity: 'cuisine'})">
                                    Cuisine
                                </span>
                            </div>
                            <div>
                                <span class="footer-activity-link pointer"
                                      data-ui-sref="help-activities({activity: 'electricite'})">
                                    Electricité
                                </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'portail_portes_de_garage'})">
                                Portail - Portes de garage
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-push-3 col-sm-3 p-0 footer-activity-column">
                        <div class="col-md-6 col-md-offset-3 no-padding">
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'plomberie'})">
                                Plomberie
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'chauffage_climatisation'})">
                                Chauffage - Climatisation
                            </span>
                            </div>
                            <div>
                                <span class="footer-activity-link pointer"
                                      data-ui-sref="help-activities({activity: 'renovation'})">
                                    Rénovation
                                </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'construction_gros_oeuvre'})">
                                Construction - Gros oeuvre
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-sm-pull-6 p-0 footer-activity-column">
                        <div class="col-md-6 col-md-offset-3 no-padding">
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'revetement_sol'})">
                                Revetement de sol
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'cloison_plafond_combles'})">
                                Cloison - Plafond - Combles
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'isolation'})">
                                Isolation
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'toiture_charpentes'})">
                                Toiture - Charpentes
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'menuiserie_fenetre_veranda'})">
                                Menuiserie Fenetre - Véranda
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 p-0 footer-activity-column">
                        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 no-padding">
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'jardin_terrasse_cloture'})">
                                Jardin Terrasse Cloture
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'conseil_architecte_paysagiste'})">
                                Conseil Architecte Paysagiste
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'serrurerie'})">
                                Serrurerie
                            </span>
                            </div>
                            <div>
                            <span class="footer-activity-link pointer"
                                  data-ui-sref="help-activities({activity: 'menuiserie_compiegne_oise'})">
                                Menuiserie - Oise
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 footer-social-link">
                <div class="m-t-30">
                    <a target="_blank" data-ng-href="https://www.facebook.com/hellocasavox">
                        <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
                    </a>
                    <a target="_blank" data-ng-href="https://plus.google.com/117693956496667116327">
                        <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
                    </a>
                    <a target="_blank" data-ng-href="https://twitter.com/hellocasavox">
                        <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 p-t-20 p-b-20">
                <div class="col-xs-12 t-right no-padding">
                    <a class="pointer pull-right underline c-white"
                       href="http://res.cloudinary.com/yaka/image/upload/casavox/CGU/CGU.pdf" target="_blank">
                        Conditions générales d'utilisation
                    </a>
                    <div class="col-xs-12 p-r-0 pull-right underline c-white">
                        <b>©CasaVox {{vm.currentYear}}</b>, tous droits réservés
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
