<div class="homeSection homeSection5">
    <div class="container homeSection5Footer">
    <div class="homeSection5FooterLeft col-xs-7 col-sm-9">
        <div class="homeSection5FooterLeftCopyright">
            Travaux les plus demandés en ce moment
        </div>
        <div class="homeSection5FooterLeftText col-xs-12 no-padding f-s-10 m-t-5">
            <ul class="list-unstyled">
                <div class="col-xs-12 col-sm-4 p-l-0">
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'peinture'})">
                            Peinture
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'salle_de_bain'})">
                            Salle de Bain
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'cuisine'})">
                            Cuisine
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'electricite'})">
                            Electricité
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'renovation'})">
                            Rénovation
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'jardin_terrasse_cloture'})">
                            Jardin Terrasse Cloture
                        </span>
                    </li>
                </div>
                <div class="col-xs-12 col-sm-4 p-l-0">
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'plomberie'})">
                            Plomberie
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'chauffage_climatisation'})">
                            Chauffage - Climatisation
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'menuiserie_fenetre_veranda'})">
                            Menuiserie Fenetre - Véranda
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'serrurerie'})">
                            Serrurerie
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'conseil_architecte_paysagiste'})">
                            Conseil Architecte Paysagiste
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'construction_gros_oeuvre'})">
                            Construction - Gros oeuvre
                        </span>
                    </li>
                </div>
                <div class="col-xs-12 col-sm-4 p-l-0">
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'revetement_sol'})">
                            Revetement de sol
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'cloison_plafond_combles'})">
                            Cloison - Plafond - Combles
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'isolation'})">
                            Isolation
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'toiture_charpentes'})">
                            Toiture - Charpentes
                        </span>
                    </li>
                    <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'portail_portes_de_garage'})">
                            Portail - Portes de garage
                        </span>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="homeSection5FooterContactUs col-xs-5 col-sm-3">
        <ul class="list-unstyled">
            <li>
                <span class="pointer yakaLinkWhite underline" data-ng-click="app.openHelp()">
                    Contactez nous
                </span>
            </li>
            <li>
                <a class="pointer yakaLinkWhite underline"
                    href="http://res.cloudinary.com/yaka/image/upload/casavox/CGU/CGU.pdf" target="_blank">
                CGU
                </a>
            </li>
            <li>&copy; CasaVox {{vm.currentYear}}</li>
            <li>Tous droits réservés</li>
        </ul>
    </div>
</div>
</div>
