<div class="homeSection homeSection3">
    <div class="container">
        <div class="col-xs-12 homeSection3Items">
            <div class="col-xs-12 col-sm-6 homeSection3Item">
                <div class="col-xs-12 homeSection3ItemTitle">
                    Contactez les meilleurs professionels autour de vous
                </div>
                <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                    Discutez avec les professionels du batiment préférés de vos proches
                </div>
                <button
                    class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1 homeSection3ItemButton btn btn-lg bgm-lightblue waves-effect"
                    data-ng-click="vm.openPopup(false)">Contactez un pro
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 homeSection3Item">
                <div class="col-xs-12 homeSection3ItemTitle">
                    Vous êtes un Pro du bâtiment ?
                </div>
                <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                    Trouvez de nouveaux clients en passant moins de temps à prospecter.
                </div>
                <button
                    class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1 homeSection3ItemButton btn btn-lg bgm-orange waves-effect"
                    ui-sref="pro-home">DECOUVREZ NOS SERVICES
                </button>
            </div>
        </div>
    </div>
</div>
<div class="homeSection homeSection4">
    <div class="container">
        <div class="homeSection4Title">
            Suivez-nous !
        </div>
        <div class="homeSection4Items">
            <a target="_blank" data-ng-href="https://www.facebook.com/hellocasavox">
                <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
            </a>
            <a target="_blank" data-ng-href="https://plus.google.com/117693956496667116327">
                <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
            </a>
            <a target="_blank" data-ng-href="https://twitter.com/hellocasavox">
                <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
            </a>
        </div>
    </div>
</div>
<div class="homeSection homeSection5">
    <div class="container homeSection5Footer">
        <div class="homeSection5FooterLeft col-xs-7 col-sm-9">
            <div class="homeSection5FooterLeftCopyright">
                Travaux les plus demandés en ce moment
            </div>
            <div class="homeSection5FooterLeftText col-xs-12 no-padding f-s-10 m-t-5">
                <ul class="list-unstyled">
                    <div class="col-xs-12 col-sm-4 p-l-0">
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'peinture'})">
                            Peinture
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'salle_de_bain'})">
                            Salle de Bain
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'cuisine'})">
                            Cuisine
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'electricite'})">
                            Electricité
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'renovation'})">
                            Rénovation
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'jardin_terrasse_cloture'})">
                            Jardin Terrasse Cloture
                        </span>
                        </li>
                    </div>
                    <div class="col-xs-12 col-sm-4 p-l-0">
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'plomberie'})">
                            Plomberie
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'chauffage_climatisation'})">
                            Chauffage - Climatisation
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'menuiserie_fenetre_veranda'})">
                            Menuiserie Fenetre - Véranda
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'serrurerie'})">
                            Serrurerie
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'conseil_architecte_paysagiste'})">
                            Conseil Architecte Paysagiste
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'construction_gros_oeuvre'})">
                            Construction - Gros oeuvre
                        </span>
                        </li>
                    </div>
                    <div class="col-xs-12 col-sm-4 p-l-0">
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'revetement_sol'})">
                            Revetement de sol
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'cloison_plafond_combles'})">
                            Cloison - Plafond - Combles
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'isolation'})">
                            Isolation
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'toiture_charpentes'})">
                            Toiture - Charpentes
                        </span>
                        </li>
                        <li>
                        <span class="CasaActivityLink pointer yakaLinkWhite"
                              data-ui-sref="help-activities({activity: 'portail_portes_de_garage'})">
                            Portail - Portes de garage
                        </span>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="homeSection5FooterContactUs col-xs-5 col-sm-3">
            <ul class="list-unstyled">
                <li>
                <span class="pointer yakaLinkWhite underline" data-ng-click="app.openHelp()">
                    Contactez nous
                </span>
                </li>
                <li>
                <span class="pointer yakaLinkWhite underline"
                      href="http://res.cloudinary.com/yaka/image/upload/casavox/CGU/CGU.pdf" target="_blank">
                CGU
                </span>
                </li>
                <li>&copy; CasaVox {{vm.currentYear}}</li>
                <li>Tous droits réservés</li>
            </ul>
        </div>
    </div>
</div>
