<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="app.sidebarToggle.left"
        data-ng-class="{ 'open': app.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>
    <li class="logo">
        <a ui-sref="home" ng-click="app.sidebarStat($event)">
            <div class="titleYakaClub titleYakaClubWhite" ui-sref="contacts">
                <span class="titleYaka">YAKA</span><span class="titleClub">CLUB</span>
                <span class="titleContactsBeta titleYakaClubBetaHeader"
                      ng-class="{'bgm-lightblue': app.isPro(), 'bgm-orange': !app.isPro()}">Beta</span>
            </div>
        </a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-email"></i>
                    <i class="tmn-counts">6</i>
                </a>

                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview">
                        <div class="lv-header">Messages</div>
                        <div class="lv-body">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left"><img class="lv-img-sm" ng-src="img/profile-pics/{{ w.img }}"
                                                                alt=""></div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ w.user }}</div>
                                        <small class="lv-small">{{ w.text }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a class="lv-footer" href="">View All</a>
                    </div>
                </div>
            </li>

            <li class="dropdown yakaHeaderAvatarDropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <yaka-avatar class="yakaHeaderAvatar" size="40" user="app.getUser()"></yaka-avatar>
                    <span class="yakaHeaderFirstname">
                        {{app.getFirstName()}}
                        <i class="zmdi zmdi-caret-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li ng-if="!app.isPro()">
                        <a ui-sref="profile">
                            <i class="zmdi zmdi-face"></i>
                            Mon profil
                        </a>
                    </li>
                    <li ng-if="app.isPro()">
                        <a ui-sref="pro-profile">
                            <i class="zmdi zmdi-face"></i>
                            Mon profil pro
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="app.logout()">
                            <i class="zmdi zmdi-close"></i>
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
