<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
    ></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">
            <div class="block-header">
                <h2>Tableau de bord</h2>
            </div>

            <div class="card">
                <div class="card-header p-b-15">
                    <div class="media">
                        <div class="pull-left">
                            <yaka-avatar size="50" user="app.getUser()"></yaka-avatar>
                        </div>
                        <div class="media-body">
                            <div class="media row">
                                <div class="col-sm-4">
                                    <div class="f-s-16 yakaEllipsis">
                                        {{app.getUser().firstName}} {{app.getUser().lastName}}
                                    </div>
                                    <div class="c-gray">
                                        {{vm.data.contactsNumber}} Contacts - {{vm.data.contactsProNumber}} Pros
                                    </div>
                                    <div class="c-lightblue pointer"
                                         data-ui-sref="contacts">
                                        Développer mon réseau
                                    </div>
                                </div>
                                <div class="col-sm-8 f-s-14 t-right dashboardStats hidden-xs">
                                    <div class="d-i-b c-green m-r-15">
                                        Projets en cours {{vm.data.ongoingProjectsNumber}}
                                    </div>
                                    <div class="d-i-b c-lightblue m-r-15">
                                        Projets finalisés {{vm.data.completedProjectsNumber}}
                                    </div>
                                    <div class="d-i-b c-orange">
                                        Pros recommandés {{vm.data.recommendedProNumber}}
                                    </div>
                                </div>
                                <div class="col-xs-12 m-t-10 f-s-14 dashboardStats visible-xs">
                                    <div class="col-xs-12 no-padding d-i-b c-green">
                                        Projets en cours {{vm.data.ongoingProjectsNumber}}
                                    </div>
                                    <div class="col-xs-12 no-padding d-i-b c-orange">
                                        Pros recommandés {{vm.data.recommendedProNumber}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-right bgm-lightgray">
                    <button class="btn btn-default waves-effect c-lightblue btn-sm m-r-10 m-b-10 m-t-10"
                        data-ui-sref="new-project">
                        Nouveau projet
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-header dashboardCommunityHeader">

                    <i class="zmdi zmdi-hc-2x zmdi-accounts c-black d-i-b hidden-xs"></i>

                    <h2 class="d-i-b">
                        Actualité de la communauté
                        <small>
                            Aidez la communauté, recommandez vos professionels
                        </small>
                    </h2>
                </div>
                <div class="clearfix card-body card-padding">

                    <div class="col-sm-6 dashboardRecommendProject pointer no-padding p-l-10"
                         data-ng-repeat="project in vm.projectsToRecommend">

                        <yaka-avatar size="35" user="project.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText">
                            <div class="yakaEllipsis">
                                <span class="" data-ng-if="project.inContacts">
                                    <i class="zmdi zmdi-accounts c-lightblue"></i>
                                </span>
                                {{project.user.firstName}} {{project.user.lastName}} -
                                {{project.address.locality}}
                            </div>

                            <div class="yakaEllipsis c-lightblue">
                                {{project.title}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
