<style data-ng-if="app.isPro()">
    .customerSupportWidget {
        background: #FF9800;
    }

    .contactsItemNumberActive {
        background: #FF9800;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">
            <div class="block-header visible-xs m-b-5">
                <h2>Développer votre réseau</h2>
                <small>
                    Utilisez le bouche-à-oreille CasaVox !
                </small>
            </div>
            <div class="col-xs-12 no-padding visible-xs m-b-20">
                <button class="col-xs-5 btn btn-default waves-effect c-lightblue btn-xs"
                        data-ng-click="vm.openFriendPopup()">
                    Inviter un ami
                </button>
                <button class="col-xs-5 col-xs-offset-2 btn btn-default waves-effect c-orange btn-xs"
                        data-ng-click="vm.openProPopup()">
                    Inviter un pro
                </button>
            </div>
            <div class="col-xs-12 p-l-0 p-r-0 card hidden-xs">
                <div class="col-xs-12 p-l-0 p-r-0 card-header">
                    <h2 class="col-sm-6">
                        DÉVELOPPEZ VOTRE RÉSEAU
                        <small>
                            Faites fonctionner le bouche-à-oreille !<br>
                            Invitez vos connaissances à vous retrouver sur CasaVox
                        </small>
                    </h2>
                    <div class="col-sm-6 t-right m-t-5">
                        <button class="btn btn-default waves-effect c-lightblue m-r-15"
                                data-ng-click="vm.openFriendPopup()">
                            Inviter un ami
                        </button>
                        <button class="btn btn-default waves-effect c-orange" data-ng-click="vm.openProPopup()">
                            Inviter un pro
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 contactsMain">
                <div class="col-xs-4 contactsMenu"
                     data-ng-class="{'opened': vm.contactsMenuOpened, 'fixed': vm.contactsMenuFixed}"
                     data-ng-swipe-left="vm.contactsMenuOpened = false">
                    <div class="col-sm-12 contactsMenuTitle">
                        CONTACTS
                    </div>
                    <div class="col-xs-12 contactsMenuItem"
                         data-ng-class="{contactsMenuItemActive: vm.currentMenuItem == vm.MENU_ALL}"
                         data-ng-click="vm.currentMenuItem = vm.MENU_ALL; vm.contactsMenuOpened = false">
                        <img class="contactsMenuBlueCircle"
                             data-ng-src="{{app.isPro() && 'img/contactsMenuOrangeCircle.png' || 'img/contactsMenuBlueCircle.png'}}"
                             data-ng-if="vm.currentMenuItem == vm.MENU_ALL">
                        TOUS
                        <div class="contactsItemNumber"
                             data-ng-class="{contactsItemNumberActive: vm.currentMenuItem == vm.MENU_ALL}">
                            {{vm.contacts.length}}
                        </div>
                    </div>
                    <div class="col-xs-12 contactsMenuItem"
                         data-ng-class="{contactsMenuItemActive: vm.currentMenuItem == vm.MENU_PROS}"
                         data-ng-click="vm.currentMenuItem = vm.MENU_PROS; vm.contactsMenuOpened = false">
                        <img class="contactsMenuBlueCircle"
                             data-ng-src="{{app.isPro() && 'img/contactsMenuOrangeCircle.png' || 'img/contactsMenuBlueCircle.png'}}"
                             data-ng-if="vm.currentMenuItem == vm.MENU_PROS">
                    <span data-ng-if="!app.isPro()" class="hidden-xs">
                        PROFESSIONNELS
                    </span>
                    <span data-ng-if="!app.isPro()" class="visible-xs">
                        PRO.
                    </span>
                    <span data-ng-if="app.isPro()">
                        COLLÈGUES
                    </span>

                        <div class="contactsItemNumber"
                             data-ng-class="{contactsItemNumberActive: vm.currentMenuItem == vm.MENU_PROS}">
                            {{vm.prosNumber}}
                        </div>
                    </div>
                    <div class="col-xs-12 contactsMenuItem"
                         data-ng-class="{contactsMenuItemActive: vm.currentMenuItem == vm.MENU_FRIENDS}"
                         data-ng-click="vm.currentMenuItem = vm.MENU_FRIENDS; vm.contactsMenuOpened = false">
                        <img class="contactsMenuBlueCircle"
                             data-ng-src="{{app.isPro() && 'img/contactsMenuOrangeCircle.png' || 'img/contactsMenuBlueCircle.png'}}"
                             data-ng-if="vm.currentMenuItem == vm.MENU_FRIENDS">
                        AMIS
                        <div class="contactsItemNumber"
                             data-ng-class="{contactsItemNumberActive: vm.currentMenuItem == vm.MENU_FRIENDS}">
                            {{vm.friendsNumber}}
                        </div>
                    </div>
                    <div class="col-xs-12 contactsMenuSeparator"></div>
                    <div class="col-xs-12 contactsMenuTitle">
                        INVITATIONS
                    </div>
                    <div class="col-xs-12 contactsMenuItem"
                         data-ng-class="{contactsMenuItemActive: vm.currentMenuItem == vm.MENU_INVIT_RECEIVED}"
                         data-ng-click="vm.currentMenuItem = vm.MENU_INVIT_RECEIVED; vm.contactsMenuOpened = false">
                        <img class="contactsMenuBlueCircle"
                             data-ng-src="{{app.isPro() && 'img/contactsMenuOrangeCircle.png' || 'img/contactsMenuBlueCircle.png'}}"
                             data-ng-if="vm.currentMenuItem == vm.MENU_INVIT_RECEIVED">
                        RECUES
                        <div class="contactsItemNumber"
                             data-ng-class="{contactsItemNumberActive: vm.currentMenuItem == vm.MENU_INVIT_RECEIVED}">
                            {{vm.invitationsReceived.length}}
                        </div>
                    </div>
                    <div class="col-xs-12 contactsMenuItem"
                         data-ng-class="{contactsMenuItemActive: vm.currentMenuItem == vm.MENU_INVIT_SENT}"
                         data-ng-click="vm.currentMenuItem = vm.MENU_INVIT_SENT; vm.contactsMenuOpened = false">
                        <img class="contactsMenuBlueCircle"
                             data-ng-src="{{app.isPro() && 'img/contactsMenuOrangeCircle.png' || 'img/contactsMenuBlueCircle.png'}}"
                             data-ng-if="vm.currentMenuItem == vm.MENU_INVIT_SENT">
                        ENVOYÉES
                        <div class="contactsItemNumber"
                             data-ng-class="{contactsItemNumberActive: vm.currentMenuItem == vm.MENU_INVIT_SENT}">
                            {{vm.invitationsSent.length}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 contactsContacts">
                    <div class="contentOverlay col-xs-12 visible-xs" data-ng-click="vm.contactsMenuOpened = false"
                         data-ng-class="vm.getOverlayClass()"
                         data-ng-swipe-left="vm.contactsMenuOpened = false">
                    </div>
                    <div class="col-xs-12 visible-xs contactsMenuItemMain">
                        <div class="contactsMenuItemMainClick"
                             data-ng-click="vm.contactsMenuOpened = true">
                            <img class="contactsContactsMenuItemIcon" data-ng-src="icons/mdpi/ic_filter_contacts.png"/>
                            <span class="contactsContactsMenuItemTitle">{{vm.getHumanReadableMenuItem()}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 contactItem" data-ng-repeat="contact in vm.contacts"
                         data-ng-if="vm.showContactOrNot(contact)">

                        <cl-image public-id="{{contact.user.avatar.cloudinaryPublicId}}"
                                  class="f-l proposal-icon img-circle contactItemAvatar" format="png"
                                  data-ng-if="contact.user.avatar.cloudinaryPublicId">
                            <cl-transformation height="40" width="40" crop="fill"/>
                        </cl-image>
                        <div class="img-default fl contactItemInitials"
                             data-ng-if="!contact.user.avatar.cloudinaryPublicId">
                            {{contact.user.firstName[0] | uppercase}}.
                            {{contact.user.lastName[0]| uppercase}}.
                        </div>

                        <span class="contactItemName">
                            {{contact.user.firstName}} {{contact.user.lastName}}
                            <span class="contactItemPro" data-ng-if="contact.user.professional">
                                <span data-ng-if="!app.isPro()">
                                    PRO
                                </span>
                                <span data-ng-if="app.isPro()">
                                    COLLÈGUE
                                </span>
                            </span>
                            <span class="contactItemEmail">
                                ({{contact.user.email}})
                            </span>
                        </span>

                        <span class="contactItemCity"
                              data-ng-if="!contact.user.professional && contact.user.defaultAddress && contact.user.defaultAddress.locality">
                            {{contact.user.defaultAddress.locality}}
                        </span>
                        <span class="contactItemCity contactItemCityInvitReceived"
                              data-ng-if="contact.user.professional && contact.user.professional.company && contact.user.professional.company.address && contact.user.professional.company.address.locality">
                            {{contact.user.professional.company.address.locality}}
                        </span>
                    </div>
                    <div class="col-xs-12 contactItem"
                         data-ng-repeat="invit in vm.invitationsReceived"
                         data-ng-if="vm.currentMenuItem == vm.MENU_INVIT_RECEIVED">

                        <cl-image public-id="{{invit.inviter.avatar.cloudinaryPublicId}}"
                                  class="f-l proposal-icon img-circle contactItemAvatar" format="png"
                                  data-ng-if="invit.inviter.avatar.cloudinaryPublicId">
                            <cl-transformation height="40" width="40" crop="fill"/>
                        </cl-image>
                        <div class="img-default fl contactItemInitials"
                             data-ng-if="!invit.inviter.avatar.cloudinaryPublicId">
                            {{invit.inviter.firstName[0] | uppercase}}.
                            {{invit.inviter.lastName[0] | uppercase}}.
                        </div>
                        <div class="invitReceivedSpanHolder">
                            <span class="contactItemName contactItemNameInvitReceived">
                                {{invit.inviter.firstName}} {{invit.inviter.lastName}}
                                <span class="contactItemPro" data-ng-if="invit.inviter.professional">
                                    <span data-ng-if="!app.isPro()">
                                        PRO
                                    </span>
                                    <span data-ng-if="app.isPro()">
                                        COLLÈGUE
                                    </span>
                                </span>
                                <span class="contactItemEmail">
                                    ({{invit.inviter.email}})
                                </span>
                            </span>
                            <span class="contactItemCity contactItemCityInvitReceived"
                                  data-ng-if="!invit.inviter.professional && invit.inviter.defaultAddress && invit.inviter.defaultAddress.locality">
                                {{invit.inviter.defaultAddress.locality}}
                            </span>
                            <span class="contactItemCity contactItemCityInvitReceived"
                                  data-ng-if="invit.inviter.professional && invit.inviter.professional.company && invit.inviter.professional.company.address && invit.inviter.professional.company.address.locality">
                                {{invit.inviter.professional.company.address.locality}}
                            </span>
                        </div>
                        <span class="waves-effect">
                            <img class="invitRefuse"
                                 src="icons/mdpi/ic_refuse_invitation.png"
                                 data-ng-click="vm.refuseInvitation(invit.inviter.id)"/>
                        </span>
                        <span class="waves-effect">
                            <img class="invitAccept"
                                 src="icons/mdpi/ic_accept_invitation.png"
                                 data-ng-click="vm.acceptInvitation(invit.inviter.id)"/>
                        </span>
                    </div>
                    <div class="col-xs-12 contactItem contactItemInvitation"
                         data-ng-repeat="invit in vm.invitationsSent"
                         data-ng-if="vm.currentMenuItem == vm.MENU_INVIT_SENT">

                        <span data-ng-if="invit.firstName && invit.lastName">
                            {{invit.firstName}} {{invit.lastName}}
                            <span class="contactItemPro" data-ng-if="invit.isPro">
                                <span data-ng-if="!app.isPro()">
                                    PRO
                                </span>
                                <span data-ng-if="app.isPro()">
                                    COLLÈGUE
                                </span>
                            </span>
                            <span class="contactItemEmail">
                                ({{invit.email}})
                            </span>
                        </span>
                        <span data-ng-if="!invit.firstName || !invit.lastName">
                            {{invit.email}}
                            <span class="contactItemPro" data-ng-if="invit.isPro">
                                <span data-ng-if="!app.isPro()">
                                    PRO
                                </span>
                                <span data-ng-if="app.isPro()">
                                    COLLÈGUE
                                </span>
                            </span>
                        </span>

                    </div>
                    <div class="col-xs-12 contactsEmpty"
                         data-ng-if="vm.getCurrentContactListNumber() == 0 && vm.currentMenuItem != 'INVIT_RECEIVED' && vm.currentMenuItem != 'INVIT_SENT'">

                        <img class="contactsEmptyIcon" src="icons/mdpi/ic_person_add.png"/>

                        <div class="contactsEmptyTitle">
                            Vous n'avez pas encore de « Contact » CasaVox
                        </div>
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Pourquoi ajouter des contacts ?</strong></div>
                            <div class="m-b-5" data-ng-show="!app.isPro()">
                                Parce que quelqu'un parmi vos connaissances connaît le Pro qu'il vous faut ! Faites-vous
                                aidez de vos relations de confiance pour trouver des Pro fiables et adaptés à vos
                                besoins.
                            </div>
                            <div class="m-b-20" data-ng-show="!app.isPro()">
                                Parce que quelqu'un parmi vos proches recherches un Pro et qu'il suffit de quelques
                                clicks pour en recommander un que vous connaissez.
                            </div>
                            <div class="m-b-5" data-ng-show="app.isPro()">
                                Parce qu'une de vos connaissances (perso, ancien client ou collègue) à un ami à la
                                recherche de vos compétences ! Faites-vous aider de vos relations pour toucher de
                                nouveaux clients.
                            </div>
                            <div class="m-b-20" data-ng-show="app.isPro()">
                                Parce que s'aider entre collègues est toujours payant ! En quelques clicks, recommandez
                                vos collègues à vos connaissances (par exemple, sur les projets qui ne correspondent pas
                                à vos compétences ou zones d'activités), ils feront pareil avec vous !
                            </div>
                        </div>
                        <div class="visible-xs m-b-10">
                            <strong><em>Invitez vos connaissances à vous retrouver sur CasaVox !</em></strong><br>
                        </div>
                        <div class="contactsEmptyLinks">
                            <span class="contactsEmptyLink" data-ng-click="vm.openFriendPopup()">
                                Inviter des amis
                            </span>
                            <span class="contactsEmptyLinkOr">
                                 -
                            </span>
                            <span class="contactsEmptyLink" data-ng-click="vm.openProPopup()">
                                Invitez des professionnels
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showInvitFriendPopup" data-ng-click="vm.closeFriendPopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png" data-ng-click="vm.closeFriendPopup()"
                 alt=""/>

            <div class="col-xs-12 yakaPopupInvitTitle">
                Invitez vos connaissances à faire partie de vos relations CasaVox
            </div>

            <button class="center btn bgm-blue btn-icon-text waves-effect"
                    data-ng-click="vm.closeFriendPopup(); vm.loadGmailContacts()">
                <img class="gmailButtonIcon" src="icons/ic_gmail.png" alt=""/>
                <span class="gmailButtonText">Sélectionner mes contacts Gmail</span>
            </button>

            <h4 class="m-t-20 m-b-20 center t-center">
                Ou
            </h4>

            <textarea class="col-xs-12 form-control m-t-20" placeholder="exemple@mail.fr,..."
                      data-ng-model="vm.invitCustomer"></textarea>

            <div class="col-xs-12 yakaPopupInvitSubTitle">
                Vous pouvez ajouter plusieurs emails en les séparant par une virgule.
            </div>

            <button class="col-xs-12 center btn bgm-lightblue btn-lg btn-icon-text waves-effect"
                    data-ng-disabled="vm.invitCustomer == ''"
                    data-ng-click="vm.sendCustomerInvit()">
                Inviter
            </button>

            <div class="col-xs-12 no-padding center t-center m-t-20">
                Étendez vos relations grâce à Facebook :
            </div>

            <div class="col-xs-12 center t-center m-t-5">
                <iframe
                    ng-src="{{vm.getFacebookIframeUrl() | trusted}}"
                    width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showInvitProPopup" data-ng-click="vm.closeProPopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton"
                 src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closeProPopup()"
                 alt=""/>

            <div class="col-xs-12 yakaPopupInvitTitle">
                Invitez un super Pro !
            </div>

            <input class="col-xs-12 form-control halfInput"
                   placeholder="Prénom"
                   data-ng-model="vm.invitPro.firstName"/>

            <input class="col-xs-12 form-control halfInput halfInputRight"
                   placeholder="Nom"
                   data-ng-model="vm.invitPro.lastName"/>

            <div class="proInviteInputError"
                 data-ng-hide="vm.invitPro.firstName == '' || vm.isNameValid(vm.invitPro.firstName)">
                Ce prénom n'est pas valide
            </div>

            <div class="proInviteInputError"
                 data-ng-hide="vm.invitPro.lastName == '' || vm.isNameValid(vm.invitPro.lastName)">
                Ce nom n'est pas valide
            </div>

            <input class="col-xs-12 form-control"
                   placeholder="Email"
                   data-ng-model="vm.invitPro.email"/>

            <div class="proInviteInputError"
                 data-ng-hide="vm.invitPro.email == '' || vm.isEmailValid(vm.invitPro.email)">
                Cet email n'est pas valide
            </div>

            <input class="col-xs-12 form-control"
                   id="proInvitePhone"
                   placeholder="Téléphone"
                   data-ng-model="vm.phoneNumber"/>

            <div class="proInviteInputError"
                 data-ng-hide="vm.phoneNumber == '' || vm.isPhoneNumberValid">
                Cet numéro de téléphone n'est pas valide
            </div>

            <input
                vs-google-autocomplete="vm.autocomplete.options"
                vs-autocomplete-validator class="form-control"
                placeholder="Ville"
                data-ng-model="vm.invitPro.address.address"/>

            <div class="select">
                <select class="form-control m-t-10"
                        data-ng-model="vm.invitPro.relation">
                    <option value="" disabled="disabled">Votre relation avec ce pro ?</option>
                    <option value="CLIENT">Client</option>
                    <option value="FRIEND">Ami</option>
                    <option value="FAMILY">Famille</option>
                    <option value="COLLEAGUE" data-ng-if="app.isPro()">Collègue</option>
                </select>
            </div>

            <div class="proInviteActivitiesInput" data-ng-dropdown-multiselect=""
                 options="vm.multiChoiceInput.options"
                 selected-model="vm.multiChoiceInput.selected"
                 extra-settings="vm.multiChoiceInput.settings"
                 translation-texts="vm.multiChoiceInput.translation"
                 checkboxes="true"></div>

            <div class="col-xs-12 yakaButton yakaOrange invitProButton"
                 data-ng-class="{yakaDisabled: !vm.formIsValid()}"
                 data-ng-click="vm.sendProInvit()">
                INVITER
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showGmailPopup" data-ng-click="vm.closeGmailPopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png" data-ng-click="vm.closeGmailPopup()"
                 alt=""/>

            <img class="center" src="img/loader_small.gif"
                 data-ng-if="!vm.gmailContacts || vm.gmailContacts.length == 0" alt=""/>


            <div class="checkbox" data-ng-if="vm.gmailContacts && vm.gmailContacts.length > 0">
                <label class="yakaEllipsis">
                    <input type="checkbox" data-ng-change="vm.selectAllChanged()" data-ng-model="vm.selectAll">
                    <i class="input-helper"></i>
                    <b>Tout sélectionner</b>
                </label>
            </div>
            <div class="gmailContactsList">
                <div data-ng-repeat="contact in vm.gmailContacts track by contact.id">
                    <div class="checkbox">
                        <label class="yakaEllipsis">
                            <input type="checkbox" data-ng-model="contact.selected" value="">
                            <i class="input-helper"></i>
                            <span data-ng-if="contact.name">
                                <b>{{contact.name}}</b> - {{contact.address}}
                            </span>
                            <span data-ng-if="!contact.name">
                                <b>{{contact.address}}</b>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <button class="col-xs-12 center btn bgm-lightblue btn-lg btn-icon-text waves-effect"
                    data-ng-disabled="!vm.showGmailInviteButton()"
                    data-ng-if="vm.gmailContacts && vm.gmailContacts.length > 0"
                    data-ng-click="vm.sendGoogleCustomerInvit()">
                Inviter
            </button>
        </div>
    </div>
</div>
