<style data-ng-if="app.isPro()">
    .customerSupportWidget {
        background: #FF9800;
    }

    .contactsItemNumberActive {
        background: #FF9800;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">

            <div class="card p-15 clearfix">
                <div class="aligned-content-contact">
                    <yaka-avatar class="hidden-xs" size="65" user="vm.user"></yaka-avatar>
                    <yaka-avatar class="visible-xs" size="50" user="vm.user"></yaka-avatar>
                    <div class="col-xs-9 col-sm-6 d-block padding-user-contact">

                        <div class="c-obsidian-gray userNameInContact">
                            {{vm.user.firstName}} {{vm.user.lastName}}
                        </div>
                        <div>
                            {{vm.user.defaultAddress.address}}
                        </div>
                        <div class="hidden-xs">
                            Inscrit depuis le 12 Aout 2016
                        </div>
                        <div>
                            <a data-ui-sref="profile"><u>Modifier</u></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 p-r-0 d-block contact-communities-tag t-align-tags">
                        <div>
                            Mes communautés
                        </div>
                        <div class="d-block col-xs-6 p-r-0 contact-communities-tag">

                            <casa-community-tag class="contact-community-tag"
                                                data-ng-if="vm.getCommunityByType('PROFILE_CITY').name"
                                                community="vm.getCommunityByType('PROFILE_CITY')">
                            </casa-community-tag>

                            <casa-community-tag class="contact-community-tag"
                                                data-ng-if="vm.getCommunityByType('JOB').name"
                                                community="vm.getCommunityByType('JOB')">
                            </casa-community-tag>

                            <casa-community-tag class="contact-community-tag"
                                                data-ng-if="vm.getCommunityByType('OTHER').name"
                                                community="vm.getCommunityByType('OTHER')">
                            </casa-community-tag>

                        </div>
                    </div>
                </div>
            </div>

            <div class="block-header visible-xs m-b-5">
                <h2>Développer votre réseau</h2>
                <small>
                    Utilisez le bouche-à-oreille CasaVox !
                </small>
            </div>
            <div class="col-xs-12 no-padding visible-xs m-b-20">
                <button class="col-xs-5 btn btn-default waves-effect c-lightblue btn-xs"
                        data-ng-click="vm.openFriendPopup()">
                    Inviter un ami
                </button>
                <button class="col-xs-5 col-xs-offset-2 btn btn-default waves-effect c-orange btn-xs"
                        data-ng-click="vm.openProPopup()">
                    Inviter un pro
                </button>
            </div>
            <div class="col-xs-12 p-l-0 p-r-0 card hidden-xs">
                <div class="col-xs-12 p-l-0 p-r-0 card-header">
                    <h2 class="col-sm-6">
                        DÉVELOPPEZ VOTRE RÉSEAU
                        <small class="c-obsidian-gray">
                            Faites fonctionner le bouche-à-oreille !<br>
                            Invitez vos connaissances à vous retrouver sur CasaVox
                        </small>
                    </h2>
                    <div class="col-sm-6 t-right m-t-5">
                        <button id="invite-friend-button" class="invite-contact btn btn-default waves-effect c-white bgm-lightblue m-r-15"
                                data-ng-click="vm.openFriendPopup()">
                            Inviter un ami
                        </button>
                        <button id="invite-pro-button" class="invite-contact btn btn-default waves-effect c-white bgm-orange"
                                data-ng-click="vm.openProPopup()">
                            Inviter un pro
                        </button>
                    </div>
                    <div class="col-xs-12 t-right">
                        Une question ? <a data-ui-sref="help({'card': 'bao'})"><u>Consultez l'aide</u></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 p-l-0 padding-right-columns">
                <div class="col-xs-12 card p-0">
                    <div class="card-header dashboardCommunityHeader">

                        <i class="zmdi zmdi-hc-3x zmdi-accounts c-black d-i-b hidden-xs"></i>

                        <h2 class="d-i-b">
                            Mon Entourage
                            <small class="subtitle-color-forced">
                                Liste de mes contacts Casavox
                            </small>
                        </h2>
                    </div>
                    <div class="pm-body clearfix">
                        <ul class="tab-nav tn-justified">
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectContactTab == 'all'}">
                                <a href=""
                                   data-ng-click="vm.selectContactTab = 'all'; vm.currentMenuItem = vm.MENU_ALL">Tous
                                    <span>({{vm.contacts.length}})</span>
                                </a>
                            </li>
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectContactTab == 'friend'}">
                                <a href=""
                                   data-ng-click="vm.selectContactTab = 'friend'; vm.currentMenuItem = vm.MENU_FRIENDS">Amis
                                    <span>({{vm.friendsNumber}})</span>
                                </a>
                            </li>
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectContactTab == 'pros'}">
                                <a href=""
                                   data-ng-click="vm.selectContactTab = 'pros'; vm.currentMenuItem = vm.MENU_PROS">Pros
                                    <span>({{vm.prosNumber}})</span>
                                </a>
                            </li>
                        </ul>
                        <div class="col-xs-12  m-t-5 p-b-5 contactItem border-bottom" data-ng-repeat="contact in vm.contacts"
                             data-ng-if="vm.showContactOrNot(contact)">

                            <cl-image public-id="{{contact.user.avatar.cloudinaryPublicId}}"
                                      class="f-l proposal-icon img-circle contactItemAvatar" format="png"
                                      data-ng-if="contact.user.avatar.cloudinaryPublicId">
                                <cl-transformation height="40" width="40" crop="fill"/>
                            </cl-image>
                            <div class="img-default fl contactItemInitials"
                                 data-ng-if="!contact.user.avatar.cloudinaryPublicId">
                                {{contact.user.firstName[0] | uppercase}}.
                                {{contact.user.lastName[0]| uppercase}}.
                            </div>
                            <div class="col-xs-10 col-sm-5 m-t-5 p-l-0">
                                <span class="contactItemName">
                                    <casa-name-and-contact user="contact.user"
                                                           icon-color="c-orange"></casa-name-and-contact>
                                </span>
                                <div class="col-xs-12 p-l-0">
                                    <span class="contactItemCity"
                                          data-ng-if="!contact.user.professional && contact.user.defaultAddress && contact.user.defaultAddress.locality">
                            ({{contact.user.defaultAddress.locality}})
                                     </span>
                                    <span class="contactItemCity contactItemCityInvitReceived"
                                          data-ng-if="contact.user.professional && contact.user.professional.company && contact.user.professional.company.address && contact.user.professional.company.address.locality">
                            ({{contact.user.professional.company.address.locality}})
                                     </span>
                                </div>
                            </div>

                            <div class="d-block col-xs-12 col-sm-4 contactTags pull-right p-r-0">
                                <casa-community-tag class="yakaEllipsis order-tag c-white d-block p-5"
                                                    community="community"
                                                    ng-repeat="community in contact.user.communities">
                                </casa-community-tag>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 contactsEmpty m-b-10"
                         data-ng-if="vm.getCurrentContactListNumber() == 0">

                        <img class="contactsEmptyIcon" src="icons/mdpi/ic_person_add.png"/>

                        <div class="contactsEmptyTitle">
                            Vous n'avez pas encore de « Contact » CasaVox
                        </div>
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Pourquoi ajouter des contacts ?</strong></div>
                            <div class="m-b-5" data-ng-show="!app.isPro()">
                                Parce que quelqu'un parmi vos connaissances connaît le Pro qu'il vous faut ! Faites-vous
                                aidez de vos relations de confiance pour trouver des Pro fiables et adaptés à vos
                                besoins.
                            </div>
                            <div class="m-b-20" data-ng-show="!app.isPro()">
                                Parce que quelqu'un parmi vos proches recherche un Pro et qu'il suffit de quelques
                                clics pour l'aider en lui en recommandant un que vous connaissez.
                            </div>
                            <div class="m-b-5" data-ng-show="app.isPro()">
                                Parce qu'une de vos connaissances - personnelle, ancien client ou collègue - à un ami à
                                la recherche de vos compétences. CasaVox encourage vos relations à vous recommander
                                auprès
                                de leurs connaissances « <em>les amis de mes amis sont mes nouveaux clients !</em> ».
                            </div>
                            <div class="m-b-20" data-ng-show="app.isPro()">
                                Parce que s'aider entre collègues est toujours payant ! En quelques clics, recommandez
                                vos collègues à vos connaissances (par exemple, sur les offres qui ne correspondent pas
                                à vos compétences ou zones d'activités), ils feront pareil avec vous !
                            </div>
                        </div>
                        <div class="visible-xs m-b-10">
                            <strong><em>Invitez vos connaissances à vous retrouver sur CasaVox !</em></strong><br>
                        </div>
                        <div class="contactsEmptyLinks">
                                            <span class="contactsEmptyLink" data-ng-click="vm.openFriendPopup()">
                                Inviter des amis
                             </span>
                            <span class="contactsEmptyLinkOr">

                             </span>
                            <span class="contactsEmptyLink" data-ng-click="vm.openProPopup()">
                                 Invitez des professionnels
                             </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 p-r-0 padding-left-columns">
                <div class="col-xs-12 card p-0">
                    <div class="card-header dashboardCommunityHeader">
                        <h2 class="d-i-b">
                            Mes Invitations
                            <small class="subtitle-color-forced">
                                Liste de mes invitations reçues et envoyées
                            </small>
                        </h2>
                    </div>
                    <div class="pm-body clearfix">
                        <ul class="tab-nav tn-justified">
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectTab == 'received'}">
                                <a data-ng-class="{'fw-bold' : vm.invitationsReceived.length > 0}"
                                   href="" data-ng-click="vm.selectTab = 'received'">Reçue
                                    <span data-ng-if="vm.invitationsReceived.length > 1">s</span>
                                    <span data-ng-if="vm.invitationsReceived.length > 0">({{vm.invitationsReceived.length}})
                                     </span>
                                    <span data-ng-if="vm.invitationsReceived.length == 0">(0)
                                     </span></a>
                            </li>
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectTab == 'sent'}">
                                <a href="" data-ng-click="vm.selectTab = 'sent'">Envoyée<span
                                    data-ng-if="vm.invitationsSent.length > 1">s</span>
                                    <span data-ng-if="vm.invitationsSent.length > 0">({{vm.invitationsSent.length}})
                                </span>
                                    <span data-ng-if="vm.invitationsSent.length == 0">(0)
                                </span>
                                </a>
                            </li>
                        </ul>
                        <div class="col-xs-12 contactItem m-t-5 p-b-5"
                             data-ng-repeat="invit in vm.invitationsReceived"
                             data-ng-if="vm.selectTab == 'received'">
                            <cl-image public-id="{{invit.inviter.avatar.cloudinaryPublicId}}"
                                      class="f-l proposal-icon img-circle contactItemAvatar" format="png"
                                      data-ng-if="invit.inviter.avatar.cloudinaryPublicId">
                                <cl-transformation height="40" width="40" crop="fill"/>
                            </cl-image>
                            <div class="img-default fl contactItemInitials"
                                 data-ng-if="!invit.inviter.avatar.cloudinaryPublicId">
                                {{invit.inviter.firstName[0] | uppercase}}.
                                {{invit.inviter.lastName[0] | uppercase}}.
                            </div>
                            <div class="invitReceivedSpanHolder">
                            <span class="contactItemName contactItemNameInvitReceived">
                                {{invit.inviter.firstName}} {{invit.inviter.lastName}}
                                <span class="contactItemPro" data-ng-if="invit.inviter.professional">
                                        PRO
                                </span>
                            </span>
                                <div class="col-xs-12 p-l-0">
                                    <span class="contactItemCity contactItemCityInvitReceived"
                                          data-ng-if="!invit.inviter.professional && invit.inviter.defaultAddress && invit.inviter.defaultAddress.locality">
                                {{invit.inviter.defaultAddress.locality}}
                            </span>
                                    <span class="contactItemCity contactItemCityInvitReceived"
                                          data-ng-if="invit.inviter.professional && invit.inviter.professional.company && invit.inviter.professional.company.address && invit.inviter.professional.company.address.locality">
                                {{invit.inviter.professional.company.address.locality}}
                            </span>
                                </div>

                            </div>
                            <div class="pull-right m-t-5">
                            <span class="waves-effect"
                                  tooltip-placement="left"
                                  uib-tooltip="Refuser l'invitation">
                            <img class="invitRefuse m-t-0"
                                 src="icons/mdpi/ic_refuse_invitation.png"
                                 data-ng-click="vm.refuseInvitation(invit.inviter.inviteId)"/>
                        </span>
                                <span class="waves-effect"
                                      tooltip-placement="left"
                                      uib-tooltip="Accepter l'invitation">
                                <img class="invitAccept m-t-0"
                                     src="icons/mdpi/ic_accept_invitation.png"
                                     data-ng-click="vm.acceptInvitation(invit.inviter.inviteId)"/>
                            </span>
                            </div>
                            <hr>
                        </div>
                        <div class="col-xs-12 contactItem contactItemInvitation p-5"
                             data-ng-repeat="invit in vm.invitationsSent"
                             data-ng-if="vm.selectTab == 'sent'">
                        <span data-ng-if="invit.firstName && invit.lastName">
                            {{invit.firstName}} {{invit.lastName}}
                            <span class="contactItemPro" data-ng-if="invit.isPro">
                                    PRO
                            </span>
                            <span class="contactItemEmail">
                                ({{invit.email}})
                            </span>
                        </span>
                            <span data-ng-if="!invit.firstName || !invit.lastName">
                            {{invit.email}}
                            <span class="contactItemPro" data-ng-if="invit.isPro">
                                    PRO
                            </span>
                        </span>
                        </div>
                    </div>
                    <div class="col-xs-12 contactsEmpty m-b-10"
                         data-ng-if="vm.invitationsReceived.length == 0 && vm.selectTab == 'received'">
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Vous n'avez pas reçu d'invitation</strong></div>
                        </div>
                    </div>
                    <div class="col-xs-12 contactsEmpty m-b-10"
                         data-ng-if="vm.invitationsSent.length == 0 && vm.selectTab == 'sent'">
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Vous n'avez invité personne</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showInvitFriendPopup" data-ng-click="vm.closeFriendPopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img id="closePopupFriendImg" class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closeFriendPopup()"
                 alt=""/>

            <div class="col-xs-12 yakaPopupInvitTitle">
                Invitez vos connaissances à faire partie de vos relations CasaVox
            </div>

            <button class="center btn bgm-blue btn-icon-text waves-effect"
                    data-ng-click="vm.closeFriendPopup(); vm.loadGmailContacts()">
                <img class="gmailButtonIcon" src="icons/ic_gmail.png" alt=""/>
                <span class="gmailButtonText">Sélectionner mes contacts Gmail</span>
            </button>

            <h4 class="m-t-20 m-b-20 center t-center">
                Ou
            </h4>

            <textarea class="col-xs-12 form-control m-t-20" placeholder="exemple1@mail.fr, exemple2@mail.fr, ..."
                      data-ng-model="vm.invitCustomer"></textarea>

            <div class="col-xs-12 yakaPopupInvitSubTitle">
                Vous pouvez ajouter plusieurs emails en les séparant par une virgule.
            </div>

            <button class="col-xs-12 center btn bgm-lightblue btn-lg btn-icon-text waves-effect"
                    data-ng-disabled="vm.invitCustomer == ''"
                    data-ng-click="vm.sendCustomerInvit()">
                Inviter
            </button>

            <div class="col-xs-12 no-padding center t-center m-t-20">
                Étendez vos relations grâce à Facebook :
            </div>

            <div class="col-xs-12 center t-center m-t-5">
                <iframe
                    ng-src="{{vm.getFacebookIframeUrl() | trusted}}"
                    width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showInvitProPopup" data-ng-click="vm.closeProPopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img id="closePopupProImg" class="popupCloseButton"
                 src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closeProPopup()"
                 alt=""/>

            <div class="card-header p-l-0 p-r-0">
                <h2>
                    Invitez un professionnel
                    <small>
                        Cette invitation lui sera envoyée par email
                    </small>
                </h2>
            </div>

            <form name="inviteForm">
                <div class="col-xs-12 no-padding form-group fg-float m-t-15"
                     data-ng-class="{'has-error': !vm.invitPro.lastName}">

                    <div class="fg-line">
                        <input type="text" name="lastName" class="form-control fg-input input-sm"
                               data-ng-model="vm.invitPro.lastName"
                               required="required" data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                        <label class="fg-label">Nom</label>
                    </div>
                    <div data-ng-messages="inviteForm.lastName.$error">
                        <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                            valide
                        </small>
                    </div>
                </div>

                <div class="col-xs-12 no-padding select m-b-15">
                    <select class="form-control c-red"
                            onchange="this.className='form-control form-control-underline-ok'"
                            data-ng-model="vm.invitPro.relation"
                            ng-init="vm.invitPro.relation = vm.optionSelected()">
                        <option value="" disabled="disabled">Ma relation avec ce pro ?</option>
                        <option value="CLIENT">Client</option>
                        <option value="FRIEND">Ami</option>
                        <option value="FAMILY">Famille</option>
                        <option value="COLLEAGUE" data-ng-if="app.isPro()">Collègue</option>
                    </select>
                </div>

                <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                     data-ng-class="{'has-error': !vm.invitPro.email}">
                    <div class="fg-line">
                        <input type="text" name="username" data-ng-disabled="vm.isSocialRegister()"
                               class="form-control fg-input input-sm"
                               data-ng-model="vm.invitPro.email"
                               required="required" yaka-input-email>
                        <label class="fg-label">Email</label>
                    </div>
                    <div data-ng-messages="inviteForm.username.$error">
                        <small class="help-block" data-ng-message="invalidEmail">
                            Cet email n'est pas valide
                        </small>
                    </div>
                </div>

                <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                     data-ng-class="{'has-error': !vm.invitPro.address.address}">
                    <div class="fg-line">
                        <input type="text" class="form-control fg-input input-sm"
                               vs-google-autocomplete="vm.autocomplete.options"
                               vs-autocomplete-validator
                               data-ng-model="vm.invitPro.address.address"
                               type="text"
                               name="address"
                               placeholder=""
                               id="address">
                        <label class="fg-label">Ville</label>
                    </div>
                </div>

                <div class="col-xs-12 no-padding form-group fg-float">
                    <div class="fg-line">
                        <input type="text" name="phoneNumber"
                               class="form-control fg-input"
                               data-ng-model="vm.invitPro.phone" yaka-input-phone>
                        <label class="fg-label fg-label-phone">Téléphone</label>
                    </div>
                    <div data-ng-messages="inviteForm.phoneNumber.$error">
                        <small class="help-block" data-ng-message="invalidPhone">
                            Ce numéro de téléphone n'est pas valide
                        </small>
                    </div>
                </div>

                <button class="btn bgm-orange btn-block btn-lg waves-effect m-t-20"
                        data-ng-disabled="!vm.formIsValid()"
                        data-ng-click="vm.sendProInvit()">
                    Inviter
                </button>
            </form>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showGmailPopup" data-ng-click="vm.closeGmailPopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png" data-ng-click="vm.closeGmailPopup()"
                 alt=""/>

            <img class="center" src="img/loader_small.gif"
                 data-ng-if="!vm.gmailContacts || vm.gmailContacts.length == 0" alt=""/>


            <div class="checkbox" data-ng-if="vm.gmailContacts && vm.gmailContacts.length > 0">
                <label class="yakaEllipsis">
                    <input type="checkbox" data-ng-change="vm.selectAllChanged()" data-ng-model="vm.selectAll">
                    <i class="input-helper"></i>
                    <b>Tout sélectionner</b>
                </label>
            </div>
            <div class="gmailContactsList">
                <div data-ng-repeat="contact in vm.gmailContacts track by contact.id">
                    <div class="checkbox">
                        <label class="yakaEllipsis">
                            <input type="checkbox" data-ng-model="contact.selected" value="">
                            <i class="input-helper"></i>
                            <span data-ng-if="contact.name">
                                <b>{{contact.name}}</b> - {{contact.address}}
                            </span>
                            <span data-ng-if="!contact.name">
                                <b>{{contact.address}}</b>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <button class="col-xs-12 center btn bgm-lightblue btn-lg btn-icon-text waves-effect"
                    data-ng-disabled="!vm.showGmailInviteButton()"
                    data-ng-if="vm.gmailContacts && vm.gmailContacts.length > 0"
                    data-ng-click="vm.sendGoogleCustomerInvit()">
                Inviter
            </button>
        </div>
    </div>
</div>
