<style data-ng-if="app.isPro()">
    .customerSupportWidget {
        background: #FF9800;
    }

    .contactsItemNumberActive {
        background: #FF9800;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'modules/core/views/header.html'"
></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">


            <div class="card">
                <div class="card-header p-b-10">
                    <div class="media">
                        <div class="pull-left left-col-width">
                            <yaka-avatar size="75" user="vm.user"></yaka-avatar>
                            <div class="hidden-xs">
                                <button data-ng-if="vm.data.ongoingProjectsNumber > 0"
                                        class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10"
                                        data-ui-sref="my-projects">
                                    {{vm.data.ongoingProjectsNumber}} PROJET<span
                                    data-ng-if="vm.data.ongoingProjectsNumber > 1">S</span>
                                </button>
                                <button data-ng-if="vm.data.ongoingProjectsNumber == 0"
                                        class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10"
                                        data-ui-sref="new-project">
                                    TROUVER UN PRO
                                </button>
                            </div>

                            <div class="p-r-0 m-t-5 t-left m-b-5 m-t-10 visible-xs clearfix">

                                <div class="col-xs-12 m-t-10 t-center">
                                    <span class="text-uppercase">Mes communautés</span>
                                </div>

                                <div class="col-xs-12 p-r-0 p-l-0"
                                     data-ng-if="vm.getCommunityByType('PROFILE_CITY').name">
                                    <div class="col-xs-12 p-l-0 p-r-0">
                                        <casa-community-tag class="t-center pointer"
                                                            data-ui-sref="profile"
                                                            community="vm.getCommunityByType('PROFILE_CITY')">
                                        </casa-community-tag>
                                        <button
                                            class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                            data-ui-sref="profile"
                                            data-ng-if="vm.getCommunityByType('PROFILE_CITY').name == ' ' && vm.getCommunityByType('PROFILE_CITY').address.address == ' '">
                                            <i class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>

                                <div class="col-xs-12 p-r-0 p-l-0" data-ng-if="vm.getCommunityByType('JOB').name">
                                    <div class="col-xs-12 p-r-0 p-l-0">
                                        <casa-community-tag class="t-center pointer"
                                                            data-ui-sref="profile"
                                                            community="vm.getCommunityByType('JOB')">
                                        </casa-community-tag>
                                        <button
                                            class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                            data-ui-sref="profile"
                                            data-ng-if="vm.getCommunityByType('JOB').name == ' '"><i
                                            class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>

                                <div class="col-xs-12 p-r-0 p-l-0" data-ng-if="vm.getCommunityByType('OTHER').name">
                                    <div class="col-xs-12 p-r-0 p-l-0">
                                        <casa-community-tag class="t-center pointer"
                                                            data-ui-sref="profile"
                                                            community="vm.getCommunityByType('OTHER')">
                                        </casa-community-tag>
                                        <button
                                            class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                            data-ui-sref="profile"
                                            data-ng-if="vm.getCommunityByType('OTHER').name == ' '"><i
                                            class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="media-body">
                            <div class="media row">
                                <div class="col-xs-8 col-sm-4 dashboardUserInfos">
                                    <div class="c-obsidian-gray userNameInContact">
                                        {{app.getUser().firstName}} {{app.getUser().lastName}}
                                    </div>
                                    <div>
                                        {{vm.user.defaultAddress.address}}
                                    </div>
                                    <div class="hidden-xs">
                                        Inscrit depuis le {{vm.user.created | date:"dd/MM/yyyy"}}
                                    </div>
                                    <div class="modify-link">
                                        <a data-ng-if="app.isPro()"
                                           data-ui-sref="pro-profile"><u>Modifier</u></a>
                                        <a data-ng-if="!app.isPro()"
                                           data-ui-sref="profile"><u>Modifier</u></a>
                                    </div>
                                </div>

                                <div
                                    class="col-sm-7 col-md-6 col-xs-offset-4 col-sm-offset-1 col-md-offset-2 f-s-14 t-right dashboardStats hidden-xs">
                                    <div class="col-xs-12 p-l-0 p-r-0 t-center">
                                        <div class="col-xs-8 col-xs-offset-4">
                                            <span class="text-uppercase">Mes communautés</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 p-l-0 p-r-0 m-t-5">
                                        <div class="col-xs-8 col-xs-offset-4 community-height">
                                            <casa-community-tag class="tag-community t-center pointer"
                                                                data-ui-sref="profile"
                                                                community="vm.getCommunityByType('PROFILE_CITY')">
                                            </casa-community-tag>
                                            <button
                                                class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                                data-ui-sref="profile"
                                                data-ng-if="!vm.getCommunityByType('PROFILE_CITY').name && !vm.getCommunityByType('PROFILE_CITY').address.address">
                                                <i class="zmdi zmdi-plus"></i></button>
                                        </div>
                                        <div class="col-xs-8 col-xs-offset-4 community-height">
                                            <casa-community-tag class="tag-community t-center pointer"
                                                                data-ui-sref="profile"
                                                                community="vm.getCommunityByType('JOB')">
                                            </casa-community-tag>
                                            <button
                                                class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                                data-ui-sref="profile"
                                                data-ng-if="vm.getCommunityByType('JOB').name == ' '"><i
                                                class="zmdi zmdi-plus"></i></button>
                                        </div>
                                        <div class="col-xs-8 col-xs-offset-4 community-height">
                                            <casa-community-tag class="tag-community t-center pointer"
                                                                data-ui-sref="profile"
                                                                community="vm.getCommunityByType('OTHER')">
                                            </casa-community-tag>
                                            <button
                                                class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                                data-ui-sref="profile"
                                                data-ng-if="vm.getCommunityByType('OTHER').name == ' '"><i
                                                class="zmdi zmdi-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">


                    <div class="visible-xs row-button-find-pro">
                        <a class="pull-left m-l-10 m-b-5 m-t-15" data-ng-if="vm.data.invitationNumber > 0"><u><b>{{vm.data.invitationNumber}}
                            invitation<span
                                data-ng-if="vm.data.invitationNumber > 1">s</span> à valider</b></u></a>
                        <button data-ng-if="vm.data.ongoingProjectsNumber > 0"
                                class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10 m-l-10"
                                data-ui-sref="my-projects">
                            {{vm.data.ongoingProjectsNumber}} PROJET<span
                            data-ng-if="vm.data.ongoingProjectsNumber > 1">S</span>
                        </button>
                        <button data-ng-if="vm.data.ongoingProjectsNumber == 0"
                                class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10 m-l-10"
                                data-ui-sref="new-project">
                            TROUVER UN PRO
                        </button>
                    </div>
                </div>
            </div>

            <div class="block-header visible-xs m-b-5">
                <h2>Développer votre réseau</h2>
                <small>
                    Utilisez le bouche-à-oreille CasaVox !
                </small>
            </div>
            <div class="col-xs-12 no-padding visible-xs m-b-20">
                <div class="col-xs-12 t-center m-t-5 m-b-10" data-ng-if="vm.isMobile">
                    <button id="invite-friend-button"
                            class="btn btn-default waves-effect c-white bgm-lightblue m-r-15"
                            data-ng-click="vm.shareOnFacebook()">
                        Inviter par Facebook
                    </button>
                </div>
                <button class="col-xs-5 btn btn-default waves-effect c-lightblue btn-xs"
                        data-ng-click="vm.openSMSorMailPopup('customer')">
                    Inviter un ami
                </button>
                <button class="col-xs-5 col-xs-offset-2 btn btn-default waves-effect c-orange btn-xs"
                        data-ng-click="vm.openSMSorMailPopup('pro')">
                    Inviter un pro
                </button>
            </div>
            <div class="col-xs-12 p-l-0 p-r-0 card hidden-xs">
                <div class="col-xs-12 p-l-0 p-r-0 card-header">
                    <h2 class="col-sm-6">
                        DÉVELOPPEZ VOTRE RÉSEAU
                        <small class="c-obsidian-gray">
                            Faites fonctionner le bouche-à-oreille !<br>
                            Invitez vos connaissances à vous retrouver sur CasaVox
                        </small>
                    </h2>
                    <div class="col-sm-6 t-right m-t-5">
                        <button id="invite-friend-button"
                                class="invite-contact btn btn-default waves-effect c-white bgm-lightblue m-r-15"
                                data-ng-click="vm.openFriendPopup()">
                            Inviter un ami
                        </button>
                        <button id="invite-pro-button"
                                class="invite-contact btn btn-default waves-effect c-white bgm-orange"
                                data-ng-click="vm.openProPopup()">
                            Inviter un pro
                        </button>
                    </div>
                    <div class="col-xs-12 t-right">
                        Une question ? <a data-ui-sref="help({'card': 'bao'})"><u>Consultez l'aide</u></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 p-l-0 padding-right-columns">
                <div class="col-xs-12 card p-0">
                    <div class="card-header dashboardCommunityHeader">

                        <i class="zmdi zmdi-hc-3x zmdi-accounts c-black d-i-b hidden-xs"></i>

                        <h2 class="d-i-b">
                            Mon Entourage
                            <small class="subtitle-color-forced">
                                Liste de mes contacts Casavox
                            </small>
                        </h2>
                    </div>
                    <div class="pm-body clearfix">
                        <ul class="tab-nav tn-justified">
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectContactTab == 'all'}">
                                <a href=""
                                   data-ng-click="vm.selectContactTab = 'all'; vm.currentMenuItem = vm.MENU_ALL">Tous
                                    <span>({{vm.contacts.length}})</span>
                                </a>
                            </li>
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectContactTab == 'friend'}">
                                <a href=""
                                   data-ng-click="vm.selectContactTab = 'friend'; vm.currentMenuItem = vm.MENU_FRIENDS">Amis
                                    <span>({{vm.friendsNumber}})</span>
                                </a>
                            </li>
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectContactTab == 'pros'}">
                                <a href=""
                                   data-ng-click="vm.selectContactTab = 'pros'; vm.currentMenuItem = vm.MENU_PROS">Pros
                                    <span>({{vm.prosNumber}})</span>
                                </a>
                            </li>
                        </ul>
                        <div class="col-xs-12 contactItem p-t-5"
                             data-ng-repeat="contact in vm.contacts | orderBy: 'user.firstName'"
                             data-ng-if="vm.showContactOrNot(contact)">

                            <cl-image public-id="{{contact.user.avatar.cloudinaryPublicId}}"
                                      class="f-l proposal-icon img-circle contactItemAvatar contact-item" format="png"
                                      data-ng-if="contact.user.avatar.cloudinaryPublicId">
                                <cl-transformation height="40" width="40" crop="fill"/>
                            </cl-image>
                            <div class="img-default fl contactItemInitials contact contact-item"
                                 data-ng-if="!contact.user.avatar.cloudinaryPublicId">
                                {{contact.user.firstName[0] | uppercase}}.
                                {{contact.user.lastName[0]| uppercase}}.
                            </div>
                            <div class="col-xs-8 col-sm-5 m-t-5 p-l-0 p-r-0 contact-item-infos">
                                <span class="contactItemName">
                                    {{contact.user.firstName}} {{contact.user.lastName}}
                                        <span class="c-orange m-l-5" data-ng-if="contact.user.professional"> PRO</span>
                                </span>
                                <div class="col-xs-12 p-l-0">
                                        <span class="contactItemCity"
                                              data-ng-if="!contact.user.professional && contact.user.defaultAddress && contact.user.defaultAddress.locality">
                            ({{contact.user.defaultAddress.locality}})
                                     </span>
                                    <span class="contactItemCity contactItemCityInvitReceived"
                                          data-ng-if="contact.user.professional && contact.user.professional.company && contact.user.professional.company.address && contact.user.professional.company.address.locality">
                            ({{contact.user.professional.company.address.locality}})
                                     </span>
                                </div>
                            </div>
                            <div class="no-padding visible-xs pull-right icon-position">
                                        <span class="waves-effect m-l-15 m-t-5"
                                              tooltip-placement="left"
                                              uib-tooltip="Supprimer le contact">
                                <i class="invitRefuse m-t-0 zmdi zmdi-close-circle zmdi-hc-2x p-0 c-deeporange"
                                   data-ng-click="vm.deleteContact(contact.user.id)"></i>
                        </span>
                            </div>

                            <div class="d-block col-xs-12 col-sm-4 contactTags pull-right p-r-10">

                                <div class="col-xs-10 no-padding">
                                    <casa-community-tag class="yakaEllipsis order-tag c-white d-block"
                                                        community="community"
                                                        ng-repeat="community in contact.user.communities">
                                    </casa-community-tag>
                                </div>
                                <div class="col-xs-2 no-padding hidden-xs">
                                    <span class="waves-effect m-l-15"
                                          tooltip-placement="left"
                                          uib-tooltip="Supprimer le contact">
                                <i class="invitRefuse m-t-0 zmdi zmdi-close-circle zmdi-hc-2x p-0 c-deeporange"
                                   data-ng-click="vm.deleteContact(contact.user.id)"></i>
                        </span>
                                </div>
                            </div>

                            <hr class="contact-hr">
                        </div>
                    </div>
                    <div class="col-xs-12 contactsEmpty m-b-10"
                         data-ng-if="vm.getCurrentContactListNumber() == 0">

                        <img class="contactsEmptyIcon" src="icons/mdpi/ic_person_add.png"/>

                        <div class="contactsEmptyTitle">
                            Vous n'avez pas encore de « Contact » CasaVox
                        </div>
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Pourquoi ajouter des contacts ?</strong></div>
                            <div class="m-b-5" data-ng-show="!app.isPro()">
                                Parce que quelqu'un parmi vos connaissances connaît le Pro qu'il vous faut ! Faites-vous
                                aider de vos relations de confiance pour trouver des Pro fiables et adaptés à vos
                                besoins.
                            </div>
                            <div class="m-b-20" data-ng-show="!app.isPro()">
                                Parce que quelqu'un parmi vos proches recherche un Pro et qu'il suffit de quelques
                                clics pour l'aider en lui en recommandant un que vous connaissez.
                            </div>
                            <div class="m-b-5" data-ng-show="app.isPro()">
                                Parce qu'une de vos connaissances - personnelle, ancien client ou collègue - à un ami à
                                la recherche de vos compétences. CasaVox encourage vos relations à vous recommander
                                auprès
                                de leurs connaissances « <em>les amis de mes amis sont mes nouveaux clients !</em> ».
                            </div>
                            <div class="m-b-20" data-ng-show="app.isPro()">
                                Parce que s'aider entre collègues est toujours payant ! En quelques clics, recommandez
                                vos collègues à vos connaissances (par exemple, sur les offres qui ne correspondent pas
                                à vos compétences ou zones d'activités), ils feront pareil avec vous !
                            </div>
                        </div>
                        <div class="visible-xs m-b-10">
                            <strong><em>Invitez vos connaissances à vous retrouver sur CasaVox !</em></strong><br>
                        </div>
                        <div class="contactsEmptyLinks">
                            <span class="underline contactsEmptyLink" data-ng-click="vm.openFriendPopup()">Inviter des amis</span>
                            <span class="contactsEmptyLinkOr">

                            </span>
                            <span class="underline contactsEmptyLink" data-ng-click="vm.openProPopup()">Inviter des professionnels</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 p-r-0 padding-left-columns">
                <div class="col-xs-12 card p-0">
                    <div class="card-header dashboardCommunityHeader">
                        <h2 class="d-i-b">
                            Mes Invitations
                            <small class="subtitle-color-forced">
                                Liste de mes invitations reçues et envoyées
                            </small>
                        </h2>
                    </div>
                    <div class="pm-body clearfix">
                        <ul class="tab-nav tn-justified">
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectTab == 'received'}">
                                <a data-ng-class="{'fw-bold' : vm.invitationsReceived.length > 0}"
                                   href="" data-ng-click="vm.selectTab = 'received'">Reçue
                                    <span data-ng-if="vm.invitationsReceived.length > 1">s</span>
                                    <span data-ng-if="vm.invitationsReceived.length > 0">({{vm.invitationsReceived.length}})
                                     </span>
                                    <span data-ng-if="vm.invitationsReceived.length == 0">(0)
                                     </span></a>
                            </li>
                            <li heading="Home"
                                data-ng-class="{'active': vm.selectTab == 'sent'}">
                                <a href="" data-ng-click="vm.selectTab = 'sent'">Envoyée<span
                                    data-ng-if="vm.invitationsSent.length > 1">s</span>
                                    <span data-ng-if="vm.invitationsSent.length > 0">({{vm.invitationsSent.length}})
                                </span>
                                    <span data-ng-if="vm.invitationsSent.length == 0">(0)
                                </span>
                                </a>
                            </li>
                        </ul>
                        <div class="col-xs-12 contactItem"
                             data-ng-repeat="invit in vm.invitationsReceived"
                             data-ng-if="vm.selectTab == 'received'">
                            <cl-image public-id="{{invit.inviter.avatar.cloudinaryPublicId}}"
                                      class="f-l proposal-icon img-circle contactItemAvatar" format="png"
                                      data-ng-if="invit.inviter.avatar.cloudinaryPublicId">
                                <cl-transformation height="40" width="40" crop="fill"/>
                            </cl-image>
                            <div class="img-default fl contactItemInitials"
                                 data-ng-if="!invit.inviter.avatar.cloudinaryPublicId">
                                {{invit.inviter.firstName[0] | uppercase}}.
                                {{invit.inviter.lastName[0] | uppercase}}.
                            </div>
                            <div class="invitReceivedSpanHolder">
                            <span class="contactItemName contactItemNameInvitReceived">
                                {{invit.inviter.firstName}} {{invit.inviter.lastName}}
                                <span class="contactItemPro" data-ng-if="invit.inviter.professional">
                                        PRO
                                </span>
                            </span>
                                <div class="col-xs-12 p-l-0">
                                    <span class="contactItemCity contactItemCityInvitReceived"
                                          data-ng-if="!invit.inviter.professional && invit.inviter.defaultAddress && invit.inviter.defaultAddress.locality">
                                {{invit.inviter.defaultAddress.locality}}
                            </span>
                                    <span class="contactItemCity contactItemCityInvitReceived"
                                          data-ng-if="invit.inviter.professional && invit.inviter.professional.company && invit.inviter.professional.company.address && invit.inviter.professional.company.address.locality">
                                {{invit.inviter.professional.company.address.locality}}
                            </span>
                                </div>
                            </div>

                            <div class="pull-right m-t-5">
                            <span class="waves-effect"
                                  tooltip-placement="left"
                                  uib-tooltip="Refuser l'invitation">
                                <i class="invitRefuse m-t-0 zmdi zmdi-close-circle zmdi-hc-2x p-0 c-deeporange"
                                   data-ng-click="vm.refuseInvitation(invit.inviter.inviteId)"></i>
                        </span>
                                <span class="waves-effect"
                                      tooltip-placement="left"
                                      uib-tooltip="Accepter l'invitation">
                                <img class="invitAccept m-t-0"
                                     src="icons/mdpi/ic_accept_invitation.png"
                                     data-ng-click="vm.acceptInvitation(invit.inviter.inviteId)"/>
                            </span>
                            </div>
                            <div class="col-xs-12 community-invit-received">
                                <casa-community-tag class="recommend-pro-community-tag pull-left p-r-10"
                                                    community="community"
                                                    ng-repeat="community in invit.inviter.communities">
                                </casa-community-tag>
                            </div>
                            <hr class="contact-hr">
                        </div>
                        <div class="col-xs-12 contactItem contactItemInvitation p-t-15 p-b-0"
                             data-ng-repeat="invit in vm.invitationsSent"
                             data-ng-if="vm.selectTab == 'sent'">
                        <span class="p-l-30" data-ng-if="invit.firstName && invit.lastName">
                            {{invit.firstName}} {{invit.lastName}}
                            <span class="contactItemPro" data-ng-if="invit.isPro">
                                    PRO
                            </span>
                            <span class="contactItemEmail">
                                ({{invit.email}})
                            </span>
                        </span>
                            <span class="p-l-30" data-ng-if="!invit.firstName || !invit.lastName">
                            {{invit.email}}
                            <span class="contactItemPro" data-ng-if="invit.isPro">
                                    PRO
                            </span>
                        </span>
                            <hr class="contact-hr">
                        </div>
                    </div>
                    <div class="col-xs-12 contactsEmpty m-b-10"
                         data-ng-if="vm.invitationsReceived.length == 0 && vm.selectTab == 'received'">
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Vous n'avez pas reçu d'invitation</strong></div>
                        </div>
                    </div>
                    <div class="col-xs-12 contactsEmpty m-b-10"
                         data-ng-if="vm.invitationsSent.length == 0 && vm.selectTab == 'sent'">
                        <div class="contactsEmptySubtitle p-t-10 center">
                            <div class="m-t-10 m-b-5"><strong>Vous n'avez invité personne</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showInvitFriendPopup" data-ng-click="vm.closeFriendPopup()" data-ng-cloak>
    <div class="container">
        <div class="CasaPopupWindow col-xs-12 no-padding" data-ng-click="$event.stopPropagation()">
            <div class="col-xs-12 invite-header bgm-lightblue">
                <div><i class="zmdi zmdi-email-open c-white f-s-20"></i></div>
                <div class="c-white m-l-15">INVITER DES AMIS</div>
                <i class="zmdi zmdi-close c-white close-icon-invit zmdi-hc-lg pointer"
                   data-ng-click="vm.closeFriendPopup()"></i>
            </div>
            <div class="m-b-0"
            data-ng-class="{'destination': vm.mails.length < 1, 'destination-mails' : vm.mails.length > 0}">
                <div class="p-20">A</div>
                <div class="email-invite p-5 p-r-10">
                    <ul class="yaka-chips" data-ng-if="vm.mails.length > 0">
                        <li class="p-l-5 p-r-5 d-i-b"
                            data-ng-class="{'m-t-10' : vm.mails.length < 2}"
                            data-ng-repeat="mail in vm.mails track by $index">{{mail}}
                            <i class="zmdi zmdi-close m-l-2 pointer"
                               data-ng-click="vm.deleteMailFromList($index)"></i>
                        </li>
                    </ul>
                    <textarea data-ng-show="vm.mails.length < 1"
                              class="form-control no-form-border p-t-15"
                              data-auto-size=""
                              placeholder="Exemple1@mail.fr exemple2@mail.com..."
                              data-autosize-on="true"
                              style="overflow: hidden; word-wrap: break-word; height: 37px;"
                              ng-keypress="vm.onKeyPress($event)"
                              data-ng-model="vm.invitCustomer"></textarea>
                    <small class="c-red"
                           data-ng-if="vm.formCustInvitError && !vm.invitCustomer && vm.mails.length < 1">Veuillez saisir une ou plusieurs adresses mail</small>
                </div>
                <img src=".../../img/logoGmail.svg" class="pointer p-10 p-r-20" width="78px" height="64px" alt="invitation gmail"
                     tooltip-placement="left"
                     uib-tooltip="Inviter via Gmail"
                     data-ng-click="vm.closeFriendPopup(); vm.loadGmailContacts()"/>
            </div>
            <textarea class="form-control p-t-15 p-l-53 secondInputEmail"
                      data-ng-show="vm.mails.length > 0"
                      data-auto-size=""
                      placeholder="Exemple1@mail.fr exemple2@mail.com..."
                      data-autosize-on="true"
                      style="overflow: hidden; word-wrap: break-word; height: 37px;"
                      ng-keypress="vm.onKeyPress($event)"
                      data-ng-model="vm.invitCustomer"></textarea>
            <div class="destination m-b-0 bgm-gray-lighter">
                <div class="p-l-20 p-t-10 p-b-10 p-r-20">De</div>
                <div class="p-t-10">
                    {{app.getUser().firstName}} {{app.getUser().lastName}} (via Casavox)
                </div>
            </div>
            <div class="form-group destination m-b-0 bgm-gray-lighter">
                <div class="fg-line form-object p-l-20 p-r-20">
                    {{app.getUser().firstName}} {{app.getUser().lastName}} vous invite à rejoindre son réseau d'entraide
                    Casavox
                </div>
            </div>
            <div class="destination-message m-b-0">
                <div class="invite-message p-t-20 p-r-20 p-l-20">
                    <textarea class="form-control no-form-border message-body"
                              data-auto-size=""
                              placeholder="Rédigez votre message ici (facultatif)"
                              data-autosize-on="true"
                              data-ng-model="vm.invitMessage"
                              style="overflow: hidden; word-wrap: break-word; height: 37px;"></textarea>
                </div>
            </div>
            <div class="col-xs-12 no-padding send-button-line">
                <div class="btn bgm-lightblue c-white send-email-invitation"
                     data-ng-click="vm.addContactToMail('send')">ENVOYER
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showInvitProPopup" data-ng-click="vm.closeProPopup()" data-ng-cloak>
    <div class="container">
        <div class="CasaPopupWindow col-xs-12 no-padding" data-ng-click="$event.stopPropagation()">
            <div class="col-xs-12 invite-header bgm-orange">
                <div><i class="zmdi zmdi-email-open c-white f-s-20"></i></div>
                <div class="c-white m-l-15">INVITER UN PRO</div>
                <i class="zmdi zmdi-close c-white close-icon-invit-pro zmdi-hc-lg pointer"
                   data-ng-click="vm.closeProPopup()"></i>
            </div>
            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-20 p-r-0 pro-form-field">Nom</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           name="name"
                           class="form-control no-form-border"
                           data-ng-model="vm.invitPro.name"
                           placeholder="Entrez le le Nom et le Prénom"
                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                    <small class="c-red"
                    data-ng-if="vm.formProInvitError && !vm.invitPro.name">Ce champs est requis</small>
                </div>
            </div>
            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-20 p-r-0 pro-form-field">Email</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           name="username"
                           placeholder="Entrez l'e-mail du destinataire"
                           data-ng-disabled="vm.isSocialRegister()"
                           class="form-control no-form-border"
                           data-ng-model="vm.invitPro.email">
                    <small class="c-red"
                           data-ng-if="vm.formProInvitError && !vm.invitPro.email || vm.formProInvitEmailError">Ce champs est requis</small>

                </div>
            </div>

            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-5 p-r-0 pro-form-field-cp">Code Postal</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           class="form-control no-form-border"
                           data-ng-model="vm.invitPro.postalCode"
                           name="address"
                           data-ng-maxlength="5"
                           maxlength="5"
                           placeholder="Entrez le code postal du professionnel"
                           id="address">
                    <small class="c-red"
                           data-ng-if="vm.formProInvitError && vm.invitPro.postalCode.length < 1">Ce champs est requis</small>
                </div>
            </div>

            <div class="destination m-b-0">
                <div class="p-t-10 p-b-10 p-l-20 p-r-15 pro-form-field-phone">Tél.</div>
                <div class="p-t-0 full-width">
                    <input type="text"
                           name="phoneNumber"
                           class="form-control no-form-border"
                           placeholder="Numéro de téléphone (facultatif)"
                           data-ng-model="vm.invitPro.phone" yaka-input-phone>
                </div>
            </div>

            <div class="destination m-b-0 bgm-gray-lighter">
                <div class="p-l-20 p-t-10 p-b-10 p-r-15 pro-form-field-from">De</div>
                <div class="p-t-10">
                    {{app.getUser().firstName}} {{app.getUser().lastName}} (via Casavox)
                </div>
            </div>
            <div class="form-group destination m-b-0 bgm-gray-lighter">
                <div class="fg-line form-object p-l-20 p-r-20">
                    {{app.getUser().firstName}} {{app.getUser().lastName}} vous invite à rejoindre son réseau d'entraide
                    Casavox
                </div>
            </div>
            <div class="destination-message m-b-0">
                <div class="invite-message p-t-20 p-r-20 p-l-20">
                    <textarea class="form-control no-form-border message-body"
                              data-auto-size=""
                              placeholder="Rédigez votre message ici (facultatif)"
                              data-autosize-on="true"
                              data-ng-model="vm.invitProMessage"
                              style="overflow: hidden; word-wrap: break-word; height: 37px;"></textarea>
                </div>
            </div>
            <div class="col-xs-12 no-padding send-button-line">
                <div class="btn bgm-lightblue c-white send-email-invitation"
                     data-ng-click="vm.sendProInvit()">ENVOYER
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showGmailPopup" data-ng-click="vm.closeGmailPopup()" data-ng-cloak>
    <div class="container">
        <div class="CasaPopupWindow gmail-window col-xs-12 no-padding" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png" data-ng-click="vm.closeGmailPopup()"
                 alt=""/>

            <img class="center" src="img/loader_small.gif"
                 data-ng-if="!vm.gmailContacts || vm.gmailContacts.length == 0" alt=""/>


            <div class="checkbox" data-ng-if="vm.gmailContacts && vm.gmailContacts.length > 0">
                <label class="yakaEllipsis">
                    <input type="checkbox" data-ng-change="vm.selectAllChanged()" data-ng-model="vm.selectAll">
                    <i class="input-helper"></i>
                    <b>Tout sélectionner</b>
                </label>
            </div>
            <div class="gmailContactsList">
                <div data-ng-repeat="contact in vm.gmailContacts track by contact.id">
                    <div class="checkbox">
                        <label class="yakaEllipsis">
                            <input type="checkbox" data-ng-model="contact.selected" value="">
                            <i class="input-helper"></i>
                            <span data-ng-if="contact.name">
                                <b>{{contact.name}}</b> - {{contact.address}}
                            </span>
                            <span data-ng-if="!contact.name">
                                <b>{{contact.address}}</b>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <button class="col-xs-12 center btn bgm-lightblue btn-lg btn-icon-text waves-effect"
                    data-ng-disabled="!vm.showGmailInviteButton()"
                    data-ng-if="vm.gmailContacts && vm.gmailContacts.length > 0"
                    data-ng-click="vm.sendGoogleCustomerInvit()">
                Ajouter
            </button>
        </div>
    </div>
</div>
