<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
    ></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">
        <div class="container">

            <div class="block-header">
                <h2>Support</h2>
            </div>

            <div class="col-xs-12 no-padding card">

                <form name="supportForm">

                    <div class="col-xs-12 card-header m-b-20">
                        <h2>Vos coordonnées</h2>
                    </div>

                    <div class="card-body card-padding">

                        <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                             data-ng-class="{'has-error': !vm.supportMessage.gender}">
                            <div class="fg-line">
                                <div class="select">
                                    <select name="gender"
                                            required="required"
                                            data-ng-model="vm.supportMessage.gender"
                                            class="form-control">
                                        <option value="" disabled selected></option>
                                        <option data-ng-selected="vm.supportMessage.gender == 'MR'" value="MR">
                                            M.
                                        </option>
                                        <option data-ng-selected="vm.supportMessage.gender == 'MRS'"
                                                value="MRS">
                                            Mme.
                                        </option>
                                    </select>
                                </div>
                                <label class="fg-label">Civilité</label>
                            </div>
                            <div data-ng-messages="supportForm.gender.$error">
                                <small class="help-block" data-ng-message="required">Ce champ est requis
                                </small>
                            </div>
                        </div>
                        <div class="col-xs-12 no-padding row m-l-0 m-r-0">
                            <div class="col-xs-12 no-padding form-group fg-float m-b-30 halfInput halfInputNotInMobile"
                                 data-ng-class="{'has-error': !vm.supportMessage.firstName}">

                                <div class="fg-line">
                                    <input type="text" name="firstName" class="form-control fg-input"
                                           data-ng-model="vm.supportMessage.firstName"
                                           required="required" yaka-input-name>
                                    <label class="fg-label">Prénom</label>
                                </div>
                                <div data-ng-messages="supportForm.firstName.$error">
                                    <small class="help-block" data-ng-message="required">Ce champ est requis
                                    </small>
                                    <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                        valide
                                    </small>
                                </div>

                            </div>
                            <div
                                class="col-xs-12 no-padding form-group fg-float m-b-30 halfInput halfInputNotInMobile halfInputRight"
                                data-ng-class="{'has-error': !vm.supportMessage.lastName}">

                                <div class="fg-line">
                                    <input type="text" name="lastName" class="form-control fg-input"
                                           data-ng-model="vm.supportMessage.lastName"
                                           required="required" yaka-input-name>
                                    <label class="fg-label">Nom</label>
                                </div>
                                <div data-ng-messages="supportForm.lastName.$error">
                                    <small class="help-block" data-ng-message="required">Ce champ est requis
                                    </small>
                                    <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                        valide
                                    </small>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 no-padding row m-l-0 m-r-0">
                            <div
                                class="col-xs-12 no-padding form-group fg-float m-b-30 halfInput halfInputNotInMobile"
                                data-ng-class="{'has-error': !vm.supportMessage.email}">
                                <div class="fg-line">
                                    <input type="text" name="email" class="form-control fg-input"
                                           data-ng-model="vm.supportMessage.email"
                                           data-ng-disabled="vm.supportMessage.email && app.getUser()"
                                           required="required" yaka-input-email>
                                    <label class="fg-label">Email</label>
                                </div>
                                <div data-ng-messages="supportForm.email.$error">
                                    <small class="help-block" data-ng-message="required">Ce champ est requis</small>
                                    <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div
                                class="col-xs-12 no-padding form-group fg-float m-b-30 halfInput halfInputNotInMobile halfInputRight">
                                <div class="fg-line">
                                    <input type="text" name="phoneNumber"
                                           class="form-control fg-input"
                                           data-ng-model="vm.supportMessage.phoneNumber" yaka-input-phone>
                                    <label class="fg-label fg-label-phone">Téléphone</label>
                                </div>
                                <div data-ng-messages="supportForm.phoneNumber.$error">
                                    <small class="help-block" data-ng-message="invalidPhone">
                                        Ce numéro de téléphone n'est pas valide
                                    </small>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12 card-header m-b-20">
                        <h2>Votre message</h2>
                    </div>

                    <div class="card-body card-padding">

                        <div class="form-group"
                             data-ng-class="{'has-error': !vm.supportMessage.message}">
                            <div class="fg-line">
                                    <textarea class="form-control" rows="4"
                                              name="aboutMe"
                                              data-ng-model="vm.supportMessage.message"
                                              required="required"
                                              data-auto-size
                                              data-ng-minlength="100"
                                              data-autosize-on="true"
                                              placeholder="Tapez ici votre message"></textarea>
                            </div>
                            <div data-ng-messages="supportForm.aboutMe.$error">
                                <small class="help-block" data-ng-message="minlength">Le message est trop court (100
                                    caractères min)
                                </small>
                                <small class="help-block" data-ng-message="required">Ce champ est requis</small>
                            </div>
                        </div>

                        <div
                            vc-recaptcha
                            data-ng-model="vm.supportMessage.recaptchaResponse"
                            key="'6LfHoiMTAAAAADNY3f2X1Fn9ojIk_jAS0d4X6kSg'"
                            class="hidden-xs"
                            ></div>

                        <div
                            vc-recaptcha
                            data-ng-model="vm.supportMessage.recaptchaResponse"
                            key="'6LfHoiMTAAAAADNY3f2X1Fn9ojIk_jAS0d4X6kSg'"
                            class="visible-xs"
                            style="-moz-transform:scale(0.77); -ms-transform:scale(0.77); -o-transform:scale(0.77); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.77); transform:scale(0.77); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');"
                            ></div>

                        <button class="btn bgm-lightblue waves-effect m-t-20"
                                data-ng-disabled="!vm.formIsValid() || vm.loading"
                                data-ng-click="vm.sendSupportMessage()">
                            Envoyer
                        </button>

                    </div>

                </form>

            </div>

        </div>
    </div>
</section>
