.input-filter {
    width: calc((100% / 7.15) - 1px);
}

.input-filter-project {
    width: calc(100% / 9.4);
}

.input-filter-projectD {
    width: calc(100% / 6.15);
}

.validateButton {
    margin-bottom: 3px;
}

.desc-field {
    max-height:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

