<div class="modal-header">
    <h3 class="modal-title">Êtes-vous sûr ?</h3>
</div>
<div class="modal-body">
    <strong>Au lieu de supprimer un projet, il est généralement prérérable de le modifier.</strong>
</div>
<div class="modal-footer p-t-0 p-b-10">
    <button class="btn btn-primary m-b-5" type="button" data-ng-click="cancel()">
        Non
    </button>
    <button class="btn btn-warning m-b-5" type="button" data-ng-click="yesChoice = true"
            data-ng-disabled="yesChoice">
        Oui, supprimer mon projet
    </button>
    <div class="m-t-10 text-left" data-ng-show="yesChoice">
        <strong class="c-orange">Veuillez expliquer à votre artisan ({{professionalName}}) pourquoi vous supprimez ce
            projet :</strong>

        <div class="lv-footer ms-reply ms-reply-modal" data-ng-show="yesChoice">
            <textarea data-ng-model="cancelProposalMessage" data-ng-trim="true"
                      placeholder="20 caractères minimum : Désolé, je dois repousser ce projet / Le prix ne correspond pas à mon budget / ...">
            </textarea>
            <button data-ng-click="ok(cancelProposalMessage)"
                    data-ng-disabled="!cancelProposalMessage || cancelProposalMessage.length < 20"
                    data-ng-class="{'pointer-not-allowed': !cancelProposalMessage || cancelProposalMessage.length < 20}">
                <i class="zmdi zmdi-mail-send"
                   data-ng-class="{'c-gray': !cancelProposalMessage || cancelProposalMessage.length < 20}"></i>
            </button>
        </div>
    </div>
</div>
