<style data-ng-if="app.isPro()">
    .customerSupportWidget {
        background: #FF9800;
    }

    .contactsItemNumberActive {
        background: #FF9800;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content">
        <div class="container">
            <button class="visible-xs btn btn-success validateButton waves-effect"
                    data-ng-disabled="!vm.oneOrMoreUser()"
                    data-ng-click="openMailPopup()">
                Envoyer Mail
            </button>

            <table ng-table="usersTable" class="table table-striped" show-filter="true">

                <tr data-ng-repeat="user in $data | filter:search" class="t-center">

                    <td data-title="'Type'" class="pointer" filter="{isPro: 'text'}" data-sortable="'isPro'"
                        data-ui-sref="admin-user-details({userId: user.id})"
                        ng-class="{'c-orange' : user.isPro == 'Professionnel', 'c-blue' : user.isPro == 'Particulier'}">
                        {{ user.isPro }}
                    </td>
                    <td data-title="'Created'" filter="{created: 'text'}" data-sortable="'created'">
                        {{ user.created | date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Updated'" filter="{updated: 'text'}" data-sortable="'updated'">
                        {{ user.updated| date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Ville'" filter="{place: 'text'}"
                        data-sortable="'place'">
                        {{ user.place }}
                    </td>
                    <td data-title="'Recommandations'" filter="{recommendedProNumber: 'text'}"
                        data-sortable="'recommendedProNumber'">
                        {{ user.recommendedProNumber }}
                    </td>
                    <td data-title="'Projet/offre en cours'" filter="{onGoingProjectNumber: 'text'}"
                        data-sortable="'onGoingProjectNumber'">
                        {{ user.onGoingProjectNumber }}
                    </td>
                    <td data-title="'Projet/offre terminé'" filter="{completedProjectNumber: 'text'}"
                        data-sortable="'completedProjectNumber'">
                        {{ user.completedProjectNumber }}
                    </td>
                    <td data-title="'Projet/offre refusé'" filter="{canceledProjectNumber: 'text'}"
                        data-sortable="'canceledProjectNumber'">
                        {{ user.canceledProjectNumber }}
                    </td>
                    <td data-title="'Contact'" filter="{contactNumber: 'text'}"
                        data-sortable="'contactNumber'">
                        {{ user.contactNumber }}
                    </td>
                    <td data-title="'Invité'" filter="{invitationSentNumber: 'text'}"
                        data-sortable="'invitationSentNumber'">
                        {{ user.invitationSentNumber }}
                    </td>
                    <td data-title="'Nom'" filter="{name: 'text'}" data-sortable="'name'">
                        {{ user.name }}
                    </td>
                    <td data-title="'id db'" filter="{id: 'text'}" data-sortable="'id'">
                        {{ user.id }}
                    </td>
                    <td data-title="'Select'" class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="user.selected" value="">
                            <i class="input-helper"></i>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
