<style data-ng-if="app.isPro()">
    .customerSupportWidget {
        background: #FF9800;
    }

    .contactsItemNumberActive {
        background: #FF9800;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content">
        <div class="container">

            <div class="card col-xs-12 col-sm-4">
                <i class="zmdi zmdi-hc-2x zmdi-close  t-right c-black m-t-5 f-right pointer"
                   ng-click="reinitializeCreatedDate()"></i>
                <h4>Recherche par date de création</h4>
                <p>Entre le :</p>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fromDate"
                           is-open="status1.opened" max-date="maxDate" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openFromDate($event)"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
                </p>
                <p>Et le :</p>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toDate"
                           is-open="status2.opened" max-date="maxDate" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openToDate($event)"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
                </p>
            </div>
            <div class="card col-xs-12 col-sm-4 col-sm-offset-1">
                <i class="zmdi zmdi-hc-2x zmdi-close  t-right c-black m-t-5 f-right pointer"
                   ng-click="reinitializeCreatedDate()"></i>
                <h4>Recherche par date de mise à jour</h4>
                <p>Entre le :</p>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="updatedFromDate"
                           is-open="status3.opened" max-date="maxDate" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openUpdatedFromDate($event)"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
                <p>Et le :</p>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="updatedToDate"
                           is-open="status4.opened" max-date="maxDate" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openUpdatedToDate($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
            <div class="card col-xs-12 col-sm-2 col-sm-offset-1 t-center">
                <h4>Valider le(s) pro(s)</h4>
                <button class="btn btn-success waves-effect m-b-10"
                        data-ng-disabled="!vm.oneOrMorePro()"
                        data-ng-click="vm.validatePro()">Valider
                </button>
            </div>


            <table ng-table="usersTable" class="table table-striped" show-filter="true">

                <tr data-ng-repeat="pro in $data | filter:search | casaDateRangePicker:fromDate:toDate:'created' | casaDateRangePicker:updatedFromDate:updatedToDate:'updated'"
                    class="t-center">

                    <td data-title="'Nom'" class="pointer c-blue" filter="{userName: 'text'}" data-sortable="'userName'"
                        data-ui-sref="admin-pro-details({professionnalId: pro.id})">
                        {{pro.userName}}
                    </td>
                    <td data-title="'Ville'" filter="{city: 'text'}" data-sortable="'city'">
                        {{ pro.city }}
                    </td>
                    <td data-title="'Création'" data-sortable="'created'">
                        {{ pro.created | date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Mis à jour'" data-sortable="'updated'">
                        {{ pro.updated| date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Eligible'"
                        filter="{eligibleStatus: 'text'}"
                        ng-class="{'bgm-green' : pro.eligibleStatus == 'Validé', 'bgm-yellow' : pro.eligibleStatus == 'Incomplet', 'bgm-blue' : pro.eligibleStatus == 'Complet', 'bgm-red' : pro.eligibleStatus == 'Refusé'}"
                        data-sortable="'eligibleStatus'">
                        {{ pro.eligibleStatus }}
                    </td>
                    <td data-title="'Statut'"
                        filter="{status: 'text'}"
                        ng-class="{'bgm-green' : pro.status == 'Validé', 'bgm-yellow' : pro.status == 'Incomplet', 'bgm-blue' : pro.status == 'Complet', 'bgm-red' : pro.status == 'Refusé'}"
                        data-sortable="'status'">
                        {{ pro.status }}
                    </td>
                    <td data-title="'Pièces jointes'">
                        <div data-ng-repeat="file in pro.verifications">
                            <a ng-href="{{ file.cloudinaryPublicId | yakaCloudinaryDownload }}">{{ file.name |
                                casaProfessionalDoc }}</a>
                        </div>
                    </td>
                    <td data-title="'Vérif nécessaire'" filter="{needToRecheck: 'text'}"
                        data-sortable="'needToRecheck'">
                        {{ pro.newNeedToRecheck}}
                    </td>
                    <td class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="pro.selected" value="">
                            <i class="input-helper"></i>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
