<style type="text/css">
    #map_canvas {
        height: 120px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    @media (max-width: 767px) {
        #map_canvas {
            height: 100px;
        }
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"
></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="{{vm.getUpState()}}"
                    title="Détails du chantier"></yaka-mobile-header>

<section id="main">

    <div class="container p-l-25 p-r-25" data-ng-if="vm.proposal.status">
        <ol class="breadcrumb hidden-xs">
            <li class="pointer" data-ui-sref="{{vm.getUpState()}}">
                {{vm.getUpName()}}
            </li>
            <li class="active">
                Détails du chantier
            </li>
        </ol>
    </div>

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">

        <div class="container">

            <div class="block-header">
                <h2>
                    <span class="c-orange"
                          data-ng-if="vm.proposal && vm.proposal.project && vm.proposal.project.status == 'CANCELED'">
                        Chantier Annulé
                    </span>
                    <span data-ng-if="vm.proposal && vm.proposal.project && vm.proposal.project.status == 'CANCELED'">
                        -
                    </span>
                    {{vm.project.title}}
                </h2>
            </div>

            <div class="topViewProfile">
                <div class="card bgm-red c-white p-15"
                     data-ng-if="vm.project.error == 'ERROR_FORBIDDEN_PRO_STATUS_REGISTERED'">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-info-outline"></i>
                    </div>
                    <div class="topViewProfileContent">
                        Attention, <b>votre profil est incomplet</b> ! Merci de compléter les champs manquants dans
                        votre profil afin de pouvoir répondre aux offres.
                    </div>
                </div>

                <div class="card bgm-orange c-white p-15"
                     data-ng-if="vm.project.error == 'ERROR_FORBIDDEN_PRO_STATUS_WAITING'">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-info-outline"></i>
                    </div>
                    <div class="topViewProfileContent">
                        <b>Votre profil est en cours de validation</b>, vous pourrez répondre aux offres dès qu'il aura
                        été validé (contactez le support CasaVox si nécessaire).
                    </div>
                </div>

                <div data-ng-if="vm.project.error == 'ERROR_FORBIDDEN_PRO_STATUS_REFUSED'"
                     class="card bgm-red c-white p-15">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-info-outline"></i>
                    </div>
                    <div class="topViewProfileContent">
                        Nous n'avons pas pu vérifier votre profil
                        <div data-ng-if="app.getUser().professional.refusedReason">
                            Raison : {{app.getUser().professional.refusedReason}}
                        </div>
                        <div>
                            Vous pourrez répondre aux offres une fois que votre profil aura été correctement complété
                            puis validé par CasaVox.
                        </div>
                    </div>
                </div>
            </div>

            <div class="yakaMain proposalMainView">
                <div class="card m-b-15 pro" id="profile-main" data-ng-class="{'no-scroll': vm.showChat}">
                    <div class="pm-overview pro hidden-xs">
                        <div class="mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside"
                             tabindex="0">
                            <div
                                style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                                <div class="pmo-pic">

                                    <div class="bgm-lightblue t-center p-10 c-white f-s-14"
                                         data-ng-if="vm.proposal.firstRecommendation">
                                        Recommandé par
                                        <casa-name-and-contact
                                            user="vm.proposal.firstRecommendation.recommender"
                                            icon-color="c-white"></casa-name-and-contact>
                                        <span
                                            data-ng-if="vm.proposal.recommendations && vm.proposal.recommendations.length > 1">
                                                        + {{vm.proposal.recommendations.length - 1}} autre<span
                                            data-ng-if="vm.proposal.recommendations && vm.proposal.recommendations.length > 2">s</span>
                                                    </span>
                                    </div>

                                    <div class="p-relative">
                                        <img class="img-responsive proAvatarProposalImage"
                                             data-ng-if="vm.project.user.avatar.cloudinaryPublicId"
                                             data-ng-src="{{vm.project.user.avatar.cloudinaryPublicId | yakaCloudinaryUrl:true:259}}"
                                             alt=""/>

                                        <div class="yakaAvatarInitialsProposal"
                                             data-ng-if="!vm.project.user.avatar.cloudinaryPublicId">
                                            {{vm.project.user.firstName[0] | uppercase}}.
                                            {{vm.project.user.lastName[0]| uppercase}}.
                                        </div>

                                        <cl-image
                                            public-id="{{vm.proposal.professional.mainPartner.cloudinaryPublicId}}"
                                            class="proposalProMainPartnerImg" format="png"
                                            data-ng-if="vm.proposal.professional.mainPartner.cloudinaryPublicId">
                                            <cl-transformation height="55" width="55" crop="fill" radius="max"/>
                                        </cl-image>

                                    </div>

                                    <div class="col-xs-12 no-padding pmo-stat proposalProName">
                                        <h2 class="yakaEllipsis">
                                            <casa-name-and-contact user="vm.project.user"
                                                                   icon-color="c-white"></casa-name-and-contact>
                                        </h2>

                                        <div data-ng-if="vm.proposal.status == 'START'">
                                            <div class="t-center m-t-15">
                                                Échange en cours
                                            </div>
                                            <button data-ng-click="vm.cancelProposalModal()"
                                                    class="col-xs-offset-1 col-xs-10 btn btn-xs btn-danger btn-icon-text waves-effect">
                                                <i class="zmdi zmdi-close"></i> abandonner l'offre
                                            </button>
                                        </div>
                                        <div data-ng-if="vm.proposal.status == 'SELECTED'">
                                            <div class="t-center m-t-15">
                                                Chantier en cours
                                            </div>
                                            <button data-ng-click="vm.cancelProposalModal()"
                                                    class="col-xs-offset-1 col-xs-10 btn btn-danger btn-icon-text waves-effect">
                                                <i class="zmdi zmdi-close"></i> Annuler chantier
                                            </button>
                                        </div>
                                        <div data-ng-if="vm.proposal.status == 'RECOMMENDATION'">
                                            <div class="t-center m-t-0">
                                                <strong>Vous a été recommandé</strong>
                                            </div>
                                            <div class="t-center bgm-orange">
                                                <strong>Contactez le !</strong>
                                            </div>
                                            <button data-ng-click="vm.cancelRecommandationModal()"
                                                    class="center col-xs-11 btn btn-xs btn-danger btn-icon-text waves-effect">
                                                <i class="zmdi zmdi-close"></i> Refuser
                                            </button>
                                        </div>
                                        <div class="m-t-15"
                                             data-ng-if="vm.proposal.status == 'CUSTOMER_DECLINED' || vm.proposal.status == 'RECO_CUSTOMER_DECLINED'">
                                            Refusé par le client
                                        </div>
                                        <div class="m-t-15"
                                             data-ng-if="vm.proposal.status == 'PRO_DECLINED' || vm.proposal.status == 'RECO_PRO_DECLINED'">
                                            Annulé par moi
                                        </div>
                                        <div class="m-t-15"
                                             data-ng-if="vm.proposal.status == 'RATE_PRO'">
                                            Cloture client en cours
                                        </div>
                                        <div class="m-t-15"
                                             data-ng-if="vm.proposal.status == 'COMPLETED'">
                                            Clos le {{ vm.proposal.updated | date: 'dd MMMM yyyy' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pm-body clearfix">

                        <ul class="tab-nav tab-nav-proposal tn-justified">
                            <li heading="Home"
                                data-ng-class="{'active': !vm.showChat}">
                                <a href="" data-ng-click="vm.showChat = false">Détails</a>
                            </li>

                            <li heading="Profile"
                                data-ng-class="{'active': vm.showChat}">
                                <a href="" data-ng-click="vm.showChat = true; vm.scrollBottom = 1">
                                    <div>
                                        Messages
                                        <i class="proposalUnreadMessagesIndicator"
                                           data-ng-if="vm.proposal.supportChat.AdminUnreadMessages || vm.proposal.unreadMessages"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <div class="col-xs-12 chatChoice no-padding bgm-white c-gray"
                             data-ng-if="vm.showChat">
                            <div class="col-xs-12 col-sm-5 col-md-3 no-padding emptyCol">
                                <div class="col-xs-6 chatTab p-b-5 t-center pointer emptyCol"
                                     data-ng-class="{'p-border' : !vm.chatWithAdmin}"
                                     data-ng-click="vm.changeUserDialog('admin')">
                                    <div class="p-relative center divAvatarIcon">
                                        <yaka-avatar class="m-t-5"
                                                     size="44" user="vm.proposal.professional.user"></yaka-avatar>
                                        </cl-image>
                                        <i class="proposalUnreadMessagesIndicatorChatTab"
                                           data-ng-if="vm.proposal.supportChat.adminUnreadMessages"></i>
                                        <p class="assistanceTxt">PRO</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 chatTab p-b-5 t-center pointer emptyCol"
                                     data-ng-class="{'p-border' : vm.chatWithAdmin}"
                                     data-ng-click="vm.changeUserDialog('customer')">
                                    <div class="p-relative center divAvatarIcon">
                                        <yaka-avatar class="m-t-5"
                                                     size="44" user="vm.project.user"></yaka-avatar>
                                        <i class="proposalUnreadMessagesIndicatorChatTab"
                                           data-ng-if="vm.proposal.unreadMessages"></i>
                                        <p class="assistanceTxt">CLIENT-PRO</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="hidden-xs col-sm-7 col-md-9 no-padding bgm-gray-lighter emptyCol p-border"></div>
                        </div>

                        <yaka-chat class="scrollViewChatProposalAdminAndPro"
                                   data-ng-show="vm.showChat && vm.chatWithAdmin"
                                   scroll-bottom="{{vm.scrollBottom}}"
                                   chat-id="{{vm.proposal.supportChat.id}}"
                                   proposal-status="{{vm.proposal.status}}"
                                   user-me="'admin'"
                                   user-other="vm.proposal.professional.user"
                                   user-pro="vm.proposal.professional.user"></yaka-chat>

                        <yaka-chat class="scrollViewChatProposalAdminAndPro"
                                   data-ng-show="vm.showChat && !vm.chatWithAdmin"
                                   scroll-bottom="{{vm.scrollBottom}}"
                                   chat-id="{{vm.proposal.chat.id}}"
                                   proposal-status="{{vm.proposal.status}}"
                                   user-me="'admin'"
                                   user-other="vm.proposal.project.user"
                                   user-pro="vm.proposal.professional.user"></yaka-chat>

                        <div data-ng-show="!vm.showChat">

                            <div class="pm-overview pro visible-xs">
                                <div class="mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" tabindex="0">
                                    <div style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                                        <div class="pmo-pic">

                                            <div class="t-center c-white f-s-14 m-b-10"
                                                 data-ng-if="vm.proposal.firstRecommendation">
                                                Recommandé par
                                                <casa-name-and-contact
                                                    user="vm.proposal.firstRecommendation.recommender"
                                                    icon-color="c-white"></casa-name-and-contact>
                                                <span
                                                    data-ng-if="vm.proposal.recommendations && vm.proposal.recommendations.length > 1">+ {{vm.proposal.recommendations.length - 1}} autre
                                                    <span
                                                        data-ng-if="vm.proposal.recommendations && vm.proposal.recommendations.length > 2">s</span>
                                                </span>
                                                <hr class="m-0 p-0 m-t-5">
                                            </div>

                                            <div class="p-relative">
                                                <img class="img-responsive proAvatarProposalImage"
                                                     data-ng-if="vm.project.user.avatar.cloudinaryPublicId"
                                                     data-ng-src="{{vm.project.user.avatar.cloudinaryPublicId | yakaCloudinaryUrl:true:259}}"
                                                     alt=""/>

                                                <div class="yakaAvatarInitialsProposal"
                                                     data-ng-if="!vm.project.user.avatar.cloudinaryPublicId">
                                                    {{vm.project.user.firstName[0] | uppercase}}.
                                                    {{vm.project.user.lastName[0]| uppercase}}.
                                                </div>

                                            </div>

                                            <div
                                                class="col-xs-12 no-padding pmo-stat proposalProName littleMargin clearfix">
                                                <h2>
                                                    <casa-name-and-contact user="vm.project.user"
                                                                           icon-color="c-white"></casa-name-and-contact>
                                                </h2>

                                                <div data-ng-if="vm.proposal.status == 'START'">
                                                    <div class="proNetworkProjectButtonLabel t-center m-t-15">
                                                        Échange en cours
                                                    </div>
                                                    <button data-ng-click="vm.cancelProposalModal()"
                                                            class="col-xs-offset-1 col-xs-10 btn btn-xs btn-danger btn-icon-text waves-effect cancelProposal">
                                                        <i class="zmdi zmdi-close"></i> Abandonner l'offre
                                                    </button>
                                                </div>
                                                <div data-ng-if="vm.proposal.status == 'SELECTED'">
                                                    <div class="proNetworkProjectButtonLabel t-center m-t-15">
                                                        Chantier en cours
                                                    </div>
                                                    <button data-ng-click="vm.cancelProposalModal()"
                                                            class="col-xs-offset-1 col-xs-10 btn btn-danger btn-icon-text waves-effect cancelProposal">
                                                        <i class="zmdi zmdi-close"></i> Annuler chantier
                                                    </button>
                                                </div>
                                                <div data-ng-if="vm.proposal.status == 'RECOMMENDATION'">

                                                    <div class="col-xs-12 m-t-45">
                                                        <button data-ng-click="vm.smoothScrollToSend()"
                                                                class="col-xs-6 btn btn-primary btn-sm waves-effect zIndex1">
                                                            CONTACTER !
                                                        </button>
                                                        <button data-ng-click="vm.cancelRecommandationModal()"
                                                                class="right col-xs-6 btn btn-danger btn-sm waves-effect btn-icon-text">
                                                            <i class="zmdi zmdi-close"></i> Refuser
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xs-8 col-xs-offset-4 no-padding status"
                                                     data-ng-if="vm.proposal.status == 'CUSTOMER_DECLINED'">
                                                    Refusé par le client
                                                </div>
                                                <div class="col-xs-8 col-xs-offset-4 no-padding status"
                                                     data-ng-if="vm.proposal.status == 'PRO_DECLINED'">
                                                    Annulé par moi
                                                </div>
                                                <div class="col-xs-8 col-xs-offset-4 no-padding status"
                                                     data-ng-if="vm.proposal.status == 'RECO_CUSTOMER_DECLINED'">
                                                    Refusé par le client
                                                </div>
                                                <div class="col-xs-8 col-xs-offset-4 no-padding status"
                                                     data-ng-if="vm.proposal.status == 'RECO_PRO_DECLINED'">
                                                    Annulé par moi
                                                </div>
                                                <div class="col-xs-8 col-xs-offset-4 no-padding status"
                                                     data-ng-if="vm.proposal.status == 'RATE_PRO'">
                                                    Cloture client en cours
                                                </div>
                                                <div class="col-xs-8 col-xs-offset-4 no-padding status"
                                                     data-ng-if="vm.proposal.status == 'COMPLETED'">
                                                    Clos le {{ vm.proposal.updated | date: 'dd MMMM yyyy' }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-xs-12 ">
                                    <div id="map_canvas">
                                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="mapOptions"
                                                            dragging="false">
                                            <ui-gmap-circle
                                                data-ng-if="!vm.proposalTmp.project.address.address"
                                                center="vm.circle.center" stroke="vm.circle.stroke"
                                                fill="vm.circle.fill" radius="vm.circle.radius"
                                                bounds="vm.circle.bounds" geodesic="true" editable="false"
                                                draggable="false" clickable="true" control="vm.circle.control"
                                                events="vm.circle.events"></ui-gmap-circle>
                                            <ui-gmap-marker
                                                data-ng-if="vm.proposalTmp.project.address.address"
                                                idKey='1'
                                                coords='vm.marker.coords' options="vm.marker.options"></ui-gmap-marker>
                                        </ui-gmap-google-map>
                                    </div>
                                </div>
                            </div>

                            <div class="pmb-block"
                                 data-ng-if="vm.proposal.status && vm.proposal.status == 'RECOMMENDATION'">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Prendre contact avec le client
                                    </h2>
                                </div>
                                <div class="m-b-10 clearfix" data-ng-if="vm.project.activityDoesntCorrespond">
                                    <div class="col-xs-12">
                                        Les compétences que vous avez renseigné dans votre profil ne vous permettent pas
                                        de faire une offre pour ce chantier.
                                    </div>
                                    <div class="col-xs-12 m-t-20 m-b-5 no-padding">
                                        <button
                                            class="col-xs-12 col-sm-4 col-sm-offset-1 btn bgm-lightblue waves-effect m-t-5 f-s-10"
                                            data-ui-sref="pro-profile">
                                            Modifier mon profil
                                        </button>
                                        <button
                                            class="col-xs-12 col-sm-5 col-sm-offset-1 btn bgm-orange waves-effect m-t-5 f-s-10"
                                            data-ui-sref="project-recommend({'projectId': vm.project.id})">
                                            Recommander à un pro
                                        </button>
                                    </div>
                                </div>

                                <div class="pmbb-body p-l-30" data-ng-if="!vm.project.activityDoesntCorrespond"
                                     data-ng-if="vm.project.error != 'ERROR_FORBIDDEN_PRO_STATUS_REGISTERED' && vm.project.error != 'ERROR_FORBIDDEN_PRO_STATUS_WAITING' && vm.project.error != 'ERROR_FORBIDDEN_PRO_STATUS_REFUSED'">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Date d'intervention estimée</dt>
                                            <dd class="l-h-18">
                                                {{(vm.offer.date | date: 'dd MMMM yyyy') || '- - -'}} <i
                                                class="zmdi zmdi-edit c-lightblue pointer f-s-20 v-align-botttom m-l-10"
                                                data-ng-click="vm.editDateOffer()"></i>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Prix estimatif</dt>
                                            <dd class="l-h-18">
                                                {{vm.offer.price || '- - -'}} € <i
                                                class="zmdi zmdi-edit c-lightblue pointer f-s-20 v-align-bottom m-l-10"
                                                data-ng-click="vm.editPriceOffer()"></i>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Premier message privé au client
                                                (obligatoire)
                                            </dt>
                                            <dd class="l-h-18">
                                            <textarea class="form-control" data-auto-size=""
                                                      placeholder="Mettez vous en avant, expliquez votre proposition."
                                                      data-autosize-on="true"
                                                      data-ng-model="vm.offer.comment"></textarea>
                                            </dd>
                                        </dl>
                                        <p class="error center makeOfferError"
                                           data-ng-show="vm.offer.comment && vm.offer.comment.length < 40">
                                            Message trop court (au moins 40 caractères)
                                        </p>
                                        <button class="btn btn-primary btn-block waves-effect"
                                                data-ng-click="vm.sendOffer()" data-ng-disabled="!vm.formIsValid()">
                                            ENVOYER
                                        </button>
                                    </div>
                                </div>
                                <div class="pmbb-body p-l-30"
                                     data-ng-if="vm.project.error == 'ERROR_FORBIDDEN_PRO_STATUS_REGISTERED' || vm.project.error == 'ERROR_FORBIDDEN_PRO_STATUS_WAITING' || vm.project.error == 'ERROR_FORBIDDEN_PRO_STATUS_REFUSED'">
                                    Votre profil doit être validé afin de pouvoir répondre aux offres.
                                </div>
                            </div>

                            <div class="pmb-block"
                                 data-ng-if="vm.proposal.status && vm.proposal.status != 'RECOMMENDATION'">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Mon devis</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Mon prix</dt>
                                            <dd class="l-h-18">
                                                {{vm.proposalTmp.price || '---'}} € <i
                                                class="zmdi zmdi-edit c-lightblue pointer f-s-20 v-align-bottom m-l-10"
                                                data-ng-click="vm.editPrice()"></i>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Ma date d'intervention</dt>
                                            <dd class="l-h-18">
                                                {{(vm.proposalTmp.startDate | date: 'dd MMMM yyyy') || '---'}} <i
                                                class="zmdi zmdi-edit c-lightblue pointer f-s-20 v-align-botttom m-l-10"
                                                data-ng-click="vm.editDate()"></i>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="pmb-block"
                                 data-ng-if="vm.projectTmp.user.email && vm.projectTmp.user.phoneNumber">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account-box zmdi-hc-fw"></i> Contact</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal"
                                            data-ng-if="vm.projectTmp.user.email">
                                            <dt class="yakaDisableEllipsis">Email</dt>
                                            <dd>
                                                {{vm.projectTmp.user.email}}
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal"
                                            data-ng-if="vm.projectTmp.user.phoneNumber">
                                            <dt class="yakaDisableEllipsis">Téléphone</dt>
                                            <dd>
                                                {{vm.projectTmp.user.phoneNumber}}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-assignment zmdi-hc-fw"></i> Informations</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Description</dt>
                                            <dd>
                                                {{vm.projectTmp.description}}
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal"
                                            data-ng-if="vm.getTags() && vm.getTags().length > 0">
                                            <dt class="yakaDisableEllipsis">Mots clés</dt>
                                            <dd>
                                                <ul class="yaka-chips">
                                                    <li data-ng-class="{'c-white bgm-green' : tag == 'MATERIAL_TRUE' || tag == 'MATERIAL_FALSE'}" data-ng-repeat="tag in vm.getTags()">
                                                        <span data-ng-if="tag == 'MATERIAL_TRUE'"
                                                              uib-tooltip="Le client fournit certains matériaux">
                                                            {{'ACTIVITY_' + tag | translate}}
                                                        </span>
                                                        <span data-ng-hide="tag == 'MATERIAL_TRUE'">
                                                            {{'ACTIVITY_' + tag | translate}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Date souhaitée des travaux</dt>
                                            <dd>
                                                {{vm.getWhen()}}
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt class="yakaDisableEllipsis">Lieu du chantier</dt>
                                            <dd>
                                                <div data-ng-if="vm.project.address.address">
                                                    {{vm.projectTmp.address.address}}
                                                </div>
                                                <div data-ng-if="!vm.project.address.address">
                                                    {{vm.projectTmp.address.postalCode}}
                                                    {{vm.projectTmp.address.locality}}
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="pmb-block clearfix"
                                 data-ng-if="vm.projectTmp.images && vm.projectTmp.images.length > 0">
                                <div class="pmbb-header m-b-0">
                                    <h2><i class="zmdi zmdi-collection-image zmdi-hc-fw"></i> Photos</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <div class="lightbox photos projectImageTooltip m-t-20"
                                             data-ng-show="!vm.editFlag">
                                            <div data-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl}}"
                                                 data-sub-html="#caption{{$index}}"
                                                 class="lightboxItemAngular galleryEditingItem col-md-3 col-md-2 col-sm-3 col-xs-4 p-t-20"
                                                 data-ng-repeat="image in vm.projectTmp.images">

                                                <div class="lightbox-item p-item"
                                                     tooltip-placement="top"
                                                     uib-tooltip="{{image.description}}">
                                                    <img
                                                        data-ng-src="{{image.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
                                                        alt=""/>
                                                    <div data-ng-if="image.description"
                                                         class="btn bgm-lightblue btn-float floatingButtonImage icon-comment">
                                                        <i class="zmdi zmdi-comment-text-alt"></i>
                                                    </div>
                                                </div>
                                                <div id="caption{{$index}}" style="display:none">
                                                    <div class="galleryCaption">
                                                        <p>{{image.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="yakaPopup" data-ng-show="vm.myPriceFlag"
         data-ng-click="vm.myPriceFlag = false" data-ng-cloak>
        <div class="container">
            <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
                <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                     data-ng-click="vm.myPriceFlag = false" alt=""/>
                <h4>Mon prix</h4>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-4">
                        <input type="text" class="form-control t-right f-s-18" id="exampleInputEmail2"
                               placeholder="Entrer un prix"
                               data-ng-model="vm.myPrice"
                               yaka-input-numbers-only>
                    </div>
                    <div class="col-xs-2">
                        €
                    </div>
                </div>
                <p class="error center my-price-error" data-ng-show="vm.error.price.flag">
                    {{vm.error.price.message}}
                </p>

                <div class="clearfix m-t-10 f-right">
                    <button class="btn bgm-lightblue waves-effect"
                            data-ng-disabled="!vm.isValidPrice()"
                            data-ng-click="vm.selectPrice(); vm.save()">
                        Enregistrer
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="yakaPopup" data-ng-show="vm.myDateFlag"
         data-ng-click="vm.myDateFlag = false" data-ng-cloak>
        <div class="container">
            <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
                <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                     data-ng-click="vm.myDateFlag = false" alt=""/>
                <h4>Ma date d'intervention</h4>

                <div style="display:inline-block" class="center custom-picker">
                    <uib-datepicker data-ng-model="vm.dt" datepicker-options="vm.datepickerOptions"
                                    class="well well-sm custom-date"></uib-datepicker>
                </div>
                <div class="clearfix m-t-10 f-right">
                    <button class="btn bgm-lightblue waves-effect"
                            data-ng-click="vm.myDateFlag = false; vm.selectDate(); vm.save()">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="yakaPopup" data-ng-show="vm.myPriceFlagOffer"
         data-ng-click="vm.myPriceFlagOffer = false" data-ng-cloak>
        <div class="container">
            <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
                <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                     data-ng-click="vm.myPriceFlagOffer = false" alt=""/>
                <h4>Estimation de prix</h4>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-4">
                        <input type="text" class="form-control t-right f-s-18" id="exampleInputEmail2"
                               placeholder="Entrer un prix"
                               data-ng-model="vm.price"
                               yaka-input-numbers-only>
                    </div>
                    <div class="col-xs-2 sym-euro">
                        €
                    </div>
                </div>
                <p class="error center my-price-error" data-ng-show="vm.error.price.flag">
                    {{vm.error.price.message}}
                </p>

                <div class="clearfix m-t-10 f-right">
                    <button class="btn bgm-lightblue waves-effect"
                            data-ng-disabled="!vm.isValidPriceOffer()"
                            data-ng-click="vm.selectPriceOffer();">
                        Enregistrer
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="yakaPopup" data-ng-show="vm.myDateFlagOffer"
         data-ng-click="vm.myDateFlagOffer = false" data-ng-cloak>
        <div class="container">
            <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
                <img class="popupCloseButton" src="icons/mdpi/ic_popup_close.png"
                     data-ng-click="vm.myDateFlagOffer = false" alt=""/>
                <h4>Début des travaux possible autours du</h4>

                <div style="display:inline-block" class="center custom-picker">
                    <uib-datepicker data-ng-model="vm.dt" datepicker-options="vm.datepickerOptions"
                                    class="well well-sm custom-date"></uib-datepicker>
                </div>
                <div class="clearfix m-t-10 f-right">
                    <button class="btn bgm-lightblue waves-effect"
                            data-ng-click="vm.myDateFlagOffer = false; vm.selectDateOffer();">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
