<style type="text/css">
    #map_canvas {
        height: 327px;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>
<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
       data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

<section id="main" data-ng-cloak>
    <div id="content" class="content">
        <div class="container">
            <div class="col-sm-6">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt" data-ng-class="{'bgm-lightblue': vm.infosCardIsComplete()}">
                        <h2>
                            <i class="zmdi zmdi-hc-2x zmdi-check v-align-sub m-r-10"
                               data-ng-if="vm.infosCardIsComplete()"></i>
                            Informations générales
                            <small class="c-red" data-ng-if="!vm.infosCardIsComplete()">
                                Informations en rouge obligatoires
                            </small>
                        </h2>
                    </div>
                    <div class="col-xs-12 card-body m-t-25">
                        <form name="profileForm">
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-3">
                                    <div class="img-profile">

                                        <yaka-avatar size="65" user="vm.profileInfo"></yaka-avatar>

                                        <button
                                            class="profileAvatarEditButton btn bgm-lightblue btn-icon waves-effect waves-circle"
                                            ngf-select="vm.uploadProfileImg($files, $invalidFiles, 0)"
                                            ngf-accept="'image/*'" ngf-max-size="20MB">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-9 no-padding-right">

                                    <div class="form-group fg-float m-b-30"
                                         data-ng-class="{'has-error': !vm.profileInfo.gender}">
                                        <div class="fg-line">
                                            <div class="select">
                                                <select name="gender"
                                                        required="required"
                                                        data-ng-model="vm.profileInfo.gender"
                                                        class="form-control">
                                                    <option value="" disabled selected></option>
                                                    <option data-ng-selected="vm.profileInfo.gender == 'MR'" value="MR">
                                                        M.
                                                    </option>
                                                    <option data-ng-selected="vm.profileInfo.gender == 'MRS'"
                                                            value="MRS">
                                                        Mme.
                                                    </option>
                                                </select>
                                            </div>
                                            <label class="fg-label">Civilité</label>
                                        </div>
                                        <div data-ng-messages="profileForm.gender.$error">
                                            <small class="help-block" data-ng-message="required">Ce champ est requis
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float m-b-30"
                                         data-ng-class="{'has-error': !vm.profileInfo.firstName}">

                                        <div class="fg-line">
                                            <input type="text" name="firstName" class="form-control fg-input"
                                                   data-ng-model="vm.profileInfo.firstName"
                                                   required="required" yaka-input-name>
                                            <label class="fg-label">Prénom</label>
                                        </div>
                                        <div data-ng-messages="profileForm.firstName.$error">
                                            <small class="help-block" data-ng-message="required">Ce champ est requis
                                            </small>
                                            <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                                valide
                                            </small>
                                        </div>

                                    </div>
                                    <div class="form-group fg-float m-b-30"
                                         data-ng-class="{'has-error': !vm.profileInfo.lastName}">

                                        <div class="fg-line">
                                            <input type="text" name="lastName" class="form-control fg-input"
                                                   data-ng-model="vm.profileInfo.lastName"
                                                   required="required" yaka-input-name>
                                            <label class="fg-label">Nom</label>
                                        </div>
                                        <div data-ng-messages="profileForm.lastName.$error">
                                            <small class="help-block" data-ng-message="required">Ce champ est requis
                                            </small>
                                            <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                                valide
                                            </small>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.profileInfo.phoneNumber}">
                                <div class="fg-line">
                                    <input type="text" name="phoneNumber"
                                           class="form-control fg-input"
                                           required="required"
                                           data-ng-model="vm.profileInfo.phoneNumber" yaka-input-phone>
                                    <label class="fg-label fg-label-phone">Téléphone</label>
                                </div>
                                <div data-ng-messages="profileForm.phoneNumber.$error">
                                    <small class="help-block" data-ng-message="required">
                                        Ce champ est requis
                                    </small>
                                    <small class="help-block" data-ng-message="invalidPhone">
                                        Ce numéro de téléphone n'est pas valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.profileInfo.email}">
                                <div class="fg-line">
                                    <input type="text" name="email" class="form-control fg-input"
                                           data-ng-model="vm.profileInfo.email"
                                           required="required" yaka-input-email>
                                    <label class="fg-label">Email</label>
                                </div>
                                <div data-ng-messages="profileForm.email.$error">
                                    <small class="help-block" data-ng-message="required">Ce champ est requis</small>
                                    <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.profileInfo.defaultAddress.address}">
                                <div class="fg-line">
                                    <input type="text" class="form-control fg-input"
                                           vs-google-autocomplete="vm.autocomplete.options"
                                           vs-autocomplete-validator
                                           data-ng-model="vm.profileInfo.defaultAddress.address"
                                           type="text"
                                           name="address"
                                           required="required"
                                           placeholder=""
                                           id="address">
                                    <label class="fg-label">Addresse principale</label>
                                </div>
                                <div data-ng-messages="profileForm.address.$error">
                                    <small class="help-block" data-ng-message="required">Ce champ est requis</small>
                                </div>
                            </div>

                            <div class="col-xs-12 no-padding profile-box-footer m-b-20">

                                <button class="btn btn-info bgm-lightblue waves-effect"
                                        data-ng-click="vm.updateProfile()"
                                        data-ng-disabled="vm.updating || !vm.showButtonsProfile()">
                                    Enregistrer
                                </button>
                                <button class="btn btn-link waves-effect"
                                        data-ng-click="vm.cancelProfile()"
                                        data-ng-disabled="vm.updating || !vm.showButtonsProfile()">
                                    Annuler
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt">
                        <h2>
                            Comptes sociaux associés
                            <small>
                                Associer votre compte Facebook ou Google vous permet de vous connecter plus rapidement.
                            </small>
                        </h2>
                    </div>
                    <div class="col-xs-12 card-body m-t-20 m-b-20 subtitle-color-forced">

                        <div class="row">
                            <i class="col-xs-2 v-align-middle zmdi zmdi-hc-3x zmdi-facebook-box p-l-25"
                               data-ng-class="{'c-facebook-blue': vm.profile.facebookId}"></i>

                            <div class="col-xs-8 v-align-middle m-t-1" data-ng-if="vm.profile.facebookId">
                                Compte Facebook associé
                                <div>
                                    <small>
                                        {{vm.profile.facebookEmail}}
                                    </small>
                                </div>
                            </div>

                            <button class="btn btn-default waves-effect m-t-4 m-l-20"
                                    data-ng-if="!vm.profile.facebookId"
                                    data-ng-click="vm.attachFacebook()"
                                    disabled="disabled">
                                Associer
                            </button>

                            <!-- <i class="col-xs-2 v-align-middle zmdi zmdi-hc-2x zmdi-close m-t-5 t-right c-black pointer"
                                data-ng-if="app.getUser().facebookId"
                                data-ng-click="vm.detachFacebook()"
                                disabled="disabled"></i>
                             -->
                        </div>
                        <div class="row m-t-5">
                            <i class="col-xs-2 v-align-middle zmdi zmdi-hc-3x zmdi-google p-l-25"
                               data-ng-class="{'c-google-red': vm.profile.googleId}"></i>

                            <div class="col-xs-8 v-align-middle m-t-1" data-ng-if="vm.profile.googleId">
                                Compte Google associé
                                <div>
                                    <small>
                                        {{vm.profile.googleEmail}}
                                    </small>
                                </div>
                            </div>

                            <button class="btn btn-default waves-effect m-t-4 m-l-20"
                                    data-ng-if="!vm.profile.googleId"
                                    data-ng-click="vm.attachGoogle()"
                                    disabled="disabled">
                                Associer
                            </button>

                            <!-- <i class="col-xs-2 v-align-middle zmdi zmdi-hc-2x zmdi-close m-t-5 t-right c-black pointer"
                               data-ng-if="app.getUser().googleId"
                               data-ng-click="vm.detachGoogle()"
                               disabled="disabled"></i>
                            -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt">
                        <h2>Modifier le mot de passe (NE FONCTIONNE PAS)</h2>
                    </div>
                    <div class="col-xs-12 card-body m-t-20">
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input type="password" class="form-control fg-input"
                                       data-ng-model="vm.pwdCurrent" disabled="disabled">
                                <label class="fg-label">Mot de passe actuel</label>
                            </div>
                        </div>

                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input type="password" class="form-control fg-input"
                                       data-ng-model="vm.pwd1" disabled="disabled">
                                <label class="fg-label">Nouveau mot de passe</label>
                            </div>
                        </div>

                        <div class="form-group fg-float m-b-30"
                             data-ng-class="{'has-error': vm.pwd1 && vm.pwd2 && (vm.pwd1 != vm.pwd2)}">
                            <div class="fg-line">
                                <input type="password" class="form-control fg-input"
                                       data-ng-model="vm.pwd2" disabled="disabled">
                                <label class="fg-label">Confirmation</label>
                            </div>
                            <small class="help-block" data-ng-show="vm.pwd1 && vm.pwd2 && (vm.pwd1 != vm.pwd2)">
                                Les deux mots de passe ne correspondent pas
                            </small>
                        </div>

                        <div class="profile-box-footer m-b-20">

                            <button class="btn btn-info bgm-lightblue waves-effect"
                                    data-ng-click="vm.changePassword()"
                                    data-ng-disabled="!disabled">
                                Enregistrer
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt" data-ng-class="{'bgm-lightblue': vm.infosCardIsComplete()}">
                        <h2>
                            User Infos field
                        </h2>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15">
                        <div class="col-xs-12 col-sm-3">
                            <div>User Id : {{vm.profile.id}}</div>
                            <div>PassWord : Non récupéré</div>
                            <div style="word-wrap: break-word;">Token : {{vm.profile.token}}</div>
                            <div>GCM_TOKEN : Non récupéré</div>
                            <div>Pro_ID : Pas de pro ID</div>
                            <div>Facebook ID : {{vm.profile.facebookId}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div>Google ID : {{vm.profile.googleId}}</div>
                            <div>Gender : {{vm.profile.gender}}</div>
                            <div>Firstname : {{vm.profile.firstName}}</div>
                            <div>Lastname : {{vm.profile.lastName}}</div>
                            <div>Recover Password Token : {{vm.profile.recoverPasswordToken}}</div>
                            <div>Email : {{vm.profile.email}}</div>

                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div>Phone Number : {{vm.profile.phoneNumber}}</div>
                            <div>Birthday : {{vm.profile.birthday}}</div>
                            <div>Avatar ID : {{vm.profile.avatar.id}}</div>
                            <div>Default Address ID : {{vm.profile.defaultAddress.id}}</div>
                            <div>is Admin : {{vm.profile.isAdmin}}</div>
                            <div>New Contacts : {{vm.profile.newContacts}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div>Google Email : {{vm.profile.googleEmail}}</div>
                            <div>Facebook Email : {{vm.profile.facebookEmail}}</div>
                            <div>Created : {{vm.profile.created | date:"dd/MM/yyyy"}}</div>
                            <div>Updated : {{vm.profile.updated | date:"dd/MM/yyyy"}}</div>
                            <div>Invite ID : {{vm.profile.inviteId}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt" data-ng-class="{'bgm-lightblue': vm.infosCardIsComplete()}">
                        <h2>
                            Projets de l'Utilisateur
                        </h2>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15 t-center" data-ng-if="!vm.profile.projects">
                        <h4>Cet utilisateur n'a aucun projet</h4>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15" data-ng-if="vm.profile.projects">
                        <table ng-table="usersTable" class="table table-striped" show-filter="true">
                            <tr class="t-center pointer" data-ng-repeat="project in vm.profile.projects"
                                data-ui-sref="admin-project-details({projectId: project.id})">
                                <td data-title="'ID'">{{project.id}}</td>
                                <td data-title="'Status'">{{project.status | casaProjectStatus}}</td>
                                <td data-title="'Published'">{{project.published | date:"dd/MM/yyyy"}}</td>
                                <td data-title="'Created'">{{project.updated | date:"dd/MM/yyyy"}}</td>
                            </tr>
                        </table>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt" data-ng-class="{'bgm-lightblue': vm.infosCardIsComplete()}">
                        <h2>
                            Contacts
                        </h2>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15 t-center" data-ng-if="!vm.profile.contacts">
                        <h4>Cet utilisateur n'a aucun contact</h4>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15" data-ng-if="vm.profile.contacts">
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Clients</h4>
                            <p>{{vm.contactClientNumber}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Amis</h4>
                            <p>{{vm.contactFriendNumber}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Famille</h4>
                            <p>{{vm.contactFamilyNumber}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Pros</h4>
                            <p>{{vm.contactColleagueNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 no-padding card">
                    <div class="card-header ch-alt" data-ng-class="{'bgm-lightblue': vm.infosCardIsComplete()}">
                        <h2>
                            Invitations
                        </h2>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15 t-center" data-ng-if="!vm.profile.invitations">
                        <h4>Cet utilisateur n'a aucune invitation</h4>
                    </div>
                    <div class="col-xs-12 m-t-15 p-b-15" data-ng-if="vm.profile.invitations">
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Clients</h4>
                            <p>{{vm.invitationClientNumber}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Amis</h4>
                            <p>{{vm.invitationFriendNumber}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Famille</h4>
                            <p>{{vm.invitationFamilyNumber}}</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 t-center">
                            <h4>Pros</h4>
                            <p>{{vm.invitationColleagueNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

