<style data-ng-if="app.isPro()">
    .customerSupportWidget {
        background: #FF9800;
    }

    .contactsItemNumberActive {
        background: #FF9800;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggleguk.left }"></aside>
    <div id="content" class="content m-l-5">
        <table ng-table="usersTable" class="table table-striped" show-filter="true">

                <tr data-ng-repeat="project in $data | filter:search:vm.filterAllowNullValue" class="t-center">

                    <td data-title="'Titre'" class="pointer c-blue" filter="{title: 'text'}" data-sortable="'title'" data-ui-sref="admin-project-details({projectId: project.id})">
                        {{ project.title }}
                    </td>
                    <td data-title="'Statut'" filter="{frenchStatus: 'text'}" data-sortable="'frenchStatus'">
                        {{ project.frenchStatus }}
                    </td>
                    <td data-title="'Type'" data-sortable="'mainActivity.code'">
                        <div class="v-icon v-icon-{{project.mainActivity.code}} center">
                        </div>
                    </td>
                    <td data-title="'Créé le'" data-sortable="'published'">
                        <span am-time-ago="project.published"></span>
                    </td>
                    <td data-title="'Mis à jour le'" data-sortable="'updated'">
                        <span am-time-ago="project.updated"></span>
                    </td>
                    <td data-title="'Lieu'" filter="{place: 'text'}" data-sortable="'place'">
                        {{ project.place }}
                    </td>
                    <td data-title="'Date souhaitée'" data-sortable="'desiredDate'">
                        {{ vm.getWhen(project) }}
                    </td>
                    <td data-title="'Client'" filter="{name: 'text'}" data-sortable="'name'">
                        {{ project.name }}
                    </td>
                    <td data-title="'Nbr Propositions'" filter="{proposalsNbr: 'text'}" data-sortable="'proposalsNbr'">
                        {{ project.proposalsNbr }}
                    </td>
                    <td data-title="'Nbr Recommandations'" filter="{recoProposalsNbr: 'text'}" data-sortable="'recoProposalsNbr'">
                        {{ project.recoProposalsNbr }}
                    </td>
                    <td data-title="'Nbr Pros validés'" filter="{compatibleValidatedProsNumber: 'text'}" data-sortable="'compatibleValidatedProsNumber'">
                        {{ project.compatibleValidatedProsNumber }}
                    </td>
                    <td data-title="'Nbr Pros non validés'" filter="{compatibleNotValidatedProsNumber: 'text'}" data-sortable="'compatibleNotValidatedProsNumber'">
                        {{ project.compatibleNotValidatedProsNumber }}
                    </td>
                </tr>
            </table>
        </div>
</section>
