<section class="view">
    <div class="homeSection homeSection1">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span>
                    <span class="titleBeta">Beta</span>
                </div>
                <div class="homeSection1ProLink waves-effect" ui-sref="maintenance-pro">
                    SITE PRO
                </div>
            </div>
            <div class="col-xs-12 warningText">
                Votre site est en cours de mise à jour
            </div>
            <div class="col-xs-12 homeSection1Title">
                &ldquo; Tu connais un <span typewrite="" text="vm.jobs" initial-delay="1000"></span> ? &rdquo;
            </div>
            <div class="col-xs-12 homeSection1SubSubTitle">
                Trouvez et partagez vos artisans en toute confiance
            </div>
            <div class="col-xs-12 homeSection1SubTitle">
                Rejoignez la 1ère plateforme de recommandation d’artisans entre particuliers.
            </div>
        </div>
    </div>
    <div class="homeSection homeSection2">
        <div class="container">
            <div class="col-xs-12 homeSection2Title">
                Ensemble révolutionnons la confiance !
            </div>
            <div class="col-xs-12 homeSection2SubTitle">
                Parce que le bouche à oreille reste le meilleur moyen de trouver de bons artisans.
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeTrustBlue.png" alt=""/>

                        <div class="homeSection2ItemTitle">
                            CONFIANCE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Réalisez vos travaux en toute sérénité grâce aux artisans recommandés par votre entourage
                        (voisins, amis, collégues...).
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeConfidentialityBlue.png" alt=""/>

                        <div class="homeSection2ItemTitle">
                            CONFIDENTIALITÉ
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Préservez votre vie privée. Vos échanges se font via une messagerie sécurisée. Vous choississez
                        qui peut vous contacter.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeShareBlue.png" alt=""/>

                        <div class="homeSection2ItemTitle">
                            PARTAGE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Partagez en un clic votre projet avec vos amis et la communauté YakaClub, ils vous recommandent
                        leurs meilleurs artisans pour vos travaux.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection3">
        <div class="container">
            <div class="col-xs-12 homeSection3Items">
                <div class="col-xs-12 col-sm-6 homeSection3Item">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Vous êtes un professionnel ?
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Trouvez de nouveaux clients et passez moins de temps à prospecter.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 homeSection3Item">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Faites découvrir YakaClub à vos amis
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Augmentez vos chances de trouver de bons artisans et aidez vos amis.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <a target="_blank" data-ng-href="https://www.facebook.com/yakaclub">
                    <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
                </a>
                <a target="_blank" data-ng-href="https://plus.google.com/117693956496667116327">
                    <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
                </a>
                <a target="_blank" data-ng-href="https://twitter.com/yakaclub">
                    <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; YAKACLUB {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterContactUs yakaLinkWhite" data-ui-sref="support">
                Contactez-nous
            </div>
            <a href="http://res.cloudinary.com/yaka/image/upload/v1462777348/yakaclub/cgu.pdf" target="_blank">
                <div class="homeSection5FooterLogin yakaLinkWhite">
                    CGU
                </div>
            </a>
        </div>
    </div>
</section>

