<style>
    .customerSupportWidget {
        background: #FF9800;
    }
</style>

<section id="main-scroll-container" class="view">
    <div class="proHomeSection proHomeSection1">
        <div class="container proHomeSection1Container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span><span
                    class="homeSection1Yaka">PRO</span>
                    <span class="titleBeta titleBetaPro">Beta</span>
                </div>
                <div class="homeSection1ProLink proTopLink waves-effect" ui-sref="maintenance">
                    SITE CLIENT
                </div>
            </div>
            <div class="col-xs-12 warningText">
                Votre site est en cours de mise à jour
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1Title">
                Developpez votre réseau, trouvez de nouveaux clients.
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1SubTitle">
                80% des clients utilisent internet pour préparer leurs futurs chantiers, mais ils préfèrent
                toujours faire confiance à un artisan qui leur est recommandé.
            </div>
            <div class="col-xs-12 proHomeSection1Buttons">
                <div class="col-xs-4 col-sm-3 proHomeSection1AboutButton yakaButton yakaBorderWhite waves-effect"
                     ng-click="vm.smoothScrollAbout()">
                    EN SAVOIR PLUS
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="proHomeSection proHomeSection2">
        <div class="container">
            <div class="col-xs-offset-1 col-xs-10 proHomeSection2Title">
                De nombreux sites vous promettent des chantiers en vous vendant des contacts…
            </div>
            <div class="col-xs-12 proHomeSection2SubTitle">
                En quoi sommes nous différents ?
            </div>
            <div class="col-xs-12 proHomeSection2Quote">
                «Le bouche à oreille reste le meilleur moyen pour trouver de nouveaux chantiers»
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeTrust44.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU DE CONFIANCE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        A la fin de chaque chantier, votre client vous recommande auprès de son réseau (amis, famille,
                        collègues)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeOpportunities.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’OPPORTUNITÉS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Vos anciens clients ou leurs amis ont des travaux à réaliser, vous en êtes le premier informé.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeAmbassadors.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’AMBASSADEURS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Intégrer la cooptation et les réseaux sociaux dans votre démarche commerciale. Vos clients sont
                        votre meilleure publicité.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item homeSection2ItemPro2ndRow homeSection2ItemPro2ndRow1st">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeMoney.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            BOOSTEZ VOS REVENUS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        En 1 click, recevez les offres de dépannage à proximité et générez facilement des rentrées
                        de cash complémentaires.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item homeSection2ItemPro2ndRow">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeEarth.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            ASSISTANT PERSONNEL 24/24
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Sur un chantier ou à domicile, vous avez toujours accès à vos informations (chantiers,
                        clients…). Vous restez toujours informé des nouveaux chantiers dans votre secteur.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 proHomeSection2Separator">
            </div>

            <div class="col-xs-12 proHomeSection2RegisterTitle">
                Comment ça marche ?
            </div>
            <div class="col-xs-12 col-sm-6 proHomeSection2RegisterExplain">
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeOne.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Inscrivez-vous en 5 minutes
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Complétez votre profil, dites nous qui vous êtes, ce que vous faites et le secteur où vous cherchez
                    des chantiers. Vous allez rapidement pouvoir recevoir des offres et développer votre réseau.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeTwo.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Consultez les offres de chantiers et les demandes de dépannages
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Parcourez les offres et répondez aux chantiers qui vous intéressent. Recevez des alertes quand une
                    demande de dépannage ou un chantier de vos contacts nécessite vos compétences.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeThree.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Discutez, proposez un devis et remportez le chantier
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Des questions sur un chantier ? Discutez facilement avec vos clients via notre chat et transmettez
                    votre devis. A vous de jouer pour remporter le contrat.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeFour.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Développez votre réseau et obtenez de nouveaux chantiers
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    De la qualité de votre travail dépendra le développement de votre réseau. Chaque client satisfait
                    vous recommande à ses amis pour leurs futurs travaux
                </div>
            </div>
        </div>
    </div>
    <div class="proHomeSection proHomeSection3">
        <div class="proHomeSection3a">
            <div class="container">
                <div class="col-xs-12 proHomeSection3aTitle">
                    SERVICES ET TARIFS
                </div>
                <div class="col-xs-12 proHomeSection3aSubTitle">
                    Testez notre service, c’est gratuit !
                </div>
                <div class="col-xs-12 proHomeSection3aSubSubTitle">
                    Invitez vos clients, amis et collègues et découvrez de nouvelles offres de chantiers dès l’ouverture
                    du service aux clients courant juin
                </div>
                <div class="col-xs-10 col-xs-offset-1 proHomeSection3aPricing">
                    <div class="col-xs-6 proHomeSection3aFree">
                        <div class="col-xs-12 proHomeSection3aFreeTitle">
                            GRATUIT
                        </div>
                        <div class="col-xs-12 proHomeSection3aFreeDesc">
                            Pendant toute la durée de la beta
                        </div>
                    </div>
                    <div class="col-xs-6 proHomeSection3aPaid">
                        <div class="col-xs-12 proHomeSection3aPaidTitle">
                            PREMIUM
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidSubTitle">
                            Prochainement
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidDesc">
                            De nouveaux services pour mieux vous aider et vous accompagner
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <a target="_blank" ng-href="https://www.facebook.com/yakaclub">
                    <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
                </a>
                <a target="_blank" ng-href="https://plus.google.com/117693956496667116327">
                    <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
                </a>
                <a target="_blank" ng-href="https://twitter.com/yakaclub">
                    <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; YAKACLUB {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterContactUs yakaLinkWhite" data-ui-sref="support">
                Contactez-nous
            </div>
            <a href="http://res.cloudinary.com/yaka/image/upload/v1462777348/yakaclub/cgu.pdf" target="_blank">
                <div class="homeSection5FooterLogin yakaLinkWhite">
                    CGU
                </div>
            </a>
        </div>
    </div>
</section>
