<div class="yakaEllipsis c-white bgm-gray d-block p-5 m-b-5"
     data-ng-if="community.type && community.type == 'PROFILE_CITY'">
    <span data-ng-if="community.neighborhood">{{community.neighborhood}} - </span>{{community.address.locality}}
</div>
<div class="yakaEllipsis c-white bgm-bluegray d-block p-5 m-b-5"
     data-ng-if="community.type && community.type == 'JOB'">
    {{community.name}} - {{community.address.locality}}
</div>
<div class="yakaEllipsis c-white bgm-lightblue d-block p-5 m-b-5"
     data-ng-if="community.type && community.type == 'OTHER'">
    {{community.name}} - {{community.address.locality}}
</div>
