<!-- In contacts -->
<i class="zmdi zmdi-accounts" data-ng-class="{'c-lightblue': !iconColor, iconColor: iconColor}"
   data-ng-if="user.inContacts"></i>
<span data-ng-if="user.inContacts">
    <span data-ng-if="user.isPro && !app.getUser().professional" data-ng-class="{'c-red': clientRed, 'c-lightblue': clientBlue}">
        Client
    </span>
    <span data-ng-if="!user.isPro">
        Ami
    </span>
    <span data-ng-if="user.isPro && app.getUser().professional">
        Collègue
    </span>
</span>

<!-- Invited -->
<i class="zmdi zmdi-accounts" data-ng-class="{'subtitle-color-forced' : !iconColor, iconColor: iconColor}"
   data-ng-if="user.isInvited"></i>
<span data-ng-if="user.isInvited">
    Invité
</span>

<!-- Not in contacts and not invited -->
<span class="dropdown" uib-dropdown="" data-ng-if="!user.inContacts && !user.isInvited && invite && user.id">
    <span data-ng-click="invite()">
        <span class="pointer" data-ng-class="{'c-green': !iconColor, iconColor: iconColor}">
            Ajouter
        </span>
        <i class="zmdi zmdi-accounts-add pointer" data-ng-class="{'c-green': !iconColor, iconColor: iconColor}"></i>
    </span>
</span>
