<div class="listview lv-message">
    <div class="" data-ng-class="{'ChatMaskDuringSend' : newMessage.cloudinaryPublicId}"></div>

    <div class="lv-body" yaka-keep-scroll>
        <div class="m-t-10 m-b-10 moreMessagesLoading" data-ng-show="loadingMessages">
            Chargement...
        </div>
        <div data-ng-repeat="message in messages | orderBy : 'created' | unique: 'id'" class="lv-item media"
             data-ng-class="{'right': showRight(message)}" yaka-scroll-item>

            <div class="lv-avatar"
                 data-ng-if="message.author != 'AUTO'"
                 data-ng-class="{'pull-left': !showRight(message), 'pull-right': showRight(message)}">

                <yaka-avatar data-ng-if="!showRight(message) && message.author != 'CASAVOX' && userMe != 'admin'"
                             user="userOther"
                             size="35"></yaka-avatar>
                <yaka-avatar
                    data-ng-if="!showRight(message) && message.author != 'CASAVOX' && userMe == 'admin' && message.author == 'PRO'"
                    user="userPro"
                    size="35"></yaka-avatar>
                <yaka-avatar
                    data-ng-if="!showRight(message) && message.author != 'CASAVOX' && userMe == 'admin' && message.author == 'CUSTOMER'"
                    user="userOther"
                    size="35"></yaka-avatar>
                <yaka-avatar data-ng-if="showRight(message) && message.author != 'CASAVOX'" user="userMe"
                             size="35"></yaka-avatar>
                <yaka-avatar data-ng-if="message.author == 'CASAVOX'" user="'admin'"
                             size="35"></yaka-avatar>

            </div>
            <div class="media-body">

                <div class="ms-item"
                     data-ng-class="{'messageAuto': message.author == 'AUTO'}">

                    <div class="lightbox photos"
                         data-ng-if="message.cloudinaryPublicId && message.resourceType && message.resourceType == 'image'">
                        <div data-ng-repeat="img in createImageArray(message.cloudinaryPublicId)"
                             data-src="{{img | yakaCloudinaryUrl}}"
                             class="lightboxItemAngular col-xs-12">
                            <div class="lightbox-item p-item">
                                <img
                                    data-ng-src="{{img | yakaCloudinaryUrl:true}}"
                                    class="chatImg"
                                    alt=""/>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="message.cloudinaryPublicId">
                        <i class="zmdi zmdi-file"></i> {{message.filename}}<span data-ng-if="message.format">.{{message.format}}</span>
                    </div>
                    <a class="pointer" data-ng-if="message.cloudinaryPublicId"
                       data-ng-href="{{message.cloudinaryPublicId | yakaCloudinaryDownload : message.resourceType}}"
                       data-ng-class="{'c-yaka-dark-blue': !showRight(message), 'c-lightblue': showRight(message)}">
                        <i class="zmdi zmdi-download"></i> Télécharger
                    </a>

                    <div class="m-b-20" data-ng-if="message.cloudinaryPublicId && message.text"></div>
                    <span class="msg"
                          data-ng-if="message.author == 'CUSTOMER' || message.author == 'PRO'"><casa-phone-to-links
                        text="message.text" author="message.author" user="userMe"></casa-phone-to-links></span>
                    <span class="msg yaka" data-ng-if="message.author == 'CASAVOX'"><casa-phone-to-links
                        text="message.text" author="message.author" user="userMe"></casa-phone-to-links></span>
                    <span
                        data-ng-if="message.author == 'AUTO' && message.text != 'FIRST_RECOMMENDATION' && message.text != 'NEW_RECOMMENDATION'">
                        <i class="zmdi {{message | yakaAutoMsgIcon : getCustomerUser() : getProUser()}} yakaMessageIcon"></i>
                        <span class="msg yaka yakaMessageWithIcon">{{message | yakaAutoMsg : getCustomerUser() : getProUser()}}</span>
                    </span>
                    <div
                        data-ng-if="message.author == 'AUTO' && (message.text == 'FIRST_RECOMMENDATION' || message.text == 'NEW_RECOMMENDATION')">
                        <div class="d-i-b p-r-5">
                            <yaka-avatar class="highlight-avatar v-align-middle" size="50"
                                         user="message.varRecoUser"></yaka-avatar>
                        </div>
                        <div class="d-i-b recoType-text v-align-middle"><strong>{{message | yakaAutoMsg : null :
                            getProUser() : getProposalProfessionalCompany()}}</strong></div>
                    </div>
                </div>
                <small class="ms-date">
                    <i class="zmdi zmdi-time" data-ng-if="!showRight(message)"></i>
                    <span am-time-ago="message.created"></span>
                    <i class="zmdi zmdi-time" data-ng-if="showRight(message)"></i>
                </small>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="imgPreview center" data-ng-if="newMessage.cloudinaryPublicId">
        <div class="chatFilePreview ">
            <i class="zmdi zmdi-file"></i> {{newMessage.filename}}<span data-ng-if="newMessage.format">.{{newMessage.format}}</span><span
            data-ng-if="extension">.{{extension}}</span>
        </div>
        <img width="200" height="200" data-ng-src="{{newMessage.cloudinaryPublicId | yakaCloudinaryUrl:true}}"
             alt=""
             data-ng-if="newMessage.cloudinaryPublicId && newMessage.resourceType && newMessage.resourceType == 'image'"/>
        <div class="col-xs-12 m-t-10 m-b-10">
            <button class="col-xs-12 col-sm-6 wl-95pe btn bgm-red waves-effect btn-xs m-b-5 m-t-5 p-relative"
                    data-ng-click="cancelSending()">ANNULER
            </button>
            <button class="col-xs-12 col-sm-6 wl-95pe btn bgm-lightblue waves-effect btn-xs m-b-5 m-t-5 p-relative"
                    data-ng-click="sendMessage()">ENVOYER
            </button>
        </div>
    </div>

    <div class="lv-footer ms-reply p-t-0" data-ng-class="{'pointer-not-allowed': disableSending}">
        <div class="col-xs-12 readOrUnreadAdmin" data-ng-if="userMe == 'admin'">
            Marquer comme :
            <span class="m-l-10 m-r-10 read-button" data-ng-click="setRead()">Lu</span>
            <span class="m-l-10 m-r-10 unread-button" data-ng-click="setUnread()">Non-Lu</span>
        </div>
        <button class="leftButton" ngf-select="uploadFiles($files, $invalidFiles, 0)"
                data-ng-class="{'bgm-lightblue' : !disableSending, 'bgm-gray pointer-not-allowed' : disableSending}"
                ngf-max-size="20MB"
                data-ng-disabled="disableSending">
            <i class="zmdi zmdi-attachment-alt c-white"></i>
        </button>

        <textarea data-ng-model="newMessage.text"
                  data-ng-placeholder="getPlaceholder()"
                  data-ng-disabled="disableSending"
                  data-ng-class="{'pointer-not-allowed': disableSending, 'placeholder-red': userMe.professional && (proposalStatus == 'RECOMMENDATION') && (userOther != 'admin')}"></textarea>

        <button data-ng-class="{'bgm-lightblue' : !disableSending, 'bgm-gray pointer-not-allowed' : disableSending}"
                data-ng-click="sendMessage()"
                data-ng-disabled="disableSending || (!newMessage.text && !newMessage.cloudinaryPublicId)">
            <i class="zmdi zmdi-mail-send c-white"></i>
        </button>
    </div>
</div>
