<cl-image public-id="{{user.avatar.cloudinaryPublicId}}"
          class="" format="png"
          data-ng-if="user != 'admin' && user.avatar.cloudinaryPublicId">
    <cl-transformation height="{{size}}" width="{{size}}" crop="fill" radius="max"/>
</cl-image>
<div class="yakaAvatarInitials"
     data-ng-if="user != 'admin' && !user.avatar.cloudinaryPublicId">
    {{user.firstName[0] | uppercase}}
    {{user.lastName[0]| uppercase}}
</div>

<cl-image public-id="casavox/support_avatar"
          class="" format="png"
          data-ng-if="user == 'admin'">
    <cl-transformation height="{{size}}" width="{{size}}" crop="fill" radius="max"/>
</cl-image>
