.proHomeSection {
}

.proHomeSection1 {
    height: 700px;
    background: linear-gradient(rgba(4, 28, 36, 0.49), rgba(4, 28, 36, 0.49)), url('../../../img/homeBackground.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

.proHomeSection1Container {
    background-image: url('../../../img/contractor.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
}

.proHomeSection1Header {
    margin-top: 30px;
    height: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1YakaClub {
    font-size: 24px;
    float: left;
    line-height: 40px;
    cursor: pointer;
}

.proHomeSection1Yaka {
}

.proHomeSection1Club {
}

.proHomeSection1Register {
    float: right;
    font-size: 15px;
    margin-right: 27px;
    line-height: 40px;
    cursor: pointer;
}

.proHomeSection1Login {
    float: right;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
}

.proHomeSection1CustomerLink {
    float: right;
    height: 40px;
    font-size: 13px;
    border: solid white 1px;
    border-radius: 4px;
    padding-top: 11px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.proHomeSection1CustomerLink:hover {
    background: rgba(255, 255, 255, 0.24);
}

.proHomeSection1CustomerLink:active {
    background: rgba(255, 255, 255, 0.16);
}

.proHomeSection1Title {
    margin-top: 140px;
    font-size: 43px;
    line-height: 1.2;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1SubTitle {
    margin-top: 45px;
    font-size: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1Buttons {
    margin-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection1AboutButton {
    margin-left: 20px;
}

.proHomeSection2 {
    height: 1435px;
    color: black;
    background-color: white;
    text-align: center;
}

.proHomeSection2Title {
    font-size: 24px;
    margin-top: 40px;
    color: #332C3E;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2SubTitle {
    font-size: 24px;
    color: #332C3E;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2Quote {
    font-size: 18px;
    color: #626262;
    margin-top: 12px;
}

.proHomeSection2Items {
    margin-top: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2SecondRow {
    margin-top: 60px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.proHomeSection2ItemTitle {
    margin-top: 20px;
    font-size: 14px;
}

.proHomeSection2ItemDescription {
    margin-top: 7px;
    font-size: 14px;
    color: #626262;
}

.proHomeSection2Separator {
    background: #E6E6E6;
    height: 1px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.proHomeSection2RegisterTitle {
    font-size: 32px;
}

.proHomeSection2RegisterExplain {
    text-align: left;
    margin-top: 25px;
}

.proHomeSection2RegisterExplainTitle {
    font-size: 16px;
    margin-top: 20px;
}

.proHomeSection2RegisterExplainDesc {
    font-size: 14px;
    color: #9B9B9B;
    margin-top: 12px;
}

.proHomeSection2RegisterForm {
    margin-top: 40px;
    margin-left: 4%;
}

.proHomeSection2RegisterFormTitle {
    font-size: 25px;
}

.proHomeSection2RegisterSeparator {
    font-size: 12px;
    margin-top: 14px;
}

.proHomeSection2RegisterSocialConfirm {
    margin-bottom: 6px;
    font-size: 15px;
}

.proHomeSection2RegisterFacebook {
    margin-top: 8px;
    background: #6076ba;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
    margin-right: 2%;
    width: 48% !important;
    cursor: pointer;
}

.proHomeSection2RegisterGoogle {
    margin-top: 8px;
    background: #d24922;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
    margin-left: 2%;
    width: 48% !important;
    cursor: pointer;
}

.proHomeSection2RegisterSeparator {
    height: 1px;
    background: #E6E6E6;
    margin-top: 12px;
    margin-bottom: 12px;
}

.proHomeSection2RegisterMail {
    font-size: 12px;
}

.proHomeSection2RegisterImg {
    margin-top: 17px;
}

.proHomeSection2ActivitiesInput {
    width: 100%;
    margin-top: 10px !important;
    height: 40px !important;
    float: left;
}

.proHomeSection2InputError .dropdown-multiselect {
    width: 100%;
    height: 40px !important;
}

.proHomeSection2ActivitiesInput .dropdown-menu {
    width: 100%;
}

.proHomeSection2ActivitiesInput .dropdown-multiselect {
    width: 100%;
}

.proHomeSection2ActivitiesInput .dropdown-multiselect .dropdown-toggle {
    width: 100%;
    text-align: left;
    height: 40px !important;
}

.proHomeSection2Button {
    margin-top: 15px;
}

.proHomeSection2InputError {
    color: #FF9800;
    float: left;
    text-align: left;
    width: 100%;
}

.proHomeSection3 {
    height: auto;
    background: #FDFDFD;
    color: black;
    text-align: center;
}

.proHomeSection3a {
    height: auto;
}

.proHomeSection3b {
    height: auto;
    padding-bottom: 40px;
    background: #F4F7F8;
}

.proHomeSection3aTitle {
    font-size: 32px;
    line-height: 58px;
    margin-top: 35px;
}

.proHomeSection3aSubTitle {
    font-size: 20px;
}

.proHomeSection3aSubSubTitle {
    color: #8D8D8D;
    font-size: 20px;
    margin-bottom: 19px;
}

.proHomeSection3aFree {
    height: 204px;
    border-top: solid 1px #CFD2D7;
    border-left: solid 1px #CFD2D7;
    border-right: solid 1px #CFD2D7;
}

.proHomeSection3aPaid {
    height: 175px;
    margin-top: 29px;
    background: #EBF0F1;
}

.proHomeSection3aFreeTitle {
    font-size: 34px;
    margin-top: 49px;
}

.proHomeSection3aFreeDesc {
    font-size: 16px;
    color: #626262;
    margin-top: 34px;
}

.proHomeSection3aPaidTitle {
    font-size: 34px;
    margin-top: 20px;
}

.proHomeSection3aPaidSubTitle {
    font-size: 14px;
    color: #9B9B9B;
}

.proHomeSection3aPaidDesc {
    font-size: 16px;
    color: #626262;
    margin-top: 15px;
}

.proHomeSection3bTitle {
    font-size: 32px;
    line-height: 58px;
    margin-top: 35px;
    margin-bottom: 21px;
}

.proHomeSection3bSmallText {
    font-size: 12px;
    color: #999999;
    margin-top: 40px;
}

.proHomeSection4 {
    height: 170px;
    background: #1E2E40;
    color: white;
    text-align: center;
}

.proHomeSection4Title {
    margin-top: 23px;
    line-height: 53px;
    font-size: 20px;
}

.proHomeSection4Item {
    cursor: pointer;
}

.proHomeSection5 {
    height: 80px;
    background: #1A2939;
    color: white;
}

.proHomeSection5FooterLeft {
    float: left;
    font-size: 13px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.proHomeSection5FooterRegister {
    margin-top: 20px;
    margin-right: 30px;
    line-height: 40px;
    float: right;
    cursor: pointer;
}

.proHomeSection5FooterLogin {
    margin-top: 20px;
    line-height: 40px;
    float: right;
    cursor: pointer;
}

.proHomeSection5FooterGotop {
    margin-top: 20px;
    line-height: 40px;
    float: right;
    cursor: pointer;
}

.halfInput {
    width: 48% !important;
    float: left !important;
}

.halfInput.halfInputRight {
    float: right !important;
}

.oldFormControl .form-control {
    margin-top: 15px !important;
    height: 40px !important;
    float: left;
}

.proRegisterPhone .intl-tel-input {
    margin-top: 15px !important;
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
    padding-left: 50px !important;
}

.flag-container {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    cursor: pointer;
}

.intl-tel-input .country-list {
    left: 0;
    width: 362px;
    max-height: 285px !important;
    top: 3px;
}

.homeSection2ItemPro2ndRow1st {
    margin-left: 16.6666666%;
}

.homeSection2ItemPro2ndRow {
    margin-top: 45px;
}

@media (max-width: 991px) {
    .proHomeSection1 {
        height: auto;
    }

    .proHomeSection1Container {
        padding-bottom: 175px;
    }

    .proHomeSection2 {
        height: auto;
        padding-bottom: 35px;
    }

    .proHomeSection4 {
        height: auto;
        padding-bottom: 25px;
    }

    .proHomeSection1Title {
        font-size: 34px;
    }

    .proHomeSection1SubTitle {
        width: 390px !important;
    }

    .proHomeSection1AboutButton {
        width: 160px;
    }

    .proHomeSection1RegisterButton {
        width: 160px;
    }

    .proHomeSection1Title {
        margin-top: 90px;
    }

    .proHomeSection1Container {
        padding-bottom: 120px;
        background-size: 39%;
    }

    .proHomeSection2Title {
        margin-top: 30px !important;
        font-size: 20px !important;
    }

    .proHomeSection2SubTitle {
        font-size: 22px !important;
    }

    .proHomeSection2Quote {
        font-size: 16px !important;
    }

    .proHomeSection2ItemTitle {
        font-size: 13px !important;
    }

    .proHomeSection2ItemDescription {
        font-size: 13px !important;
    }

    .proHomeSection2Separator {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .proHomeSection2RegisterTitle {
        font-size: 28px;
    }

    .proHomeSection2RegisterForm {
        margin-left: 0 !important;
    }

    .proHomeSection2RegisterExplainTitle {
        width: 87% !important;
        margin-left: 10px;
        font-size: 14px;
    }

    .proHomeSection2RegisterExplainDesc {
        margin-left: 40px !important;
        font-size: 13px;
    }

    .proHomeSection2RegisterFormTitle {
        font-size: 21px;
    }

    .proHomeSection2RegisterFacebookGoogle {
        font-size: 12px;
    }

    .proHomeSection3aTitle {
        font-size: 26px;
    }

    .proHomeSection3aSubTitle {
        font-size: 17px;
    }

    .proHomeSection3aSubSubTitle {
        font-size: 16px;
    }

    .proHomeSection3aFreeTitle {
        font-size: 27px;
        margin-top: 35px;
    }

    .proHomeSection3aPaidTitle {
        font-size: 27px;
        margin-top: 15px;
    }

    .proHomeSection3aFree {
        height: 170px;
    }

    .proHomeSection3aPaid {
        height: 141px;
    }

    .proHomeSection3aPaidDesc {
        font-size: 13px;
    }

    .proHomeSection3aFreeDesc {
        font-size: 13px;
        margin-top: 43px;
    }

    .proHomeSection3b {
        padding-bottom: 30px;
    }

    .proHomeSection3bTitle {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .proHomeSection3bSmallText {
        font-size: 10px;
        margin-top: 28px;
    }

    .homeSection2ItemTitlePro {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .proHomeSection1Container {
        background: none;
    }

    .proHomeSection1Title {
        text-align: center;
    }

    .proHomeSection1SubTitle {
        text-align: center;
        margin-left: 8.33333333% !important;
        width: 83.33333333% !important;
    }

    .proHomeSection1Title {
        margin-top: 50px;
        font-size: 28px;
    }

    .proHomeSection1SubTitle {
        margin-top: 20px;
        font-size: 16px;
    }

    .proHomeSection1RegisterButton {
        margin-left: calc(16.6666666% - 10px) !important;
    }

    .proHomeSection1Container {
        padding-bottom: 70px;
    }

    .homeSection2ItemTitlePro {
        font-size: 10px;
    }

    .homeSection2ItemPro2ndRow {
        margin-top: 0;
    }

    .homeSection2ItemPro2ndRow1st {
        margin-left: 0;
    }

    .proHomeSection2RegisterTitle {
        font-size: 24px;
    }

    .proHomeSection2RegisterExplainTitle {
        margin-left: 0;
        font-size: 13px;
        width: calc(100% - 56px) !important;
    }

    .proHomeSection2RegisterExplainDesc {
        margin-left: 56px !important;
        font-size: 13px;
        width: calc(100% - 56px) !important;
    }

    .proHomeSection2RegisterExplain .col-xs-1 {
        width: 56px;
    }

    .proHomeSection3aPaid {
        height: 156px;
    }

    .proHomeSection3aFree {
        height: 185px;
    }

    .proHomeSection2RegisterExplain {
        padding-left: 0 !important;
    }

    .proHomeSection3bTitle {
        font-size: 20px;
    }

    .proHomeSection3b {
        padding-bottom: 20px;
    }

    .halfInput.halfInputNotInMobile {
        width: 100% !important;
        float: left !important;
    }

    .halfInput.halfInputNotInMobile.halfInputRight {
        float: left !important;
    }

}

@media (max-width: 599px) {
    .proHomeSection1Title {
        margin-top: 40px;
        font-size: 24px;
    }

    .proHomeSection1SubTitle {
        margin-top: 16px;
        font-size: 14px;
    }

    .proHomeSection1Container {
        padding-bottom: 50px;
    }

    .proHomeSection1RegisterButton {
        height: 40px;
        padding-top: 11px;
    }

    .proHomeSection1AboutButton {
        height: 40px;
        padding-top: 11px;
    }

    .proHomeSection2Title {
        margin-top: 25px !important;
        font-size: 17px !important;
    }

    .proHomeSection2SubTitle {
        font-size: 19px !important;
    }

    .proHomeSection2Quote {
        font-size: 12px !important;
    }

    .proHomeSection3aTitle {
        font-size: 22px;
    }

    .proHomeSection3aSubTitle {
        font-size: 15px;
    }

    .proHomeSection3aSubSubTitle {
        font-size: 13px !important;
    }

    .proHomeSection3aFreeTitle {
        font-size: 22px;
    }

    .proHomeSection3aPaidTitle {
        font-size: 22px;
    }

    .proHomeSection3aFreeDesc {
        font-size: 12px;
    }

    .proHomeSection3aPaidDesc {
        font-size: 12px;
    }

    .proHomeSection3bTitle {
        font-size: 17px;
    }

    .proHomeSection3aTitle {
        margin-top: 0 !important;
    }
}

@media (max-width: 519px) {
    .proHomeSection1RegisterButton {
        font-size: 12px;
    }

    .proHomeSection1AboutButton {
        font-size: 12px;
    }

    .proHomeSection3aFreeTitle {
        font-size: 19px;
    }

    .proHomeSection3aPaidTitle {
        font-size: 19px;
    }

    .proHomeSection3aPaidSubTitle {
        font-size: 12px;
    }

    .proHomeSection3aFreeDesc {
        font-size: 12px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .proHomeSection3aPaidDesc {
        font-size: 12px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .proHomeSection3bTitle {
        font-size: 14px;
    }

    .proHomeSection3bButton {
        width: 70% !important;
        margin-left: 15% !important;
    }
}

@media (max-width: 459px) {

    .showRegisterProFields.showRegisterProFieldsVisible {
        height: 388px;
    }
}

@media (max-width: 439px) {

    .proTopLink {
        margin-top: 7px;
    }

    .proTopLink {
        margin-top: 7px;
    }

    .proTopLink {
        margin-top: 7px;
    }

    .proHomeSection1RegisterButton {
        width: calc(50% - 10px) !important;
        margin-left: 0 !important;
    }

    .proHomeSection1AboutButton {
        width: calc(50% - 10px) !important;
    }

    .proHomeSection3aPricing {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    .proHomeSection3aFreeTitle {
        font-size: 17px;
    }

    .proHomeSection3aPaidTitle {
        font-size: 17px;
    }

    .proHomeSection3bTitle {
        line-height: normal;
        margin-top: 20px;
    }

    .proHomeSection3bButton {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 424px) {

    .proTopLink {
        margin-top: 35px;
    }

    .proTopLink {
        margin-top: 35px;
    }

    .proTopLink {
        margin-top: 35px;
    }
}
