<header id="header" data-current-skin="{{app.getTheme()}}" ng-include="'/modules/core/views/header.html'"
    ></header>

<aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
       data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

<section id="main" ng-cloak>
    <div id="content" class="content">

        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow mCustomScrollbar _mCS_7 mCS-autoHide" style="overflow: visible;">
                <div id="mCSB_7" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside"
                     tabindex="0">
                    <div id="mCSB_7_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x"
                         style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                        <div class="pmo-pic">
                            <div class="p-relative">
                                <a href="">
                                    <img class="img-responsive mCS_img_loaded" src="img/profile-pics/profile-pic-2.jpg"
                                         alt="">
                                </a>

                                <div class="dropdown pmop-message" uib-dropdown="">
                                    <button uib-dropdown-toggle=""
                                            class="btn bgm-white btn-float dropdown-toggle waves-effect waves-circle"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-comment-text-alt"></i>
                                    </button>

                                    <div class="dropdown-menu stop-propagate">
                                        <textarea placeholder="Write something..."></textarea>

                                        <button class="btn bgm-green btn-float waves-effect waves-circle"><i
                                            class="zmdi zmdi-mail-send"></i></button>
                                    </div>
                                </div>

                                <a href="" class="pmop-edit">
                                    <i class="zmdi zmdi-camera"></i> <span
                                    class="hidden-xs">Update Profile Picture</span>
                                </a>
                            </div>


                            <div class="pmo-stat">
                                <h2 class="m-0 c-white">1562</h2>
                                Total Connections
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mCSB_7_scrollbar_vertical"
                     class="mCSB_scrollTools mCSB_7_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
                     style="display: block;">
                    <div class="mCSB_draggerContainer">
                        <div id="mCSB_7_dragger_vertical" class="mCSB_dragger"
                             style="position: absolute; min-height: 50px; display: block; height: 601px; max-height: 683px; top: 0px;"
                             oncontextmenu="return false;">
                            <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                        </div>
                        <div class="mCSB_draggerRail"></div>
                    </div>
                </div>
                <div id="mCSB_7_scrollbar_horizontal"
                     class="mCSB_scrollTools mCSB_7_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal"
                     style="display: none;">
                    <div class="mCSB_draggerContainer">
                        <div id="mCSB_7_dragger_horizontal" class="mCSB_dragger"
                             style="position: absolute; min-width: 50px; width: 0px; left: 0px;"
                             oncontextmenu="return false;">
                            <div class="mCSB_dragger_bar"></div>
                        </div>
                        <div class="mCSB_draggerRail"></div>
                    </div>
                </div>
            </div>

            <div class="pm-body clearfix">

                <ul class="tab-nav tn-justified">
                    <li heading="Home"
                        data-ng-class="{'active': !vm.showChat}">
                        <a href="" ng-click="vm.showChat = false" class="ng-binding">Profil</a>
                    </li>

                    <li heading="Profile"
                        data-ng-class="{'active': vm.showChat}">
                        <a href="" ng-click="vm.showChat = true" class="ng-binding">Messages</a>
                    </li>
                </ul>


                <yaka-chat data-ng-show="vm.showChat" chat-id="{{vm.proposal.chat.id}}" user-me="app.getUser()"
                           user-other="vm.proposal.professional.user"></yaka-chat>

                <div data-ng-show="!vm.showChat">
                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Summary</h2>
                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                {{vm.proposal.professional.aboutMe}}
                            </div>
                        </div>
                    </div>

                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-person m-r-5"></i>Expérience et qualités</h2>
                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                <dl class="dl-horizontal">
                                    <dt>Métier</dt>
                                    <dd></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Gender</dt>
                                    <dd>Qualités reconnues</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Projets réalisés</dt>
                                    <dd></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Recommandations</dt>
                                    <dd></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Artisan agréé</dt>
                                    <dd></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Agréments / Certificats</dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </div>
                    </div>


                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>
                        </div>
                        <div class="pmbb-body p-l-30">
                            <div class="pmbb-view">
                                <dl class="dl-horizontal">
                                    <dt>Mobile Phone</dt>
                                    <dd>00971123456789</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Email Address</dt>
                                    <dd>malinda.h@gmail.com</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Twitter</dt>
                                    <dd>@malinda</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Skype</dt>
                                    <dd>malinda.hollaway</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
