<style type="text/css">
    #map_canvas {
        height: 70px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="my-projects" title="Propositions"></yaka-mobile-header>

<section id="main">

    <div class="container p-l-25 p-r-25" data-ng-if="vm.project.title">
        <ol class="breadcrumb hidden-xs">
            <li class="pointer" data-ui-sref="my-projects">
                Mes projets
            </li>
            <li class="active">
                Propositions
            </li>
        </ol>
    </div>

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <section id="content">

        <div class="container">

            <div class="block-header" data-ng-if="vm.project && vm.project.status == 'CANCELED'">
                <h2 class="c-orange">Projet Annulé</h2>
            </div>

            <div class="card pointer" data-ng-click="vm.projectDetails()" data-ng-cloak>
                <div class="card-header card-hover">
                    <div class="media">
                        <div class="pull-left">
                            <div data-ng-show="vm.project.activities[0].code != 'AUTO_MULTI'"
                                 class="proposalIconBackground lv-img v-icon-{{vm.project.activities[0].code}}-white">
                            </div>
                            <div data-ng-show="vm.project.activities[0].code == 'AUTO_MULTI'"
                                 class="proposalIconBackground lv-img zmdi zmdi-apps zmdi-hc-2x c-white vertical-center">
                            </div>
                        </div>
                        <div class="media-body projectTitleBar">
                            <div class="media row">
                                <div class="col-sm-7">{{vm.project.title}}</div>
                                <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                    <div>
                                        <small class=" subtitle-color-forced">
                                            Mis à jour <span am-time-ago="vm.project.updated"></span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="media m-t-5">
                                <div class=" subtitle-color-forced">
                                    <strong>{{vm.project.address.name}}</strong> -
                                    <small>{{vm.project.address.locality}}</small>
                                </div>
                                <div class=" subtitle-color-forced">
                                    <small>Début souhaité {{vm.getWhen()}}</small>
                                </div>
                                <div class=" subtitle-color-forced">
                                    <small>Publié le {{vm.project.published | date:'d MMMM y'}}</small>
                                </div>
                                <div class="clearfix p-r-0" data-ng-if="vm.project.unreadMessagesSupport">
                                    <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue no-padding">
                                        <div class="no-padding">
                                            <b>Nouveau Message</b>
                                            <button class="btn btn-xs bgm-lightblue c-white m-b-1">
                                                CasaVox
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <ul class="actions m-t-20">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card projectCreated"
                 data-ng-show="vm.project && (!vm.project.proposals || vm.project.proposals.length == 0) && (!vm.project.recoProposals || vm.project.recoProposals.length == 0)"
                 data-ng-cloak>
                <div class="card pt-inner ">
                    <div class="pti-header bgm-lightblue">
                        <h2 class="hidden-xs">Les Pros CasaVox étudient votre projet</h2>
                        <span class="f-s-27 f-w-100 l-h-100pc m-b-20 visible-xs">
                            Les Pros CasaVox étudient votre projet
                        </span>

                        <div class="ptih-title">
                            Vous recevrez bientôt leurs propositions
                        </div>
                    </div>
                    <div class="pti-body">
                        <div class="ptib-item clearfix">
                            <table class="col-xs-12">
                                <tr>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-md-offset-1 d-i-b vertical-middle p-l-0 p-r-0">
                                        <i class="zmdi zmdi-assignment-account zmdi-hc-4x m-0"></i>
                                    </th>
                                    <th class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-8 pr-list-text p-l-0 d-i-b v-align-middle m-0  subtitle-color-forced">
                                        Recevez des "Propositions" faites par les professionnels de
                                        CasaVox.</br>
                                        Recevez des "Recommandations" de professionnels faites par vos contacts.</br>
                                        Consultez le détail des profils et des propositions de ces Pros.
                                    </th>
                                </tr>
                            </table>
                            <table class="col-xs-12 m-t-20">
                                <tr>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-md-offset-1 d-i-b vertical-middle p-l-0 p-r-0">
                                        <i class="zmdi zmdi-assignment zmdi-hc-4x"></i>
                                    </th>
                                    <th class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-8 pr-list-text p-l-0 d-i-b v-align-middle m-0  subtitle-color-forced">
                                        Discutez par messagerie instantanée - et privée - avec les professionnels de
                                        votre choix (échangez également des photos et des documents).
                                    </th>
                                </tr>
                            </table>
                            <table class="col-xs-12 m-t-20">
                                <tr>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-md-offset-1 d-i-b vertical-middle p-l-0 p-r-0">
                                        <i class="zmdi zmdi-assignment-check zmdi-hc-4x"></i>
                                    </th>
                                    <th class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-8 pr-list-text p-l-0 d-i-b v-align-middle m-0  subtitle-color-forced">
                                        Choisissez le meilleur Pro pour vos travaux ! </br>
                                        - Si besoin, rencontrez les Pros de votre choix pour un devis à domicile.
                                    </th>
                                </tr>
                            </table>
                            <table class="col-xs-12 m-t-20">
                                <tr>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-md-offset-1 d-i-b vertical-middle p-l-0 p-r-0">
                                        <i class="zmdi zmdi-book-image zmdi-hc-4x"></i>
                                    </th>
                                    <th class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-8 pr-list-text p-l-0 d-i-b v-align-middle m-0  subtitle-color-forced">
                                        Continuez d'utilisez gratuitement les services CasaVox une fois les travaux
                                        terminés
                                        (historique des échanges, album travaux...).
                                    </th>
                                </tr>
                            </table>
                            <div class="f-right noProposalYetContentRubric1TitleC m-t-20">
                                <a class="c-lightblue" data-ui-sref="help({'card': 'bao'})">
                                    En savoir plus !
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="vm.project.proposal" data-ng-cloak>
                <div class="card">
                    <div class="card-header bgm-lightblue">
                        <h2>
                            <i class="zmdi zmdi-hc-2x zmdi-check v-align-sub m-r-10 ng-scope"></i>
                            Mon Pro pour ce chantier
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                    </div>
                    <div class="lv-body">
                        <div class="listview media">
                            <div class="lv-item pointer" href=""
                                 data-ng-click="vm.selectProposal(vm.project.proposal)">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="p-relative">
                                            <yaka-avatar size="35"
                                                         user="vm.project.proposal.professional.user"></yaka-avatar>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left">
                                            <div class="lv-title">
                                                {{vm.project.proposal.professional.user.firstName}}
                                                {{vm.project.proposal.professional.user.lastName}}
                                                <span
                                                    data-ng-if="vm.project.proposal.professional.company.name">
                                                    ({{vm.project.proposal.professional.company.name}})
                                                </span>
                                            </div>
                                            <div class="m-t-5">
                                                <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                                    community="community"
                                                                    ng-repeat="community in vm.project.proposal.professional.user.communities">
                                                </casa-community-tag>
                                            </div>
                                            <div>
                                                <small class="lv-small  subtitle-color-forced"
                                                       data-ng-show="vm.project.proposal.price">
                                                    Estimation actuelle <span class="c-lightblue">{{vm.project.proposal.price}} €</span>
                                                </small>
                                                <small class="lv-small  subtitle-color-forced"
                                                       data-ng-show="vm.project.proposal.startDate">
                                                    Disponible à partir du <span class="c-lightblue">{{vm.project.proposal.startDate | date:'d MMMM'}}</span>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="pull-right textAlignRightFullDesktop">
                                            <small class=" subtitle-color-forced">
                                                <span am-time-ago="vm.project.proposal.updated"></span>
                                            </small>
                                        </div>

                                        <div class="clearfix p-r-0"
                                             data-ng-if="vm.project.unreadMessages || vm.project.unreadMessagesSupport">
                                            <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                                                <div class="no-padding">
                                                    <b>Nouveau<span
                                                        data-ng-if="vm.project.unreadMessages && vm.project.unreadMessagesSupport">x</span>
                                                        Message<span
                                                            data-ng-if="vm.project.unreadMessages && vm.project.unreadMessagesSupport">s</span></b>
                                                    <button class="btn btn-xs bgm-orange c-white m-b-1"
                                                            data-ng-if="vm.project.unreadMessages">
                                                        Pro
                                                    </button>
                                                    <button class="btn btn-xs bgm-lightblue c-white m-b-1"
                                                            data-ng-if="vm.project.unreadMessagesSupport">
                                                        CasaVox
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-ng-show="((vm.project.proposals && vm.project.proposals.length > 0) || (vm.project.recoProposals && vm.project.recoProposals.length > 0)) && !vm.project.proposal"
                data-ng-cloak>
                <div class="col-sm-6 p-l-0 no-padding-mobile">
                    <div class="card">
                        <div class="card-header bgm-orange">
                            <h2>
                                Propositions
                                <small>Échanges avec les Pros intéressés</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item"
                                     data-ng-if="vm.displayProposalText()">
                                    Invitez votre entourage à vous rejoindre sur CasaVox pour vous recommander
                                    les Pro
                                    qu'ils préfèrent
                                    <br>
                                    <a data-ui-sref="contacts">
                                        Utiliser le bouche-à-oreille CasaVox
                                    </a>
                                </div>
                                <div class="lv-item pointer border-bottom-lightgray" href=""
                                     data-ng-repeat="p in vm.project.proposals"
                                     data-ng-class="{'refused-background-color' : p.status == 'CUSTOMER_DECLINED' ||
                                     p.status == 'PRO_DECLINED' ||
                                     p.status == 'RECO_CUSTOMER_DECLINED'}"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div data-ng-if="p.firstRecommendation">
                                        <span class=" subtitle-color-forced">
                                                        Recommandé par
                                                    </span>
                                        <casa-name-and-contact
                                            user="p.firstRecommendation.recommender"></casa-name-and-contact>
                                        <span
                                            data-ng-if="p.recommendations && p.recommendations.length > 1">
                                                        + {{p.recommendations.length - 1}} autre<span
                                            data-ng-if="p.recommendations && p.recommendations.length > 2">s</span>
                                                    </span>
                                        <div class="m-t-5 clearfix">
                                            <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                                community="community"
                                                                ng-repeat="community in p.firstRecommendation.recommender.communities"
                                                                data-ng-if="community.name">
                                            </casa-community-tag>
                                        </div>


                                    </div>
                                    <div class="media m-t-20">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                                <i data-ng-show="p.unreadMessages"
                                                   class="porposalUnreadMessagesIndicator"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    <span data-ng-if="p.status == 'START' || p.status == 'SELECTED'">
                                                        {{p.professional.user.firstName}} {{p.professional.user.lastName}}
                                                    </span>


                                                    <div class=" subtitle-color-forced m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'PRO_DECLINED'">
                                                        <p class="m-b-0"><strong>Annulée par le Pro</strong></p>

                                                        <p class="m-b-0">
                                                            <casa-name-and-contact
                                                                user="p.professional.user"></casa-name-and-contact>
                                                        </p>
                                                    </div>
                                                    <div class=" subtitle-color-forced m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'CUSTOMER_DECLINED'">
                                                        <p class="m-b-0"><strong>Proposition refusée</strong>
                                                        </p>

                                                        <p class="m-b-0">
                                                            <casa-name-and-contact
                                                                user="p.professional.user"></casa-name-and-contact>
                                                        </p>
                                                    </div>
                                                    <div class=" subtitle-color-forced m-t-0 m-b-0"
                                                         data-ng-if="p.status == c">
                                                        <p class="m-b-0"><strong>Annulée par le Pro</strong></p>

                                                        <p class="m-b-0">
                                                            <casa-name-and-contact
                                                                user="p.professional.user"></casa-name-and-contact>
                                                        </p>
                                                    </div>
                                                    <div class=" subtitle-color-forced m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'RECO_CUSTOMER_DECLINED'">
                                                        <p class="m-b-0"><strong>Proposition refusée</strong>
                                                        </p>

                                                        <p class="m-b-0">
                                                            <casa-name-and-contact
                                                                user="p.professional.user"></casa-name-and-contact>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div
                                                    data-ng-if="p.status != 'PRO_DECLINED' && p.status != 'CUSTOMER_DECLINED'">
                                                    <small class="lv-small  subtitle-color-forced"
                                                           data-ng-show="p.price">
                                                        Estimation actuelle <span
                                                        class="c-lightblue">{{p.price}} €</span>
                                                    </small>
                                                    <small class="lv-small  subtitle-color-forced"
                                                           data-ng-show="p.startDate">
                                                        Disponible à partir du <span class="c-lightblue">{{p.startDate | date:'d MMMM'}}</span>
                                                    </small>
                                                </div>
                                                <div
                                                    data-ng-if="p.status == 'PRO_DECLINED' || p.status == 'CUSTOMER_DECLINED'">
                                                    <small class="lv-small" data-ng-show="p.price">
                                                        Estimation actuelle {{p.price}} €
                                                    </small>
                                                    <small class="lv-small" data-ng-show="p.startDate">
                                                        Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix p-r-0">
                                            <div class="col-xs-7 col-sm-6 col-md-6 c-lightblue m-t-10 no-padding"
                                                 data-ng-if="p.unreadMessages">
                                                <div class="no-padding">
                                                    <b>Nouveau Message</b>
                                                    <button class="btn btn-xs bgm-orange c-white m-b-1">
                                                        PRO
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="pull-right m-t-10 textAlignRightFullDesktop">
                                                <small class=" subtitle-color-forced text-ago">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 p-r-0 no-padding-mobile">
                    <div class="card">
                        <div class="card-header bgm-lightblue">
                            <h2>
                                Recommandations
                                <small>Échanges avec les Pro qui vous sont recommandés</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item"
                                     data-ng-if="vm.displayRecommendText()">
                                    Invitez votre entourage à vous rejoindre sur CasaVox pour vous recommander
                                    les Pro
                                    qu'ils préfèrent
                                    <br>
                                    <a data-ui-sref="contacts">
                                        Utiliser le bouche-à-oreille CasaVox
                                    </a>
                                </div>
                                <div class="lv-item pointer border-bottom-lightgray" href=""
                                     data-ng-repeat="p in vm.project.recoProposals"
                                     data-ng-class="{'refused-background-color' : p.status == 'RECO_CUSTOMER_DECLINED' || p.status == 'RECO_PRO_DECLINED'}"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="clearfix">
                                        <span class=" subtitle-color-forced">
                                                        Recommandé par
                                                    </span>
                                        <casa-name-and-contact
                                            user="p.firstRecommendation.recommender"></casa-name-and-contact>
                                        <span
                                            data-ng-if="p.recommendations && p.recommendations.length > 1">
                                                        + {{p.recommendations.length - 1}} autre<span
                                            data-ng-if="p.recommendations && p.recommendations.length > 2">s</span>
                                                    </span>

                                        <div class="m-t-5">
                                            <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                                community="community"
                                                                ng-repeat="community in p.professional.user.communities">
                                            </casa-community-tag>
                                        </div>

                                    </div>
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="">
                                                <div class="lv-title">
                                                    {{p.professional.user.firstName}}
                                                    {{p.professional.user.lastName}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 clearfix p-r-0">
                                            <div class="col-xs-10 c-lightblue no-padding"
                                                 data-ng-if="p.unreadMessages">
                                                <div class="no-padding">
                                                    <b class="l-h-30">Nouveau Message</b>
                                                    <button class="btn btn-xs bgm-orange c-white m-b-1">PRO</button>
                                                </div>
                                            </div>
                                            <div class="pull-right textAlignRightFullDesktop">
                                                <small class=" subtitle-color-forced text-ago">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-ng-show="((vm.project.recoProposals && vm.project.recoProposals.length > 0) || (vm.project.proposals && vm.project.proposals.length > 1)) && vm.project.proposal"
                data-ng-cloak>
                <div class="col-sm-12 no-padding-mobile"
                     data-ng-if="vm.project.proposals && vm.project.proposals.length > 1"
                     data-ng-class="{'col-sm-6 p-l-0': vm.project.recoProposals && vm.project.recoProposals.length > 0, 'no-padding': !vm.project.recoProposals || vm.project.recoProposals.length <= 0}">
                    <div class="card">
                        <div class="card-header bgm-bluegray">
                            <h2>
                                Propositions refusées
                                <small>Cliquez pour voir le détail</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item pointer" href="" data-ng-repeat="p in vm.project.proposals"
                                     data-ng-if="p.id != vm.project.proposal.id"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    <div class=" subtitle-color-forced m-t-0 m-b-0">
                                                        <p class="m-b-0"><strong>Proposition refusée</strong>
                                                        </p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                </div>
                                                <div class="m-t-5">
                                                    <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                                        community="community"
                                                                        ng-repeat="community in p.professional.user.communities">
                                                    </casa-community-tag>
                                                </div>
                                                <div>
                                                    <small class="lv-small" data-ng-show="p.price">
                                                        Estimation actuelle {{p.price}} €
                                                    </small>
                                                    <small class="lv-small" data-ng-show="p.startDate">
                                                        Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="pull-right textAlignRightFullDesktop">
                                                <small class=" subtitle-color-forced">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>

                                            <div class="clearfix p-r-0"
                                                 data-ng-if="p.unreadMessages || p.unreadMessagesSupport">
                                                <div class="col-xs-12 col-sm-6 col-md-6 c-lightblue p-r-0">
                                                    <div class="no-padding">
                                                        <b>Nouveau<span
                                                            data-ng-if="p.unreadMessages && p.unreadMessagesSupport">x</span>
                                                            Message<span
                                                                data-ng-if="p.unreadMessages && p.unreadMessagesSupport">s</span></b>
                                                        <button class="btn btn-xs bgm-orange c-white m-b-1"
                                                                data-ng-if="p.unreadMessages">
                                                            Pro
                                                        </button>
                                                        <button class="btn btn-xs bgm-lightblue c-white m-b-1"
                                                                data-ng-if="p.unreadMessagesSupport">
                                                            CasaVox
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 no-padding-mobile"
                     data-ng-if="vm.project.recoProposals && vm.project.recoProposals.length > 0"
                     data-ng-class="{'col-sm-6 p-r-0': vm.project.proposals && vm.project.proposals.length > 1, 'no-padding': !vm.project.proposals || vm.project.proposals.length <= 1}">
                    <div class="card">
                        <div class="card-header bgm-bluegray">
                            <h2>
                                Recommendations refusées
                                <small>Cliquez pour voir le détail</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item pointer" href=""
                                     data-ng-repeat="p in vm.project.recoProposals"
                                     data-ng-if="p.id != vm.project.proposal.id"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    <div class=" subtitle-color-forced m-t-0 m-b-0">
                                                        <p class="m-b-0"><strong>Recommandation refusée</strong>
                                                        </p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                </div>
                                                <div class="m-t-5">
                                                    <casa-community-tag class="recommend-pro-community-tag pull-left"
                                                                        community="community"
                                                                        ng-repeat="community in p.professional.user.communities">
                                                    </casa-community-tag>
                                                </div>
                                                <div>
                                                    <small class="lv-small" data-ng-show="p.price">
                                                        Estimation actuelle {{p.price}} €
                                                    </small>
                                                    <small class="lv-small" data-ng-show="p.startDate">
                                                        Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="no-padding pull-right textAlignRightFullDesktop">
                                                <small class=" subtitle-color-forced">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>

                                            <div class="clearfix p-r-0 m-t-5"
                                                 data-ng-if="p.unreadMessages || p.unreadMessagesSupport">
                                                <div class="col-xs-12 c-lightblue no-padding">
                                                    <div class="no-padding">
                                                        <b>Nouveau<span
                                                            data-ng-if="p.unreadMessages && p.unreadMessagesSupport">x</span>
                                                            Message<span
                                                                data-ng-if="p.unreadMessages && p.unreadMessagesSupport">s</span></b>
                                                        <button class="btn btn-xs bgm-orange c-white m-b-1"
                                                                data-ng-if="p.unreadMessages">PRO
                                                        </button>
                                                        <button class="btn btn-xs bgm-lightblue c-white m-b-1">CasaVox
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
