<style type="text/css">
    #map_canvas {
        height: 70px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="my-projects" title="Propositions"></yaka-mobile-header>

<section id="main">

    <div class="container p-l-25 p-r-25" data-ng-if="vm.project.title">
        <ol class="breadcrumb hidden-xs">
            <li class="pointer" data-ui-sref="my-projects">
                Mes projets
            </li>
            <li class="active">
                Propositions
            </li>
        </ol>
    </div>

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <section id="content">
        <div class="container">
            <div class="card pointer" data-ng-click="vm.projectDetails()" data-ng-cloak>
                <div class="card-header card-hover">
                    <div class="media">
                        <div class="pull-left">
                            <div data-ng-show="vm.project.activities[0].code != 'AUTO_MULTI'"
                                 class="proposalIconBackground lv-img v-icon-{{vm.project.activities[0].code}}-white">
                            </div>
                            <div data-ng-show="vm.project.activities[0].code == 'AUTO_MULTI'"
                                 class="proposalIconBackground lv-img zmdi zmdi-apps zmdi-hc-2x c-white vertical-center">
                            </div>
                        </div>
                        <div class="media-body projectTitleBar">
                            <div class="media row">
                                <div class="col-sm-7">{{vm.project.title}}</div>
                                <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                    <div>
                                        <small class="c-gray">
                                            Mis à jour <span am-time-ago="vm.project.updated"></span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="media m-t-5">
                                <div class="c-gray">
                                    <strong>{{vm.project.address.name}}</strong> -
                                    <small>{{vm.project.address.locality}}</small>
                                </div>
                                <div class="c-gray">
                                    <small>Début souhaité {{vm.getWhen()}}</small>
                                </div>
                                <div class="c-gray">
                                    <small>Publié le {{vm.project.published | date:'d MMMM y'}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <ul class="actions m-t-20">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card projectCreated"
                 data-ng-show="vm.project && (!vm.project.proposals || vm.project.proposals.length == 0) && (!vm.project.recoProposals || vm.project.recoProposals.length == 0)"
                 data-ng-cloak>
                <div class="card pt-inner ">
                    <div class="pti-header bgm-lightblue">
                        <h2 class="hidden-xs">Ce projet est correctement publié !</h2>
                        <span
                            class="f-s-27 f-w-100 l-h-100pc m-b-20 visible-xs">Ce projet est correctement publié !</span>

                        <div class="ptih-title">Nous l'avons communiqué aux professionnels de votre secteur ainsi qu'à
                            vos contacts
                        </div>
                    </div>

                    <div class="pti-body">
                        <div class="ptib-item">
                            <div class="noProposalYetContentRubric1TitleJ">
                                Vous allez bientôt recevoir des « <i>Propositions</i> » faites par les professionnels de
                                CasaVox, ainsi que des « <i>Recommandations</i> » de professionnels faites par vos
                                contacts.
                            </div>
                            <br>

                            <div class="noProposalYetContentSubTitleJ">
                                <span class="underline">Vous pourrez alors :</span>
                                <ul class="pull-left list-unstyled">
                                    <li>
                                        Consultez le détail des profils des Pro et de leur proposition.
                                    </li>
                                    <li>
                                        Discutez par messagerie instantanée - et privée - avec chaque professionnel :
                                    </li>
                                    <ul>
                                        <li>
                                            Ces messages ne sont pas visibles des autres Pro ni de vos contacts.
                                        </li>
                                        <li>
                                            Par défaut vos coordonnées personnelles sont masquées (Nom, téléphone,
                                            adresse, email, ...).
                                        </li>
                                        <li>
                                            Vous pouvez joindre des documents (photo, scan, texte, etc.) à ces échanges
                                            privés.
                                        </li>
                                    </ul>
                                    <li>
                                        Refusez à tout moment une proposition ou une recommandation si elle ne vous
                                        intéresse pas.
                                    </li>
                                    <li>
                                        Choisissez le professionnel de votre choix, il verra alors vos coordonnées :
                                        Continuez d'utiliser la messagerie privée pendant toute la durée des travaux
                                    </li>
                                    <li>
                                        <br>Tous les services CasaVox restent gratuits pour vous même une fois les
                                        travaux terminées (historique des mes échanges, recommandations de Pro, album
                                        projet, ...).
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="center noProposalYetContentRubric1TitleC">
                            <span class="c-lightblue">CasaVox c'est le bouche-à-oreille sur internet !</span>
                            <br>Invitez vos relations à rejoindre votre réseau pour augmenter vos chances de trouver le
                            professionnel qu'il vous faut.
                        </div>
                        <div class="pti-footer">
                            <button class="btn bgm-lightblue" ui-sref="contacts">Ajouter des contacts</button>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="vm.project.proposal" data-ng-cloak>
                <div class="card">
                    <div class="card-header bgm-lightblue">
                        <h2>
                            <i class="zmdi zmdi-hc-2x zmdi-check v-align-sub m-r-10 ng-scope"></i>
                            Mon Pro pour ce projet
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                    </div>
                    <div class="lv-body">
                        <div class="listview media">
                            <div class="lv-item pointer" href=""
                                 data-ng-click="vm.selectProposal(vm.project.proposal)">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="p-relative">
                                            <yaka-avatar size="35"
                                                         user="vm.project.proposal.professional.user"></yaka-avatar>
                                            <i data-ng-if="vm.project.proposal.unreadMessages"
                                               class="proposalUnreadMessagesIndicatorOnPro"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left">
                                            <div class="lv-title">
                                                {{vm.project.proposal.professional.user.firstName}}
                                                {{vm.project.proposal.professional.user.lastName}}
                                                <span data-ng-if="vm.project.proposal.professional.company.name">
                                                    ({{vm.project.proposal.professional.company.name}})
                                                </span>
                                            </div>
                                            <div>
                                                <small class="lv-small c-bluegray"
                                                       data-ng-show="vm.project.proposal.price">
                                                    Estimation actuelle <span class="c-lightblue">{{vm.project.proposal.price}} €</span>
                                                </small>
                                                <small class="lv-small c-bluegray"
                                                       data-ng-show="vm.project.proposal.startDate">
                                                    Disponible à partir du <span class="c-lightblue">{{vm.project.proposal.startDate | date:'d MMMM'}}</span>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="pull-right textAlignRightFullDesktop">
                                            <small class="c-gray">
                                                <span am-time-ago="vm.project.proposal.updated"></span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-ng-show="((vm.project.proposals && vm.project.proposals.length > 0) || (vm.project.recoProposals && vm.project.recoProposals.length > 0)) && !vm.project.proposal"
                data-ng-cloak>
                <div class="col-sm-6 p-l-0 no-padding-mobile">
                    <div class="card">
                        <div class="card-header bgm-orange">
                            <h2>
                                Propositions
                                <small>TEXTE A DEFINIR</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item"
                                     data-ng-if="!vm.project.proposals || vm.project.proposals.length == 0">
                                    TEXTE A DEFINIR TEXTE A DEFINIR TEXTE A DEFINIR TEXTE A DEFINIR TEXTE A DEFINIR
                                    TEXTE A DEFINIR TEXTE A DEFINIR
                                </div>
                                <div class="lv-item pointer" href="" data-ng-repeat="p in vm.project.proposals"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                                <i data-ng-show="p.unreadMessages"
                                                   class="porposalUnreadMessagesIndicator"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    <span data-ng-if="p.status == 'START'">
                                                        {{p.professional.user.firstName}} {{p.professional.user.lastName}}
                                                    </span>
                                                    <span data-ng-if="p.status == 'SELECTED'">
                                                        {{p.professional.company.name}}
                                                    </span>

                                                    <div class="c-gray m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'PRO_DECLINED'">
                                                        <p class="m-b-0"><strong>Annulée par le Pro.</strong></p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                    <div class="c-gray m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'CUSTOMER_DECLINED'">
                                                        <p class="m-b-0"><strong>Proposition refusée</strong></p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                    <div class="c-gray m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'RECO_PRO_DECLINED'">
                                                        <p class="m-b-0"><strong>Annulée par le Pro.</strong></p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                    <div class="c-gray m-t-0 m-b-0"
                                                         data-ng-if="p.status == 'RECO_CUSTOMER_DECLINED'">
                                                        <p class="m-b-0"><strong>Proposition refusée</strong></p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                </div>
                                                <div data-ng-if="p.firstRecommendation">
                                                    <span class="c-gray">
                                                        recommandé par
                                                    </span>
                                                    <casa-name-and-contact
                                                        user="p.firstRecommendation.recommender"></casa-name-and-contact>
                                                    <span
                                                        data-ng-if="p.recommendations && p.recommendations.length > 1">
                                                        + {{p.recommendations.length - 1}} autre<span
                                                        data-ng-if="p.recommendations && p.recommendations.length > 2">s</span>
                                                    </span>
                                                </div>
                                                <div
                                                    data-ng-if="p.status != 'PRO_DECLINED' && p.status != 'CUSTOMER_DECLINED'">
                                                    <small class="lv-small c-bluegray" data-ng-show="p.price">
                                                        Estimation actuelle <span
                                                        class="c-lightblue">{{p.price}} €</span>
                                                    </small>
                                                    <small class="lv-small c-bluegray" data-ng-show="p.startDate">
                                                        Disponible à partir du <span class="c-lightblue">{{p.startDate | date:'d MMMM'}}</span>
                                                    </small>
                                                </div>
                                                <div
                                                    data-ng-if="p.status == 'PRO_DECLINED' || p.status == 'CUSTOMER_DECLINED'">
                                                    <small class="lv-small" data-ng-show="p.price">
                                                        Estimation actuelle {{p.price}} €
                                                    </small>
                                                    <small class="lv-small" data-ng-show="p.startDate">
                                                        Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="pull-right textAlignRightFullDesktop">
                                                <small class="c-gray">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 p-r-0 no-padding-mobile">
                    <div class="card">
                        <div class="card-header bgm-lightblue">
                            <h2>
                                Recommandations
                                <small>Pros recommandés par vos amis et la communauté</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item"
                                     ng-if="!vm.project.recoProposals || vm.project.recoProposals.length == 0">
                                    TEXTE A DEFINIR TEXTE A DEFINIR TEXTE A DEFINIR TEXTE A DEFINIR TEXTE A DEFINIR
                                    TEXTE A DEFINIR TEXTE A DEFINIR
                                </div>
                                <div class="lv-item pointer" href="" data-ng-repeat="p in vm.project.recoProposals"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                                <i data-ng-show="p.unreadMessages"
                                                   class="porposalUnreadMessagesIndicator"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    {{p.professional.user.firstName}} {{p.professional.user.lastName}}
                                                </div>
                                                <div>
                                                    <span class="c-gray">
                                                        recommandé par
                                                    </span>
                                                    <casa-name-and-contact
                                                        user="p.firstRecommendation.recommender"></casa-name-and-contact>
                                                    <span
                                                        data-ng-if="p.recommendations && p.recommendations.length > 1">
                                                        + {{p.recommendations.length - 1}} autre<span
                                                        data-ng-if="p.recommendations && p.recommendations.length > 2">s</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="pull-right textAlignRightFullDesktop">
                                                <small class="c-gray">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-ng-show="((vm.project.recoProposals && vm.project.recoProposals.length > 0) || (vm.project.proposals && vm.project.proposals.length > 1)) && vm.project.proposal"
                data-ng-cloak>
                <div class="col-sm-12 no-padding-mobile"
                     data-ng-if="vm.project.proposals && vm.project.proposals.length > 1"
                     data-ng-class="{'col-sm-6 p-l-0': vm.project.recoProposals && vm.project.recoProposals.length > 0, 'no-padding': !vm.project.recoProposals || vm.project.recoProposals.length <= 0}">
                    <div class="card">
                        <div class="card-header bgm-bluegray">
                            <h2>
                                Propositions refusées
                                <small>Cliquez pour voir le détail</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item pointer" href="" data-ng-repeat="p in vm.project.proposals"
                                     data-ng-if="p.id != vm.project.proposal.id"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                                <i data-ng-show="p.unreadMessages"
                                                   class="porposalUnreadMessagesIndicator"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    <div class="c-gray m-t-0 m-b-0">
                                                        <p class="m-b-0"><strong>Proposition refusée</strong></p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <small class="lv-small" data-ng-show="p.price">
                                                        Estimation actuelle {{p.price}} €
                                                    </small>
                                                    <small class="lv-small" data-ng-show="p.startDate">
                                                        Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="pull-right textAlignRightFullDesktop">
                                                <small class="c-gray">
                                                    <span am-time-ago="p.updated"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 no-padding-mobile"
                     data-ng-if="vm.project.recoProposals && vm.project.recoProposals.length > 0"
                     data-ng-class="{'col-sm-6 p-r-0': vm.project.proposals && vm.project.proposals.length > 1, 'no-padding': !vm.project.proposals || vm.project.proposals.length <= 1}">
                    <div class="card">
                        <div class="card-header bgm-bluegray">
                            <h2>
                                Recommendations refusées
                                <small>Cliquez pour voir le détail</small>
                            </h2>
                        </div>
                        <div class="lv-body">
                            <div class="listview media">
                                <div class="lv-item pointer" href="" data-ng-repeat="p in vm.project.recoProposals"
                                     data-ng-if="p.id != vm.project.proposal.id"
                                     data-ng-click="vm.selectProposal(p)">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="p-relative">
                                                <yaka-avatar size="35"
                                                             user="p.professional.user"></yaka-avatar>
                                                <i data-ng-show="p.unreadMessages"
                                                   class="porposalUnreadMessagesIndicator"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lv-title">
                                                    <div class="c-gray m-t-0 m-b-0">
                                                        <p class="m-b-0"><strong>Recommandation refusée</strong></p>

                                                        <p class="m-b-0">{{p.professional.user.firstName}}
                                                            {{p.professional.user.lastName}}</p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <small class="lv-small" data-ng-show="p.price">
                                                        Estimation actuelle {{p.price}} €
                                                    </small>
                                                    <small class="lv-small" data-ng-show="p.startDate">
                                                        Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class=no-padding"pull-right textAlignRightFullDesktop
                                            ">
                                            <small class="c-gray">
                                                <span am-time-ago="p.updated"></span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
