<style type="text/css">
    #map_canvas {
        height: 70px;
        margin: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="my-projects" title="Propositions"
                    current-user="app.getUser()"></yaka-mobile-header>

<section id="main">

    <ol class="breadcrumb container hidden-xs" data-ng-if="vm.project.title">
        <li class="pointer" data-ui-sref="my-projects">
            Mes projets
        </li>
        <li class="active">
            Propositions
        </li>
    </ol>

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <section id="content">
        <div class="container">
            <div class="card pointer" data-ng-click="vm.projectDetails()" data-ng-cloak>
                <div class="card-header card-hover">
                    <div class="media">
                        <div class="pull-left">
                            <div data-ng-show="vm.project.activities[0].code != 'AUTO_MULTI'"
                                 class="proposalIconBackground lv-img v-icon-{{vm.project.activities[0].code}}-white">
                            </div>
                            <div data-ng-show="vm.project.activities[0].code == 'AUTO_MULTI'"
                                 class="proposalIconBackground lv-img zmdi zmdi-apps zmdi-hc-2x c-white vertical-center">
                            </div>
                        </div>
                        <div class="media-body projectTitleBar">
                            <div class="media row">
                                <div class="col-sm-7">{{vm.project.title}}</div>
                                <div class="col-sm-5 textAlignRightFullDesktop paddingRightFullDesktop">
                                    <div>
                                        <small class="c-gray">
                                            Mis à jour <span am-time-ago="vm.project.updated"></span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="media m-t-5">
                                <div class="c-gray">
                                    <strong>{{vm.project.address.name}}</strong> -
                                    <small>{{vm.project.address.locality}}</small>
                                </div>
                                <div class="c-gray">
                                    <small>Début souhaité {{vm.getWhen()}}</small>
                                </div>
                                <div class="c-gray">
                                    <small>Publié le {{vm.project.published | date:'d MMMM y'}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <ul class="actions m-t-20">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-chevron-right zmdi-hc-fw c-lightblue"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card projectCreated"
                 data-ng-show="vm.project && (!vm.project.proposals || vm.project.proposals.length == 0)"
                 data-ng-cloak>
                <div class="card pt-inner ">
                    <div class="pti-header bgm-lightblue">
                        <h2>Votre projet est correctement créé !</h2>

                        <div class="ptih-title">Nous l'avons communiqué aux professionnels de votre secteur</div>
                    </div>

                    <div class="pti-body">
                        <div class="ptib-item">
                            <h4>Vous allez bientôt recevoir plusieurs offres</h4>
                            <br>
                            <h5 style="text-align: justify;">
                                Vous pourrez alors voir celles qui vous intéressent, et discuter par messagerie
                                instantanée - et privée - avec chaque professionnel.
                                <ul>
                                    <li style="font-size: 13px !important;">Par défaut vos
                                        coordonnées personnelles sont masquées (Nom, téléphone, adresse, email,
                                        ...).
                                    </li>
                                </ul>
                                <p>Puis, sélectionnez le professionnel de votre choix et bloquez une date pour démarrer
                                    le chantier.</p>
                            </h5>
                        </div>
                        <div class="ptib-item">
                            Invitez vos amis à rejoindre YakaClub pour augmenter vos chances de trouver le
                            professionnel qu'il vous faut.
                        </div>
                    </div>

                    <div class="pti-footer">
                        <button class="btn bgm-lightblue" ui-sref="contacts">Inviter des amis</button>
                    </div>
                </div>
            </div>
            <div data-ng-show="vm.project.proposal" data-ng-cloak>
                <div class="card">
                    <div class="card-header bgm-lightblue">
                        <h2>
                            <i class="zmdi zmdi-hc-2x zmdi-check v-align-sub m-r-10 ng-scope"></i>
                            Mon Pro pour ce projet
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                    </div>
                    <div class="lv-body">
                        <div class="listview media">
                            <a class="lv-item" href=""
                               data-ng-click="vm.selectProposal(vm.project.proposal)">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="p-relative">
                                            <yaka-avatar size="35"
                                                         user="vm.project.proposal.professional.user"></yaka-avatar>
                                            <i data-ng-show="vm.project.proposal.unreadMessages"
                                               class="porposalUnreadMessagesIndicator"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left">
                                            <div class="lv-title">
                                                <span data-ng-if="vm.project.proposal.status == 'START'">
                                                    {{vm.project.proposal.professional.user.firstName}} {{vm.project.proposal.professional.user.lastName}}</span>
                                                <span data-ng-if="vm.project.proposal.status == 'SELECTED'">
                                                    {{vm.project.proposal.professional.company.name}}</span>

                                                <div class="c-gray m-t-0 m-b-0"
                                                     data-ng-if="vm.project.proposal.status == 'PRO_DECLINED'">
                                                    <p class="m-b-0"><strong>Annulée par le Pro.</strong></p>

                                                    <p class="m-b-0">{{vm.project.proposal.professional.user.firstName}}
                                                        {{vm.project.proposal.professional.user.lastName}}</p>
                                                </div>
                                                <div class="c-gray m-t-0 m-b-0"
                                                     data-ng-if="vm.project.proposal.status == 'CUSTOMER_DECLINED'">
                                                    <p class="m-b-0"><strong>Proposition refusée</strong></p>

                                                    <p class="m-b-0">{{vm.project.proposal.professional.user.firstName}}
                                                        {{vm.project.proposal.professional.user.lastName}}</p>
                                                </div>
                                            </div>
                                            <div
                                                data-ng-if="vm.project.proposal.status != 'PRO_DECLINED' && vm.project.proposal.status != 'CUSTOMER_DECLINED'">
                                                <small class="lv-small c-bluegray"
                                                       data-ng-show="vm.project.proposal.price">
                                                    Estimation actuelle <span class="c-lightblue">{{vm.project.proposal.price}} €</span>
                                                </small>
                                                <small class="lv-small c-bluegray"
                                                       data-ng-show="vm.project.proposal.startDate">
                                                    Disponible à partir du <span class="c-lightblue">{{vm.project.proposal.startDate | date:'d MMMM'}}</span>
                                                </small>
                                            </div>
                                            <div
                                                data-ng-if="vm.project.proposal.status == 'PRO_DECLINED' || vm.project.proposal.status == 'CUSTOMER_DECLINED'">
                                                <small class="lv-small" data-ng-show="vm.project.proposal.price">
                                                    Estimation actuelle {{vm.project.proposal.price}} €
                                                </small>
                                                <small class="lv-small" data-ng-show="vm.project.proposal.startDate">
                                                    Disponible à partir du {{vm.project.proposal.startDate | date:'d
                                                    MMMM'}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="pull-right textAlignRightFullDesktop">
                                            <small class="c-gray">
                                                Mis à jour <span am-time-ago="vm.project.proposal.updated"></span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-show="vm.project.proposals && vm.project.proposals.length > 0 && !vm.project.proposal"
                 data-ng-cloak>
                <div class="card">
                    <div class="card-header bgm-orange">
                        <h2 data-ng-show="vm.project.proposals.length == 1">
                            Une proposition reçue
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                        <h2 data-ng-show="vm.project.proposals.length > 1">
                            {{vm.project.proposals.length}} propositions reçues
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                    </div>
                    <div class="lv-body">
                        <div class="listview media">
                            <a class="lv-item" href="" data-ng-repeat="p in vm.project.proposals"
                               data-ng-click="vm.selectProposal(p)">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="p-relative">
                                            <yaka-avatar size="35"
                                                         user="p.professional.user"></yaka-avatar>
                                            <i data-ng-show="p.unreadMessages"
                                               class="porposalUnreadMessagesIndicator"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left">
                                            <div class="lv-title">
                                                <span data-ng-if="p.status == 'START'">
                                                    {{p.professional.user.firstName}} {{p.professional.user.lastName}}</span>
                                                <span data-ng-if="p.status == 'SELECTED'">
                                                    {{p.professional.company.name}}</span>

                                                <div class="c-gray m-t-0 m-b-0" data-ng-if="p.status == 'PRO_DECLINED'">
                                                    <p class="m-b-0"><strong>Annulée par le Pro.</strong></p>

                                                    <p class="m-b-0">{{p.professional.user.firstName}}
                                                        {{p.professional.user.lastName}}</p>
                                                </div>
                                                <div class="c-gray m-t-0 m-b-0"
                                                     data-ng-if="p.status == 'CUSTOMER_DECLINED'">
                                                    <p class="m-b-0"><strong>Proposition refusée</strong></p>

                                                    <p class="m-b-0">{{p.professional.user.firstName}}
                                                        {{p.professional.user.lastName}}</p>
                                                </div>
                                            </div>
                                            <div
                                                data-ng-if="p.status != 'PRO_DECLINED' && p.status != 'CUSTOMER_DECLINED'">
                                                <small class="lv-small c-bluegray" data-ng-show="p.price">
                                                    Estimation actuelle <span class="c-lightblue">{{p.price}} €</span>
                                                </small>
                                                <small class="lv-small c-bluegray" data-ng-show="p.startDate">
                                                    Disponible à partir du <span class="c-lightblue">{{p.startDate | date:'d MMMM'}}</span>
                                                </small>
                                            </div>
                                            <div
                                                data-ng-if="p.status == 'PRO_DECLINED' || p.status == 'CUSTOMER_DECLINED'">
                                                <small class="lv-small" data-ng-show="p.price">
                                                    Estimation actuelle {{p.price}} €
                                                </small>
                                                <small class="lv-small" data-ng-show="p.startDate">
                                                    Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="pull-right textAlignRightFullDesktop">
                                            <small class="c-gray">
                                                Mis à jour <span am-time-ago="p.updated"></span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-show="vm.project.proposals && vm.project.proposals.length > 1 && vm.project.proposal"
                 data-ng-cloak>
                <div class="card">
                    <div class="card-header bgm-bluegray">
                        <h2 data-ng-show="vm.project.proposals.length == 2">
                            Proposition refusée
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                        <h2 data-ng-show="vm.project.proposals.length > 2">
                            {{vm.project.proposals.length - 1}} propositions refusées
                            <small>Cliquez pour voir le détail</small>
                        </h2>
                    </div>
                    <div class="lv-body">
                        <div class="listview media">
                            <a class="lv-item" href="" data-ng-repeat="p in vm.project.proposals"
                               data-ng-if="p.id != vm.project.proposal.id"
                               data-ng-click="vm.selectProposal(p)">
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="p-relative">
                                            <yaka-avatar size="35"
                                                         user="p.professional.user"></yaka-avatar>
                                            <i data-ng-show="p.unreadMessages"
                                               class="porposalUnreadMessagesIndicator"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left">
                                            <div class="lv-title">
                                                <span data-ng-if="p.status == 'START'">
                                                    {{p.professional.user.firstName}} {{p.professional.user.lastName}}</span>
                                                <span data-ng-if="p.status == 'SELECTED'">
                                                    {{p.professional.company.name}}</span>

                                                <div class="c-gray m-t-0 m-b-0" data-ng-if="p.status == 'PRO_DECLINED'">
                                                    <p class="m-b-0"><strong>Annulée par le Pro.</strong></p>

                                                    <p class="m-b-0">{{p.professional.user.firstName}}
                                                        {{p.professional.user.lastName}}</p>
                                                </div>
                                                <div class="c-gray m-t-0 m-b-0"
                                                     data-ng-if="p.status == 'CUSTOMER_DECLINED'">
                                                    <p class="m-b-0"><strong>Proposition refusée</strong></p>

                                                    <p class="m-b-0">{{p.professional.user.firstName}}
                                                        {{p.professional.user.lastName}}</p>
                                                </div>
                                            </div>
                                            <div
                                                data-ng-if="p.status != 'PRO_DECLINED' && p.status != 'CUSTOMER_DECLINED'">
                                                <small class="lv-small c-bluegray" data-ng-show="p.price">
                                                    Estimation actuelle <span class="c-lightblue">{{p.price}} €</span>
                                                </small>
                                                <small class="lv-small c-bluegray" data-ng-show="p.startDate">
                                                    Disponible à partir du <span class="c-lightblue">{{p.startDate | date:'d MMMM'}}</span>
                                                </small>
                                            </div>
                                            <div
                                                data-ng-if="p.status == 'PRO_DECLINED' || p.status == 'CUSTOMER_DECLINED'">
                                                <small class="lv-small" data-ng-show="p.price">
                                                    Estimation actuelle {{p.price}} €
                                                </small>
                                                <small class="lv-small" data-ng-show="p.startDate">
                                                    Disponible à partir du {{p.startDate | date:'d MMMM'}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="pull-right textAlignRightFullDesktop">
                                            <small class="c-gray">
                                                Mis à jour <span am-time-ago="p.updated"></span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


