.proposalIconBackground {
    background-color: #03A9F4;
    border-radius: 50%;
}

.projectTitleBar {
    width:auto !important;
    margin: 0 !important;
    line-height: 100%;
    color: #000;
}

.projectTitleBar .media-heading .row {
    font-size: 17px !important;
}

.projectTitleBar small{
    font-size: 12px;
}

.projectCreated .pti-header {
    padding: 30px 10px 60px !important;
}

.projectCreated h2 {
    font-size: 40px !important;
}

.projectCreated h4 {
    margin: auto;
    width: 90%;
}
.projectCreated li {
    text-align: justify !important;
}

