<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">
            <div class="block-header">
                <h2>Tableau de bord</h2>
            </div>

            <div class="card" data-ng-if="vm.data">
                <div class="card-header p-b-15">
                    <div class="media">
                        <div class="pull-left">
                            <yaka-avatar size="50" user="app.getUser()"></yaka-avatar>
                        </div>
                        <div class="media-body">
                            <div class="media row">
                                <div class="col-sm-4">
                                    <div class="f-s-16 yakaEllipsis">
                                        {{app.getUser().firstName}} {{app.getUser().lastName}}
                                    </div>
                                    <div class="c-gray">
                                        {{vm.data.contactsNumber}}
                                        <span data-ng-show="vm.data.contactsNumber < 2">Contact</span>
                                        <span data-ng-show="vm.data.contactsNumber > 1">Contacts</span> -
                                        {{vm.data.contactsProNumber}}
                                        <span data-ng-show="vm.data.contactsNumber < 2">Pro</span>
                                        <span data-ng-show="vm.data.contactsNumber > 1">Pros</span>
                                    </div>
                                    <div class="c-lightblue pointer"
                                         data-ui-sref="contacts">Développer mon réseau +
                                    </div>
                                </div>
                                <div class="col-sm-8 f-s-14 t-right dashboardStats visible-md visible-lg">
                                    <button class="btn bgm-green waves-effect btn-xs m-b-5 m-t-5" ui-sref="my-projects">
                                        <div class="d-i-b">
                                            <span
                                                data-ng-show="vm.data.ongoingProjectsNumber < 2">Projet en cours </span>
                                            <span
                                                data-ng-show="vm.data.ongoingProjectsNumber > 1">Projets en cours </span>
                                            {{vm.data.ongoingProjectsNumber}}
                                        </div>
                                    </button>
                                    <button class="btn bgm-gray waves-effect btn-xs m-b-5 m-t-5" ui-sref="my-projects">
                                        <div class="d-i-b">
                                            <span
                                                data-ng-show="vm.data.completedProjectsNumber < 2">Projet terminé </span>
                                            <span
                                                data-ng-show="vm.data.completedProjectsNumber > 1">Projets terminés </span>
                                            {{vm.data.completedProjectsNumber}}
                                        </div>
                                    </button>
                                    <button class="btn bgm-orange waves-effect btn-xs m-b-5 m-t-5" ui-sref="contacts">
                                        <div class="d-i-b">
                                            <span data-ng-show="vm.data.recommendedProNumber < 2">Pro recommandé </span>
                                            <span
                                                data-ng-show="vm.data.recommendedProNumber > 1">Pros recommandés </span>
                                            {{vm.data.recommendedProNumber}}
                                        </div>
                                    </button>
                                </div>
                                <div class="pull-right col-sm-4 f-s-14 t-right dashboardStats visible-sm-block">
                                    <button class="btn bgm-green waves-effect btn-xs" ui-sref="my-projects">
                                        <div class="d-i-b">
                                            <span
                                                data-ng-show="vm.data.ongoingProjectsNumber < 2">Projet en cours </span>
                                            <span
                                                data-ng-show="vm.data.ongoingProjectsNumber > 1">Projets en cours </span>
                                            {{vm.data.ongoingProjectsNumber}}
                                        </div>
                                    </button>
                                    <button class="btn bgm-orange waves-effect btn-xs m-t-5" ui-sref="contacts">
                                        <div class="d-i-b">
                                            <span data-ng-show="vm.data.recommendedProNumber < 2">Recommandation </span>
                                            <span
                                                data-ng-show="vm.data.recommendedProNumber > 1">Recommandations </span>
                                            {{vm.data.recommendedProNumber}}
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left m-t-10 f-s-14 dashboardStats visible-xs-block">
                            <button class="btn bgm-green waves-effect btn-xs" ui-sref="my-projects">
                                <span data-ng-show="vm.data.ongoingProjectsNumber < 2">Projet </span>
                                <span data-ng-show="vm.data.ongoingProjectsNumber > 1">Projets </span>
                                {{vm.data.ongoingProjectsNumber}}
                            </button>
                            <button class="btn bgm-orange waves-effect btn-xs" ui-sref="contacts">
                                <span data-ng-show="vm.data.recommendedProNumber < 2">Recommandation </span>
                                <span data-ng-show="vm.data.recommendedProNumber > 1">Recommandations </span>
                                {{vm.data.recommendedProNumber}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="t-right bgm-lightgray">
                    <button class="btn btn-default waves-effect c-lightblue btn-sm m-r-10 m-b-10 m-t-10"
                            data-ui-sref="new-project">
                        Nouveau projet
                    </button>
                </div>
            </div>

            <div class="card" data-ng-if="vm.projectsToRecommend && vm.projectsToRecommend.length > 0">
                <div class="card-header dashboardCommunityHeader">

                    <i class="zmdi zmdi-hc-3x zmdi-accounts c-black d-i-b hidden-xs"></i>

                    <h2 class="d-i-b">
                        Actualité de la communauté
                        <small>
                            Aidez la communauté, recommandez vos professionnels
                        </small>
                    </h2>
                </div>
                <div class="clearfix card-body p-t-0 p-b-0 p-l-15">

                    <div class="col-sm-6 dashboardRecommendProject pointer no-padding m-t-10 m-b-10"
                         data-ng-repeat="project in vm.projectsToRecommend"
                         data-ui-sref="project-recommend({'projectId': project.id})">

                        <yaka-avatar class="m-t-5" size="45" user="project.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText">
                            <div class="yakaEllipsis">
                                <b>
                                    <casa-contact user="project.user"></casa-contact>
                                </b>
                                <span data-ng-if="project.user.inContacts || project.user.isInvited">-</span>
                                {{project.user.firstName}} {{project.user.lastName}}
                            </div>

                            <div class="yakaEllipsis c-lightblue">
                                {{project.title}}
                            </div>

                            <div class="yakaEllipsis">
                                à {{project.address.locality}}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
