<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'modules/core/views/header.html'"
></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">

            <div class="topViewProfile">
                <div class="card bgm-orange c-white p-15 pointer" data-ng-if="vm.showTopViewInvits()"
                     data-ui-sref="contacts">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-notifications-active"></i>
                    </div>
                    <div class="topViewProfileContent">
                        Vous avez des invitations en attente, cliquez <span class="underline">ici</span> pour les
                        accepter ou les refuser
                    </div>
                </div>
                <div class="card bgm-orange c-white p-15"
                     data-ng-if="vm.showTopViewUnreadMessages() && !vm.showTopViewInvits()">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-comment-alert"></i>
                    </div>
                    <div class="topViewProfileContent">
                        <span class="v-align-middle">Vous avez des messages non lus, cliquez sur l'icone</span>
                        <i class="zmdi zmdi-local-post-office f-s-16 v-align-middle"></i>
                        <span class="v-align-middle">en haut à droite pour les visualiser</span>
                    </div>
                </div>
                <div class="card bgm-lightblue c-white p-15 pointer"
                     data-ng-if="vm.showTopViewNoProject() && !vm.showTopViewUnreadMessages() && !vm.showTopViewInvits()"
                     data-ui-sref="new-project">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-assignment-o"></i>
                    </div>
                    <div class="topViewProfileContent">
                        Cliquez sur TROUVER UN PRO pour être contacté par les meilleurs professionnels
                    </div>
                </div>
                <div class="card bgm-lightblue c-white p-15"
                     data-ng-if="vm.showTopViewNoContact() && !vm.showTopViewNoProject() && !vm.showTopViewUnreadMessages() && !vm.showTopViewInvits()">
                    <div class="topViewProfileIcon">
                        <i class="zmdi zmdi-hc-2x zmdi-accounts-add"></i>
                    </div>
                    <div class="topViewProfileContent">
                        Faites vous recommander automatiquement les Pros préférés de vos proches :
                        <span
                            datan-ng-if="vm.getCommunityByType('JOB').name.length < 2 || !app.getUser().facebookEmail">cliquez sur votre avatar (barre du haut) pour
                            <span class="pointer underline" data-ng-if="vm.getCommunityByType('JOB').name.length < 2"
                                  data-ui-sref="profile">compléter vos communautés</span>
                            <span data-ng-if="vm.getCommunityByType('JOB').name.length < 2 && !app.getUser().facebookEmail">et</span>
                            <span class="pointer underline" data-ng-if="!app.getUser().facebookEmail"
                                  data-ui-sref="profile">associer votre compte Facebook</span>
                            ,
                        </span>
                        <span data-ng-if="vm.data.contactsNumber < 2"> cliquez sur le menu « <span
                            class="pointer underline" data-ui-sref="contacts">MON ENTOURAGE</span> »</span> pour inviter
                        vos proches à rejoindre votre réseau
                    </div>
                </div>
            </div>

            <div class="block-header">
                <h2>Tableau de bord</h2>
            </div>

            <div class="card" data-ng-if="vm.data">
                <div class="card-header p-b-0">
                    <div class="media">
                        <div class="pull-left left-col-width">
                            <yaka-avatar class="dashboard-avatar" size="75" user="app.getUser()"></yaka-avatar>
                            <div class="visible-xs no-padding p-l-85">
                                <div class="f-s-16">
                                    {{app.getUser().firstName}} {{app.getUser().lastName}}
                                </div>

                                <div class="no-padding">
                                    <a class="pointer underline" data-ui-sref="contacts">
                                        {{vm.data.contactsNumber}}
                                        <span data-ng-show="vm.data.contactsNumber < 2">Contact</span>
                                        <span data-ng-show="vm.data.contactsNumber > 1">Contacts</span> -
                                        {{vm.data.contactsProNumber}}
                                        <span data-ng-show="vm.data.contactsNumber < 2">Pro</span>
                                        <span data-ng-show="vm.data.contactsNumber > 1">Pros</span>
                                    </a>
                                </div>

                                <div class="no-padding"
                                     data-ng-if="vm.data.incomingInvitationNumber && vm.data.incomingInvitationNumber > 0">
                                    <a class="pointer underline" data-ui-sref="contacts"><b>
                                        {{vm.data.incomingInvitationNumber}}
                                        <span
                                            data-ng-show="vm.data.incomingInvitationNumber < 2">Invitation à valider</span>
                                        <span
                                            data-ng-show="vm.data.incomingInvitationNumber > 1">Invitations à valider</span></b>
                                    </a>
                                </div>


                            </div>
                            <div class="hidden-xs onGoing-find-buttons">
                                <button data-ng-if="vm.userOnGoingProjectNumber > 0"
                                        class="btn btn-default pull-left waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10"
                                        data-ui-sref="my-projects">
                                    <span data-ng-if="vm.userOnGoingProjectNumber == 1">MON PROJET</span>
                                    <span data-ng-if="vm.userOnGoingProjectNumber > 1">MES PROJETS</span>
                                </button>
                                <button
                                    class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10"
                                    data-ui-sref="new-project">
                                    TROUVER UN PRO
                                </button>
                            </div>

                            <div class="p-r-0 m-t-5 t-left m-b-5 visible-xs clearfix">

                                <div class="col-xs-12 t-center">
                                    <span class="text-uppercase">Mes communautés</span>
                                </div>

                                <div class="col-xs-12 p-r-0 p-l-0"
                                     data-ng-if="vm.getCommunityByType('PROFILE_CITY').name">
                                    <div class="col-xs-12 p-l-0 p-r-0">
                                        <casa-community-tag class="t-center pointer"
                                                            data-ui-sref="profile"
                                                            community="vm.getCommunityByType('PROFILE_CITY')">
                                        </casa-community-tag>
                                        <button
                                            class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                            data-ui-sref="profile"
                                            data-ng-if="!vm.getCommunityByType('PROFILE_CITY').name && !vm.getCommunityByType('PROFILE_CITY').address.address">
                                            <i class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>

                                <div class="col-xs-12 p-r-0 p-l-0" data-ng-if="vm.getCommunityByType('JOB').name">
                                    <div class="col-xs-12 p-r-0 p-l-0">
                                        <casa-community-tag class="t-center pointer"
                                                            data-ui-sref="profile"
                                                            community="vm.getCommunityByType('JOB')">
                                        </casa-community-tag>
                                        <button
                                            class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                            data-ui-sref="profile"
                                            data-ng-if="vm.getCommunityByType('JOB').name == ' '"><i
                                            class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>

                                <div class="col-xs-12 p-r-0 p-l-0" data-ng-if="vm.getCommunityByType('OTHER').name">
                                    <div class="col-xs-12 p-r-0 p-l-0">
                                        <casa-community-tag class="t-center pointer"
                                                            data-ui-sref="profile"
                                                            community="vm.getCommunityByType('OTHER')">
                                        </casa-community-tag>
                                        <button
                                            class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                            data-ui-sref="profile"
                                            data-ng-if="vm.getCommunityByType('OTHER').name == ' '"><i
                                            class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="media-body">
                            <div class="media row">
                                <div class="col-xs-6 hidden-xs">
                                    <div class="f-s-16 yakaEllipsis">
                                        {{app.getUser().firstName}} {{app.getUser().lastName}}
                                    </div>
                                    <div class="col-xs-12 no-padding">
                                        <a class="pointer underline" data-ui-sref="contacts"
                                           data-ng-if="vm.data.contactsNumber != 0">
                                            {{vm.data.contactsNumber}}
                                            <span data-ng-show="vm.data.contactsNumber < 2">Contact</span>
                                            <span data-ng-show="vm.data.contactsNumber > 1">Contacts</span> -
                                            {{vm.data.contactsProNumber}}
                                            <span data-ng-show="vm.data.contactsNumber < 2">Pro</span>
                                            <span data-ng-show="vm.data.contactsNumber > 1">Pros</span>
                                        </a>
                                        <a class="pointer underline" data-ui-sref="contacts"
                                           data-ng-if="vm.data.contactsNumber == 0">
                                            Ajouter des contacts
                                        </a>
                                    </div>
                                    <div class="col-xs-12 no-padding"
                                         data-ng-if="vm.data.incomingInvitationNumber && vm.data.incomingInvitationNumber > 0">
                                        <a class="pointer underline invitationNumber" data-ui-sref="contacts">
                                            {{vm.data.incomingInvitationNumber}}
                                            <span
                                                data-ng-show="vm.data.incomingInvitationNumber < 2">Invitation à valider</span>
                                            <span
                                                data-ng-show="vm.data.incomingInvitationNumber > 1">Invitations à valider</span>
                                        </a>
                                    </div>

                                    <div>
                                        <a class="pointer" data-ng-if="vm.data.invitationNumber > 0"><u><b>{{vm.data.invitationNumber}}
                                            invitation<span
                                                data-ng-if="vm.data.invitationNumber > 1">s</span> à valider</b></u></a>
                                    </div>
                                </div>

                                <div
                                    class="col-sm-6 col-xs-offset-4 col-sm-offset-0 f-s-14 t-right dashboardStats hidden-xs">
                                    <div class="col-xs-12 p-l-0 p-r-0 t-center">
                                        <div class="col-xs-8 col-xs-offset-4">
                                            <span class="text-uppercase">Mes communautés</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 p-l-0 p-r-0 m-t-5">
                                        <div class="col-xs-8 col-xs-offset-4 community-height">
                                            <casa-community-tag class="tag-community t-center pointer"
                                                                data-ui-sref="profile"
                                                                community="vm.getCommunityByType('PROFILE_CITY')">
                                            </casa-community-tag>
                                            <button
                                                class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                                data-ui-sref="profile"
                                                data-ng-if="!vm.getCommunityByType('PROFILE_CITY').name && !vm.getCommunityByType('PROFILE_CITY').address.address">
                                                <i class="zmdi zmdi-plus"></i></button>
                                        </div>
                                        <div class="col-xs-8 col-xs-offset-4 community-height">
                                            <casa-community-tag class="tag-community t-center pointer"
                                                                data-ui-sref="profile"
                                                                community="vm.getCommunityByType('JOB')">
                                            </casa-community-tag>
                                            <button
                                                class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                                data-ui-sref="profile"
                                                data-ng-if="vm.getCommunityByType('JOB').name == ' '"><i
                                                class="zmdi zmdi-plus"></i></button>
                                        </div>
                                        <div class="col-xs-8 col-xs-offset-4 community-height">
                                            <casa-community-tag class="tag-community t-center pointer"
                                                                data-ui-sref="profile"
                                                                community="vm.getCommunityByType('OTHER')">
                                            </casa-community-tag>
                                            <button
                                                class="btn bgm-cyan btn-float waves-effect waves-circle button-community"
                                                data-ui-sref="profile"
                                                data-ng-if="vm.getCommunityByType('OTHER').name == ' '"><i
                                                class="zmdi zmdi-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">


                    <div class="visible-xs row-button-find-pro">
                        <a class="pull-left m-l-10 m-b-5 m-t-15" data-ng-if="vm.data.invitationNumber > 0"><u><b>{{vm.data.invitationNumber}}
                            invitation<span
                                data-ng-if="vm.data.invitationNumber > 1">s</span> à valider</b></u></a>
                        <button data-ng-if="vm.userOnGoingProjectNumber > 0"
                                class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10 m-l-10"
                                data-ui-sref="my-projects">
                            <span data-ng-if="vm.userOnGoingProjectNumber == 1">MON PROJET</span>
                            <span data-ng-if="vm.userOnGoingProjectNumber > 1">MES PROJETS</span>
                        </button>
                        <button data-ng-if="vm.userOnGoingProjectNumber == 0"
                                class="btn btn-default waves-effect bgm-lightblue c-white btn-sm m-r-10 m-b-10 m-t-10 m-l-10"
                                data-ui-sref="new-project">
                            TROUVER UN PRO
                        </button>
                    </div>
                </div>
            </div>

            <div class="card" data-ng-if="vm.projectsToRecommend && vm.projectsToRecommend.length > 0">
                <div class="card-header bgm-darkblue">
                    <i class="zmdi zmdi-hc-3x zmdi-pin-account c-white d-i-b hidden-xs"></i>
                    <h2 class="m-l-10 d-i-b">
                        Recommandez leur un Pro
                        <small>
                            Gagnez 10€ en recommandant vos meilleurs Pros <i
                            class="zmdi zmdi-help zmdi-hc-lg question-zmdi pointer c-white"
                            data-ng-click="vm.recommandInfos()"></i>
                        </small>
                    </h2>
                </div>
                <div class="clearfix card-body no-padding">

                    <div class="col-xs-12 dashboardRecommendProject p-15 pointer no-padding"
                         data-ng-repeat="project in vm.projectsToRecommend"
                         data-ui-sref="project-recommend({'projectId': project.id})">

                        <yaka-avatar class="m-t-5 pull-left m-b-5" size="45" user="project.user"></yaka-avatar>

                        <div class="col-xs-9 col-sm-6 commu-user-infos">
                            <div class="yakaEllipsis">
                                <b>
                                    <casa-contact user="project.user"></casa-contact>
                                </b>
                                <span data-ng-if="project.user.inContacts || project.user.isInvited">-</span>
                                {{project.user.firstName}} {{project.user.lastName}}
                            </div>
                            <div class="c-lightblue">
                                <u>{{project.title}}</u>
                            </div>

                            <div class="yakaEllipsis">
                                à {{project.address.locality}}
                            </div>
                        </div>
                        <div
                            class="col-xs-12 col-sm-5 yaka-chips m-t-5 t-right pull-right no-padding actu-communities-tag">
                            <casa-community-tag class="contact-community-tag d-i-b no-float"
                                                community="community"
                                                ng-repeat="community in project.user.communities">
                            </casa-community-tag>
                        </div>
                        <div class="col-xs-12 col-sm-5 yaka-chips m-t-5 pull-right no-padding actu-communities-tag">
                            <button class="btn btn-sm button-recommend c-white bgm-lightblue">JE CONNAIS
                                {{vm.displayActivity(project.mainActivity.code)}}
                            </button>
                        </div>
                        <hr class="dash-board-actu-hr">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
