<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="dashboard"
                    title="Recommander un pro"
                    current-user="app.getUser()"></yaka-mobile-header>

<section id="main">

    <ol class="breadcrumb container hidden-xs">
        <li class="pointer" data-ui-sref="dashboard">
            Accueil
        </li>
        <li class="active">
            Recommander un pro
        </li>
    </ol>

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">

        <div class="container">

            <div class="col-sm-6">
                <div class="block-header">
                    <h2>À</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <yaka-avatar size="50" user="vm.project.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText">
                            {{vm.project.user.firstName}} {{vm.project.user.lastName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-header">
                    <h2>POUR SON PROJET</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <div class="proposalIconBackground lv-img v-icon-{{vm.project.mainActivity.code}}-white">
                        </div>

                        <div class="dashboardRecommendProjectText right">
                            <div class="yakaEllipsis f-s-16">
                                {{vm.project.title}}
                            </div>

                            <div class="yakaEllipsis" data-ng-if="vm.project.address.address">
                                {{vm.project.address.address}}
                            </div>
                            <div class="yakaEllipsis" data-ng-if="!vm.project.address.address">
                                {{vm.project.address.postalCode}} {{vm.project.address.locality}}
                            </div>

                            <div class="yakaEllipsis">
                                {{vm.getWhen()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" data-ng-if="vm.professionals">
                <div class="block-header">
                    <h2>
                        Coucou
                    </h2>
                </div>

                <div class="card selectedProDetails" data-ng-if="vm.selectedProfessional">

                    <div class="card-header">
                        <h2>
                            Coucou
                        </h2>
                    </div>

                    <div class="card-body card-padding">
                        Coucou
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
