<header id="header" class="hidden-xs" data-current-skin="{{app.getTheme()}}"
        data-ng-include="'/modules/core/views/header.html'"></header>

<yaka-mobile-header id="header" class="visible-xs" data-current-skin="{{app.getTheme()}}"
                    up-state="dashboard"
                    title="Recommander un pro"
                    current-user="app.getUser()"></yaka-mobile-header>

<section id="main">

    <div class="container p-l-25 p-r-25">
        <ol class="breadcrumb hidden-xs noMenu">
            <li class="pointer" data-ui-sref="home">
                Accueil
            </li>
            <li class="active">
                Recommander un pro
            </li>
        </ol>
    </div>

    <div id="content noMenu" class="content">

        <div class="container">

            <div class="col-sm-6">
                <div class="block-header">
                    <h2>Recommander à</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <yaka-avatar size="50" user="vm.project.user"></yaka-avatar>

                        <div class="dashboardRecommendProjectText">
                            {{vm.project.user.firstName}} {{vm.project.user.lastName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block-header">
                    <h2>POUR SON PROJET</h2>
                </div>
                <div class="projectRecommendTopCard card">
                    <div class="clearfix">

                        <div class="proposalIconBackground lv-img v-icon-{{vm.project.mainActivity.code}}-white">
                        </div>

                        <div class="dashboardRecommendProjectText right">
                            <div class="yakaEllipsis f-s-16">
                                {{vm.project.title}}
                            </div>

                            <div class="yakaEllipsis" data-ng-if="vm.project.address.address">
                                {{vm.project.address.address}}
                            </div>
                            <div class="yakaEllipsis" data-ng-if="!vm.project.address.address">
                                {{vm.project.address.postalCode}} {{vm.project.address.locality}}
                            </div>

                            <div class="yakaEllipsis">
                                {{vm.getWhen()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="block-header">
                    <h2>
                        Recommander un professionel
                    </h2>
                </div>

                <div class="card selectedProDetails">

                    <div class="card-body card-padding clearfix">

                        <div class="col-sm-6">

                            <div class="f-18 c-orange">
                                Mon Pro
                            </div>

                            <form name="inviteForm" class="m-t-20">
                                <div class="col-xs-6 no-padding form-group fg-float m-t-15 halfInput"
                                     data-ng-class="{'has-error': !vm.invitPro.firstName}">

                                    <div class="fg-line">
                                        <input type="text" name="firstName" class="form-control fg-input input-sm"
                                               data-ng-model="vm.invitPro.firstName"
                                               required="required" data-ng-disabled="vm.isSocialRegister()"
                                               yaka-input-name>
                                        <label class="fg-label">Prénom</label>
                                    </div>
                                    <div data-ng-messages="inviteForm.firstName.$error">
                                        <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                            valide
                                        </small>
                                    </div>
                                </div>

                                <div class="col-xs-6 no-padding form-group fg-float m-t-15 halfInput halfInputRight"
                                     data-ng-class="{'has-error': !vm.invitPro.lastName}">

                                    <div class="fg-line">
                                        <input type="text" name="lastName" class="form-control fg-input input-sm"
                                               data-ng-model="vm.invitPro.lastName"
                                               required="required" data-ng-disabled="vm.isSocialRegister()"
                                               yaka-input-name>
                                        <label class="fg-label">Nom</label>
                                    </div>
                                    <div data-ng-messages="inviteForm.lastName.$error">
                                        <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                            valide
                                        </small>
                                    </div>
                                </div>

                                <div class="col-xs-12 no-padding select m-b-15">
                                    <select class="form-control c-red"
                                            onchange="this.className='form-control form-control-underline-ok'"
                                            data-ng-model="vm.invitPro.relation">
                                        <option value="" disabled="disabled">Ma relation avec ce pro ?</option>
                                        <option value="CLIENT">Client</option>
                                        <option value="FRIEND">Ami</option>
                                        <option value="FAMILY">Famille</option>
                                        <option value="COLLEAGUE" data-ng-if="app.isPro()">Collègue</option>
                                    </select>
                                </div>

                                <div class="col-xs-12 no-padding proHomeSection2ActivitiesInput m-b-30"
                                     events="vm.updateMultiChoiceInputColor"
                                     data-ng-dropdown-multiselect=""
                                     options="vm.multiChoiceInput.options"
                                     selected-model="vm.multiChoiceInput.selected"
                                     extra-settings="vm.multiChoiceInput.settings"
                                     translation-texts="vm.multiChoiceInput.translation"
                                     checkboxes="true"></div>

                                <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                                     data-ng-class="{'has-error': !vm.invitPro.address.address}">
                                    <div class="fg-line">
                                        <input type="text" class="form-control fg-input input-sm"
                                               vs-google-autocomplete="vm.autocomplete.options"
                                               vs-autocomplete-validator
                                               data-ng-model="vm.invitPro.address.address"
                                               type="text"
                                               name="address"
                                               required="required"
                                               placeholder=""
                                               id="address">
                                        <label class="fg-label">Localité</label>
                                    </div>
                                </div>

                                <div class="col-xs-12 no-padding form-group fg-float m-b-30"
                                     data-ng-class="{'has-error': !vm.invitPro.email}">
                                    <div class="fg-line">
                                        <input type="text" name="username" data-ng-disabled="vm.isSocialRegister()"
                                               class="form-control fg-input input-sm"
                                               data-ng-model="vm.invitPro.email"
                                               required="required" yaka-input-email>
                                        <label class="fg-label">Email</label>
                                    </div>
                                    <div data-ng-messages="inviteForm.username.$error">
                                        <small class="help-block" data-ng-message="invalidEmail">
                                            Cet email n'est pas valide
                                        </small>
                                    </div>
                                </div>

                                <div class="col-xs-12 no-padding form-group fg-float">
                                    <div class="fg-line">
                                        <input type="text" name="phoneNumber"
                                               class="form-control fg-input"
                                               data-ng-model="vm.invitPro.phone" yaka-input-phone>
                                        <label class="fg-label fg-label-phone">Téléphone</label>
                                    </div>
                                    <div data-ng-messages="inviteForm.phoneNumber.$error">
                                        <small class="help-block" data-ng-message="invalidPhone">
                                            Ce numéro de téléphone n'est pas valide
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-6">

                            <div class="col-xs-12 visible-xs m-t-20"></div>

                            <div class="f-18 c-lightblue">
                                Moi
                            </div>

                            <div class="col-xs-12 registerFacebookGoogle m-t-30">
                                <span data-ng-if="!vm.isSocialRegister()">Inscription rapide via Facebook ou Google</span>

                                <div data-ng-if="vm.isSocialRegister()">
                                    <div class="registerSocialConfirm">
                                        Inscription via {{vm.socialNetwork}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6 loginPopupFacebook waves-effect"
                                 data-ng-click="vm.facebookPreRegister()"
                                 data-ng-if="!vm.isSocialRegister()">
                                Facebook
                            </div>
                            <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                                 data-ng-if="!vm.isSocialRegister()">
                                Google
                            </div>

                            <div class="col-xs-4 col-xs-offset-4 registerSeparator"/>

                            <div class="col-xs-12 registerMail">
                                <span class="registerWithEmailMessage pointer" data-ng-if="!vm.isSocialRegister()"
                                      data-ng-click="vm.showRegisterFields = true">- Ou inscription par email -</span>
                                <span data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                            </div>
                            <form name="registerForm">
                                <div class="col-xs-12 showRegisterFieldsReco"
                                     data-ng-class="{showRegisterFieldsRecoVisible: vm.isSocialRegister() || vm.showRegisterFields}">

                                    <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput"
                                         data-ng-class="{'has-error': !vm.newUser.firstName}">

                                        <div class="fg-line">
                                            <input type="text" name="firstName" class="form-control fg-input input-sm"
                                                   data-ng-model="vm.newUser.firstName"
                                                   required="required" data-ng-disabled="vm.isSocialRegister()"
                                                   yaka-input-name>
                                            <label class="fg-label">Prénom</label>
                                        </div>
                                        <div data-ng-messages="registerForm.firstName.$error">
                                            <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                                valide
                                            </small>
                                        </div>
                                    </div>

                                    <div
                                        class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput halfInputRight"
                                        data-ng-class="{'has-error': !vm.newUser.lastName}">

                                        <div class="fg-line">
                                            <input type="text" name="lastName" class="form-control fg-input input-sm"
                                                   data-ng-model="vm.newUser.lastName"
                                                   required="required" data-ng-disabled="vm.isSocialRegister()"
                                                   yaka-input-name>
                                            <label class="fg-label">Nom</label>
                                        </div>
                                        <div data-ng-messages="registerForm.lastName.$error">
                                            <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                                valide
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float m-b-30"
                                         data-ng-class="{'has-error': !vm.newUser.email}">
                                        <div class="fg-line">
                                            <input type="text" name="username" data-ng-disabled="vm.isSocialRegister()"
                                                   class="form-control fg-input input-sm"
                                                   data-ng-model="vm.newUser.email"
                                                   required="required" yaka-input-email>
                                            <label class="fg-label">Email</label>
                                        </div>
                                        <div data-ng-messages="registerForm.username.$error">
                                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                                valide
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float m-b-30"
                                         data-ng-class="{'has-error': !vm.newUser.defaultAddress.address}">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input input-sm"
                                                   vs-google-autocomplete="vm.autocomplete.options"
                                                   vs-autocomplete-validator
                                                   data-ng-model="vm.newUser.defaultAddress.address"
                                                   type="text"
                                                   name="address"
                                                   required="required"
                                                   placeholder=""
                                                   id="address">
                                            <label class="fg-label">Ville</label>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float m-b-15"
                                         data-ng-class="{'has-error':! vm.newUser.password}">
                                        <div class="fg-line">
                                            <input type="password" name="password"
                                                   class="form-control fg-input input-sm"
                                                   data-ng-model="vm.newUser.password" data-ng-minlength="6">
                                            <label class="fg-label">Mot de passe</label>
                                        </div>
                                        <div data-ng-messages="registerForm.password.$error">
                                            <small class="help-block" data-ng-message="minlength">Le mot de passe doit
                                                faire au
                                                moins
                                                6 caractères
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float m-b-0"
                                         data-ng-class="{'has-error': !vm.passwordConfirm || (vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm))}">
                                        <div class="fg-line">
                                            <input type="password" class="form-control fg-input input-sm"
                                                   data-ng-model="vm.passwordConfirm" data-ng-minlength="6">
                                            <label class="fg-label">Confirmation</label>
                                        </div>
                                        <small class="help-block"
                                               data-ng-show="vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm)">
                                            Les deux mots de passe ne correspondent pas
                                        </small>
                                    </div>

                                    <span class="c-red m-l-20 m-b-0">Cochez la case ci-dessous</span>
                                    <div
                                        vc-recaptcha
                                        data-ng-model="vm.newUser.recaptchaResponse"
                                        key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                        class="hidden-xs col-xs-12 center m-t-0"
                                    ></div>
                                    <div
                                        vc-recaptcha
                                        data-ng-model="vm.newUser.recaptchaResponse"
                                        key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                        class="visible-xs col-xs-12 center m-t-0"
                                        style="-moz-transform:scale(0.77); -ms-transform:scale(0.77); -o-transform:scale(0.77); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.77); transform:scale(0.77); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');"
                                    ></div>

                                    <button class="btn bgm-lightblue btn-lg waves-effect center m-t-10 w-s-normal"
                                            data-ng-disabled="!vm.registerFormIsValid() || !vm.proFormIsValid()"
                                            data-ng-click="vm.register()">
                                        S'INSCRIRE ET RECOMMANDER
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
