<section class="view">
    <div class="homeSection homeSection1">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span>
                    <span class="titleBeta">Beta</span>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection">
        <div class="container">
            <div class="col-xs-12 homeSection2Title">
                Ensemble révolutionnons la confiance !
            </div>
        </div>
    </div>
</section>
