<section class="view">
    <div class="homeSection homeSection1 homeSection1RecoverPassword">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span>
                    <span class="titleBeta">Beta</span>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div ng-if="!vm.newPasswordSuccessMessage">
                    <div class="col-xs-12 chooseNewPasswordTitle">
                        Veuillez choisir votre nouveau mot de passe
                    </div>

                    <input class="form-control" type="password" placeholder="Nouveau mot de passe"
                           ng-model="vm.newPassword.password"/>

                    <div class="loginPopupInputError"
                         ng-hide="vm.newPassword.password.length == '' ||vm.newPassword.password.length >= 6">
                        Trop court : 6 caractères minimum
                    </div>

                    <input class="form-control" type="password" placeholder="Confirmation de mot de passe"
                           ng-model="vm.passwordConfirm"/>

                    <div class="loginPopupInputError"
                         ng-hide="vm.passwordConfirm == '' || vm.newPassword.password == vm.passwordConfirm">
                        Les mots de passe ne correspondent pas
                    </div>

                    <div class="col-xs-12 yakaButton yakaBlue loginPopupButton"
                         ng-class="{yakaDisabled: !vm.newPasswordFormIsValid()}" ng-click="vm.sendNewPassword()"
                         angular-ripple>
                        VALIDER
                    </div>
                </div>
                <div ng-if="vm.newPasswordSuccessMessage">
                    <div class="col-xs-12 chooseNewPasswordTitle">
                        Votre mot de passe à été modifié avec succès. Vous pouvez maintenant vous connecter avec votre
                        nouveau mot de passe.
                    </div>

                    <div class="col-xs-12 yakaButton yakaBlue loginPopupButton" ng-click="vm.goToHomepage()"
                         angular-ripple>
                        OK
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
