<section class="view">
    <div class="homeSection homeSection1 homeSection1RecoverPassword">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Club">CASA</span><span class="homeSection1Yaka">VOX</span>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div data-ng-if="!vm.newPasswordSuccessMessage">
                    <div class="col-xs-12 chooseNewPasswordTitle">
                        Veuillez choisir votre nouveau mot de passe
                    </div>

                    <form>

                        <input class="form-control"
                               type="password"
                               name="password"
                               autocomplete="new-password"
                               placeholder="Nouveau mot de passe"
                               data-ng-model="vm.newPassword.password"/>

                        <div class="loginPopupInputError"
                             data-ng-hide="vm.newPassword.password.length == '' ||vm.newPassword.password.length >= 6">
                            Trop court : 6 caractères minimum
                        </div>

                        <input class="form-control"
                               type="password"
                               placeholder="Confirmation de mot de passe"
                               data-ng-model="vm.passwordConfirm"/>

                        <div class="loginPopupInputError"
                             data-ng-hide="vm.passwordConfirm == '' || vm.newPassword.password == vm.passwordConfirm">
                            Les mots de passe ne correspondent pas
                        </div>

                        <button
                            class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                            data-ng-class="{yakaDisabled: !vm.newPasswordFormIsValid()}"
                            data-ng-click="vm.sendNewPassword()">
                            VALIDER
                        </button>
                    </form>
                </div>
                <div data-ng-if="vm.newPasswordSuccessMessage">
                    <div class="col-xs-12 chooseNewPasswordTitle">
                        Votre mot de passe à été modifié avec succès. Vous pouvez maintenant vous connecter avec votre
                        nouveau mot de passe.
                    </div>

                    <button
                        class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                        data-ng-click="vm.goToHomepage()">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
