<div class="home-section no-padding">
    <div class="container-fluid navbar-element p-0 m-t-0">
        <div class="col-xs-12 home-navbar p-l-10">
            <div class="logo-casavox pointer" ui-sref="home">
                <img class="logo-img" src="../../../img/logoSansFond_40w.png" alt="CasaVox"/>
            </div>
            <div class="navbar-casavox m-l-5 c-blue" ui-sref="home">
                <span class="navbar-casa">CASA</span><span class="navbar-vox">VOX</span>
            </div>
            <div class="button-pro-access c-orange waves-effect" ui-sref="pro-home">
                ACCES PRO
            </div>
            <div class="button-connexion"
                 data-ng-click="vm.openPopup(true)">
                CONNEXION
            </div>
        </div>
        <div class="animation-and-background-image clearfix">
            <div class="container p-0">

                <div class="col-xs-12 animedTitle">
                    &ldquo; Tu connais un <span typewrite="" text="vm.jobs" initial-delay="1000"></span> ? &rdquo;
                </div>
                <div class="col-xs-12 animedSubtitle">
                    Votre entourage vous recommande leurs meilleurs Pros pour vos travaux !
                </div>

                <button class="col-xs-6 col-xs-offset-3 btn btn-lg bgm-lightblue waves-effect button-find-pro"
                        data-ng-click="vm.openPopup(false)">TROUVER MON PRO
                </button>
            </div>
        </div>

        <div class="container-fluid m-t-10 p-l-0 p-r-0">
            <div class="container">
                <div class="col-xs-12">
                    <div class="find-my-pro c-lightblue">Gérer <strong>mes travaux</strong></div>
                </div>

                <div class="t-center f-s-13 subtitle-color-forced">
                    Publiez votre besoin, les Pros Casavox vous proposent leur service</br>
                    Votre entourage (famille, voisins, collègues...) vous recommandent leurs meilleurs Pros
                </div>

                <div
                    class="circles-section col-xs-12 t-center">
                    <div class="chart chart1 col-xs-12 col-sm-3 no-padding circle-1-m-b" data-percent="0">
                        <i class="zmdi zmdi-assignment zmdi-hc-4x"></i>
                        <i class="zmdi zmdi-arrow-right zmdi-hc-3x subtitle-color-forced arrow-to-right"></i>

                        <div class="text-uppercase subtitle-color-forced subtext-circle  center-forced">Je publie
                            <strong>mon
                                besoin</strong></div>
                    </div>
                    <div class="chart chart2 col-xs-12 col-sm-3 no-padding circle-2-m-b" data-percent="0">
                        <i class="zmdi zmdi-accounts-alt zmdi-hc-4x"></i>
                        <i class="zmdi zmdi-arrow-right zmdi-hc-3x subtitle-color-forced arrow-to-right"></i>

                        <div class="text-uppercase subtitle-color-forced subtext-circle">Casavox et mon entourage
                            <strong>me
                                recommandent leurs meilleurs Pros</strong></div>
                    </div>
                    <div class="chart chart3 col-xs-12 col-sm-3 no-padding circle-3-m-b" data-percent="0">
                        <i class="zmdi zmdi-comments zmdi-hc-4x"></i>
                        <i class="zmdi zmdi-arrow-right zmdi-hc-3x subtitle-color-forced arrow-to-right"></i>

                        <div class="text-uppercase subtitle-color-forced subtext-circle">J'échange <strong>en
                            privé</strong>
                            avec <strong>les Pros de mon choix</strong><br>
                            (Messages, photos, devis...)
                        </div>
                    </div>
                    <div class="chart chart4 col-xs-12 col-sm-3 no-padding circle-m-b" data-percent="0">
                        <i class="zmdi zmdi-assignment-check zmdi-hc-4x"></i>

                        <div class="text-uppercase subtitle-color-forced subtext-circle">Je choisis mon Pro<br>
                            <strong>Je suis mes travaux avec Casavox</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-15 p-b-15 p-l-0 p-r-0 translateY homepage-background-color">
                <div class="find-my-pro c-white">L'esprit <strong>CasaVOX</strong></div>
            </div>
            <div class="col-xs-12 p-l-0 p-r-0 homepage-background-color">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card col-xs-12 no-padding service-box">
                                <div class="card-header no-padding">
                                    <div class="c-white bgm-lightblue icon-service euro-icon-service pull-left">€</div>
                                    <div class="service-mobile-bottom p-t-15 p-l-80 p-r-15">
                                        <h2 class="c-lightblue text-uppercase m-b-5">100% gratuit</h2>
                                        <strong>Tous les services Casavox sont gratuits pour les particuliers
                                            !</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card col-xs-12 no-padding service-box">
                                <div class="card-header no-padding">
                                    <i class="zmdi zmdi-eye-off zmdi-hc-3x zmdi-hc-fw icon-service c-white bgm-lightblue pull-left"></i>

                                    <div class="service-mobile-bottom p-t-15 p-l-80 p-r-15">
                                        <h2 class="c-lightblue text-uppercase m-b-5">Confidentialité</h2>
                                        <strong>CasaVox ne partage pas vos données personnelles !</strong>
                                        Vous seul décidez qui voit votre nom, adresse, téléphone...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card col-xs-12 no-padding service-box">
                                <div class="card-header no-padding">
                                    <i class="zmdi zmdi-comment-text-alt zmdi-hc-3x zmdi-hc-fw icon-service c-white bgm-lightblue pull-left"></i>

                                    <div class="service-mobile-bottom p-t-15 p-l-80 p-r-15">
                                        <h2 class="c-lightblue text-uppercase m-b-5">échanges optimisés</h2>
                                        Fini les échanges par répondeurs interposés, contactez les Pros via la
                                        messagerie intégrée !
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card col-xs-12 no-padding service-box">
                                <div class="card-header no-padding">
                                    <i class="zmdi zmdi-thumb-up zmdi-hc-3x zmdi-hc-fw icon-service c-white bgm-lightblue pull-left"></i>

                                    <div class="service-mobile-bottom p-t-15 p-l-80 p-r-15">
                                        <h2 class="c-lightblue text-uppercase m-b-5">Entraide</h2>
                                        <strong>Recommandez-vous vos meilleurs Pros</strong>, entre amis, voisins,
                                        collègues...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card col-xs-12 no-padding service-box">
                                <div class="card-header no-padding">
                                    <i class="zmdi zmdi-assignment zmdi-hc-3x zmdi-hc-fw historic-service icon-service c-white bgm-lightblue pull-left"></i>

                                    <div class="service-mobile-bottom p-t-15 p-l-80 p-r-15">
                                        <h2 class="c-lightblue text-uppercase m-b-5">Historique des travaux</h2>
                                        Retrouvez facilement tous vos documents dans CasaVox : discussions, photos,
                                        plans, devis, factures, avis...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card col-xs-12 no-padding service-box">
                                <div class="card-header no-padding">
                                    <img class="img-devices-service icon-service bgm-lightblue pull-left"
                                         src="../../../img/screens-modern-variety.png" alt="Multi-devices"/>

                                    <div class="service-mobile-bottom p-t-15 p-l-80 p-r-15">
                                        <h2 class="c-lightblue text-uppercase m-b-5">PC, Tablette, mobile</h2>
                                        <strong>Les mêmes services sur ordinateur, tablette et smartphone</strong>,
                                        gérer vos travaux où vous voulez et quand vous voulez !
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 section-pro">
        <div class="container p-0">
            <div class="col-xs-12 p-0">
                <div class="col-xs-12 p-0">
                    <div class="col-xs-12 section-pro-title">
                        Pro du bâtiment ? CasaVox-Pro est pensé pour vous
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 section-pro-decription">
                        Utilisez des outils réellement utiles, conçus avec des professionnels.
                    </div>
                    <button
                        class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 section-pro-button btn btn-lg bgm-orange waves-effect"
                        ui-sref="pro-home">DÉCOUVREZ NOS SERVICES
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 help-text">
        Une question ? Besoin d'aide ?
        <small class="c-orange pointer f-s-15 col-xs-12 underline" data-ng-click="app.openHelp()">Consultez notre
            aide en ligne ou
            contactez-nous
        </small>
    </div>
</div>
<ng-include src="'/modules/core/views/footer.html'"></ng-include>
</div>

<div class="yakaPopup" data-ng-show="vm.showLoginPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()" alt=""/>

            <div data-ng-if="!vm.noSocialAccountMessage">
                <div class="loginPopupTabItem col-xs-6" data-ng-class="{loginPopupTabItemActive: vm.loginTab}"
                     data-ng-click="vm.loginTab = true">
                    CONNEXION
                </div>
                <div class="loginPopupTabItem col-xs-6" data-ng-class="{loginPopupTabItemActive: !vm.loginTab}"
                     data-ng-click="vm.loginTab = false">
                    INSCRIPTION
                </div>

                <div data-ng-show="vm.loginTab">
                    <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookLogin()">
                        Facebook
                    </div>
                    <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googleLogin()">
                        Google
                    </div>

                    <input class="form-control"
                           type="text"
                           name="username"
                           autocomplete="username"
                           placeholder="Email"
                           data-ng-model="vm.loginUser.email"
                           data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                    <input class="form-control"
                           type="password"
                           name="password"
                           autocomplete="current-password"
                           placeholder="Mot de passe"
                           data-ng-model="vm.loginUser.password"
                           data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                    <button
                        class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                        data-ng-click="vm.login()" data-ng-disabled="!vm.loginFormIsValid()"
                        id="signInPopupButton">SE CONNECTER
                    </button>

                    <div class="col-xs-12 passwordForgotten underline">
                        <span id="forgotten" data-ng-click="vm.closePopup();
                         vm.forgottenPasswordUser.email = vm.loginUser.email;
                         vm.showForgottenPasswordPopup = true">J'ai oublié mon mot de passe</span>
                    </div>
                </div>

                <div data-ng-show="!vm.loginTab">

                    <div class="col-xs-12 registerFacebookGoogle p-l-0 p-r-0">
                        <span data-ng-if="!vm.isSocialRegister()">Inscription rapide via Facebook ou Google</span>

                        <div data-ng-if="vm.isSocialRegister()">
                            <div class="registerSocialConfirm p-l-0 p-r-0">
                                Inscription via {{vm.socialNetwork}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookPreRegister()"
                         data-ng-if="!vm.isSocialRegister()">
                        Facebook
                    </div>
                    <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                         data-ng-if="!vm.isSocialRegister()">
                        Google
                    </div>

                    <div class="col-xs-4 col-xs-offset-4 registerSeparator"/>

                    <div class="col-xs-12 registerMail">
                        <span class="registerWithEmailMessage pointer" data-ng-if="!vm.isSocialRegister()"
                              data-ng-click="vm.showRegisterFields = true">- <span class="underline">Ou inscription par email</span> -</span>
                        <span data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                    </div>
                    <form name="registerForm">
                        <div class="col-xs-12 showRegisterFields"
                             data-ng-class="{showRegisterFieldsVisible: vm.isSocialRegister() || vm.showRegisterFields}">

                            <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput"
                                 data-ng-class="{'has-error': !vm.newUser.firstName}">

                                <div class="fg-line">
                                    <input type="text"
                                           name="fname"
                                           autocomplete="given-name"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.firstName"
                                           required="required"
                                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                                    <label class="fg-label">Prénom</label>
                                </div>
                                <div data-ng-messages="registerForm.fname.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput halfInputRight"
                                 data-ng-class="{'has-error': !vm.newUser.lastName}">

                                <div class="fg-line">
                                    <input type="text"
                                           name="lname"
                                           autocomplete="family-name"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.lastName"
                                           required="required"
                                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                                    <label class="fg-label">Nom</label>
                                </div>
                                <div data-ng-messages="registerForm.lname.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.newUser.defaultAddress.address}">
                                <div class="fg-line">
                                    <input type="text"
                                           class="form-control fg-input input-sm"
                                           vs-google-autocomplete="vm.autocomplete.options"
                                           vs-autocomplete-validator
                                           data-ng-model="vm.newUser.defaultAddress.address"
                                           type="text"
                                           name="address"
                                           autocomplete="address-level2"
                                           required="required"
                                           placeholder=""
                                           id="address">
                                    <label class="fg-label">Ville</label>
                                </div>
                                <small class="help-block" data-ng-if="!vm.newUser.defaultAddress.address">
                                    Veuillez saisir la ville, puis la sélectionner dans la liste
                                </small>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.newUser.email}">
                                <div class="fg-line">
                                    <input type="text"
                                           name="username"
                                           autocomplete="username"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.email"
                                           required="required" yaka-input-email>
                                    <label class="fg-label">Email</label>
                                </div>
                                <div data-ng-messages="registerForm.username.$error">
                                    <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error':! vm.newUser.password}">
                                <div class="fg-line">
                                    <input type="password"
                                           name="password"
                                           autocomplete="new-password"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.password"
                                           data-ng-minlength="6">
                                    <label class="fg-label">Mot de passe</label>
                                </div>
                                <div data-ng-messages="registerForm.password.$error">
                                    <small class="help-block" data-ng-message="minlength">
                                        Le mot de passe doit faire au moins 6 caractères
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-15"
                                 data-ng-class="{'has-error': !vm.passwordConfirm || (vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm))}">
                                <div class="fg-line">
                                    <input type="password" class="form-control fg-input input-sm"
                                           data-ng-model="vm.passwordConfirm" data-ng-minlength="6">
                                    <label class="fg-label">Confirmation</label>
                                </div>
                                <small class="help-block"
                                       data-ng-show="vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm)">
                                    Les deux mots de passe ne correspondent pas
                                </small>
                            </div>

                            <div class="c-red center m-b-0 t-center">
                                Cochez la case ci-dessous
                            </div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-lg visible-md col-xs-12 m-t-0 center recaptcha"
                            ></div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-sm col-xs-12 m-t-0 center recaptcha mobile"
                                style="-moz-transform:scale(0.95); -ms-transform:scale(0.95); -o-transform:scale(0.95); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.95); transform:scale(0.95); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.95,M12=0,M21=0,M22=0.95,SizingMethod='auto expand');"
                            ></div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-xs col-xs-12 m-t-0 center recaptcha mobile"
                                style="-moz-transform:scale(0.9); -ms-transform:scale(0.9); -o-transform:scale(0.9); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.9); transform:scale(0.9); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9,M12=0,M21=0,M22=0.9,SizingMethod='auto expand');"
                            ></div>
                            <button
                                class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                                data-ng-disabled="!vm.registerFormIsValid()"
                                data-ng-click="vm.register()">S'INSCRIRE
                            </button>
                        </div>
                    </form>
                    <small class="col-xs-12 customerRegisterProLink" ui-sref="pro-home">
                        Vous êtes Pro ? <span class="underline">Cliquez ici pour vous inscrire</span>
                    </small>
                </div>
            </div>
            <div data-ng-if="vm.noSocialAccountMessage">
                <div class="noSocialAccountMessage">
                    Ce compte {{vm.socialNetwork}} nous est inconnu.<br/>
                    Essayez de vous connecter avec votre email et votre mot de passe ou de créer un compte en cliquant
                    sur <em>S'inscrire</em> puis <em>{{vm.socialNetwork}}</em>.
                </div>
                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect"
                    data-ng-click="vm.noSocialAccountMessage = false">OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showForgottenPasswordPopup"
     data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" alt=""/>

            <div data-ng-if="!vm.passwordForgottenMessageSent">

                <form name="recoverPassword">
                    <div class="form-group fg-float m-t-30"
                         data-ng-class="{'has-error': !vm.forgottenPasswordUser.email}">
                        <div class="fg-line">
                            <input type="text"
                                   name="username"
                                   autocomplete="username"
                                   data-ng-disabled="vm.isSocialRegister()"
                                   class="form-control fg-input input-sm"
                                   data-ng-model="vm.forgottenPasswordUser.email"
                                   required="required"
                                   yaka-input-email>
                            <label class="fg-label">Email</label>
                        </div>
                        <div data-ng-messages="recoverPassword.username.$error">
                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                valide
                            </small>
                        </div>
                    </div>
                </form>
                <button
                    class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton passwordForgottenButton waves-effect"
                    data-ng-disabled="!vm.forgottenPasswordUser.email"
                    data-ng-click="vm.forgottenPassword()">RÉINITIALISER MON MOT DE PASSE
                </button>
            </div>
            <div class="passwordForgottenMessageSent" data-ng-if="vm.passwordForgottenMessageSent">
                Nous venons de vous envoyer un email contenant un lien qui vous permettra de réinitialiser votre mot de
                passe.
            </div>
        </div>
    </div>
</div>
