<section class="view">
    <div class="homeSection homeSection1">
        <div class="container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Club">CASA</span><span class="homeSection1Yaka">VOX</span>
                </div>
                <div class="homeSection1ProLink waves-effect" ui-sref="pro-home">
                    ACCES PRO
                </div>
                <div class="homeSection1Register yakaLinkWhite"
                     data-ng-click="vm.openPopup(false)">
                    S'inscrire
                </div>
                <div class="homeSection1Login yakaLinkWhite"
                     data-ng-click="vm.openPopup(true)">
                    Se connecter
                </div>
            </div>
            <div class="col-xs-12 homeSection1Title">
                &ldquo; Tu connais un <span typewrite="" text="vm.jobs" initial-delay="1000"></span> ? &rdquo;
            </div>
            <div class="col-xs-12 homeSection1SubTitle">
                Confiez vos travaux aux artisans préférés de vos proches !
            </div>

            <button class="col-xs-6 col-xs-offset-3 btn btn-lg bgm-lightblue waves-effect homeSection1Button"
                    data-ng-click="vm.openPopup(false)">PUBLIER MON PROJET
            </button>
        </div>
    </div>
    <div class="homeSection homeSection2">
        <div class="container">
            <div class="col-xs-12 homeSection2Title">
                Ensemble révolutionnons la confiance !
            </div>
            <div class="col-xs-12 homeSection2SubTitle">
                Parce que le bouche à oreille reste le meilleur moyen de trouver de bons artisans.
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeTrustBlue.png" alt=""/>

                        <div class="homeSection2ItemTitle">
                            CONFIANCE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Réalisez vos travaux en toute sérénité grâce aux artisans recommandés par votre entourage
                        (voisins, amis, collégues...).
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeConfidentialityBlue.png" alt=""/>

                        <div class="homeSection2ItemTitle">
                            CONFIDENTIALITÉ
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Préservez votre vie privée. Vos échanges se font via une messagerie sécurisée. Vous choississez
                        qui peut vous contacter et quand.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeShareBlue.png" alt=""/>

                        <div class="homeSection2ItemTitle">
                            PARTAGE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Partagez en un clic votre projet avec vos amis et la communauté CasaVox, ils vous recommandent
                        leurs meilleurs artisans pour vos travaux.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection3">
        <div class="container">
            <div class="col-xs-12 homeSection3Items">
                <div class="col-xs-12 col-sm-6 homeSection3Item">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Vous êtes un Pro du bâtiment ?
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Trouvez de nouveaux clients en passant moins de temps à prospecter.
                    </div>
                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1 homeSection3ItemButton btn btn-lg bgm-orange waves-effect"
                        ui-sref="pro-home">DECOUVREZ NOS SERVICES
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 homeSection3Item">
                    <div class="col-xs-12 homeSection3ItemTitle">
                        Faites découvrir CasaVox à vos amis
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 homeSection3ItemDescription">
                        Entraidez vous pour trouver les Pro de qualité qu'il vous faut.
                    </div>
                    <button
                        class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1 homeSection3ItemButton btn btn-lg bgm-lightblue waves-effect"
                        data-ng-click="vm.openPopup(false)">INVITEZ VOS AMIS ET VOS ARTISANS
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <a target="_blank" data-ng-href="https://www.facebook.com/hellocasavox">
                    <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
                </a>
                <a target="_blank" data-ng-href="https://plus.google.com/117693956496667116327">
                    <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
                </a>
                <a target="_blank" data-ng-href="https://twitter.com/hellocasavox">
                    <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; CasaVox {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterContactUs yakaLinkWhite" data-ng-click="app.openHelp()">
                Contactez-nous
            </div>
            <a href="http://res.cloudinary.com/yaka/image/upload/casavox/CGU/CGU.pdf" target="_blank">
                <div class="homeSection5FooterLogin yakaLinkWhite">
                    CGU
                </div>
            </a>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showLoginPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()" alt=""/>

            <div data-ng-if="!vm.noSocialAccountMessage">
                <div class="loginPopupTabItem col-xs-6" data-ng-class="{loginPopupTabItemActive: vm.loginTab}"
                     data-ng-click="vm.loginTab = true">
                    CONNEXION
                </div>
                <div class="loginPopupTabItem col-xs-6" data-ng-class="{loginPopupTabItemActive: !vm.loginTab}"
                     data-ng-click="vm.loginTab = false">
                    INSCRIPTION
                </div>

                <div data-ng-show="vm.loginTab">
                    <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookLogin()">
                        Facebook
                    </div>
                    <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googleLogin()">
                        Google
                    </div>

                    <input class="form-control"
                           type="text"
                           name="username"
                           autocomplete="username"
                           placeholder="Email"
                           data-ng-model="vm.loginUser.email"
                           data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                    <input class="form-control"
                           type="password"
                           name="password"
                           autocomplete="current-password"
                           placeholder="Mot de passe"
                           data-ng-model="vm.loginUser.password"
                           data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                    <button
                        class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                        data-ng-click="vm.login()" data-ng-disabled="!vm.loginFormIsValid()"
                        id="signInPopupButton">SE CONNECTER
                    </button>

                    <div class="col-xs-12 passwordForgotten">
                        <span id="forgotten" data-ng-click="vm.closePopup();
                         vm.forgottenPasswordUser.email = vm.loginUser.email;
                         vm.showForgottenPasswordPopup = true">J'ai oublié mon mot de passe</span>
                    </div>
                </div>

                <div data-ng-show="!vm.loginTab">

                    <div class="col-xs-12 registerFacebookGoogle p-l-0 p-r-0">
                        <span data-ng-if="!vm.isSocialRegister()">Inscription rapide via Facebook ou Google</span>

                        <div data-ng-if="vm.isSocialRegister()">
                            <div class="registerSocialConfirm p-l-0 p-r-0">
                                Inscription via {{vm.socialNetwork}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookPreRegister()"
                         data-ng-if="!vm.isSocialRegister()">
                        Facebook
                    </div>
                    <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                         data-ng-if="!vm.isSocialRegister()">
                        Google
                    </div>

                    <div class="col-xs-4 col-xs-offset-4 registerSeparator"/>

                    <div class="col-xs-12 registerMail">
                        <span class="registerWithEmailMessage pointer" data-ng-if="!vm.isSocialRegister()"
                              data-ng-click="vm.showRegisterFields = true">- Ou inscription par email -</span>
                        <span data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                    </div>
                    <form name="registerForm">
                        <div class="col-xs-12 showRegisterFields"
                             data-ng-class="{showRegisterFieldsVisible: vm.isSocialRegister() || vm.showRegisterFields}">

                            <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput"
                                 data-ng-class="{'has-error': !vm.newUser.firstName}">

                                <div class="fg-line">
                                    <input type="text"
                                           name="fname"
                                           autocomplete="given-name"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.firstName"
                                           required="required"
                                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                                    <label class="fg-label">Prénom</label>
                                </div>
                                <div data-ng-messages="registerForm.fname.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce prénom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="col-xs-6 no-padding form-group fg-float m-b-30 m-t-30 halfInput halfInputRight"
                                 data-ng-class="{'has-error': !vm.newUser.lastName}">

                                <div class="fg-line">
                                    <input type="text"
                                           name="lname"
                                           autocomplete="family-name"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.lastName"
                                           required="required"
                                           data-ng-disabled="vm.isSocialRegister()" yaka-input-name>
                                    <label class="fg-label">Nom</label>
                                </div>
                                <div data-ng-messages="registerForm.lname.$error">
                                    <small class="help-block" data-ng-message="invalidName">Ce nom n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.newUser.defaultAddress.address}">
                                <div class="fg-line">
                                    <input type="text"
                                           class="form-control fg-input input-sm"
                                           vs-google-autocomplete="vm.autocomplete.options"
                                           vs-autocomplete-validator
                                           data-ng-model="vm.newUser.defaultAddress.address"
                                           type="text"
                                           name="address"
                                           autocomplete="address-level2"
                                           required="required"
                                           placeholder=""
                                           id="address">
                                    <label class="fg-label">Ville</label>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error': !vm.newUser.email}">
                                <div class="fg-line">
                                    <input type="text"
                                           name="username"
                                           autocomplete="username"
                                           data-ng-disabled="vm.isSocialRegister()"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.email"
                                           required="required" yaka-input-email>
                                    <label class="fg-label">Email</label>
                                </div>
                                <div data-ng-messages="registerForm.username.$error">
                                    <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                        valide
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30"
                                 data-ng-class="{'has-error':! vm.newUser.password}">
                                <div class="fg-line">
                                    <input type="password"
                                           name="password"
                                           autocomplete="new-password"
                                           class="form-control fg-input input-sm"
                                           data-ng-model="vm.newUser.password"
                                           data-ng-minlength="6">
                                    <label class="fg-label">Mot de passe</label>
                                </div>
                                <div data-ng-messages="registerForm.password.$error">
                                    <small class="help-block" data-ng-message="minlength">Le mot de passe doit faire au
                                        moins
                                        6 caractères
                                    </small>
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-15"
                                 data-ng-class="{'has-error': !vm.passwordConfirm || (vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm))}">
                                <div class="fg-line">
                                    <input type="password" class="form-control fg-input input-sm"
                                           data-ng-model="vm.passwordConfirm" data-ng-minlength="6">
                                    <label class="fg-label">Confirmation</label>
                                </div>
                                <small class="help-block"
                                       data-ng-show="vm.newUser.password && vm.passwordConfirm && (vm.newUser.password != vm.passwordConfirm)">
                                    Les deux mots de passe ne correspondent pas
                                </small>
                            </div>

                            <div class="c-red center m-b-0 t-center">
                                Cochez la case ci-dessous
                            </div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-lg visible-md col-xs-12 m-t-0 center recaptcha"
                            ></div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-sm col-xs-12 m-t-0 center recaptcha mobile"
                                style="-moz-transform:scale(0.95); -ms-transform:scale(0.95); -o-transform:scale(0.95); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.95); transform:scale(0.95); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.95,M12=0,M21=0,M22=0.95,SizingMethod='auto expand');"
                            ></div>
                            <div
                                vc-recaptcha
                                data-ng-model="vm.newUser.recaptchaResponse"
                                key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                                class="visible-xs col-xs-12 m-t-0 center recaptcha mobile"
                                style="-moz-transform:scale(0.9); -ms-transform:scale(0.9); -o-transform:scale(0.9); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.9); transform:scale(0.9); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9,M12=0,M21=0,M22=0.9,SizingMethod='auto expand');"
                            ></div>
                            <button
                                class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton waves-effect"
                                data-ng-disabled="!vm.registerFormIsValid()"
                                data-ng-click="vm.register()">S'INSCRIRE
                            </button>
                            <div class="col-xs-12 customerRegisterProLink" ui-sref="pro-home">
                                Vous êtes Pro ? Cliquez ici pour vous inscrire
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div data-ng-if="vm.noSocialAccountMessage">
                <div class="noSocialAccountMessage">
                    Ce compte {{vm.socialNetwork}} nous est inconnu.<br/>
                    Essayez de vous connecter avec votre email et votre mot de passe ou de créer un compte en cliquant
                    sur <em>S'inscrire</em> puis <em>{{vm.socialNetwork}}</em>.
                </div>
                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect"
                    data-ng-click="vm.noSocialAccountMessage = false">OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showForgottenPasswordPopup"
     data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" alt=""/>

            <div data-ng-if="!vm.passwordForgottenMessageSent">

                <form name="recoverPassword">
                    <div class="form-group fg-float m-t-30"
                         data-ng-class="{'has-error': !vm.forgottenPasswordUser.email}">
                        <div class="fg-line">
                            <input type="text"
                                   name="username"
                                   autocomplete="username"
                                   data-ng-disabled="vm.isSocialRegister()"
                                   class="form-control fg-input input-sm"
                                   data-ng-model="vm.forgottenPasswordUser.email"
                                   required="required"
                                   yaka-input-email>
                            <label class="fg-label">Email</label>
                        </div>
                        <div data-ng-messages="recoverPassword.username.$error">
                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                valide
                            </small>
                        </div>
                    </div>
                </form>
                <button
                    class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton passwordForgottenButton waves-effect"
                    data-ng-disabled="!vm.forgottenPasswordUser.email"
                    data-ng-click="vm.forgottenPassword()">RÉINITIALISER MON MOT DE PASSE
                </button>
            </div>
            <div class="passwordForgottenMessageSent" data-ng-if="vm.passwordForgottenMessageSent">
                Nous venons de vous envoyer un email contenant un lien qui vous permettra de réinitialiser votre mot de
                passe.
            </div>
        </div>
    </div>
</div>
