<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
        xmlns="http://www.w3.org/1999/html"></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">
        <div class="container">

            <div data-ng-if="vm.ongoing && vm.ongoing.length == 0" class="card" data-ng-cloak>
                <div class="card-header">
                    <h2>VOUS N’AVEZ AUCUN CHANTIER EN COURS
                        <small>Comment obtenir de nouveaux chantiers ?</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <strong>Faire une offre</strong>
                    <ul>
                        <li class="list-left-alignment">Vérifiez la validité de votre profil en cliquant sur votre logo
                            avatar depuis
                            la barre de menu <a
                                data-ui-sref="pro-profile">Mon profil Pro</a></li>
                        <li class="list-left-alignment">Sélectionnez un projet depuis la <a data-ui-sref="findjobs">Carte
                            des offres</a>
                            <ul>
                                <li class="list-left-alignment">
                                    Naviguer et zoomer dans cette carte pour retrouver les offres correspondant à votre
                                    profil
                                </li>
                                <li class="list-left-alignment">
                                    Sélectionnez un projet pour en voir les détails
                                </li>
                                <li class="list-left-alignment">
                                    Faites votre proposition : Si vous avez assez d'élément, indiquez un montant
                                    approximatif et une date d'intervention, puis ajouter un premier message afin de
                                    vous mettre en avant et d’engager la discussion avec votre client.
                                </li>
                            </ul>
                        </li>
                        <li class="list-left-alignment">Losrque vous remportez une offre, retrouvez-la ici, dans « Mes
                            chantiers »
                        </li>
                    </ul>
                    <strong>Suivre mon chantier</strong>
                    <ul>
                        <li class="list-left-alignment">
                            Vous pourrez retrouver les coordonnées complètes du client sur la fiche projet (même une
                            fois le projet clot)
                        </li>
                        <li class="list-left-alignment">
                            Vous pouvez à tout moment mettre à jour la date d'intervention et le prix définitif convenu
                            avec le client
                        </li>
                        <li class="list-left-alignment">
                            Vous pourrez biensûr continuer d'utiliser les services CasaVox pour vos échanges privés avec
                            le client pendant toute la durée des travaux (messages, photos, plans, devis, factures,
                            etc.), l'historique de ces échanges reste accessible même une fois le projet clot
                        </li>
                        <li class="list-left-alignment">
                            Dès qu'un chantier est terminé, pensez à relancer votre client pour qu'il clot son projet,
                            cette action augmente votre visibilité sur CasaVox en permettant de vous faire connaitre
                            auprès des connaissances de ce client !
                        </li>
                    </ul>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-lg btn-primary" data-ui-sref="findjobs">Voir la Carte des offres
                    </button>
                </div>
            </div>

            <div class="col-xs-12 no-padding block-header" data-ng-if="vm.ongoing && vm.ongoing.length > 0">
                <h2>En cours</h2>
            </div>

            <div class="col-xs-12 no-padding row m-t-0 m-l-0 m-r-0"
                 data-ng-if="vm.ongoing && vm.ongoing.length > 0">
                <div class="card pointer clearfix" data-ng-repeat="proposal in vm.ongoing"
                     data-ui-sref="pro-proposal({proposalId: proposal.id})">
                    <div class="card-header">
                        <div class="d-i-b v-align-middle">
                            <yaka-avatar user="proposal.project.user" size="40"
                                         class="d-i-b v-align-middle"></yaka-avatar>
                            <i class="unreadMessagesIndicator proProposalList ng-scope"
                               data-ng-if="proposal.unreadMessages"></i>
                        </div>


                        <h2 class="d-i-b v-align-middle m-l-10 m-t-5 yakaEllipsis proposalTitle">
                            {{ proposal.project.title}}
                            <small>
                                {{proposal.project.user.firstName}} {{proposal.project.user.lastName}} -
                                {{proposal.project.address.locality}}
                            </small>
                        </h2>
                    </div>

                    <div class="pl-body clearfix col-xs-12">
                        <div class="col-xs-12 pull-left no-padding min-w-175"
                             data-ng-if="proposal.firstRecommendation">
                            Recommandé par
                            <casa-name-and-contact
                                user="proposal.firstRecommendation.recommender"
                                icon-color="c-white"></casa-name-and-contact>
                            <span
                                data-ng-if="proposal.recommendations && proposal.recommendations.length > 1">
                                                        + {{vm.proposal.recommendations.length - 1}} autre<span
                                data-ng-if="proposal.recommendations && proposal.recommendations.length > 2">s</span>
                                                    </span>
                        </div>
                        <div class="col-xs-8 t-left no-padding m-t-5 m-b-10">
                            <div class="visible-xs">
                                Date souhaitée par le client :<br/>
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding m-t-5">
                                    Ma date d'intervention :<br/>
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                            <div class="hidden-xs">
                                Date souhaitée par le client :
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding m-t-5">
                                    Ma date d'intervention :
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                        </div>

                        <p class="col-xs-4 t-right no-padding proProposalListPrice">{{ proposal.price || '- - -' }}
                            €</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 no-padding block-header" data-ng-if="vm.completed && vm.completed.length > 0">
                <h2>Terminés</h2>
            </div>

            <div class="col-xs-12 no-padding row m-t-0 m-l-0 m-r-0"
                 data-ng-if="vm.completed && vm.completed.length > 0">
                <div class="card pointer clearfix" data-ng-repeat="proposal in vm.completed"
                     data-ui-sref="pro-proposal({proposalId: proposal.id})">
                    <div class="card-header">
                        <yaka-avatar user="proposal.project.user" size="40" class="d-i-b v-align-middle"></yaka-avatar>
                        <i class="unreadMessagesIndicator proProposalList ng-scope"
                           data-ng-if="proposal.unreadMessages"></i>

                        <h2 class="d-i-b v-align-middle m-l-10 m-t-5 yakaEllipsis proposalTitle">
                            {{ proposal.project.title}}
                            <small>
                                {{proposal.project.user.firstName}} {{proposal.project.user.lastName}} -
                                {{proposal.project.address.locality}}
                            </small>
                        </h2>
                    </div>

                    <div class="pl-body clearfix col-xs-12">
                        <div class="col-xs-12 pull-left no-padding min-w-175"
                             data-ng-if="proposal.firstRecommendation">
                            Recommandé par
                            <casa-name-and-contact
                                user="proposal.firstRecommendation.recommender"
                                icon-color="c-white"></casa-name-and-contact>
                            <span
                                data-ng-if="proposal.recommendations && proposal.recommendations.length > 1">
                                                        + {{vm.proposal.recommendations.length - 1}} autre<span
                                data-ng-if="proposal.recommendations && proposal.recommendations.length > 2">s</span>
                                                    </span>
                        </div>

                        <div class="col-xs-8 t-left no-padding m-t-5 m-b-10">
                            <div class="visible-xs">
                                Date souhaitée par le client :<br/>
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding m-t-5">
                                    Ma date d'intervention :<br/>
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                            <div class="hidden-xs">
                                Date souhaitée par le client :
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding m-t-5">
                                    Ma date d'intervention :
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                        </div>

                        <p class="col-xs-4 t-right no-padding proProposalListPrice">{{ proposal.price || '- - -' }}
                            €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
