<style type="text/css">
    html, body, #map_canvas {
        height: 70px;
        width: 100%;
        margin: 0px;
    }

    #map_canvas {
        position: relative;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>

<header id="header" data-current-skin="{{app.getTheme()}}" ng-include="'/modules/core/views/header.html'"
    ></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content col-xs-12">
        <div class="col-sm-8" ng-show="!vm.pro">
            <div class="card">
                <div class="row no-margin">
                    <div class="col-xs-12">
                        <div class="description-action-btn" ng-click="vm.edit()"
                             ng-show="!vm.editFlag && (vm.proposal.status != 'RATE_PRO' && vm.proposal.status != 'COMPLETED')">
                            MODIFY
                        </div>
                        <div class="description-action-btn"
                             ng-show="!vm.editFlag && (vm.proposal.status != 'RATE_PRO' && vm.proposal.status != 'COMPLETED')"
                             ng-click="vm.decline()">
                            DECLINE
                        </div>
                        <div class="description-action-btn color-red" ng-show="vm.editFlag" ng-click="vm.save()">
                            SAVE
                        </div>
                        <div class="description-action-btn" ng-show="vm.editFlag" ng-click="vm.cancel()">
                            CANCEL
                        </div>
                        <div class="description-date">
                            Offer made {{vm.proposal.updated | date:'dd MMMM yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12">
                        <p class="pro-title-post">
                            Post {{vm.dateDiff(vm.project.published, vm.project.updated)}} ago
                        </p>
                        <!-- TODO AvatarURL does not exists anymore -->
                        <img ng-src="{{vm.project.user.avatarUrl}}"
                             class="img-circle pro-icon-medium mt-20 fl-l ml-15"
                             ng-show="vm.project.user.avatarUrl"/>

                        <!-- TODO AvatarURL does not exists anymore -->
                        <div class="img-default-medium mt-20 fl-l ml-15" ng-show="!vm.project.user.avatarUrl">
                            {{vm.project.user.firstName[0] | uppercase}} {{vm.project.user.lastName[0] |
                            uppercase}}
                        </div>
                        <div class="pro-proposal-title">
                            <p ng-class="{'red': vm.project.type == 'EMERGENCY'}">
                                {{vm.project.title}}
                            </p>

                            <p>
                                {{vm.project.user.firstName}} {{vm.project.user.lastName}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 ">
                        <div id="map_canvas">
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"
                                                dragging="false"></ui-gmap-google-map>
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin" ng-class="{'cursor-pointer': vm.editFlag}"
                         ng-click="vm.editPrice()" role="grid">
                        <div class="col-xs-12 description-sub-title">
                            My Price
                            <span class="icon-pen-blue" ng-show="vm.editFlag" ng-click="vm.editWhen()"></span>

                            <p class="my-price-proposal">
                                {{vm.proposalTmp.price}} €
                            </p>
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            This is an {{vm.proposalTmp.priceType | lowercase}} price
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin" ng-class="{'cursor-pointer': vm.editFlag}"
                         ng-click="vm.editDate()" role="grid">
                        <div class="col-xs-12 description-sub-title">
                            My start date
                            <span class="icon-pen-blue" ng-show="vm.editFlag" ng-click="vm.editWhen()"></span>

                            <p class="start-date-proposal">
                                {{vm.getStartDate()}}
                            </p>
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            When could you start this job
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Where
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            {{vm.projectTmp.address.address}}
                        </div>

                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Desired date
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            {{vm.getWhen()}}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Tags
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            <span class="red" ng-show="vm.projectTmp.type == 'EMERGENCY'">Emergency</span>
                            {{vm.getTags()}}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 row no-margin">
                        <div class="col-xs-12 description-sub-title">
                            Description
                        </div>
                        <div class="col-xs-12 description-sub-text">
                            <textarea msd-elastic class="custom-textarea" disabled
                                      ng-model="vm.projectTmp.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

            <div class="card col-xs-12 projectRightBox">

                <div class="row">
                    <div class="col-xs-12">
                        <p class="pro-menu-title">
                            Chat with {{vm.proposal.project.user.firstName}} {{vm.proposal.project.user.lastName}}
                        </p>

                        <p class="pro-menu-subTitle" ng-show="!vm.offer.price.price">

                        </p>

                        <p class="pro-menu-subTitle" ng-show="vm.offer.price.price">{{vm.offer.price.type}}.
                            {{vm.offer.price.price}} €</p>
                    </div>
                    <div class="col-xs-12">
                        <button type="button" class="button btn">CHAT</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="popUp" ng-show="vm.declineFlag">
        <div class="popUp-container center-middle">
            <div class="popUp-content">
                <span class="boxclose" ng-click="vm.declineFlag = false"></span>
                <h4>Decline</h4>

                <p class="info-popUp">
                    Caution : Do you really want to refuse this offer ?
                </p>

                <p class="info-popUp-comp">
                    Say why :
                </p>

                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="custom-textarea-red w-100p placeholder-xs mb-10"
                                  placeholder="I am sorry but my schedule has changed so I wouldn't be available without more detail I can't give an engagement ..."
                                  ng-model="vm.declineComment"></textarea>
                    </div>
                </div>

            </div>
            <div class="popUp-footer">
                <div ng-click="vm.declineProposal()">
                    DECLINE
                </div>
                <div ng-click="vm.declineFlag = false">
                    CANCEL
                </div>
            </div>
        </div>
    </div>


    <div class="popUp" ng-show="vm.myPriceFlag">
        <div class="popUp-container center-middle">
            <div class="popUp-content">
                <span class="boxclose" ng-click="vm.myPriceFlag = false; vm.error.price.flag = false"></span>
                <h4>My price</h4>

                <p class="info-popUp">
                </p>

                <p class="info-popUp-comp">
                    Send an estimate or final price
                </p>

                <div class="row">
                    <div class="col-xs-10">
                        <input type="number" class="custom-input-number input-number-hide" ng-model="vm.myPrice"
                               decimal-places>
                    </div>
                    <div class="col-xs-2 sym-euro">
                        €
                    </div>
                </div>
                <p class="error center my-price-error" ng-show="vm.error.price.flag">
                    {{vm.error.price.message}}
                </p>

            </div>
            <div class="clearfix mt-50" ng-show="vm.projectTmp.type != 'EMERGENCY'">
                <div class="pro-popUp-choice fl" ng-click="vm.selectPrice('Estimate')">
                    ESTIMATE
                </div>
                <div class="pro-popUp-choice fr" ng-click="vm.selectPrice('Final')">
                    FINAL
                </div>
            </div>
            <div class="clearfix mt-50" ng-show="vm.projectTmp.type == 'EMERGENCY'">
                <div class="pro-popUp-choice fl" ng-click="vm.selectPrice('Hourly rate')">
                    HOURLY
                </div>
                <div class="pro-popUp-choice fr" ng-click="vm.selectPrice('Flat rate')">
                    FLAT
                </div>
            </div>
        </div>
    </div>


    <div class="popUp" ng-show="vm.myDateFlag">
        <div class="popUp-container center-middle" ng-class="{'w-500': vm.project.type == 'EMERGENCY'}">
            <div class="popUp-content">
                <span class="boxclose" ng-click="vm.myDateFlag = false"></span>
                <h4>My start date</h4>

                <div ng-show="vm.project.type == 'EMERGENCY'">
                    <div class="row center no-margin w-500">
                        <div class="col-xs-12 row line-date">


                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-3 text-center">
                                {{vm.J1.date | date:"EEE"}}
                            </div>
                            <div class="col-xs-3 text-center">
                                {{vm.J2.date | date:"EEE"}}
                            </div>
                            <div class="col-xs-3 text-center">
                                {{vm.J3.date | date:"EEE"}}
                            </div>
                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                7h-9h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c1 = !vm.J1.c1; vm.J1.all = false"
                                     ng-class="vm.J1.c1Disabled" ng-init="vm.J1.c1 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c1 && vm.J1.c1Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c1 = !vm.J2.c1; vm.J2.all = false"
                                     ng-class="vm.J2.c1Disabled" ng-init="vm.J2.c1 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c1 && vm.J2.c1Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c1 = !vm.J3.c1; vm.J3.all = false"
                                     ng-class="vm.J3.c1Disabled" ng-init="vm.J3.c1 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c1 && vm.J3.c1Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                9h-12h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c2 = !vm.J1.c2; vm.J1.all = false"
                                     ng-class="vm.J1.c2Disabled" ng-init="vm.J1.c2 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c2 && vm.J1.c2Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c2 = !vm.J2.c2; vm.J2.all = false"
                                     ng-class="vm.J2.c2Disabled" ng-init="vm.J2.c2 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c2 && vm.J2.c2Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c3 = !vm.J3.c3; vm.J3.all = false"
                                     ng-class="vm.J3.c2Disabled" ng-init="vm.J3.c3 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c3 && vm.J3.c2Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                12h-14h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c3 = !vm.J1.c3; vm.J1.all = false"
                                     ng-class="vm.J1.c3Disabled" ng-init="vm.J1.c3 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c3 && vm.J1.c3Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c3 = !vm.J2.c3; vm.J2.all = false"
                                     ng-class="vm.J2.c3Disabled" ng-init="vm.J2.c3 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c3 && vm.J2.c3Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c3 = !vm.J3.c3; vm.J3.all = false"
                                     ng-class="vm.J3.c3Disabled" ng-init="vm.J3.c3 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c3 && vm.J3.c3Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                14h-16h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c4 = !vm.J1.c4; vm.J1.all = false"
                                     ng-class="vm.J1.c4Disabled" ng-init="vm.J1.c4 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c4 && vm.J1.c4Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c4 = !vm.J2.c4; vm.J2.all = false"
                                     ng-class="vm.J2.c4Disabled" ng-init="vm.J2.c4 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c4 && vm.J2.c4Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c4 = !vm.J3.c4; vm.J3.all = false"
                                     ng-class="vm.J3.c4Disabled" ng-init="vm.J3.c4 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c4 && vm.J3.c4Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                16h-18h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c5 = !vm.J1.c5; vm.J1.all = false"
                                     ng-class="vm.J1.c5Disabled" ng-init="vm.J1.c5 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c5 && vm.J1.c5Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c5 = !vm.J2.c5; vm.J2.all = false"
                                     ng-class="vm.J2.c5Disabled" ng-init="vm.J2.c5 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c5 && vm.J2.c5Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c5 = !vm.J3.c5; vm.J3.all = false"
                                     ng-class="vm.J3.c5Disabled" ng-init="vm.J3.c5 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c5 && vm.J3.c5Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                18h-20h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c6 = !vm.J1.c6; vm.J1.all = false"
                                     ng-class="vm.J1.c6Disabled" ng-init="vm.J1.c6 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c6 && vm.J1.c6Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c6 = !vm.J2.c6; vm.J2.all = false"
                                     ng-class="vm.J2.c6Disabled" ng-init="vm.J2.c6 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c6 && vm.J2.c6Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c6 = !vm.J3.c6; vm.J3.all = false"
                                     ng-class="vm.J3.c6Disabled" ng-init="vm.J3.c6 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c6 && vm.J3.c6Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 row line-date">
                            <div class="col-xs-3">
                                Après 20h
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J1.c7 = !vm.J1.c7; vm.J1.all = false"
                                     ng-class="vm.J1.c7Disabled" ng-init="vm.J1.c7 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J1.c7 && vm.J1.c7Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J2.c7 = !vm.J2.c7; vm.J2.all = false"
                                     ng-class="vm.J2.c7Disabled" ng-init="vm.J2.c7 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J2.c7 && vm.J2.c7Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox-style center-middle"
                                     ng-click="vm.unSelectOther(); vm.J3.c7 = !vm.J3.c7; vm.J3.all = false"
                                     ng-class="vm.J3.c7Disabled" ng-init="vm.J3.c7 = false">
                                    <span class="glyphicon glyphicon-ok check"
                                          ng-show="vm.J3.c7 && vm.J3.c7Disabled != 'checkbox-disabled'"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div ng-show="vm.project.type != 'EMERGENCY'">
                    <div style="display:inline-block; min-height:290px;" class="center custom-picker">
                        <uib-datepicker ng-model="vm.dt" min-date="vm.minDate" max-date="vm.maxDate" show-weeks="true"
                                        class="well well-sm custom-date"
                                        custom-class="getDayClass(date, mode)"></uib-datepicker>
                    </div>
                </div>
            </div>
            <div class="popUp-footer">
                <div ng-click="vm.myDateFlag = false">
                    CANCEL
                </div>
                <div ng-click="vm.selectDate()">
                    CONFIRM
                </div>
            </div>
        </div>
    </div>


</section>
