<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
    ></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">
        <div class="container">

            <div data-ng-if="vm.ongoing && vm.ongoing.length == 0" class="card" data-ng-cloak>
                <div class="card-header">
                    <h2>VOUS N’AVEZ AUCUN CHANTIER EN COURS
                        <small>Comment obtenir de nouveaux chantiers ?</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <ol>
                        <li>Votre profil doit être complet et validé</li>
                        <li>Sélectionnez un projet parmi ceux disponibles</li>
                        <li>Indiquez un montant approximatif si vous le pouvez et surtout ajouter un message afin
                            d’engager la discussion avec votre client.
                        </li>
                    </ol>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-lg btn-primary" data-ui-sref="findjobs">Voir les chantiers disponibles
                    </button>
                </div>
            </div>

            <div class="col-xs-12 no-padding block-header" data-ng-if="vm.ongoing && vm.ongoing.length > 0">
                <h2>En cours</h2>
            </div>

            <div class="col-xs-12 no-padding row m-t-0 m-l-0 m-r-0"
                 data-ng-if="vm.ongoing && vm.ongoing.length > 0">
                <div class="card pointer clearfix" data-ng-repeat="proposal in vm.ongoing"
                     data-ui-sref="pro-proposal({proposalId: proposal.id})">
                    <div class="card-header">
                        <yaka-avatar user="proposal.project.user" size="40" class="d-i-b v-align-middle"></yaka-avatar>
                        <i class="unreadMessagesIndicator proProposalList ng-scope"
                           data-ng-if="proposal.unreadMessages"></i>

                        <h2 class="d-i-b v-align-middle m-l-10 m-t-5">
                            {{ proposal.project.title}}
                            <small>
                                {{proposal.project.user.firstName}} {{proposal.project.user.lastName}} -
                                {{proposal.project.address.locality}}
                            </small>
                        </h2>
                    </div>

                    <div class="pl-body clearfix col-xs-12">
                        <div class="col-xs-8 t-left no-padding m-t-5 m-b-10">
                            <div class="visible-xs">
                                Date souhaitée par le client :<br/>
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding f-s-14 m-t-5">
                                    Ma date d'intervention :<br/>
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                            <div class="hidden-xs">
                                Date souhaitée par le client :
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding f-s-14 m-t-5">
                                    Ma date d'intervention :
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                        </div>

                        <p class="col-xs-4 t-right no-padding proProposalListPrice">{{ proposal.price || '- - -' }}
                            €</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 no-padding block-header" data-ng-if="vm.completed && vm.completed.length > 0">
                <h2>Terminés</h2>
            </div>

            <div class="col-xs-12 no-padding row no-margin" data-ng-if="vm.completed && vm.completed.length > 0">
                <div class="card pointer clearfix" data-ng-repeat="proposal in vm.completed"
                     data-ui-sref="pro-proposal({proposalId: proposal.id})">
                    <div class="card-header">
                        <yaka-avatar user="proposal.project.user" size="40" class="d-i-b v-align-middle"></yaka-avatar>
                        <i class="unreadMessagesIndicator proProposalList ng-scope"
                           data-ng-if="proposal.unreadMessages"></i>

                        <h2 class="d-i-b v-align-middle m-l-10 m-t-5">
                            {{ proposal.project.title}}
                            <small>
                                {{proposal.project.user.firstName}} {{proposal.project.user.lastName}} -
                                {{proposal.project.address.locality}}
                            </small>
                        </h2>
                    </div>

                    <div class="pl-body clearfix col-xs-12">
                        <div class="col-xs-8 t-left no-padding m-t-5 m-b-10">
                            <div class="visible-xs">
                                Date souhaitée par le client :<br/>
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding f-s-14 m-t-5">
                                    Ma date d'intervention :<br/>
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                            <div class="hidden-xs">
                                Date souhaitée par le client :
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding f-s-14 m-t-5">
                                    Ma date d'intervention :
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                        </div>

                        <p class="col-xs-4 t-right no-padding proProposalListPrice">{{ proposal.price || '- - -' }}
                            €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
