<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
    ></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>

    <div id="content" class="content">
        <div class="container">

            <div data-ng-if="vm.proposals && vm.proposals.length == 0" class="card" data-ng-cloak>
                <div class="card-header">
                    <h2>VOUS N'AVEZ AUCUN DEVIS EN COURS
                        <small>Comment proposer un devis ?</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <ol>
                        <li>Votre profil doit être complet et validé</li>
                        <li>Sélectionnez un projet parmi ceux disponibles</li>
                        <li>Indiquez un montant approximatif si vous le pouvez et surtout ajouter un message afin
                            d’engager la discussion avec votre client.
                        </li>
                    </ol>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-lg btn-primary" data-ui-sref="findjobs">Voir les chantiers disponibles
                    </button>
                </div>
            </div>

            <div class="col-xs-12 no-padding block-header" data-ng-if="vm.proposals && vm.proposals.length > 0">
                <h2>Devis en cours</h2>
            </div>

            <div class="col-xs-12 no-padding row m-t-0 m-l-0 m-r-0"
                 data-ng-if="vm.proposals && vm.proposals.length > 0">

                <div class="card pointer clearfix" data-ng-repeat="proposal in vm.proposals"
                     data-ng-click="vm.quoteClicked(proposal.id)">
                    <div class="card-header">
                        <yaka-avatar user="proposal.project.user" size="40" class="d-i-p v-align-middle"></yaka-avatar>
                        <i class="unreadMessagesIndicator proProposalList ng-scope"
                           data-ng-if="proposal.unreadMessages"></i>

                        <h2 class="d-i-p v-align-middle m-l-10 m-t-5">
                            {{ proposal.project.title | yakaTranslateTitle}}
                            <small>
                                {{proposal.project.user.firstName}} {{proposal.project.user.lastName}} -
                                {{proposal.project.address.locality}}
                            </small>
                        </h2>
                    </div>

                    <div class="pl-body clearfix col-xs-12">
                        <div class="col-xs-8 t-left no-padding m-t-5 m-b-10">
                            <div class="visible-xs">
                                Date souhaitée par le client :<br/>
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding f-s-14 m-t-5">
                                    Ma date d'intervention :<br/>
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                            <div class="hidden-xs">
                                Date souhaitée par le client :
                                {{vm.getWhen(proposal)}}
                                <div class="col-xs-12 no-padding f-s-14 m-t-5">
                                    Ma date d'intervention :
                                    {{ (proposal.startDate | date:'dd MMMM yyyy') || '- - -' }}
                                </div>
                            </div>
                        </div>

                        <p class="col-xs-4 t-right no-padding proProposalListPrice">{{ proposal.price || '- - -' }}
                            €</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 no-padding block-header" data-ng-if="vm.decline && vm.decline.length > 0">
                <h2>Propositions annulées</h2>
            </div>

            <div class="col-xs-12 no-padding row no-margin" data-ng-if="vm.decline && vm.decline.length > 0">
                <div class="card pointer clearfix" data-ng-repeat="proposal in vm.decline"
                     data-ng-click="vm.quoteClicked(proposal.id)">
                    <div class="card-header">
                        <yaka-avatar user="proposal.project.user" size="40" class="d-i-p v-align-middle"></yaka-avatar>
                        <i class="unreadMessagesIndicator proProposalList ng-scope"
                           data-ng-if="proposal.unreadMessages"></i>

                        <h2 class="d-i-p v-align-middle m-l-10 m-t-5">
                            {{ proposal.project.title | yakaTranslateTitle}}
                            <small>
                                {{proposal.project.user.firstName}} {{proposal.project.user.lastName}} -
                                {{proposal.project.address.locality}}
                            </small>
                        </h2>
                    </div>

                    <div class="pl-body clearfix col-xs-12">
                        <div class="col-xs-8 t-left no-padding m-t-5 m-b-10" data-ng-switch="proposal.status">
                            <span data-ng-switch-when="CUSTOMER_DECLINED">
                                Désolé, vous n'avez pas été sélectionné pour ce projet
                            </span>
                            <span data-ng-switch-when="PRO_DECLINED">
                                Vous avez annulé votre proposition
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="yakaPopup" data-ng-show="vm.showProNotValidatedPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton"
                 src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()"
                 alt=""/>

            <div class="col-xs-12 proErrorMessage"
                 data-ng-if="app.getUser().professional.status == 'REGISTERED' || app.getUser().professional.status == 'REFUSED'">
                Votre profil est incomplet, vous ne pouvez pas faire d'offre sur ce projet.
            </div>

            <div class="col-xs-10 col-xs-offset-1 yakaButton yakaOrange"
                 data-ng-if="app.getUser().professional.status == 'REGISTERED'"
                 ui-sref="pro-profile">
                COMPLÉTER MON PROFIL
            </div>

            <div class="col-xs-12 proErrorMessage" data-ng-if="app.getUser().professional.status == 'WAITING'">
                Vous ne pouvez pas encore faire d'offre car votre profil est en cours de validation. Il sera
                mis-à-jour sous peu, vous en serez notifié par mail
            </div>
        </div>
    </div>
</div>
