<header id="header" data-current-skin="{{app.getTheme()}}" data-ng-include="'/modules/core/views/header.html'"
    ></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'/modules/core/views/sidebar-left.html'"
           data-ng-class="{ 'toggled': app.sidebarToggle.left }"></aside>
    <div id="content" class="content contacts">
        <div class="container">
            <div class="block-header">
                <h2>Tableau de bord</h2>
            </div>

            <div class="card" data-ng-if="vm.data">
                <div class="card-header p-b-15">
                    <div class="media">
                        <div class="pull-left">
                            <yaka-avatar size="50" user="app.getUser()"></yaka-avatar>
                        </div>
                        <div class="media-body">
                            <div class="media row">
                                <div class="col-sm-4">
                                    <div class="f-s-16 yakaEllipsis">
                                        {{app.getUser().firstName}} {{app.getUser().lastName}}
                                    </div>
                                    <div class="c-gray">
                                        {{vm.data.contactsNumber}}
                                        <span data-ng-show="vm.data.contactsNumber < 2">Contact</span>
                                        <span data-ng-show="vm.data.contactsNumber > 1">Contacts</span> -
                                        {{vm.data.contactsProNumber}}
                                        <span data-ng-show="vm.data.contactsNumber < 2">Pro</span>
                                        <span data-ng-show="vm.data.contactsNumber > 1">Pros</span>
                                    </div>
                                    <div class="c-lightblue pointer"
                                         data-ui-sref="contacts">Développer mon réseau +
                                    </div>
                                </div>
                                <div class="col-sm-8 f-s-14 t-right dashboardStats visible-md visible-lg">
                                    <button class="btn bgm-green waves-effect btn-xs m-b-5 m-t-5"
                                            ui-sref="pro-proposals">
                                        <div class="d-i-b">
                                            Devis en cours {{vm.data.ongoingProProposalNumber}}
                                        </div>
                                    </button>
                                    <button class="btn bgm-lightblue waves-effect btn-xs m-b-5 m-t-5"
                                            ui-sref="pro-jobs">
                                        <div class="d-i-b">
                                            <span
                                                data-ng-show="vm.data.ongoingProProjectNumber < 2">Chantier en cours </span>
                                            <span
                                                data-ng-show="vm.data.ongoingProProjectNumber > 1">Chantiers en cours </span>
                                            {{vm.data.ongoingProProjectNumber}}
                                        </div>
                                    </button>
                                </div>
                                <div class="pull-right col-sm-4 f-s-14 t-right dashboardStats visible-sm-block">
                                    <button class="btn bgm-green waves-effect btn-xs" ui-sref="pro-proposals">
                                        <div class="d-i-b">
                                            Devis en cours {{vm.data.ongoingProProposalNumber}}
                                        </div>
                                    </button>
                                    <button class="btn bgm-lightblue waves-effect btn-xs m-t-5" ui-sref="pro-jobs">
                                        <div class="d-i-b">
                                            <span
                                                data-ng-show="vm.data.ongoingProProjectNumber < 2">Chantier en cours </span>
                                            <span
                                                data-ng-show="vm.data.ongoingProProjectNumber > 1">Chantiers en cours </span>
                                            {{vm.data.ongoingProProjectNumber}}
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left m-t-10 f-s-14 dashboardStats visible-xs-block">
                            <button class="btn bgm-green waves-effect btn-xs" ui-sref="pro-proposals">
                                Devis {{vm.data.ongoingProProposalNumber}}
                            </button>
                            <button class="btn bgm-lightblue waves-effect btn-xs" ui-sref="pro-jobs">
                                <span
                                    data-ng-show="vm.data.ongoingProProjectNumber < 2">Chantier </span>
                                <span
                                    data-ng-show="vm.data.ongoingProProjectNumber > 1">Chantiers </span>
                                {{vm.data.ongoingProProjectNumber}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 p-l-0 no-padding-mobile">
                <div class="card" data-ng-if="vm.projectsToRecommend && vm.projectsToRecommend.length > 0">
                    <div class="card-header bgm-lightblue">
                        <i class="zmdi zmdi-hc-2x zmdi-roller c-white d-i-b hidden-xs"></i>

                        <h2 class="d-i-b v-align-top m-l-10">
                            Offres personnalisées
                            <small>
                                Chantiers en attente dans mon réseau
                            </small>
                        </h2>
                    </div>
                    <div class="clearfix card-body p-l-15 p-r-15">

                    </div>
                </div>
            </div>

            <div class="col-sm-4 p-r-0 no-padding-mobile">
                <div class="card" data-ng-if="vm.projectsToRecommend && vm.projectsToRecommend.length > 0">
                    <div class="card-header dashboardCommunityHeader">
                        <h2>
                            Recommander un collègue
                            <small>
                                Entraide entre Pros
                            </small>
                        </h2>
                    </div>
                    <div class="clearfix card-body p-l-15 p-r-15">

                        <div
                            class="col-xs-12 dashboardRecommendProject proDashboardRecommendProject pointer no-padding p-l-10"
                            data-ng-repeat="project in vm.projectsToRecommend"
                            data-ui-sref="project-recommend({'projectId': project.id})">

                            <yaka-avatar size="35" user="project.user"></yaka-avatar>

                            <div class="dashboardRecommendProjectText">
                                <div class="yakaEllipsis">
                                    <casa-name-and-contact user="project.user"></casa-name-and-contact>
                                </div>

                                <div class="yakaEllipsis">
                                    {{project.address.locality}} - {{vm.getWhen(project)}}
                                </div>

                                <div class="yakaEllipsis c-lightblue">
                                    {{project.title}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
