<style>
    .customerSupportWidget {
        background: #FF9800;
    }
</style>

<section id="main-scroll-container" class="view">
    <div class="proHomeSection proHomeSection1">
        <div class="container proHomeSection1Container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Club">CASA</span><span class="homeSection1Yaka">VOX</span>
                    <span class="homeSection1Yaka">PRO</span>
                </div>
                <div class="homeSection1ProLink proTopLink waves-effect" ui-sref="home">
                    ACCES CLIENT
                </div>
                <div class="homeSection1Login proTopLink yakaLinkWhite" data-ng-click="vm.openPopup()">
                    Se connecter
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1Title">
                Developpez votre réseau, trouvez de nouveaux clients.
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1SubTitle">
                80% des clients utilisent internet pour préparer leurs futurs travaux.<br>Mais au moment de choisir, ils
                préfèrent toujours faire
                confiance à un professionnel qui leur est recommandé.
            </div>
            <div class="col-xs-12 proHomeSection1Buttons">
                <button
                    class="col-xs-4 col-sm-3 btn proHomeRegButton btn-lg bgm-orange waves-effect hidden-xs hidden-sm f-s-11"
                    data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE GRATUITEMENT
                </button>
                <button
                    class="col-xs-4 col-sm-3 btn proHomeRegButton btn-lg bgm-orange waves-effect visible-sm vertical-center f-s-11"
                    data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE GRATUITEMENT
                </button>
                <button
                    class="col-xs-6 col-sm-3 proHomeRegButton btn btn-lg bgm-orange waves-effect visible-xs hidden-sm f-s-9"
                    data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE GRATUITEMENT
                </button>
                <button
                    class="col-xs-5 col-xs-offset-1 col-sm-3 proHomeSection1AboutButton btn btn-lg waves-effect yakaBorderWhite f-s-10"
                    data-ng-click="vm.smoothScrollAbout()">
                    EN SAVOIR PLUS
                </button>
            </div>
        </div>
    </div>
    <div id="about" class="proHomeSection proHomeSection2">
        <div class="container">
            <div class="col-xs-offset-1 col-xs-10 proHomeSection2Title">
                De nombreux sites se contentent de vous vendre des contacts…
            </div>
            <div class="col-xs-12 proHomeSection2SubTitle">
                En quoi sommes nous différents ?
            </div>
            <div class="col-xs-12 proHomeSection2Title c-orange">
                <i>CasaVox c'est le bouche à oreille sur internet !</i>
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeTrust44.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU DE CONFIANCE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        A la fin de chaque chantier, votre client vous recommande auprès de son réseau (amis, famille,
                        collègues)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeOpportunities.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’OPPORTUNITÉS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Vos anciens clients ont de nouveaux travaux à réaliser, vous en êtes le premier informé.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeAmbassadors.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’AMBASSADEURS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Toucher l'entourage de vos anciens clients sans effort. Vos clients sont votre meilleure
                        publicité.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeEarth.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            ASSISTANT PRIVÉ 24h/7j
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        A n'importe quel moment et où que vous soyez, accédez à vos informations de chantiers et devis,
                        communiquez avec vos clients, démarchez de nouveaux clients, et bien plus encore...
                    </div>
                </div>
            </div>
            <div class="col-xs-12 proHomeSection2Separator">
            </div>

            <div class="col-xs-12 proHomeSection2RegisterTitle">
                Comment ça marche ?
            </div>
            <div class="col-xs-12 col-sm-6 proHomeSection2RegisterExplain">
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeOne.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Inscrivez-vous et complétez votre profil
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Inscrivez-vous et complétez votre profil en 5 minutes : présentez-vous à la communauté CasaVox,
                    précisez vos domaines de compétences, mettez en avant votre savoir
                    faire et vos qualifications.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeTwo.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Prospectez en quelques clics
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Parcourez librement toutes les offres et proposez vos services.<br>
                    Recevez directement les nouveaux besoins de vos anciens clients ainsi que ceux de leurs
                    connaissances !
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeThree.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Discutez, proposez un devis et remportez le chantier
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Des questions sur une offre de chantier ? Discutez et échangez des documents facilement et librement
                    avec tous vos clients et prospects via un chat privé. Faite une offre et proposez une date
                    d'intervention.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeFour.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Développez votre réseau et gagnez de nouveaux clients
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    De la qualité de votre travail dépendra le développement de votre réseau de client. Chaque client
                    satisfait est encouragé à vous recommander à ses connaissances pour de futurs travaux.
                </div>
            </div>
            <div id="registerForm" class="col-xs-12 col-sm-6 col-md-5 proHomeSection2RegisterForm oldFormControl">

                <div class="col-xs-12 proHomeSection2RegisterFormTitle">
                    Inscription gratuite
                </div>

                <div class="col-xs-12 proHomeSection2RegisterFacebookGoogle p-l-0 p-r-0">
                    <span data-ng-if="!vm.isSocialRegister()">Inscription rapide via Facebook ou Google</span>

                    <div data-ng-if="vm.isSocialRegister()">
                        <div class="proHomeSection2RegisterSocialConfirm p-l-0 p-r-0">
                            Inscription via {{vm.getSocialServiceName()}}
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 proHomeSection2RegisterFacebook waves-effect"
                     data-ng-click="vm.facebookPreRegister()"
                     data-ng-if="!vm.isSocialRegister()">
                    Facebook
                </div>
                <div class="col-xs-6 proHomeSection2RegisterGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                     data-ng-if="!vm.isSocialRegister()">
                    Google
                </div>

                <div class="col-xs-4 col-xs-offset-4 proHomeSection2RegisterSeparator"/>

                <div class="col-xs-12 proHomeSection2RegisterMail">
                    <span class="registerWithEmailMessagePro pointer"
                          data-ng-if="!vm.isSocialRegister()">Inscription par email<small><br>(Complétez tous les
                        champs)
                    </small></span>
                    <span
                        data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                </div>

                <form>

                    <input class="form-control halfInput"
                           name="fname"
                           autocomplete="given-name"
                           placeholder="Prénom"
                           data-ng-model="vm.newUser.firstName"
                           data-ng-disabled="vm.isSocialRegister()"/>

                    <input class="form-control halfInput halfInputRight"
                           name="lname"
                           autocomplete="family-name"
                           placeholder="Nom du représentant"
                           data-ng-model="vm.newUser.lastName"
                           data-ng-disabled="vm.isSocialRegister()"/>

                    <div class="proHomeSection2InputError"
                         data-ng-hide="vm.newUser.firstName == '' || vm.isNameValid(vm.newUser.firstName)">
                        Ce prénom n'est pas valide
                    </div>

                    <div class="proHomeSection2InputError"
                         data-ng-hide="vm.newUser.lastName == '' || vm.isNameValid(vm.newUser.lastName)">
                        Ce nom n'est pas valide
                    </div>

                    <input class="form-control"
                           type="email"
                           name="username"
                           autocomplete="username"
                           placeholder="Email du représentant"
                           data-ng-model="vm.newUser.email"
                           data-ng-disabled="vm.needToHideEmail()"/>

                    <div class="proHomeSection2InputError"
                         data-ng-hide="vm.newUser.email == '' || vm.isEmailValid(vm.newUser.email)">
                        Cet email n'est pas valide
                    </div>

                    <input class="form-control"
                           type="password"
                           name="password"
                           autocomplete="new-password"
                           placeholder="Mot de passe"
                           data-ng-model="vm.newUser.password"/>

                    <div class="proHomeSection2InputError"
                         data-ng-hide="vm.newUser.password.length == '' ||vm.newUser.password.length >= 6">
                        Trop court : 6 caractères minimum
                    </div>

                    <input class="form-control"
                           type="password"
                           placeholder="Confirmation de mot de passe"
                           data-ng-model="vm.passwordConfirm"/>

                    <div class="proHomeSection2InputError"
                         data-ng-hide="vm.passwordConfirm == '' || vm.newUser.password == vm.passwordConfirm">
                        Les mots de passe ne correspondent pas
                    </div>

                    <div class="col-xs-12 no-padding m-t-15">
                        <input type="text"
                               name="phone"
                               autocomplete="tel"
                               required="required"
                               class="form-control proHomeSection2RegisterPhone"
                               placeholder="Téléphone du représentant"
                               data-ng-model="vm.newUser.professional.phoneNumber" yaka-input-phone>
                    </div>

                    <div class="proHomeSection2InputError"
                         data-ng-hide="vm.newUser.professional.phoneNumber">
                        Cet numéro de téléphone n'est pas valide
                    </div>

                    <input
                        vs-google-autocomplete="vm.autocomplete.options"
                        vs-autocomplete-validator class="form-control"
                        placeholder="Ville du siège de l'entreprise"
                        name="address"
                        autocomplete="address-level2"
                        data-ng-model="vm.newUser.professional.company.address.address"/>

                    <div class="proHomeSection2ActivitiesInput m-b-20" data-ng-dropdown-multiselect=""
                         options="vm.multiChoiceInput.options"
                         selected-model="vm.multiChoiceInput.selected"
                         extra-settings="vm.multiChoiceInput.settings"
                         translation-texts="vm.multiChoiceInput.translation"
                         checkboxes="true"></div>

                    <span class="col-xs-12 c-gray m-l-0">Cochez la case ci-dessous</span>
                    <div
                        vc-recaptcha
                        data-ng-model="vm.newUser.recaptchaResponse"
                        key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                        class="hidden-xs col-xs-12 m-t-0"
                    ></div>
                    <div
                        vc-recaptcha
                        data-ng-model="vm.newUser.recaptchaResponse"
                        key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                        class="visible-xs col-xs-12 m-t-0"
                        style="-moz-transform:scale(0.77); -ms-transform:scale(0.77); -o-transform:scale(0.77); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.77); transform:scale(0.77); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');"
                    ></div>
                    <button
                        class="col-xs-12 proHomeSection2Button btn btn-lg bgm-orange waves-effect"
                        data-ng-disabled="!vm.formIsValid()" data-ng-click="vm.registerUser()">
                        S'INSCRIRE
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <a target="_blank" data-ng-href="https://www.facebook.com/hellocasavox">
                    <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
                </a>
                <a target="_blank" data-ng-href="https://plus.google.com/117693956496667116327">
                    <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
                </a>
                <a target="_blank" data-ng-href="https://twitter.com/hellocasavox">
                    <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; CasaVox {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterContactUs yakaLinkWhite" data-ng-click="app.openHelp()">
                Contactez-nous
            </div>
            <a href="http://res.cloudinary.com/yaka/image/upload/casavox/CGU/CGU.pdf" target="_blank">
                <div class="homeSection5FooterLogin yakaLinkWhite">
                    CGU
                </div>
            </a>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showLoginPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()" alt=""/>

            <div class="oldFormControl" data-ng-if="!vm.noSocialAccountMessage">
                <div class="loginPopupTabItem loginPopupTabItemActivePro col-xs-12">
                    CONNEXION
                </div>

                <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookLogin()">
                    Facebook
                </div>
                <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googleLogin()">
                    Google
                </div>

                <input class="form-control"
                       type="text"
                       name="username"
                       autocomplete="username"
                       placeholder="Email"
                       data-ng-model="vm.loginUser.email"
                       data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                <input class="form-control"
                       type="password"
                       name="password"
                       autocomplete="current-password"
                       placeholder="Mot de passe"
                       data-ng-model="vm.loginUser.password"
                       data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect"
                    data-ng-disabled="!vm.loginFormIsValid()" data-ng-click="vm.login()">
                    SE CONNECTER
                </button>

                <div class="col-xs-12 passwordForgotten passwordForgottenPro">
                        <span data-ng-click="vm.closePopup();
                         vm.forgottenPasswordUser.email = vm.loginUser.email;
                         vm.showForgottenPasswordPopup = true">J'ai oublié mon mot de passe</span>
                </div>
            </div>
            <div data-ng-if="vm.noSocialAccountMessage">
                <div class="noSocialAccountMessage">
                    Ce compte {{vm.socialNetwork}} nous est inconnu.<br/>
                    Essayez de vous connecter avec votre email et votre mot de passe ou de créer un compte en bas de
                    cette page.
                </div>
                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect"
                    data-ng-click="vm.noSocialAccountMessage = false">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showForgottenPasswordPopup"
     data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" alt=""/>

            <div data-ng-if="!vm.passwordForgottenMessageSent">

                <form name="recoverPassword">
                    <div class="form-group fg-float m-t-30"
                         data-ng-class="{'has-error': !vm.forgottenPasswordUser.email}">
                        <div class="fg-line">
                            <input type="text"
                                   name="username"
                                   autocomplete="username"
                                   data-ng-disabled="vm.isSocialRegister()"
                                   class="form-control fg-input input-sm"
                                   data-ng-model="vm.forgottenPasswordUser.email"
                                   required="required"
                                   yaka-input-email>
                            <label class="fg-label">Email</label>
                        </div>
                        <div data-ng-messages="recoverPassword.username.$error">
                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                valide
                            </small>
                        </div>
                    </div>
                </form>

                <button
                    class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton passwordForgottenButton waves-effect"
                    data-ng-disabled="!vm.forgottenPasswordUser.email"
                    data-ng-click="vm.forgottenPassword()">
                    RÉINITIALISER MON MOT DE PASSE
                </button>

            </div>
            <div class="passwordForgottenMessageSent" data-ng-if="vm.passwordForgottenMessageSent">
                Nous venons de vous envoyer un email contenant un lien qui vous permettra de réinitialiser votre mot de
                passe.
            </div>
        </div>
    </div>
</div>
