<style>
    .customerSupportWidget {
        background: #FF9800;
    }
</style>

<section id="main-scroll-container" class="view">
    <div class="proHomeSection proHomeSection1">
        <div class="container proHomeSection1Container">
            <div class="col-xs-12 homeSection1Header">
                <div class="homeSection1YakaClub" ui-sref="home">
                    <span class="homeSection1Yaka">YAKA</span><span class="homeSection1Club">CLUB</span><span
                    class="homeSection1Yaka">PRO</span>
                    <span class="titleBeta titleBetaPro">Beta</span>
                </div>
                <div class="homeSection1ProLink proTopLink waves-effect" ui-sref="home">
                    ACCES CLIENT
                </div>
                <div class="homeSection1Login proTopLink yakaLinkWhite" data-ng-click="vm.openPopup()">
                    Se connecter
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1Title">
                Developpez votre réseau, trouvez de nouveaux clients.
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1SubTitle">
                80% des clients utilisent internet pour préparer leurs futurs chantiers, mais ils préfèrent
                toujours faire confiance à un artisan qui leur est recommandé.
            </div>
            <div class="col-xs-12 proHomeSection1Buttons">
                <div class="col-xs-4 col-sm-3 proHomeSection1RegisterButton yakaButton yakaOrange waves-effect"
                     data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE
                </div>
                <div class="col-xs-4 col-sm-3 proHomeSection1AboutButton yakaButton yakaBorderWhite waves-effect"
                     data-ng-click="vm.smoothScrollAbout()">
                    EN SAVOIR PLUS
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="proHomeSection proHomeSection2">
        <div class="container">
            <div class="col-xs-offset-1 col-xs-10 proHomeSection2Title">
                De nombreux sites vous promettent des chantiers en vous vendant des contacts…
            </div>
            <div class="col-xs-12 proHomeSection2SubTitle">
                En quoi sommes nous différents ?
            </div>
            <div class="col-xs-12 proHomeSection2Quote">
                «Le bouche à oreille reste le meilleur moyen pour trouver de nouveaux chantiers»
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeTrust44.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU DE CONFIANCE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        A la fin de chaque chantier, votre client vous recommande auprès de son réseau (amis, famille,
                        collègues)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeOpportunities.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’OPPORTUNITÉS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Vos anciens clients ou leurs amis ont des travaux à réaliser, vous en êtes le premier informé.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeAmbassadors.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’AMBASSADEURS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Intégrer la cooptation et les réseaux sociaux dans votre démarche commerciale. Vos clients sont
                        votre meilleure publicité.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item homeSection2ItemPro2ndRow homeSection2ItemPro2ndRow1st">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeMoney.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            BOOSTEZ VOS REVENUS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        En 1 click, recevez les offres de dépannage à proximité et générez facilement des rentrées
                        de cash complémentaires.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 homeSection2Item homeSection2ItemPro2ndRow">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeEarth.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            ASSISTANT PERSONNEL 24/24
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Sur un chantier ou à domicile, vous avez toujours accès à vos informations (chantiers,
                        clients…). Vous restez toujours informé des nouveaux chantiers dans votre secteur.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 proHomeSection2Separator">
            </div>

            <div class="col-xs-12 proHomeSection2RegisterTitle">
                Comment ça marche ?
            </div>
            <div class="col-xs-12 col-sm-6 proHomeSection2RegisterExplain">
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeOne.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Inscrivez-vous en 5 minutes
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Complétez votre profil, dites nous qui vous êtes, ce que vous faites et le secteur où vous cherchez
                    des chantiers. Vous allez rapidement pouvoir recevoir des offres et développer votre réseau.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeTwo.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Consultez les offres de chantiers et les demandes de dépannages
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Parcourez les offres et répondez aux chantiers qui vous intéressent. Recevez des alertes quand une
                    demande de dépannage ou un chantier de vos contacts nécessite vos compétences.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeThree.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Discutez, proposez un devis et remportez le chantier
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Des questions sur un chantier ? Discutez facilement avec vos clients via notre chat et transmettez
                    votre devis. A vous de jouer pour remporter le contrat.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeFour.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Développez votre réseau et obtenez de nouveaux chantiers
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    De la qualité de votre travail dépendra le développement de votre réseau. Chaque client satisfait
                    vous recommande à ses amis pour leurs futurs travaux
                </div>
            </div>
            <div id="registerForm" class="col-xs-12 col-sm-6 col-md-5 proHomeSection2RegisterForm oldFormControl">

                <div class="col-xs-12 proHomeSection2RegisterFormTitle">
                    Inscription gratuite
                </div>

                <div class="col-xs-12 proHomeSection2RegisterFacebookGoogle">
                    <span data-ng-if="!vm.isSocialRegister()">Inscription via Facebook ou Google</span>

                    <div data-ng-if="vm.isSocialRegister()">
                        <div class="proHomeSection2RegisterSocialConfirm">
                            Inscription via {{vm.getSocialServiceName()}}
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 proHomeSection2RegisterFacebook waves-effect" data-ng-click="vm.facebookPreRegister()"
                     data-ng-if="!vm.isSocialRegister()">
                    Facebook
                </div>
                <div class="col-xs-6 proHomeSection2RegisterGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                     data-ng-if="!vm.isSocialRegister()">
                    Google
                </div>

                <div class="col-xs-4 col-xs-offset-4 proHomeSection2RegisterSeparator"/>

                <div class="col-xs-12 proHomeSection2RegisterMail">
                    <span class="registerWithEmailMessagePro"
                          data-ng-if="!vm.isSocialRegister()">Inscription par email</span>
                    <span
                        data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                </div>

                <input class="form-control halfInput" placeholder="Prénom"
                       data-ng-model="vm.newUser.firstName"
                       data-ng-disabled="vm.isSocialRegister()"/>

                <input class="form-control halfInput halfInputRight" placeholder="Nom"
                       data-ng-model="vm.newUser.lastName"
                       data-ng-disabled="vm.isSocialRegister()"/>

                <div class="proHomeSection2InputError"
                     data-ng-hide="vm.newUser.firstName == '' || vm.isNameValid(vm.newUser.firstName)">
                    Ce prénom n'est pas valide
                </div>

                <div class="proHomeSection2InputError"
                     data-ng-hide="vm.newUser.lastName == '' || vm.isNameValid(vm.newUser.lastName)">
                    Ce nom n'est pas valide
                </div>

                <input class="form-control" type="email" placeholder="Email" data-ng-model="vm.newUser.email"
                       data-ng-disabled="vm.needToHideEmail()"/>

                <div class="proHomeSection2InputError"
                     data-ng-hide="vm.newUser.email == '' || vm.isEmailValid(vm.newUser.email)">
                    Cet email n'est pas valide
                </div>

                <input class="form-control" type="password" placeholder="Mot de passe"
                       data-ng-model="vm.newUser.password"/>

                <div class="proHomeSection2InputError"
                     data-ng-hide="vm.newUser.password.length == '' ||vm.newUser.password.length >= 6">
                    Trop court : 6 caractères minimum
                </div>

                <input class="form-control" type="password" placeholder="Confirmation de mot de passe"
                       data-ng-model="vm.passwordConfirm"/>

                <div class="proHomeSection2InputError"
                     data-ng-hide="vm.passwordConfirm == '' || vm.newUser.password == vm.passwordConfirm">
                    Les mots de passe ne correspondent pas
                </div>

                <input type="text"
                       required="required" class="form-control proHomeSection2RegisterPhone" placeholder="Téléphone"
                       data-ng-model="vm.phoneNumber" yaka-input-phone>

                <div class="proHomeSection2InputError"
                     data-ng-hide="vm.phoneNumber">
                    Cet numéro de téléphone n'est pas valide
                </div>

                <div class="proHomeSection2ActivitiesInput" data-ng-dropdown-multiselect=""
                     options="vm.multiChoiceInput.options"
                     selected-model="vm.multiChoiceInput.selected"
                     extra-settings="vm.multiChoiceInput.settings"
                     translation-texts="vm.multiChoiceInput.translation"
                     checkboxes="true"></div>

                <input
                    vs-google-autocomplete="vm.autocomplete.options"
                    vs-autocomplete-validator class="form-control"
                    placeholder="Ville"
                    data-ng-model="vm.newUser.professional.company.address.address"/>

                <div class="col-xs-12 yakaButton yakaOrange proHomeSection2Button waves-effect"
                     data-ng-class="{yakaDisabled: !vm.formIsValid()}" data-ng-click="vm.registerUser()">
                    S'INSCRIRE
                </div>
            </div>
        </div>
    </div>
    <div class="proHomeSection proHomeSection3">
        <div class="proHomeSection3a">
            <div class="container">
                <div class="col-xs-12 proHomeSection3aTitle">
                    SERVICES ET TARIFS
                </div>
                <div class="col-xs-12 proHomeSection3aSubTitle">
                    Testez notre service, c’est gratuit !
                </div>
                <div class="col-xs-12 proHomeSection3aSubSubTitle">
                    Invitez vos clients, amis et collègues et découvrez de nouvelles offres de chantiers dès l’ouverture
                    du service aux clients courant juin
                </div>
                <div class="col-xs-10 col-xs-offset-1 proHomeSection3aPricing">
                    <div class="col-xs-6 proHomeSection3aFree">
                        <div class="col-xs-12 proHomeSection3aFreeTitle">
                            GRATUIT
                        </div>
                        <div class="col-xs-12 proHomeSection3aFreeDesc">
                            Pendant toute la durée de la beta
                        </div>
                    </div>
                    <div class="col-xs-6 proHomeSection3aPaid">
                        <div class="col-xs-12 proHomeSection3aPaidTitle">
                            PREMIUM
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidSubTitle">
                            Prochainement
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidDesc">
                            De nouveaux services pour mieux vous aider et vous accompagner
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proHomeSection3b">
            <div class="container">
                <div class="col-xs-12 proHomeSection3bTitle">
                    Inscrivez-vous dès maintenant et développez votre réseau
                </div>
                <div class="col-xs-6 col-xs-offset-3 yakaButton yakaOrange proHomeSection3bButton waves-effect"
                     data-ng-click="vm.smoothScrollRegister()">
                    S’INSCRIRE GRATUITEMENT
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection4">
        <div class="container">
            <div class="homeSection4Title">
                Suivez-nous !
            </div>
            <div class="homeSection4Items">
                <a target="_blank" data-ng-href="https://www.facebook.com/yakaclub">
                    <div class="homeSection4ItemSocial homeSection4ItemFacebook"></div>
                </a>
                <a target="_blank" data-ng-href="https://plus.google.com/117693956496667116327">
                    <div class="homeSection4ItemSocial homeSection4ItemGoogle"></div>
                </a>
                <a target="_blank" data-ng-href="https://twitter.com/yakaclub">
                    <div class="homeSection4ItemSocial homeSection4ItemTwitter"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <div class="container homeSection5Footer">
            <div class="homeSection5FooterLeft">
                <div class="homeSection5FooterLeftCopyright">
                    &copy; YAKACLUB {{vm.currentYear}}
                </div>
                <div class="homeSection5FooterLeftText">
                    Tous droits réservés
                </div>
            </div>
            <div class="homeSection5FooterContactUs yakaLinkWhite" data-ng-click="app.openSupport()">
                Contactez-nous
            </div>
            <a href="http://res.cloudinary.com/yaka/image/upload/v1462777348/yakaclub/cgu.pdf" target="_blank">
                <div class="homeSection5FooterLogin yakaLinkWhite">
                    CGU
                </div>
            </a>
        </div>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showLoginPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()" alt=""/>

            <div class="oldFormControl" data-ng-if="!vm.noSocialAccountMessage">
                <div class="loginPopupTabItem loginPopupTabItemActivePro col-xs-12">
                    CONNEXION
                </div>

                <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookLogin()">
                    Facebook
                </div>
                <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googleLogin()">
                    Google
                </div>

                <input class="form-control" type="text" placeholder="Email" data-ng-model="vm.loginUser.email"/>

                <input class="form-control" type="password" placeholder="Mot de passe"
                       data-ng-model="vm.loginUser.password"
                       data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>

                <div class="col-xs-12 yakaButton yakaOrange loginPopupButton waves-effect"
                     data-ng-class="{yakaDisabled: !vm.loginFormIsValid()}" data-ng-click="vm.login()">
                    SE CONNECTER
                </div>
                <div class="col-xs-12 passwordForgotten passwordForgottenPro">
                        <span data-ng-click="vm.closePopup();
                         vm.forgottenPasswordUser.email = vm.loginUser.email;
                         vm.showForgottenPasswordPopup = true">J'ai oublié mon mot de passe</span>
                </div>
            </div>
            <div data-ng-if="vm.noSocialAccountMessage">
                <div class="noSocialAccountMessage">
                    Ce compte {{vm.socialNetwork}} nous est inconnu.<br/>
                    Essayez de vous connecter avec votre email et votre mot de passe ou de créer un compte en bas de
                    cette page.
                </div>
                <div class="col-xs-12 yakaButton yakaOrange loginPopupButton waves-effect"
                     data-ng-click="vm.noSocialAccountMessage = false">
                    OK
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showForgottenPasswordPopup"
     data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" alt=""/>

            <div data-ng-if="!vm.passwordForgottenMessageSent">

                <form name="recoverPassword">
                    <div class="form-group fg-float m-t-30"
                         data-ng-class="{'has-error': !vm.forgottenPasswordUser.email}">
                        <div class="fg-line">
                            <input type="text" name="email" data-ng-disabled="vm.isSocialRegister()"
                                   class="form-control fg-input input-sm"
                                   data-ng-model="vm.forgottenPasswordUser.email"
                                   required="required" yaka-input-email>
                            <label class="fg-label">Email</label>
                        </div>
                        <div data-ng-messages="recoverPassword.email.$error">
                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                valide
                            </small>
                        </div>
                    </div>
                </form>

                <div class="col-xs-12 yakaButton yakaBlue loginPopupButton passwordForgottenButton waves-effect"
                     data-ng-class="{yakaDisabled: !vm.forgottenPasswordUser.email}"
                     data-ng-click="vm.forgottenPassword()">
                    RÉINITIALISER MON MOT DE PASSE
                </div>

            </div>
            <div class="passwordForgottenMessageSent" data-ng-if="vm.passwordForgottenMessageSent">
                Nous venons de vous envoyer un email contenant un lien qui vous permettra de réinitialiser votre mot de
                passe.
            </div>
        </div>
    </div>
</div>
