<style>
    .customerSupportWidget {
        background: #FF9800;
    }
</style>

<section id="main-scroll-container" class="view">
    <div class="proHomeSection proHomeSection1">
        <div class="container proHomeSection1Container">
            <div class="col-xs-12 home-navbar p-l-10">
                <div class="logo-casavox pointer" ui-sref="pro-home">
                    <img class="logo-img" src="../../../img/logoSansFond_PRO_40w.png" alt="CasaVox"/>
                </div>
                <div class="navbar-casavox m-l-5 c-orange" ui-sref="pro-home">
                    <span class="navbar-casa">CASA</span><span class="navbar-vox">VOX</span>
                </div>
                <div class="button-cust-access c-lightblue waves-effect" ui-sref="home">
                    ACCES CLIENT
                </div>
                <div class="button-pro-connexion subtitle-color-forced"
                     data-ng-click="vm.openPopup()">
                    CONNEXION
                </div>
            </div>


            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1Title">
                Developpez votre réseau, trouvez de nouveaux clients.
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 proHomeSection1SubTitle">
                80% des clients utilisent internet pour préparer leurs futurs travaux.<br>Mais au moment de choisir, ils
                préfèrent toujours faire
                confiance à un professionnel qui leur est recommandé.
            </div>
            <div class="col-xs-12 proHomeSection1Buttons">
                <button
                    class="col-xs-4 col-sm-3 btn proHomeRegButton btn-lg bgm-orange waves-effect hidden-xs hidden-sm f-s-11"
                    data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE GRATUITEMENT
                </button>
                <button
                    class="col-xs-4 col-sm-3 btn proHomeRegButton btn-lg bgm-orange waves-effect visible-sm vertical-center f-s-11"
                    data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE GRATUITEMENT
                </button>
                <button
                    class="col-xs-6 col-sm-3 proHomeRegButton btn btn-lg bgm-orange waves-effect visible-xs hidden-sm f-s-9"
                    data-ng-click="vm.smoothScrollRegister()">
                    S'INSCRIRE GRATUITEMENT
                </button>
                <button
                    class="col-xs-5 col-xs-offset-1 col-sm-3 proHomeSection1AboutButton btn btn-lg waves-effect yakaBorderWhite f-s-10"
                    data-ng-click="vm.smoothScrollAbout()">
                    EN SAVOIR PLUS
                </button>
            </div>
        </div>
    </div>
    <div id="about" class="proHomeSection proHomeSection2">
        <div class="container">
            <div class="col-xs-offset-1 col-xs-10 proHomeSection2Title">
                De nombreux sites se contentent de vous vendre des contacts…
            </div>
            <div class="col-xs-12 proHomeSection2SubTitle">
                En quoi sommes nous différents ?
            </div>
            <div class="col-xs-12 proHomeSection2Title c-orange">
                <i>CasaVox c'est le bouche à oreille sur internet !</i>
            </div>
            <div class="col-xs-12 homeSection2Items">
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeTrust44.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU DE CONFIANCE
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        A la fin de chaque chantier, votre client vous recommande auprès de son réseau (amis, famille,
                        collègues)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeOpportunities.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’OPPORTUNITÉS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Vos anciens clients ont de nouveaux travaux à réaliser, vous en êtes le premier informé.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeAmbassadors.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            RESEAU D’AMBASSADEURS
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        Toucher l'entourage de vos anciens clients sans effort. Vos clients sont votre meilleure
                        publicité.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 homeSection2Item">
                    <div class="col-xs-3 col-sm-12 homeSection2ItemIconTitle">
                        <img src="icons/mdpi/ic_homeEarth.png" alt=""/>

                        <div class="homeSection2ItemTitle homeSection2ItemTitlePro">
                            ASSISTANT PRIVÉ 24h/7j
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-12 homeSection2ItemDescription">
                        A n'importe quel moment et où que vous soyez, accédez à vos informations de chantiers et devis,
                        communiquez avec vos clients, démarchez de nouveaux clients, et bien plus encore...
                    </div>
                </div>
            </div>
            <div class="col-xs-12 proHomeSection2Separator">
            </div>

            <div class="col-xs-12 proHomeSection2RegisterTitle">
                Comment ça marche ?
            </div>
            <div class="col-xs-12 col-sm-6 proHomeSection2RegisterExplain">
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeOne.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Inscrivez-vous et complétez votre profil
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Inscrivez-vous et complétez votre profil en 5 minutes : présentez-vous à la communauté CasaVox,
                    précisez vos domaines de compétences, mettez en avant votre savoir
                    faire et vos qualifications.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeTwo.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Prospectez en quelques clics
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Parcourez librement toutes les offres et proposez vos services.<br>
                    Recevez directement les nouveaux besoins de vos anciens clients ainsi que ceux de leurs
                    connaissances !
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeThree.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Discutez, proposez un devis et remportez le chantier
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    Des questions sur une offre de chantier ? Discutez et échangez des documents facilement et librement
                    avec tous vos clients et prospects via un chat privé. Faite une offre et proposez une date
                    d'intervention.
                </div>
                <div class="col-xs-1">
                    <img class="proHomeSection2RegisterImg" src="icons/mdpi/ic_homeFour.png" alt=""/>
                </div>
                <div class="col-xs-11 proHomeSection2RegisterExplainTitle">
                    Développez votre réseau et gagnez de nouveaux clients
                </div>
                <div class="col-xs-11 col-xs-offset-1 proHomeSection2RegisterExplainDesc">
                    De la qualité de votre travail dépendra le développement de votre réseau de client. Chaque client
                    satisfait est encouragé à vous recommander à ses connaissances pour de futurs travaux.
                </div>
            </div>
            <form id="registerForm" class="col-xs-12 col-sm-6 col-md-5 proHomeSection2RegisterForm oldFormControl">

                <div class="col-xs-12 proHomeSection2RegisterFormTitle">
                    Inscription gratuite
                </div>

                <div class="col-xs-12 proHomeSection2RegisterFacebookGoogle p-l-0 p-r-0">
                    <span data-ng-if="!vm.isSocialRegister()">Inscription rapide via Facebook ou Google</span>

                    <div data-ng-if="vm.isSocialRegister()">
                        <div class="proHomeSection2RegisterSocialConfirm p-l-0 p-r-0">
                            Inscription via {{vm.getSocialServiceName()}}
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 proHomeSection2RegisterFacebook waves-effect"
                     data-ng-click="vm.facebookPreRegister()"
                     data-ng-if="!vm.isSocialRegister()">
                    Facebook
                </div>
                <div class="col-xs-6 proHomeSection2RegisterGoogle waves-effect" data-ng-click="vm.googlePreRegister()"
                     data-ng-if="!vm.isSocialRegister()">
                    Google
                </div>

                <div class="col-xs-4 col-xs-offset-4 proHomeSection2RegisterSeparator"/>

                <div class="col-xs-12 m-b-30 proHomeSection2RegisterMail">
                    <span class="registerWithEmailMessagePro pointer"
                          data-ng-if="!vm.isSocialRegister()">Inscription par email<small><br>(Complétez tous les
                        champs)
                    </small></span>
                    <span
                        data-ng-if="vm.isSocialRegister()">Complétez les champs ci-dessous pour finaliser votre inscription</span>
                </div>

                <div class="form-group fg-float halfInput m-b-20"
                     data-ng-class="{'has-error' : vm.formRegisterError && !vm.newUser.firstName}">
                    <div class="fg-line">
                        <input class="form-control form-pro-register"
                               name="fname"
                               autocomplete="given-name"
                               data-ng-model="vm.newUser.firstName"
                               data-ng-disabled="vm.isSocialRegister()" yaka-input-name/>
                        <label class="fg-label"
                               data-ng-class="{'c-red': vm.formRegisterError && !vm.newUser.firstName}">Prénom</label>
                    </div>
                    <small class="help-block t-left"
                           data-ng-show="vm.formRegisterError && vm.newUser.firstName.length < 1">
                        Ce champs est requis
                    </small>
                    <div data-ng-messages="registerForm.fname.$error">
                        <small class="help-block t-left c-red"
                               data-ng-message="invalidName">
                            Ce prénom n'est pas valide
                        </small>
                    </div>
                </div>
                <div class="form-group fg-float halfInput halfInputRight m-b-20"
                     data-ng-class="{'has-error' : vm.formRegisterError && !vm.newUser.lastName}">
                    <div class="fg-line">
                        <input class="form-control form-pro-register"
                               name="lname"
                               autocomplete="family-name"
                               data-ng-model="vm.newUser.lastName"
                               data-ng-disabled="vm.isSocialRegister()" yaka-input-name/>
                        <label class="fg-label"
                               data-ng-class="{'c-red': vm.formRegisterError && !vm.newUser.lastName}">Nom</label>
                    </div>
                    <small class="help-block t-left"
                           data-ng-show="vm.formRegisterError && vm.newUser.lastName.length < 1">
                        Ce champs est requis
                    </small>
                    <div data-ng-messages="registerForm.lname.$error">
                        <small class="help-block t-left c-red"
                               data-ng-message="invalidName">
                            Ce nom n'est pas valide
                        </small>
                    </div>
                </div>


                <div class="form-group fg-float m-b-20 col-xs-12 no-padding"
                     data-ng-class="{'has-error' : vm.formRegisterError && !vm.newUser.email}">
                    <div class="fg-line">
                        <input class="form-control form-pro-register"
                               name="email"
                               autocomplete="username"
                               data-ng-model="vm.newUser.email" yaka-input-email/>
                        <label class="fg-label"
                               data-ng-class="{'c-red': vm.formRegisterError && !vm.newUser.email}">Email du
                            représentant</label>
                    </div>
                    <small class="help-block t-left"
                           data-ng-show="vm.formRegisterError && vm.newUser.email.length == 0">
                        Ce champs est requis
                    </small>
                    <div data-ng-messages="registerForm.email.$error">
                        <small class="help-block t-left c-red"
                               data-ng-message="invalidEmail">
                            Cet email n'est pas valide
                        </small>
                    </div>
                </div>


                <div class="form-group fg-float m-b-20 col-xs-12 no-padding"
                     data-ng-class="{'has-error' : vm.formRegisterError && vm.newUser.password.length < 6}">
                    <div class="fg-line">
                        <input class="form-control form-pro-register"
                               type="password"
                               name="password"
                               autocomplete="new-password"
                               data-ng-model="vm.newUser.password"/>
                        <label class="fg-label"
                               data-ng-class="{'c-red': vm.formRegisterError && vm.newUser.password.length < 6}">Mot de
                            passe</label>
                    </div>
                    <small class="help-block t-left"
                           data-ng-show="vm.formRegisterError && vm.newUser.password == 0">
                        Ce champs est requis
                    </small>
                    <small class="help-block t-left"
                           data-ng-hide="vm.newUser.password.length < 1 || vm.newUser.password.length >= 6">
                        Trop court : 6 caractères minimum
                    </small>
                </div>


                <div class="form-group fg-float m-b-20 col-xs-12 no-padding"
                     data-ng-class="{'has-error' : vm.formRegisterError && vm.passwordConfirm.length < 6}">
                    <div class="fg-line">
                        <input class="form-control form-pro-register"
                               type="password"
                               data-ng-model="vm.passwordConfirm"/>
                        <label class="fg-label"
                               data-ng-class="{'c-red': vm.formRegisterError && vm.passwordConfirm.length < 6 }">Confirmation
                            de mot de passe</label>
                    </div>
                    <small class="help-block t-left"
                           data-ng-show="vm.formRegisterError && vm.passwordConfirm == 0">
                        Ce champs est requis
                    </small>
                    <small class="help-block t-left"
                           data-ng-hide="vm.passwordConfirm.length < 1 || vm.newUser.password == vm.passwordConfirm">
                        Les mots de passe ne correspondent pas
                    </small>
                </div>

                <div class="form-group fg-float p-static clearfix m-b-20 col-xs-12 no-padding"
                     data-ng-class="{'has-error': vm.formRegisterError && !vm.newUser.professional.phoneNumber}">
                    <div class="fg-line pro-register-phone">
                        <input type="text" name="phoneNumber"
                               class="form-control pro-phone-reg-input"
                               data-ng-model="vm.newUser.professional.phoneNumber" yaka-input-phone>
                        <label class="fg-label fg-label-phone"
                               data-ng-class="{'c-red': vm.formRegisterError && !vm.newUser.professional.phoneNumber}">Téléphone</label>
                    </div>
                    <div data-ng-messages="profileForm.phoneNumber.$error">
                        <small class="help-block t-left"
                               data-ng-show="vm.formRegisterError && !vm.newUser.professional.phoneNumber">
                            Ce champ est requis
                        </small>
                        <small class="help-block" data-ng-message="invalidPhone">
                            Ce numéro de téléphone n'est pas valide
                        </small>
                    </div>
                </div>

                <div class="form-group fg-float m-b-20 col-xs-12 no-padding"
                     data-ng-class="{'has-error' : vm.formRegisterError && !vm.newUser.professional.company.address.address}">
                    <div class="fg-line">
                        <input
                            vs-google-autocomplete="vm.autocomplete.options"
                            vs-autocomplete-validator class="form-control form-pro-register"
                            name="address"
                            autocomplete="address-level2"
                            data-ng-model="vm.newUser.professional.company.address.address"/>
                        <label class="fg-label"
                               data-ng-class="{'c-red': vm.formRegisterError && !vm.newUser.professional.company.address.address}">Ville
                            du siège de l'entreprise</label>
                    </div>
                    <small class="help-block t-left"
                           data-ng-if="vm.formRegisterError && !vm.newUser.professional.company.address.address">
                        Veuillez saisir la ville, puis sélectionnez-la dans la liste
                    </small>
                </div>


                <div>
                    <div class="proHomeSection2ActivitiesInput m-b-20"
                         data-ng-class="{'multi-select-red' : vm.formRegisterError && vm.multiChoiceInput.selected.length == 0}"
                         data-ng-dropdown-multiselect=""
                         options="vm.multiChoiceInput.options"
                         selected-model="vm.multiChoiceInput.selected"
                         extra-settings="vm.multiChoiceInput.settings"
                         translation-texts="vm.multiChoiceInput.translation"
                         data-ng-click="vm.deleteErrorIfSelected()"
                         checkboxes="true"></div>

                </div>
                <div>
                    <div class="col-xs-12 no-padding select m-b-15">
                        <select class="form-control select-pro-register"
                                data-ng-model="vm.newUser.referral">
                            <option value="" disabled="disabled">Comment nous avez-vous connu ? (facultatif)</option>
                            <option value="REFERRAL_SEARCH">Recherche internet</option>
                            <option value="REFERRAL_FRIEND">Par connaissance</option>
                            <option value="REFERRAL_SOCIAL">Réseaux sociaux</option>
                            <option value="REFERRAL_LM">Leroy Merlin</option>
                            <option value="REFERRAL_INVITATION">Invitation Casavox</option>
                            <option value="REFERRAL_OTHER">Autre</option>
                        </select>
                    </div>

                </div>
                <div>
                    <div class="col-xs-12 no-padding form-group fg-float m-b-10 m-t-10"
                         data-ng-if="vm.newUser.referral == 'REFERRAL_OTHER'">
                        <div class="fg-line">
                            <input type="text"
                                   name="BY_OTHER"
                                   autocomplete="given-name"
                                   class="form-control fg-input input-sm input-pro-other"
                                   data-ng-model="vm.referralOther">
                            <label class="fg-label">Entrez votre source</label>
                        </div>
                    </div>

                </div>
                <div>
                    <span class="col-xs-12 subtitle-color-forced m-l-0"
                        data-ng-class="{'c-red' : vm.formRegisterError && !vm.newUser.recaptchaResponse}">Cochez la case ci-dessous</span>
                    <div
                        vc-recaptcha
                        data-ng-model="vm.newUser.recaptchaResponse"
                        key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                        class="hidden-xs col-xs-12 m-t-0"
                    ></div>
                    <div
                        vc-recaptcha
                        data-ng-model="vm.newUser.recaptchaResponse"
                        key="'6LcFnCQTAAAAAGU0Wowjk1y_fsaItUZ3lfftgH7U'"
                        class="visible-xs col-xs-12 m-t-0"
                        style="-moz-transform:scale(0.77); -ms-transform:scale(0.77); -o-transform:scale(0.77); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.77); transform:scale(0.77); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');"
                    ></div>
                    <button
                        class="col-xs-12 proHomeSection2Button btn btn-lg bgm-orange m-b-15 waves-effect"
                        data-ng-click="vm.registerUser()">
                        S'INSCRIRE
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="proHomeSection proHomeSection3">
        <div class="proHomeSection3a">
            <div class="container">
                <div class="proHomeSection3aPricing">
                    <div class="col-xs-10 col-xs-offset-1 proHomeSection3aPaid">
                        <div class="col-xs-12 proHomeSection3aPaidTitle">
                            Gratuit et sans engagement
                        </div>
                        <div class="col-xs-12 proHomeSection3aPaidDesc m-b-15">
                            Tous les services CasaVox sont 100% gratuits les deux premiers mois
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homeSection homeSection5">
        <ng-include src="'/modules/core/views/footer.html'"></ng-include>
    </div>
</section>

<div class="yakaPopup" data-ng-show="vm.showLoginPopup" data-ng-click="vm.closePopup()" data-ng-cloak>
    <div class="container">
        <div id="loginPopup" class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.closePopup()" alt=""/>

            <div class="oldFormControl" data-ng-if="!vm.noSocialAccountMessage">
                <div class="loginPopupTabItem loginPopupTabItemActivePro col-xs-12">
                    CONNEXION
                </div>

                <div class="col-xs-6 loginPopupFacebook waves-effect" data-ng-click="vm.facebookLogin()">
                    Facebook
                </div>
                <div class="col-xs-6 loginPopupGoogle waves-effect" data-ng-click="vm.googleLogin()">
                    Google
                </div>

                <form name="loginPro">
                    <div class="form-group fg-float"
                         data-ng-class="{'has-error': vm.formProLoginError && !vm.loginUser.email}">
                        <div class="fg-line m-t-10">

                            <input class="form-control form-pro-register"
                                   type="text"
                                   name="email"
                                   autocomplete="username"
                                   data-ng-model="vm.loginUser.email"
                                   data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()" yaka-input-email/>
                            <label class="fg-label"
                                   data-ng-class="{'c-red' : vm.formProLoginError && !vm.loginUser.email}">Email</label>
                        </div>
                        <div data-ng-messages="loginPro.email.$error">
                            <small class="help-block t-left"
                                   data-ng-show="vm.formProLoginError && vm.loginUser.email.length < 1">
                                Ce champ est requis
                            </small>
                            <small class="help-block c-red" data-ng-message="invalidEmail">
                                Cette addresse Email n'est pas valide
                            </small>
                        </div>
                    </div>

                    <div class="form-group fg-float m-t-30 m-b-10"
                         data-ng-class="{'has-error': vm.formProLoginError && !vm.loginUser.password}">
                        <div class="fg-line">
                            <input class="form-control form-pro-register"
                                   type="password"
                                   name="password"
                                   autocomplete="current-password"
                                   data-ng-model="vm.loginUser.password"
                                   data-ng-keyup="$event.keyCode == 13 && vm.loginFormIsValid() && vm.login()"/>
                            <label class="fg-label"
                                   data-ng-class="{'c-red' : vm.formProLoginError && !vm.loginUser.password}">Mot de
                                passe</label>
                        </div>
                        <small class="help-block t-left"
                               data-ng-show="vm.formProLoginError && vm.loginUser.password.length < 1">
                            Ce champ est requis
                        </small>
                    </div>
                </form>


                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect" data-ng-click="vm.login()">
                    SE CONNECTER
                </button>

                <div class="col-xs-12 passwordForgotten passwordForgottenPro underline">
                        <span data-ng-click="vm.closePopup();
                         vm.forgottenPasswordUser.email = vm.loginUser.email;
                         vm.showForgottenPasswordPopup = true">J'ai oublié mon mot de passe</span>
                </div>
            </div>
            <div data-ng-if="vm.noSocialAccountMessage">
                <div class="noSocialAccountMessage">
                    Ce compte {{vm.socialNetwork}} nous est inconnu.<br/>
                    Essayez de vous connecter avec votre email et votre mot de passe ou de créer un compte en bas de
                    cette page.
                </div>
                <button
                    class="col-xs-12 btn btn-lg bgm-orange loginPopupButton waves-effect"
                    data-ng-click="vm.noSocialAccountMessage = false">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="yakaPopup" data-ng-show="vm.showForgottenPasswordPopup"
     data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" data-ng-cloak>
    <div class="container">
        <div class="yakaPopupWindow col-xs-12" data-ng-click="$event.stopPropagation()">
            <img class="popupCloseButton" data-ng-if="!vm.noSocialAccountMessage" src="icons/mdpi/ic_popup_close.png"
                 data-ng-click="vm.showForgottenPasswordPopup = false; vm.passwordForgottenMessageSent = false" alt=""/>

            <div data-ng-if="!vm.passwordForgottenMessageSent">

                <form name="recoverPassword">
                    <div class="form-group fg-float m-t-30"
                         data-ng-class="{'has-error': vm.formLostPasswordError && !vm.forgottenPasswordUser.email}">
                        <div class="fg-line">
                            <input type="text"
                                   name="username"
                                   autocomplete="username"
                                   data-ng-disabled="vm.isSocialRegister()"
                                   class="form-control fg-input input-sm"
                                   data-ng-model="vm.forgottenPasswordUser.email"
                                   yaka-input-email>
                            <label class="fg-label"
                                   data-ng-class="{'c-red' : vm.formLostPasswordError && !vm.forgottenPasswordUser.email}">Email</label>
                        </div>
                        <div data-ng-messages="recoverPassword.username.$error">
                            <small class="help-block t-left"
                                   data-ng-show="vm.formLostPasswordError && vm.forgottenPasswordUser.email.length < 1">
                                Ce champ est requis
                            </small>
                            <small class="help-block" data-ng-message="invalidEmail">Cet email n'est pas
                                valide
                            </small>
                        </div>
                    </div>
                </form>

                <button
                    class="col-xs-12 btn btn-lg bgm-lightblue loginPopupButton passwordForgottenButton waves-effect"
                    data-ng-click="vm.forgottenPassword()">
                    RÉINITIALISER MON MOT DE PASSE
                </button>

            </div>
            <div class="passwordForgottenMessageSent" data-ng-if="vm.passwordForgottenMessageSent">
                Nous venons de vous envoyer un email contenant un lien qui vous permettra de réinitialiser votre mot de
                passe.
            </div>
        </div>
    </div>
</div>
