<!DOCTYPE html>
<html ng-app="Yaka" ng-controller="AppController as app">
<html lang="fr" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<head>
    <meta name="google-site-verification" content="zE7A-zhXuGT9LstQCfaVaDXQjvYRN050o1UugNxofAk" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title ng-bind="app.getPageName()">Les meilleurs Pros du bâtiment autour de vous !</title>
    <meta name="description"
          content="Décrivez votre besoin, échangez en direct avec les Pros recommandés par votre entourage, gratuitement et en protégeant vos infos personnelles"/>

    <ng-include src="'/modules/core/views/rollbar-production.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'production'"></ng-include>
    <ng-include src="'/modules/core/views/rollbar-staging.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'staging'"></ng-include>
    <ng-include src="'/modules/core/views/rollbar-development.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'development'"></ng-include>
    <ng-include src="'/modules/core/views/rollbar-local.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'local'"></ng-include>

    <!-- inject:css -->
    <!-- endinject -->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="CasaVox">
    <meta name="application-name" content="CasaVox">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="{{app.getThemeColor()}}">

    <meta property="fb:app_id" content="847913895334564"/>
    <meta property="og:site_name" content="CasaVox.com">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.casavox.com/">
    <meta property="og:title" content="Pour vos travaux, choisissez les meilleurs Pros autour de vous">
    <meta property="og:description"
          content="Décrivez votre besoin, échangez avec les Pros de votre choix et ceux recommandés par votre entourage, suivez vos travaux en ligne, gratuitement et en protégeant toutes vos infos personnelles"/>
    <meta property="og:image" content="http://res.cloudinary.com/yaka/image/upload/casavox/ImageFBlink.png">
    <meta property="og:locale" content="fr_FR">

    <base href="/">

</head>

<body class="sw-toggled">

<div ui-view></div>

<div class="transparentLeftSwipe" ng-swipe-right="app.menu.openMenu()" visible-xs></div>

<div data-ng-include="'/modules/core/views/rating-popup.html'"></div>

<div data-ng-include="'/modules/core/views/loading.html'"></div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtq1oFK_ku6rSm9OHM8Q0MlHeOYzOWgr8&libraries=places"></script>

<script
    src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit&hl=fr"
    async defer
></script>

<script src="https://apis.google.com/js/client.js"></script>


<!-- inject:js -->
<!-- endinject -->

<script>
    _.contains = _.includes;
</script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=847913895334564";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
<!-- 2f6 -->
