<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>YakaClub</title>
    <!-- inject:css -->
    <!-- endinject -->

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body ng-app="Yaka" ng-controller="AppController as app">

<div ng-include src="'modules/core/modules/menu/views/menu.html'" ng-show="showMenu"
     ng-controller="AppController"></div>

<div ui-view></div>

<div class="transparentLeftSwipe" ng-swipe-right="app.menu.openMenu()" visible-xs></div>
<div class="alert alert-coord alert-message dark" ng-class="alertMsgStyle" ng-show="alertMsgFlag == true" ng-cloak><span
    class="glyphicon btn-circle" ng-class="alertMsgStylIcon" aria-hidden="true">

</span>
    <a class="close"
       data-dismiss="alert"
       aria-label="close"
       ng-click="alertMsgFlag = false">&times;
    </a>{{alertMessage}}
</div>

<div class="popUp" ng-show="projectFlag" ng-cloak>
    <div class="popUp-container center-middle">
        <div class="popUp-content">
            <h4>Rate your pro </h4>

            <p class="rate-message-thx">
                Merci d'avoir choisi YakaClub pour vos travaux
            </p>

            <div class="rate-box">
                <p class="rate-project-title text-center">
                    {{project.title}}
                </p>

                <p class="rate-link text-center">
                    <a ng-click="viewProposal()" class="cursor-pointer">View details</a>
                </p>
                <cl-image public-id="{{project.professional.avatar.cloudinaryPublicId}}" class="img-circle center"
                          format="png" ng-if="project.professional.avatar.cloudinaryPublicId">
                    <cl-transformation height="80" width="80" crop="fill"/>
                </cl-image>
                <!-- <img class="img-circle avatar-pro" ng-src="{{p.proposals[3].professional.avatarUrl}}" ng-show="p.proposals[3].professional.avatarUrl"/> -->
                <div class="img-default-preview center h-80 w-80"
                     ng-if="!project.professional.avatar.cloudinaryPublicId">
                    {{project.professional.firstName[0] | uppercase}} {{project.professional.lastName[0] | uppercase}}
                </div>
                <p class="rate-info">
                    Would you recommend <b>{{project.professional.firstName}}</b> to your friends ?
                </p>

                <div class="rate-btn center">
                    <div class=" img-circle f-l cursor-pointer" ng-class="{'select-pos': rating.positive == 'true'}"
                         ng-click="rating.positive = 'true'">
                        <img src="icons/mdpi/ic_thumb_up_defult.png" class="rate-like"/>
                    </div>
                    <div class="img-circle f-r cursor-pointer" ng-class="{'select-neg': rating.positive == 'false'}"
                         ng-click="rating.positive = 'false'">
                        <img src="icons/mdpi/ic_thumb_down_defult.png" class="rate-dislike "/>
                    </div>
                </div>
            </div>
            <p class="rate-cat-info">
                Selectionnez 3 crtières qui définissent cet artisan
            </p>

            <div class="row">
                <div class="col-md-6" ng-repeat="c in criteria">
                    <div class="criteria"
                         ng-class="{'criteria-selected-pos': indexOfObject(c, 'name', rating.criteria).length > 0 && rating.positive == 'true', 'criteria-selected-neg': indexOfObject(c, 'name', rating.criteria).length > 0 && rating.positive == 'false'}"
                         ng-click="selectCriteria($index)">
                        {{c}}
                    </div>
                </div>
            </div>
            <p class="error center my-price-error" ng-show="error.criteria.flag">
                {{error.criteria.message}}
            </p>
            <textarea class="textarea-rating" placeholder="Ajouter un commentaire" ng-model="rating.comment"></textarea>
            <button type="button" class="button btn btn-popUp" ng-click="send()" ng-disabled="disable">SEND</button>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtq1oFK_ku6rSm9OHM8Q0MlHeOYzOWgr8&libraries=places"></script>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
