<!DOCTYPE html>
<html ng-app="Yaka" ng-controller="AppController as app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title ng-bind="app.getPageName()">YakaClub : Trouvez vos artisans en toute confiance</title>
    <meta name="description"
          content="Réseau de recommandation d'artisans entre particuliers. En 3 clics, vos amis, collègues et voisins vous recommandent leurs artisans pour vos travaux."/>

    <ng-include src="'/modules/core/views/rollbar-production.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'production'"></ng-include>
    <ng-include src="'/modules/core/views/rollbar-staging.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'staging'"></ng-include>
    <ng-include src="'/modules/core/views/rollbar-development.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'development'"></ng-include>
    <ng-include src="'/modules/core/views/rollbar-local.html'"
                data-ng-if="app.getEnvironment() && app.getEnvironment() == 'local'"></ng-include>

    <!-- inject:css -->
    <!-- endinject -->

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="{{app.getThemeColor()}}">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="{{app.getThemeColor()}}">
</head>

<body class="sw-toggled">

<div ui-view></div>

<div class="transparentLeftSwipe" ng-swipe-right="app.menu.openMenu()" visible-xs></div>
<div class="alert alert-coord alert-message dark" ng-class="alertMsgStyle" ng-show="alertMsgFlag == true" ng-cloak><span
    class="glyphicon btn-circle" ng-class="alertMsgStylIcon" aria-hidden="true">

</span>
    <a class="close"
       data-dismiss="alert"
       aria-label="close"
       ng-click="alertMsgFlag = false">&times;
    </a>{{alertMessage}}
</div>

<div data-ng-include="'/modules/core/views/rating-popup.html'"></div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtq1oFK_ku6rSm9OHM8Q0MlHeOYzOWgr8&libraries=places"></script>

<script
    src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit&hl=fr"
    async defer
    ></script>

<script src="https://apis.google.com/js/client.js"></script>


<!-- inject:js -->
<!-- endinject -->

<script>
    _.contains = _.includes;
</script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=847913895334564";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
    if (document.location.hostname.search("casavox.com") !== -1) {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75365130-1', 'auto');
    }
</script>

</body>
</html>
