<section class="view">
    <div class="header-menu">
        <ng-include src="'/modules/core/modules/menu/views/menuHamburger.html'"></ng-include>
        <div class="title">
            MY PROJECTS
        </div>
        <a ui-sref="new-project">
            <button type="button" class="post-job-projects btn">Post a job</button>
        </a>
        <a ng-click="app.logout()">
            <div class="logout">
                Log Out
            </div>
        </a>
    </div>
    <div class="page-content">
        <div class="content-slide">
            <div class="inbox-content" scroll-glue="vm.glue">
                <button type="button" class="form-control" ng-click="vm.loadMore()"
                        ng-hide="vm.messages.items.length < 20">Load more
                </button>
                <div class="inbox-message"
                     ng-repeat="message in vm.messages.items | orderBy : 'created'  | unique: 'id'">
                    <div class="inbox-pict-profile" ng-class="{'inbox-pict-profile-right': message.author == vm.me}">
                        <cl-image public-id="{{vm.pro.avatar.cloudinaryPublicId}}" secure="true" format="png"
                                  class="img-circle"
                                  ng-if="message.author == 'PRO' && vm.pro.avatar.cloudinaryPublicId"
                                  class="inbox-pict">
                            <cl-transformation height="40" width="40" crop="fill"/>
                        </cl-image>

                        <img ng-src="icons/mdpi/yaka.png" class="img-circle hw-40 inbox-pict"
                             ng-if="message.author == 'AUTO' || message.author == 'YAKA'"/>

                        <div class="img-back img-circle"
                             ng-if="(message.author == 'PRO' && !vm.pro.avatar.cloudinaryPublicId) || (message.author ==  'CUSTOMER' && !vm.me.avatar.cloudinaryPublicId)"></div>
                    </div>
                    <div class="corner" ng-class="{'corner-right': message.author == vm.me}"
                         ng-if="message.author != 'AUTO'">
                    </div>
                    <div class="inbox-message-content"
                         ng-class="{'inbox-message-content-me': message.author == vm.me, 'inbox-message-content-yaka': message.author == 'YAKA', 'inbox-message-content-auto': message.author == 'AUTO'}">
                        <cl-image public-id="{{message.cloudinaryPublicId}}" secure="true" format="png"
                                  ng-if="message.cloudinaryPublicId" ng-click="vm.selectImagePreview(message)">
                            <cl-transformation height="200" width="200" crop="fit"/>
                        </cl-image>
                        <textarea class="inbox-message-textarea" disabled="disabled" ng-if="message.text"
                                  ng-model="message.text"
                                  msd-elastic></textarea>
                    </div>
                    <div class="inbox-date" ng-class="{'inbox-date-right': message.author == vm.me}"
                         am-time-ago="message.created">
                    </div>
                </div>
            </div>
            <div class="inbox-text">
                <div class="inbox-join-preview row" ng-show="vm.msg.cloudinaryPublicId">
                    <div class="inbox-preview col-md-12">
                        <a>
                            <span class="glyphicon glyphicon-remove-circle inbox-remove-img cursor-pointer"
                                  ng-show="vm.msg.cloudinaryPublicId" ng-click="vm.deleteImg()"></span>
                            <cl-image public-id="{{vm.msg.cloudinaryPublicId}}" secure="true" format="png"
                                      class="inbox-img-join center">
                                <cl-transformation height="200" width="200" crop="fit"/>
                            </cl-image>
                        </a>
                    </div>
                </div>
                <div class="row" ng-if="vm.proposal.status != 'COMPLETED' && vm.proposal.status != 'DECLINED'">
                    <div class="col-xs-1">
                        <img src="icons/mdpi/join.png" class="inbox-join cursor-pointer"
                             ngf-select="vm.uploadFiles($files, $invalidFiles, 0)"
                             ngf-accept="'image/*'" ngf-max-size="5MB"/>
                    </div>
                    <div class="col-xs-9">
                        <textarea class="inbox-textarea" Placeholder="Type your message here..."
                                  ng-model="vm.msg.text"></textarea>
                    </div>
                    <div class="col-xs-2">
                        <div class="inbox-send cursor-pointer" ng-click="vm.sendMessage()">
                            SEND
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="menu-r top-120">
        <div>
            <div>
                <div>
                    <h4 class="menu-r-title">My Project</h4>

                    <p class="hire mb-10 text-align-left">
                        {{vm.project.address.address}} <br>
                        Date :
                    </p>
                    <button type="button" class="button btn btn-menu-sel center  mb-10"
                            ui-sref="project({projectId: vm.proposal.project.id})">SHOW DETAILS
                    </button>
                    <button type="button" class="button btn btn-menu-sel center  mb-39"
                            ui-sref="proposal({proposalId: vm.proposal.id})">SHOW OFFER
                    </button>

                    <p class="hire mb-10 text-align-left">
                        You want to work whith {{vm.pro.user.firstName}} {{vm.pro.user.lastName}}
                    </p>
                    <button type="button" class="button btn btn-menu-sel center btn-blue"
                            ng-click="vm.hireFlag = true">HIRE
                    </button>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

<div class="popUp" ng-show="vm.hireFlag">
    <div class="popUp-container center-middle">
        <div class="popUp-content">
            <span class="boxclose" ng-click="vm.hireFlag = false"></span>
            <h4>Hire this Pro ?</h4>

            <p class="info-popUp">
                The others Pro will be notified of your choice, then you can no longer continue to chat with them
                for this project.
            </p>

            <p class="info-popUp-comp">
                Send this message to your Pro :
            </p>
            <textarea class="custom-textarea-popUp" ng-model="vm.hireMessage"></textarea>
        </div>
        <div class="popUp-footer">
            <div ng-click="vm.hireFlag = false">
                CANCEL
            </div>
            <div ng-click="vm.hire(vm.proposal.id)">
                CONFIRME
            </div>

        </div>
    </div>
</div>
