
.profilePopupMessage {
    font-family: 'raleway_medium', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}

.profilePopupButton {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px) !important;
}

.proCommentCounter {
    float: right;
}

.profileAvatarEditButton {
    position: absolute;
    right: -13px;
    bottom: -13px;
}

#profile-main {
    min-height: auto;
}
