.onGoing-find-buttons {
    width: 240px;
}

.button-community {
    left: 0;
    top: -10px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: transparent !important;
    box-shadow: none !important;
}

.p-l-85 {
    padding-left: 85px !important;
}

.p-l-60 {
    padding-left: 60px;
}

.commu-user-infos {
    margin-bottom: 15px;
}

.dash-board-actu-hr {
    clear: both;
    margin-top: 10px;
    margin-bottom: 0px;
}

.row-button-find-pro {
    text-align: center;
    background-color: #f8f8f8;
}

.invitationNumber {
    font-weight: bold;
}

.left-col-width {
    width: 100px;
}

.add-community {
    margin-left: 50%;
    transform: translateX(-50%) translateY(-34px);
    width: 31px;
    height: 31px;
    /* border-radius: 50%; */
    color: white;
    font-size: 28px;
    background-color: #524e4e;
    text-align: center;
    line-height: 28px;
}

.community-height {
    height: 32px;
}

.tag-community {
    width: 100%;
    text-align: center;
    border-radius: 0px;
}

ul.yaka-chips li {
    line-height: 14px !important;
}

.casa-tag-list {
    margin-top: 5px;
}

.recommend-pro-community-tag {
    margin: 0px 1px 0px 1px;
    line-height: 10px;
    font-size: 13px;
    border-radius: 2px;
    float: left;
}

.dashboard-community-tag {
    margin: 0px 1px 0px 1px;
    line-height: 10px;
    font-size: 13px;
    border-radius: 2px;
    float: left;
}

.dashboardStats {
    font-size: 12px !important;
    font-weight: 500;
}

.dashboardCommunityHeader {
    background-color: #F8F8F8 !important;
}

.dashboardCommunityHeader h2 {
    vertical-align: top;
    margin-left: 10px;
}

.border-bottom-lightgray {
    border-bottom: 1px lightgray solid;
}

.dashboardRecommendProject yaka-avatar {
    margin-top: 10px;
}

.proDashboardRecommendProject yaka-avatar {
    margin-top: 15px;
}

.dashboardRecommendProjectText {
    position: absolute;
    left: 45px;
    top: 0px;
}

.dashboardProRecommendProjectText {
    left: 70px;
    top: 10px;
    width: calc(100% - 80px)
}

.dashboardRecommendProject .inContactsIndicator {
    position: absolute;
    top: -2px;
    left: 38px;
    font-size: 25px;
}

.dashboardRecommendProject {
    padding-bottom: 0px !important;
}

.dashboardRecommendProject:hover {
    background-color: #F3F3F3;
}

.proNetworkProjectTitle {
    width: calc(100% - 54px);
}

.proNetworkProjectUnreadIndicator {
    position: absolute;
    font-style: normal;
    background: #f44336;
    border-radius: 50%;
    left: 52px;
    top: 18px;
    height: 10px;
    width: 10px;
}

.proNetworkProjectInfos {
    width: calc(100% - 62px);
    vertical-align: top;
    margin-left: 10px;
}

.proNetworkProjectInfosLabel {
    width: 45px;
}

.proNetworkProject:hover {
    background-color: #F3F3F3;
}

.proNetworkProjectUpdated {
    font-size: 12px;
}

.wl-95pe {
    width: 48%;
    margin-left: 2%;
}

.t-lx-5 {
    transform: translateX(5px);
}

.t-lx-10 {
    transform: translateX(10px);
}

.t-rx-10 {
    transform: translateX(-10px);
}

.actu-communities-tag {
    margin: 3px 3px 0px 0px !important;
    float: right !important;
}

@media (min-width: 992px) {
    .reco-pro-tags {
        float: right;
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 991px) {
    .actu-community-tag {
        max-width: 100px !important;
        float: right !important;
    }

    .projectRecommendTopCard .dashboardRecommendProjectText.right {
        left: 80px;
        width: calc(100% - 10px);
        padding-left: 56px !important;
        padding-bottom: 10px;
    }

}

@media (max-width: 767px) {
    .dashboard-avatar {
        float: left;
    }

    .community-tag {
        margin: 3px 3px 0px 0px !important;
        float: left !important;
    }

    .actu-communities-tag {
        padding: 0px 3px 0px 57px !important;
        clear: both !important;
        float: none !important;
    }

    .actu-community-tag-xs {
        margin-left: 68px;
        max-width: 400px;
    }

    .dashboardRecommendProject {
        max-height: 180px;
    }

    .dashboardUserInfos {
        position: absolute !important;
        left: 90px !important;
        top: 25px !important;
    }

    .commu-user-infos {
        margin-bottom: 5px;
    }

    .projectRecommendTopCard .dashboardRecommendProjectText.right {
        left: 80px;
        top: 5px;
        width: calc(100% - 85px);
    }

    .left-col-width {
        width: 100%;
        padding-right: 0px !important;
    }
}
